Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

feat(contentful): improve error reporting
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
Due: contentful

chore(contentful): 0.14.0-alpha.4 published
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

fix(react): rename hoverText to hoverTextColor
  packages/botonic-react/src/components/button.jsx
Due: react

refactor(react): use constants to get theme properties
  packages/botonic-react/src/components/button.jsx
Due: react

feat(cli): template of js bot using dynamo plugin
  packages/botonic-cli/templates/dynamodb/babel.config.js
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/dynamodb/src/actions/.gitkeep
  packages/botonic-cli/templates/dynamodb/src/actions/hi.jsx
  packages/botonic-cli/templates/dynamodb/src/assets/.gitkeep
  packages/botonic-cli/templates/dynamodb/src/index.js
  packages/botonic-cli/templates/dynamodb/src/locales/.gitkeep
  packages/botonic-cli/templates/dynamodb/src/locales/index.js
  packages/botonic-cli/templates/dynamodb/src/nlu/models/.gitkeep
  packages/botonic-cli/templates/dynamodb/src/nlu/nlu.config.json
  packages/botonic-cli/templates/dynamodb/src/nlu/utterances/en/.gitkeep
  packages/botonic-cli/templates/dynamodb/src/plugins.js
  packages/botonic-cli/templates/dynamodb/src/routes.js
  packages/botonic-cli/templates/dynamodb/src/webchat/index.js
  packages/botonic-cli/templates/dynamodb/src/webviews/index.js
  packages/botonic-cli/templates/dynamodb/tests/__mocks__/fileMock.js
  packages/botonic-cli/templates/dynamodb/tests/__mocks__/styleMock.js
  packages/botonic-cli/templates/dynamodb/tests/app.test.js
  packages/botonic-cli/templates/dynamodb/webpack.config.js
Due: none

chore: upgrade dev deps & remove circle ci config
  .circleci/config.yml
  .circleci/greenkeeper
  package-lock.json
  package.json
Due: none

doc: improve github PR template
  .github/pull_request_template.md
Due: none

Update README.md
  packages/botonic-plugin-dynamodb/README.md
Due: dynamodb

feat(contentful): im/export URLS for translators
  packages/botonic-plugin-contentful/bin/l10n/import-from-translators.sh
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-export.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/src/tools/l10n/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/contentful_es-pl.csv
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-export.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
Due: contentful

chore: remove unused circleci config
  .circleci/config.yml
  .circleci/greenkeeper
Due: none

chore: remove unnecessary core/react dev deps
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

feat(contentful): ensure shortText is not empty
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
Due: contentful

feat(contentful): French NLP
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-fr.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

chore: upgrade dev deps & remove circle ci config
  package-lock.json
  package.json
Due: none

refactor(botonic-nlu): first approach nlu refactor
  packages/botonic-nlu-refactored/.eslintignore
  packages/botonic-nlu-refactored/.eslintrc
  packages/botonic-nlu-refactored/.prettierrc
  packages/botonic-nlu-refactored/README.md
  packages/botonic-nlu-refactored/babel.config.js
  packages/botonic-nlu-refactored/dev-example.js
  packages/botonic-nlu-refactored/jest.config.js
  packages/botonic-nlu-refactored/nodemon.json
  packages/botonic-nlu-refactored/package.json
  packages/botonic-nlu-refactored/src/botonic-nlu.ts
  packages/botonic-nlu-refactored/src/constants.ts
  packages/botonic-nlu-refactored/src/embeddings/wembeddings-db-helper.ts
  packages/botonic-nlu-refactored/src/embeddings/word-embeddings-matrix.ts
  packages/botonic-nlu-refactored/src/index.ts
  packages/botonic-nlu-refactored/src/nn-model.ts
  packages/botonic-nlu-refactored/src/preprocessing.ts
  packages/botonic-nlu-refactored/src/trainer.ts
  packages/botonic-nlu-refactored/src/types.d.ts
  packages/botonic-nlu-refactored/src/util/file-system.ts
  packages/botonic-nlu-refactored/src/util/object-tools.ts
  packages/botonic-nlu-refactored/tests/botonic-nlu.test.ts
  packages/botonic-nlu-refactored/tests/embeddings/vocabulary.json
  packages/botonic-nlu-refactored/tests/embeddings/wembeddings-db-helper.test.ts
  packages/botonic-nlu-refactored/tests/embeddings/word-embeddings-matrix.test.ts
  packages/botonic-nlu-refactored/tests/nlu/models/en/model.json
  packages/botonic-nlu-refactored/tests/nlu/models/en/nlu-data.json
  packages/botonic-nlu-refactored/tests/nlu/models/en/weights.bin
  packages/botonic-nlu-refactored/tests/nlu/utterances/en/BookRestaurant.txt
  packages/botonic-nlu-refactored/tests/nlu/utterances/en/GetDirections.txt
  packages/botonic-nlu-refactored/tests/nlu/utterances/en/Gratitude.txt
  packages/botonic-nlu-refactored/tests/nlu/utterances/en/Greetings.txt
  packages/botonic-nlu-refactored/tests/preprocessing.test.ts
  packages/botonic-nlu-refactored/tests/trainer.test.ts
  packages/botonic-nlu-refactored/tests/utils.ts
  packages/botonic-nlu-refactored/tsconfig.json
Due: none

fix: improvements from docs review
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/components/webchat-settings.jsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): enable coverComponent toggle through Botonic
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

fix(react): missing theme props in first theme merge
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(botonic-nlu): TensorFlow updated to version 2.4.0.
  packages/botonic-nlu-refactored/package-lock.json
  packages/botonic-nlu-refactored/package.json
Due: none

fix: save model to path, little import refactors
  packages/botonic-nlu-refactored/src/botonic-nlu.ts
  packages/botonic-nlu-refactored/src/embeddings/word-embeddings-matrix.ts
  packages/botonic-nlu-refactored/src/index.ts
  packages/botonic-nlu-refactored/src/nn-model.ts
  packages/botonic-nlu-refactored/src/preprocessing.ts
  packages/botonic-nlu-refactored/src/trainer.ts
Due: none

fix(react): custom message types to support Reply
  packages/botonic-react/src/components/custom-message.jsx
Due: react

wip(botonic-nlu): provisional loadModel
  packages/botonic-nlu-refactored/src/botonic-nlu.ts
  packages/botonic-nlu-refactored/src/preprocessing.ts
  packages/botonic-nlu-refactored/src/trainer.ts
Due: none

refactor(botonic-nlu): rename vars, export constants
  packages/botonic-nlu-refactored/src/constants.ts
  packages/botonic-nlu-refactored/src/index.ts
  packages/botonic-nlu-refactored/src/trainer.ts
  packages/botonic-nlu-refactored/tests/utils.ts
Due: none

feat(react): coverComponentProps
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

fix(react): text area not working
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): config storage
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/storage.test.jsx
Due: react

chore(docs): remove old documentation from project
  docs/.pending-documentation/3.main-concepts/5.digressions.mdx
  docs/.pending-documentation/4.tutorials-and-examples/4.nlu.mdx
  docs/.pending-documentation/4.tutorials-and-examples/5.interactive-examples.mdx
  docs/1.introduction/1.index.mdx
  docs/2.getting-started/2.creating-your-first-bot.md
  docs/2.getting-started/2.getting-started.mdx
  docs/3.tutorials/3.create-convapp.mdx
  docs/3.tutorials/7.testing-your-componentsold.md
  docs/4.templates/1.templates.mdx
  docs/4.templates/2.template-custom-webchat.mdx
  docs/4.templates/3.childs.mdx
  docs/4.templates/4.template-dynamic-carousel.mdx
  docs/4.templates/5.template-human-handoff.mdx
  docs/4.templates/6.template-nlu.mdx
  docs/5.concepts/10.actions.mdx
  docs/5.concepts/11.botonic_settings.mdx
  docs/5.concepts/12.components.mdx
  docs/5.concepts/14.humanhandoff.mdx
  docs/5.concepts/15.i18n.mdx
  docs/5.concepts/16.nlu.mdx
  docs/5.concepts/17.routes.mdx
  docs/5.concepts/18.webchat.mdx
  docs/5.concepts/19.webviews.mdx
  docs/6.supported-platforms/20.supported-platforms.mdx
  docs/7.plugins/21.botonic-plugins.mdx
  docs/7.plugins/22.using-plugins.mdx
  docs/7.plugins/23.plugin-contentful.mdx
  docs/8.project/project-structure.mdx
  docs/9.test-deploy/1.testing-your-components.mdx
  docs/9.test-deploy/2.deployment.mdx
  docs/README.md
  docs/_redirects
  docs/components/nextButton.tsx
  docs/components/prevButton.tsx
  docs/doczrc.js
  docs/package-lock.json
  docs/package.json
Due: none

refactor(botonic-nlu) Load Model refactored.
  packages/botonic-nlu-refactored/package-lock.json
  packages/botonic-nlu-refactored/package.json
  packages/botonic-nlu-refactored/src/botonic-nlu.ts
  packages/botonic-nlu-refactored/src/embeddings/wembeddings-db-helper.ts
  packages/botonic-nlu-refactored/src/index.ts
  packages/botonic-nlu-refactored/src/new-botonic-nlu.ts
  packages/botonic-nlu-refactored/src/new-model-manager.ts
  packages/botonic-nlu-refactored/src/new-preprocessor.ts
  packages/botonic-nlu-refactored/src/preprocessing.ts
  packages/botonic-nlu-refactored/src/trainer.ts
  packages/botonic-nlu-refactored/src/types.d.ts
  packages/botonic-nlu-refactored/tests/nlu/models/en/model-data.json
  packages/botonic-nlu-refactored/tests/nlu/utterances/en/data.csv
  packages/botonic-nlu-refactored/tutorial-load-model.js
Due: none

feat(contentful): apply resumeErrors for (top)contents
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/src/tools/l10n/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/util/async.ts
  packages/botonic-plugin-contentful/tests/util/async.test.ts
Due: contentful

feat: paging for multiple delivery
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/contents.ts
Due: contentful
