Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

chore(core): move index.d.ts to src
  packages/botonic-core/index.d.ts
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/index.d.ts
Due: core

chore: avoid import/namespace in typescript code with generics
  package-lock.json
  package.json
  packages/.eslintrc.js
Due: none

chore(nlu): eslint import plugin changed import order
  packages/botonic-nlu/src/botonic-nlu.js
Due: none

fix(cli): fix unawait promises
  packages/botonic-cli/src/botonicapiservice.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/logout.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/test.ts
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/src/utils.ts
Due: none

chore(react): minor changes for eslint import plugin
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/entry.js
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/tests/helpers/test-utils.jsx
Due: react

chore: several chores
  packages/.eslintrc_slow.js
  packages/botonic-core/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/webchat-app.jsx
Due: core, contentful, dynamodb, react

chore(cli): fix imports and unused variables
  packages/botonic-cli/src/botonicapiservice.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/logout.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/test.ts
Due: none

chore(cli): moved .eslintrc to root one. Use .eslintrc_slow
  packages/botonic-cli/.eslintrc.js
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/tsconfig.eslint.json
  packages/botonic-cli/tsconfig.json
Due: none

chore(cli): adapt to typescript-eslint 3.0 rules
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  examples/hubtype_demo/package.json
  packages/.eslintrc.js
  packages/.eslintrc_slow.js
  packages/botonic-cli/.eslintrc_slow.js
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonicapiservice.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/test.ts
  packages/botonic-cli/src/utils.ts
  packages/botonic-plugin-dynamodb/src/domain/track.ts
Due: dynamodb

chore(nlju/react): adapt to typescript-eslint 3.0 rules
  packages/botonic-nlu/src/ner.js
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/webview.jsx
Due: react

chore(contentful): adapt to typescript-eslint 3.0 rules
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/exceptions.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/cache.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/search/keywords.ts
  packages/botonic-plugin-contentful/src/markup/factories.ts
  packages/botonic-plugin-contentful/src/markup/whatsapp.ts
  packages/botonic-plugin-contentful/src/nlp/similar-words.ts
  packages/botonic-plugin-contentful/src/nlp/token-stripper.ts
  packages/botonic-plugin-contentful/src/tools/search-performance.ts
  packages/botonic-plugin-contentful/src/util/backoff.ts
  packages/botonic-plugin-contentful/src/util/objects.ts
  packages/botonic-plugin-contentful/tests/cms/transform/message-content-filter.test.ts
Due: contentful

chore(cli): fix colors import
  packages/botonic-cli/src/botonicapiservice.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/test.ts
Due: none

fix(templates): fix build issues causing dist not being fully removed
  packages/botonic-cli/templates/blank/webpack.config.js
  packages/botonic-cli/templates/childs/webpack.config.js
  packages/botonic-cli/templates/custom-webchat/webpack.config.js
  packages/botonic-cli/templates/dynamic-carousel/webpack.config.js
  packages/botonic-cli/templates/handoff/webpack.config.js
  packages/botonic-cli/templates/intent/webpack.config.js
  packages/botonic-cli/templates/nlu/webpack.config.js
  packages/botonic-cli/templates/tutorial/webpack.config.js
Due: none

fix(react): send payload text by default
  packages/botonic-react/src/components/button.jsx
Due: react

fix(react): only apply markdown prop to text messages
  packages/botonic-react/src/components/message.jsx
Due: react

fix(react): set scrollbar to bottom on webchat open
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/components/styled-scrollbar.scss
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore: add 0.12.0 changelog
  CHANGELOG.md
Due: none

chore(core): bump to 0.12.0-rc.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

chore(react): bump to 0.12.0-rc.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

chore(nlu): bump to 0.12.0-rc.0
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
Due: none

chore(plugin-nlu): bump to 0.12.0-rc.0
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

chore(plugin-dashbot): bump to 0.12.0-rc.0
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
Due: dashbot

chore(plugin-dialogflow): bump to 0.12.0-rc.0
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

chore(plugin-inbenta): bump to 0.12.0-rc.0
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
Due: none

chore(plugin-luis): bump to 0.12.0-rc.0
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
Due: luis

chore(plugin-segment): bump to 0.12.0-rc.0
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
Due: segment

chore(plugin-watson): bump to 0.12.0-rc.0
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
Due: watson

chore(cli): bump cli and templates to 0.12.0-rc.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
Due: none

chore(nlu): fix regex and bump to 0.12.0-rc.1
  CHANGELOG.md
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-nlu/src/utils.js
Due: none

chore: add READMEs for every package
  packages/botonic-core/README.md
  packages/botonic-nlu/README.md
  packages/botonic-plugin-contentful/README.md
  packages/botonic-plugin-dashbot/README.md
  packages/botonic-plugin-dialogflow/README.md
  packages/botonic-plugin-inbenta/README.md
  packages/botonic-plugin-luis/README.md
  packages/botonic-plugin-nlu/README.md
  packages/botonic-plugin-segment/README.md
  packages/botonic-plugin-watson/README.md
  packages/botonic-react/README.md
Due: core, nlu, contentful, dashbot, dialogflow, luis, plugin-nlu, segment, watson, react

chore: add plugin-dynamodb README
  packages/botonic-plugin-dynamodb/README.md
Due: dynamodb

chore(plugin-dynamodb): bump to 0.12.0-rc.0
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: dynamodb

chore(core): bump to 0.12.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

chore(react): bump to 0.12.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

chore(nlu): bump to 0.12.0
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
Due: none

chore(plugin-nlu): bump to 0.12.0
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

chore(plugin-dashbot): bump to 0.12.0
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
Due: dashbot

chore(plugin-dialogflow): bump to 0.12.0
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
