Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/

      - id: core
        name: core
        entry: scripts/qa/old/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: contentful
        name: contentful
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: segment
        name: segment
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/old/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/old/lint-package.sh docs/
        language: system
        files: ^docs/

      - id: plugin-flow-builder
        name: plugin-flow-builder
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
        language: system
        files: ^packages/botonic-plugin-flow-builder/

      - id: hubtype-analytics
        name: hubtype-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
        language: system
        files: ^packages/botonic-plugin-hubtype-analytics/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          ['--baseline', '.secrets.baseline', '--exclude-files ', .*/tests/.*']
        exclude: package.lock.json
        name: Detect secrets
        description: Detects high entropy strings that are likely to be passwords.

refactor(botonic-react): remove screen.debug()
  packages/botonic-react/tests/webchat/buttons-disabler.test.jsx
Due: react

feat(botonic-core): add nluResolution.payload
  packages/botonic-core/src/models/legacy-types.ts
Due: core

feat(plugin-flow-builder): use nluResolution.payload to get contents matched by user input in pre function
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

test(plugin-flow-builder): update tests
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
Due: plugin-flow-builder

chore: publish 0.34.2-alpha.0
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

refactor(botonic-core): nluResoulution can be undefined
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
Due: core, plugin-flow-builder

chore: publish 0.34.2-alpha.1
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

refactor(plugin-flow-builder): change nluResolution.type for intent
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
Due: plugin-flow-builder

chore: publish new versions
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
Due: core, plugin-flow-builder

plugin-flow-builder: nluResolution available in first interaction (#3004)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
Due: core, plugin-flow-builder

refactor(botonic-react): apply types
  packages/botonic-react/src/react-bot.tsx
Due: react

refactor(botonic-react) add plugins as an empty object qhen create RequestContext
  packages/botonic-react/src/contexts.tsx
Due: react

chore: add tslib to can be use typescript in tests
  package-lock.json
  package.json
Due: none

feat(plugin-flow-builder): small fixes
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/helpers.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder

refactor(core & react): add RequestCoreContext type
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
Due: core, react

refactor(botonic-react): change extension to tsx
  packages/botonic-react/src/react-bot.tsx
Due: react

feat(botonic-core): use RequestCoreContext in all CoreBot steps as pre and post plugin functions, routes and actions
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
Due: core

refactor(botonic-core): ensure that pre and post is a callable function
  packages/botonic-core/src/plugins.ts
Due: core

feat(botonic-react): remove unecessary condition
  packages/botonic-react/src/react-bot.tsx
Due: react

refactor(botonic-react): check if Action is defined before execute botonicInit
  packages/botonic-react/src/react-bot.tsx
Due: react

refactor: rename RequestCoreContext to BotContext
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-react/src/index-types.ts
Due: core, react

botonic-react: ReactBot class with typescript (#3003)
  package-lock.json
  package.json
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/helpers.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/react-bot.jsx
  packages/botonic-react/src/react-bot.tsx
Due: core, react, plugin-flow-builder

refacor(botonic-core): remove unused fields
  packages/botonic-core/src/models/legacy-types.ts
Due: core

feat(botonic-core): CoreBot update session user locale, country and system_locale
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
Due: core

test(botonic-core): remove test for a use case that not exist
  packages/botonic-core/tests/core-bot/core-bot.test.ts
Due: core

test(botonic-core): update core-bot tests and remove console.log
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
Due: core

feat(botonic-react): update ClientSession with user locale and country on init webchat
  packages/botonic-react/src/components/webchat-settings.tsx
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/time-zone-to-country-code.ts
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/src/webview-app.tsx
Due: react

feat(botonic-core): add user.country user.locale and user.systemLocale
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
Due: core

refactor(botonic-react): rename function and use spreed operation to not mutate session
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat/webchat.tsx
Due: react

refactor: rename requestCoreContext to botContext in router-utils.ts
  packages/botonic-core/src/routing/router-utils.ts
Due: core

test(plugin-flow-builder): update session for testing
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder

feat(botonic-core): use a generic T to allow inference type for plugins in botContext
  packages/botonic-core/src/models/legacy-types.ts
Due: core

refactor(botonic-core): create plguins in bot and remove loadPlugins function
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
Due: core

refactor: remove unecessary await
  packages/botonic-core/src/plugins.ts
Due: core

refactor(plugin-flow-builder): fix how get plugin-flow-builder inside plugin-flow-builder
  packages/botonic-plugin-flow-builder/src/helpers.ts
Due: plugin-flow-builder

feat(botonic-react): add theme.header.mobileStyle.borderRadius
  packages/botonic-react/src/webchat/header/styles.ts
  packages/botonic-react/src/webchat/theme/default-theme.ts
  packages/botonic-react/src/webchat/theme/types.ts
Due: react

refactor(botonic-react): simplify Button style
  packages/botonic-react/src/components/button/styles.ts
  packages/botonic-react/src/webchat/theme/default-theme.ts
  packages/botonic-react/src/webchat/theme/types.ts
Due: react
