Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

refactor(plugin-flow-builder): avoid use the getNodeById with a payload that is not a UUID inside the isBotAction function
  package-lock.json
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

plugin-flow-builder: not show log when check if payload is from bot action node (#2940)
  package-lock.json
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

chore(plugin-flow-builder): publish 0.30.6
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

chore(plugin-flow-builder): publish 0.30.6 (#2941)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

refactor: join in a const FILENAME and LIBRARY_NAME
  packages/botonic-dx-bundler-rspack/baseline/rspack.config.ts
Due: none

refactor: update README
  packages/botonic-dx-bundler-rspack/README.md
Due: none

chore: publish 0.30.0-alpha.4
  package-lock.json
  packages/botonic-dx-bundler-rspack/package.json
Due: none

dx-bundler-rspack: create a dx package to build with rspack #BLT-1197 (#2934)
  package-lock.json
  packages/botonic-dx-bundler-rspack/.gitignore
  packages/botonic-dx-bundler-rspack/README.md
  packages/botonic-dx-bundler-rspack/baseline/rspack.config.ts
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-rspack/tsconfig.json
Due: none

refactor(botonic-react): replace magic strings that refers to botonic components
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/element.jsx
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/src/components/multichannel/whatsapp/constants.ts
  packages/botonic-react/src/components/whatsapp-button-list.tsx
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
  packages/botonic-react/src/constants.js
Due: react

refactor(dx-rspack): remove comment and update README
  packages/botonic-dx-bundler-rspack/README.md
  packages/botonic-dx-bundler-rspack/baseline/rspack.config.ts
Due: none

feat(plugin-flow-builder): create executeConversationStart to allow handoffs and bot actions in welcome action
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: plugin-flow-builder

chore(plugin-flow-builder): publish 0.30.7-alpha.0
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

refactor(botonic-react): create isNodeText, isNodeCarousel and isNodeReply, and add word Node to other functions
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel.jsx
Due: react

chore(botonic-react): publish 0.30.6-alpha.3
  package-lock.json
  packages/botonic-react/package.json
Due: react

chore(botonic-react): publish 0.30.6
  package-lock.json
  packages/botonic-react/package.json
Due: react

Remove strings that refer components #BLT-1258 (#2943)
  package-lock.json
  packages/botonic-dx-bundler-rspack/README.md
  packages/botonic-dx-bundler-rspack/baseline/rspack.config.ts
  packages/botonic-react/package.json
  packages/botonic-react/src/components/element.jsx
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/src/components/multichannel/whatsapp/constants.ts
  packages/botonic-react/src/components/whatsapp-button-list.tsx
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
  packages/botonic-react/src/constants.js
Due: react

refator(botonic-react): remove comment
  packages/botonic-react/src/webchat/message-list/index.tsx
Due: react

refactor(botonic-react): add a ref and add a Container to have a padding without margin to use ref.current.scrollIntoView
  packages/botonic-react/src/webchat/typing-indicator/index.tsx
  packages/botonic-react/src/webchat/typing-indicator/styles.ts
Due: react

refactor(botonic-react): add isInputFocus to context to avoid showMessageBanner when input is focus
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat/actions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/input-panel/textarea.tsx
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/webchat-reducer.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(botonic-react): rename variables and add constant for scrollOptions
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat/actions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/input-panel/textarea.tsx
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/webchat-reducer.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(botonic-react): remove scrollToBottom, to not use two setTimeouts
  packages/botonic-react/src/webchat/message-list/index.tsx
Due: react

refactor(botonic-react): split scroll function for typing, lastMessage and banner
  packages/botonic-react/src/webchat/message-list/index.tsx
Due: react

chore(botonic-react): publish 0.30.7-alpha.0
  package-lock.json
  packages/botonic-react/package.json
Due: react

refactor(botonic-react): scroll button with position sticky
  packages/botonic-react/src/webchat/message-list/styles.ts
Due: react

refactor(botonic-react): increment SCROLL_TIMEOUT to 200ms
  packages/botonic-react/src/webchat/message-list/index.tsx
Due: react

chore(botonic-react): publish 0.30.7-alpha.1
  package-lock.json
  packages/botonic-react/package.json
Due: react

chore(botonic-react): publish 0.30.7
  package-lock.json
  packages/botonic-react/package.json
Due: react

botonic-react: ensure typing is visible by scrolling when typing is active #BLT-1243 (#2942)
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat/actions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/input-panel/textarea.tsx
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
  packages/botonic-react/src/webchat/typing-indicator/index.tsx
  packages/botonic-react/src/webchat/typing-indicator/styles.ts
  packages/botonic-react/src/webchat/webchat-reducer.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(plugin-flow-builder): publish 0.30.7
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

plugin-flow-builder: create executeConversationStart #BLT-1259 (#2944)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: plugin-flow-builder

feat(plugin-hubtype-analytics): add NeedsEscalation as a WebviewEndFailType
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

feat(plugin-hubtype-analytics): add NeedsEscalation as a WebviewEndFailType
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

chore(plugin-hubtype-analytics): publish 0.30.3
  package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
Due: hubtype-analytics

chore(plugin-flow-builder): publish 0.30.8
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

chore: update github action dependency
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-docs-tests.yml
Due: none

fix: add missing dependency in docs
  docs/package-lock.json
  docs/package.json
Due: docs

Add needs escalation as a webview end fail (#2946)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: plugin-flow-builder, hubtype-analytics

chore: update blank-typescript example with rspack
  examples/blank-typescript/package.json
  examples/blank-typescript/rspack.config.js
  examples/blank-typescript/tsconfig.json
  examples/blank-typescript/webpack-entries/dev-entry.ts
  examples/blank-typescript/webpack-entries/node-entry.ts
  examples/blank-typescript/webpack-entries/webchat-entry.ts
  examples/blank-typescript/webpack-entries/webviews-entry.ts
  examples/blank-typescript/webpack.config.js
Due: none

chore: update to latest alpha released
  examples/blank-typescript/package.json
Due: none

chore: add pragma allow public keys
  examples/blank-typescript/rspack.config.js
Due: none

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
