Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

docs: fix styles and 'was this page useful' widget
  docs/website/src/components/homeHero.js
  docs/website/src/theme/Footer/was-page-useful.jsx
Due: none

chore: remove examples tests github action
  .github/workflows/botonic-examples-tests.yml
Due: none

docs: remove docker related files
  docs/Dockerfile
  docs/docker-compose.yml
Due: none

fix: message.timestamps.enable type
  packages/botonic-react/src/components/index.d.ts
Due: react

chore: make ScrollbarProps field types optional
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index.d.ts
Due: react

fix: add type for ScrollbarProps.autoHide
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index.d.ts
Due: react

fix: add style field to ThemeProps
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index.d.ts
Due: react

chore(nlu/plugin-nlu): bump to 2.7.0
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-nlu/src/model-handler.ts
Due: nlu, plugin-nlu

refactor(contentful): ManageContentful.updateFields now updates multiple fields
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
Due: contentful

feat(contentful): some strings utils
  packages/botonic-plugin-contentful/src/nlp/util/strings.ts
  packages/botonic-plugin-contentful/tests/nlp/util/strings.test.ts
Due: contentful

feat(contentful): import-csv to use new updateFields
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
Due: contentful

refactor(contentful): moved I18nField/FIELDS_PER_CONTENT_TYPE to manage-cms
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-export.ts
  packages/botonic-plugin-contentful/src/tools/l10n/export-csv-for-translators.ts
Due: contentful

fix(react): fix non-boolean attributes, lowercase props
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/components/custom-message.jsx
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/text.jsx
  packages/botonic-react/src/components/timestamps.jsx
  packages/botonic-react/src/utils.js
Due: react

chore(react): rename blobWidth prop to lowercase, add Boolean check
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/tests/utils.test.js
Due: react

fix(react): add missing stringify with regexs
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(react): replace properties literals for constants
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/reply.jsx
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/message-list.jsx
  packages/botonic-react/src/webchat/replies.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webchat/webview.jsx
  packages/botonic-react/tests/webchat.theme.test.js
Due: react

chore(react): sort constants
  packages/botonic-react/src/constants.js
Due: react

refactor(chore): use SENDERS object for 'user/'bot'
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

refactor(chore): use ROLES object for roles
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/components/attachment.jsx
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
  packages/botonic-react/src/webchat/components/persistent-menu.jsx
  packages/botonic-react/src/webchat/components/send-button.jsx
  packages/botonic-react/src/webchat/components/typing-indicator.jsx
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/message-list.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/attachments.test.js
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: react

docs: update README
  README.md
  packages/botonic-react/README.md
Due: react

chore(react): warn deprecated props proposal
  packages/botonic-react/src/components/custom-message.jsx
  packages/botonic-react/src/util/logs.js
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

docs: add deployment guide
  docs/docs/deployment/aws.md
  docs/docs/deployment/hubtype.md
  docs/docs/deployment/standalone-js-bundle.md
  docs/docs/test-deploy/2.deployment.md
  docs/docs/test/1.testing-your-components.md
  docs/website/sidebars.json
Due: none
