Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs: fix 'was page useful' component
  docs/website/src/constants.js
  docs/website/src/theme/Footer/was-page-useful.jsx
Due: none

docs: promote winning description after A/B test
  docs/website/src/components/homeHero.js
Due: none

docs: replace GitHub main page CTA with GitHub Banner on every page
  docs/website/docusaurus.config.js
  docs/website/src/components/homeHero.js
  docs/website/src/pages/index.js
Due: none

docs (webchat section and sidebars)
  docs/docs/webchat/webchat-enable.md
  docs/docs/webchat/webchat-style.md
  docs/docs/webchat/webchat-window.md
  docs/website/sidebars.json
Due: none

docs: various files
  docs/docs/components/components-location.md
  docs/docs/components/components-text.md
  docs/docs/concepts/10.actions.md
  docs/docs/plugins/plugin-contentful.md
  docs/docs/webchat/webchat-api.md
  docs/docs/webchat/webchat-blockinput.md
  docs/docs/webchat/webchat-covercomponent.md
  docs/docs/webchat/webchat-enable.md
  docs/docs/webchat/webchat-markdown.md
  docs/docs/webchat/webchat-persistentmenu.md
  docs/docs/webchat/webchat-timestamp.md
  docs/docs/webchat/webchat-updates.md
Due: none

docs: rewritten webchat docs (remove doc-botonic references, add .docusaurus to gitignore)
  .gitignore
  docs/docs/components/components-multichannel.md
  docs/docs/components/components-text.md
  docs/docs/concepts/10.actions.md
  docs/docs/concepts/18.webchat.md
  docs/docs/plugins/plugin-analytics.md
  docs/docs/plugins/plugin-contentful.md
  docs/docs/plugins/plugin-dialogflow.md
  docs/docs/project-structure.md
  docs/docs/releases/releases-intro.md
  docs/docs/releases/v0-10-0.md
  docs/docs/releases/v0-10-1.md
  docs/docs/releases/v0-11-0.md
  docs/docs/releases/v0-12-0.md
  docs/docs/releases/v0-13-0.md
  docs/docs/releases/v0-14-0.md
  docs/docs/releases/v0-15-0.md
  docs/docs/templates/1.templates.md
  docs/docs/templates/2.template-custom-webchat.md
  docs/docs/templates/3.childs.md
  docs/docs/templates/4.template-dynamic-carousel.md
  docs/docs/templates/5.template-human-handoff.md
  docs/docs/templates/6.template-nlu.md
  docs/docs/webchat/webchat-api.md
  docs/docs/webchat/webchat-blockinput.md
  docs/docs/webchat/webchat-covercomponent.md
  docs/docs/webchat/webchat-enable.md
  docs/docs/webchat/webchat-markdown.md
  docs/docs/webchat/webchat-persistentmenu.md
  docs/docs/webchat/webchat-style.md
  docs/docs/webchat/webchat-timestamp.md
  docs/docs/webchat/webchat-updates.md
  docs/docs/webchat/webchat-window.md
  docs/docs/welcome.md
  docs/website/docusaurus.config.js
  docs/website/package-lock.json
  docs/website/sidebars.json
  packages/botonic-plugin-contentful/README.md
Due: contentful

chore(core): add _hubtype_case_status/typification fields
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/index.js
Due: core

fix(react): webchat settings now are updated
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

chore(nlp): tokenizer, stemmer and stopwords added
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-ro.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

fix(react): downgrade react to 16.14.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix(react): set ack to 1 for custom user messages
  packages/botonic-react/src/components/custom-message.jsx
Due: react

chore(luis/nlu): remove duplicated eslint/prettier dependencies
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, luis, plugin-nlu

docs(wip): toggle webchat with example button
  docs/website/src/components/examples.js
  docs/website/src/pages/examples/index.js
Due: none

fix(react): add necessary check for firstUpdate
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

docs(wip): add first gallery section approach
  docs/website/src/components/examples.js
  docs/website/src/components/homeHeader.js
  docs/website/src/pages/examples/index.js
  docs/website/static/arrow-icon.svg
  docs/website/static/github-icon.svg
  docs/website/tailwind.config.js
Due: none

docs: improve feedback if bot cannot be loaded
  docs/website/src/pages/examples/botonic-example.js
Due: none

docs: extract function to util/dom
  docs/website/src/pages/examples/botonic-example.js
  docs/website/src/util/dom.js
Due: none

docs: recover missed changes
  docs/docs/welcome.md
  docs/website/sidebars.json
Due: none

docs: fix contful plugin readme, remove package-lock from .gitignore
  .gitignore
  docs/website/sidebars.json
  packages/botonic-plugin-contentful/README.md
Due: contentful

docs: increase timeout and check that Botonic exists
  docs/website/src/pages/examples/botonic-example.js
Due: none

docs: working gallery in prod build
  docs/website/src/components/examples.js
  docs/website/src/pages/examples/booking-platform.js
  docs/website/src/pages/examples/botonic-example.js
  docs/website/src/pages/examples/index.js
  docs/website/src/pages/examples/nlu-assistant.js
  docs/website/static/css/main.css
  docs/website/static/img/examples/nlu-full.png
  docs/website/static/img/examples/nlu.png
  docs/website/static/img/examples/reservation-full.png
  docs/website/static/img/examples/reservation.png
Due: none

docs: extract isBrowser function to util/dom
  docs/website/src/components/botDemo.js
  docs/website/src/pages/examples/botonic-example.js
  docs/website/src/theme/Footer/was-page-useful.jsx
  docs/website/src/util/dom.js
Due: none

docs: workaround for prod styles, add mobile link
  docs/website/src/components/homeHeader.js
  docs/website/src/pages/examples/botonic-example.js
Due: none

docs: add gallery of Botonic examples (#1091)
  .gitignore
  docs/docs/welcome.md
  docs/website/sidebars.json
  docs/website/src/components/botDemo.js
  docs/website/src/components/examples.js
  docs/website/src/components/homeHeader.js
  docs/website/src/pages/examples/booking-platform.js
  docs/website/src/pages/examples/botonic-example.js
  docs/website/src/pages/examples/index.js
  docs/website/src/pages/examples/nlu-assistant.js
  docs/website/src/theme/Footer/was-page-useful.jsx
  docs/website/src/util/dom.js
  docs/website/static/arrow-icon.svg
  docs/website/static/css/main.css
  docs/website/static/github-icon.svg
  docs/website/static/img/examples/nlu-full.png
  docs/website/static/img/examples/nlu.png
  docs/website/static/img/examples/reservation-full.png
  docs/website/static/img/examples/reservation.png
  docs/website/tailwind.config.js
  packages/botonic-plugin-contentful/README.md
  packages/botonic-react/src/webchat/webchat.jsx
Due: contentful, react

fix(nlp): romanian sentence changed in normalizer test
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

fix(nlp): romanian stopwords alphabetically sorted
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-ro.ts
Due: contentful

chore(nlp): Greek tokenizer, stemmer and stopwords added
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-el.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

fix(nlp): greek stopwords sorted alphabetically
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-el.ts
Due: contentful

chore(nlp): Czech tokenizer, stemmer and stopwords added
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-cs.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

chore(nlp): Greek tokenizer, stemmer and stopwords added
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

fix(nlp): duplicated el normalizer test removed.
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

chore(nlp): Ukrainian tokenizer, stemmer and stopwords added
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-uk.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

refactor(contentful): move csv-import classes to different files
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/reference-field-duplicator.ts
  packages/botonic-plugin-contentful/src/tools/l10n/string-field-importer.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/string-field-importer.test.ts
Due: contentful

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
