Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/

      - id: core
        name: core
        entry: scripts/qa/old/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: contentful
        name: contentful
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: segment
        name: segment
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/old/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/old/lint-package.sh docs/
        language: system
        files: ^docs/

      - id: plugin-flow-builder
        name: plugin-flow-builder
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
        language: system
        files: ^packages/botonic-plugin-flow-builder/

      - id: hubtype-analytics
        name: hubtype-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
        language: system
        files: ^packages/botonic-plugin-hubtype-analytics/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          ['--baseline', '.secrets.baseline', '--exclude-files ', .*/tests/.*']
        exclude: package.lock.json
        name: Detect secrets
        description: Detects high entropy strings that are likely to be passwords.

plugin-hubtype-analytics: webview events as webevent (#2837)
  .github/workflows/botonic-plugin-hubtype-analytics-tests.yml
  package-lock.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/smart-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-knowledge-bases/src/hubtype-knowledge-api-service.ts
  packages/botonic-plugin-knowledge-bases/src/index.ts
  packages/botonic-plugin-knowledge-bases/src/types.ts
Due: plugin-flow-builder, hubtype-analytics

plugin-hubtype-analytics: renames and fix types (#2836)
  .github/workflows/botonic-plugin-hubtype-analytics-tests.yml
  package-lock.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/smart-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-knowledge-bases/src/hubtype-knowledge-api-service.ts
  packages/botonic-plugin-knowledge-bases/src/index.ts
  packages/botonic-plugin-knowledge-bases/src/types.ts
Due: plugin-flow-builder, hubtype-analytics

refactor(plugin-hubtype-analytics): refactor custom event, always webevent and data.custom_fields as an object
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
Due: hubtype-analytics

chore: rename github workflows
  .github/workflows/botonic-plugin-flow-builder-tests.yml
  .github/workflows/botonic-plugin-hubtype-analytics-tests.yml
Due: none

refactor(plugin-hubtype-analytics): remove channel and created_at from ht-event
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): use PascalCase for enum and enumMember
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: hubtype-analytics

refactor(plugin-flow-builder): use PascalCase for enum and enumMember
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

chore: publish 0.27.0-alpha.1
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: core, react, plugin-flow-builder, hubtype-analytics

refactor(plugin-hubtype-analytics): feedback event use web_event endpoint
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): remove channel and created_at from ht-event
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): set false as default for undefined params in handoff events
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
Due: hubtype-analytics

chore(plugin-hubtype-analytics): publish 0.27.0-alpha.2
  package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): apply PascalCase in EventType enum
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
Due: hubtype-analytics

chore: publish 0.27.0-alpha.1 (#2845)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: core, react, plugin-flow-builder, hubtype-analytics

plugin-hubtype-analytics: enums with PascalCase (#2844)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: core, react, plugin-flow-builder, hubtype-analytics

refactor(plugin-hubtype-analytics): remove channel and created_at fro… (#2843)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: core, react, plugin-flow-builder, hubtype-analytics

plugin-hubtype-analytics: refactor custom event (#2842)
  .github/workflows/botonic-plugin-flow-builder-tests.yml
  .github/workflows/botonic-plugin-hubtype-analytics-tests.yml
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: core, react, plugin-flow-builder, hubtype-analytics

fix(hubtype-analytics): fix wrong values in EventAction enum
  package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): split handoff and handoff-option events
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-option.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
Due: hubtype-analytics

fix(plugin-flow-builder): check input.data is type TEXT before call nlu functions
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): reanme function
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

chore(plugin-flow-builder): publish new alpha version
  CHANGELOG.md
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

refactor(hubtype-analytics): get rid of data when sending tracking events
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: hubtype-analytics

fix: fix rebase issues
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-option.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
Due: hubtype-analytics

feat(plugin-hubtype-analytics): add comment attribut in feedback events
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): remove EventType.Feedback
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
Due: hubtype-analytics

chore(plugin-hubtype-analytics): publish alpha.6
  package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
Due: hubtype-analytics

feat(plugin-flow-builder): export trackFlowContent function
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

Analytics v2: Refactor events by removing data field (#2846)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-option.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: plugin-flow-builder, hubtype-analytics

plugin-hubtype-analytics: event flow (#2828)
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-classic.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-classic.test.ts
Due: plugin-flow-builder, hubtype-analytics

plugin-flow-builder: use new events fallback keyword intent smart intent (#2834)
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-classic.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-classic.test.ts
Due: plugin-flow-builder, hubtype-analytics

plugin-hubtype-analytics: refactor custom event (#2842)
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): split handoff and handoff-option events
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
Due: hubtype-analytics

refactor(plugin-flow-builder): update getContentsByKnowledgeBase to return fallback contents if hasKnowledge or isFaithuful is false
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: plugin-flow-builder

Analytics v2: Refactor events by removing data field (#2846)
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
Due: hubtype-analytics

refactor(plugin-flow-builder): update tests using object in createFlowBuilderPlugin function
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-button-list.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-carousel.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-image.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-url-button.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-video.test.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
Due: plugin-flow-builder

feat(plugin-flow-builder): resolve knowledge base flow and node using new knowledge base api without id
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
Due: plugin-flow-builder
