Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

feat(react): make getVisibility accessible from Botonic api
  packages/botonic-react/src/webchat-app.jsx
Due: react

chore: bump core/react to alpha versions
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat-app.jsx
Due: core, react

feat(core/react): dynamically resolve webchat visibility
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/webchat-app.jsx
Due: core, react

docs(content added for multichannel and contentful)
  doc-botonic/docs/components/components-multichannel.md
  doc-botonic/docs/components/components.md
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/plugins/plugin-contentful.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
  doc-botonic/website/sidebars.json
Due: none

chore(contentful): remove moment-tz types & upgrade deps
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/delivery/cache.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
Due: contentful

section(webchat.md and components files): coverComponent added and resolving issues in other sections.
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-multichannel.md
  doc-botonic/docs/components/components.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
Due: none

chore: scripts for easier maintainance
  scripts/bump-version.sh
  scripts/prepare-packages.sh
Due: none

docs(webchat.md and other files): added content about webchat visibility, image stabilization and links in bold
  doc-botonic/docs/components/components-messagetemplate.md
  doc-botonic/docs/concepts/11.botonic_settings.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/getting-started.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
  doc-botonic/docs/plugins/22.using-plugins.md
  doc-botonic/docs/plugins/plugin-contentful.md
  doc-botonic/docs/plugins/plugin-dialogflow.md
  doc-botonic/docs/plugins/plugin-inbenta.md
  doc-botonic/docs/plugins/plugin-luis.md
  doc-botonic/docs/plugins/plugin-nlu.md
  doc-botonic/docs/plugins/plugin-segment.md
  doc-botonic/docs/project-structure.md
  doc-botonic/docs/supported-platforms.md
  doc-botonic/docs/templates/1.templates.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
  doc-botonic/docs/templates/3.childs.md
  doc-botonic/docs/templates/4.template-dynamic-carousel.md
  doc-botonic/docs/templates/5.template-human-handoff.md
  doc-botonic/docs/templates/6.template-nlu.md
  doc-botonic/docs/test-deploy/1.testing-your-components.md
Due: none

chore(scripts): dist folders to be removed
  scripts/prepare-packages.sh
Due: none

chore(nlu/plugin-nlu): update tfjs deps
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

chore(nlu/plugin-nlu): try to fix non cross-platf deps
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

feat: working approach of dynamic webchat settings updates
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index.js
  packages/botonic-react/src/components/webchat-settings.jsx
  packages/botonic-react/src/contexts.jsx
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

fix(react): preserve themeUpdates on reload
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

fix(core/react): add tests, missing types in definitions and little improvements
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/index.js
  packages/botonic-react/package.json
  packages/botonic-react/src/components/webchat-settings.jsx
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/webchat-dev.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/utils.test.js
  packages/botonic-react/tests/webchat.theme.test.js
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: core, react

docs (actions.md and webchat.md): typo corrected and webchat dynamic updated added
  doc-botonic/docs/concepts/10.actions.md
  doc-botonic/docs/concepts/18.webchat.md
Due: none

chore: try to fix tests, minor fixes
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: nlu, plugin-nlu, react

docs (template-custom-webchat.md): missing enableEmojiPicker added
  doc-botonic/docs/templates/2.template-custom-webchat.md
Due: none

docs (create-convapp.md):changes about the nlu file for better understanding
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
Due: none

fix(react): add missing prop 'enableUserInput', add it also in WebchatSettings
  packages/botonic-react/src/components/webchat-settings.jsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(react):simplify and improve serialization processes
  packages/botonic-react/src/components/webchat-settings.jsx
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/utils.test.js
Due: react

refactor(core): rename webchat_settings to webchatsettings
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/index.js
Due: core

feat: working approach of dynamic webchat settings updates (#805)
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/index.js
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index.js
  packages/botonic-react/src/components/webchat-settings.jsx
  packages/botonic-react/src/contexts.jsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-dev.jsx
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/utils.test.js
  packages/botonic-react/tests/webchat.theme.test.js
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: core, nlu, plugin-nlu, react

fix: only render links coming from text elements
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/message.jsx
Due: react

docs (webchat.md and template-custom-webchat.md):changes about userInput
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
Due: none

docs(update of docusaurusv2 interface and updates of content about webchat components and agent queue)
  doc-botonic/docs/components/components-media.md
  doc-botonic/docs/concepts/10.actions.md
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/concepts/19.webviews.md
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
  doc-botonic/docs/plugins/plugin-contentful.md
  doc-botonic/docs/plugins/plugin-dialogflow.md
  doc-botonic/docs/plugins/plugin-segment.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
  doc-botonic/website/docusaurus.config.js
  doc-botonic/website/src/css/custom.css
  doc-botonic/website/static/img/botonic-logo.png
Due: none

chore: migrate Docusaurus from v1 to v2
  doc-botonic/.gitignore
  doc-botonic/website/blog/2016-03-11-blog-post.md
  doc-botonic/website/blog/2017-04-10-blog-post-two.md
  doc-botonic/website/blog/2017-09-25-testing-rss.md
  doc-botonic/website/blog/2017-09-26-adding-rss.md
  doc-botonic/website/blog/2017-10-24-new-version-1.0.0.md
  doc-botonic/website/core/Footer.js
  doc-botonic/website/docusaurus.config.js
  doc-botonic/website/package-lock.json
  doc-botonic/website/package.json
  doc-botonic/website/pages/en/help.js
  doc-botonic/website/pages/en/index.js
  doc-botonic/website/pages/en/users.js
  doc-botonic/website/sidebars.json
  doc-botonic/website/siteConfig.js
  doc-botonic/website/src/css/custom.css
  doc-botonic/website/src/pages/index.js
  doc-botonic/website/src/pages/styles.module.css
  doc-botonic/website/src/theme/Footer/index.js
  doc-botonic/website/src/theme/Footer/styles.module.css
  doc-botonic/website/static/css/code-block-buttons.css
  doc-botonic/website/static/css/custom.css
  doc-botonic/website/static/img/botonic-logo.png
  doc-botonic/website/static/js/code-block-buttons.js
Due: none

chore: add 0.13.0 changelog
  CHANGELOG.md
Due: none
