Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

feat(react): compact multichannel text & carousel
  packages/botonic-plugin-contentful/jest.setup.js
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: contentful, react

fix(react): fix newlines when Multichannel in 1 message
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/deepmap-with-index.js
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-wrapper.test.jsx
Due: react

feat(react): multichannel to allow separating messages with custom string
  .pre-commit-config.yaml
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-carousel-multibutton.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-wrapper.test.jsx
Due: react

chore(core): add types for input type, plugin constructor and config
  packages/botonic-core/index.d.ts
Due: core

fix(react): delete updateMessage test
  packages/botonic-react/tests/webchat/useWebchat.test.js
Due: react

chore(core/react): bump version to 0.11.3-alpha.1
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

fix(react): don't copy multichannel props to created Text
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
Due: react

fix(react): set child keys in multichannel wrapper
  packages/botonic-react/src/components/multichannel/multichannel.jsx
Due: react

feat(contentful): recursively transform MessageContents
  packages/botonic-plugin-contentful/src/cms/index.ts
  packages/botonic-plugin-contentful/src/cms/transform/message-content-filters.ts
  packages/botonic-plugin-contentful/tests/cms/transform/message-content-filter.test.ts
Due: contentful

feat(contentful): decorators to CMS delivery
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/cms/transform/index.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
  packages/botonic-plugin-contentful/tests/cms/transform/cms-filter.test.ts
Due: contentful

feat(contentful): allow passing Normalizer to CMS
  packages/botonic-plugin-contentful/src/nlp/normalizer.ts
  packages/botonic-plugin-contentful/src/plugin.ts
Due: contentful

chore(contentful): comment and Chitchat typing improvement
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
Due: contentful

chore(contentful): improvements in content builders
  packages/botonic-plugin-contentful/src/cms/factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
Due: contentful

feat(contentful): markdown parsing
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/markup/markdown.ts
  packages/botonic-plugin-contentful/tests/markup/markdown.test.ts
Due: contentful

feat(contentful): markup parsing and operations
  packages/botonic-plugin-contentful/src/markup/markup.ts
  packages/botonic-plugin-contentful/tests/markup/markup.test.ts
Due: contentful

feat(contentful): whatsapp markup render
  packages/botonic-plugin-contentful/src/index.ts
  packages/botonic-plugin-contentful/src/markup/factories.ts
  packages/botonic-plugin-contentful/src/markup/index.ts
  packages/botonic-plugin-contentful/src/markup/markdown.ts
  packages/botonic-plugin-contentful/src/markup/whatsapp.ts
  packages/botonic-plugin-contentful/tests/markup/whatsapp.test.ts
Due: contentful

fix: unify names to avoid conflicts
  packages/botonic-core/src/hubtype-service.js
Due: core

fix(react): rename test file
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

fix(react): minor changes
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

feat: add new package botonic-plugin-inbenta
  packages/botonic-plugin-inbenta/README.md
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-inbenta/src/index.js
Due: none

feat(contentful): added stemmers/tokens for Russian
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-ru.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

feat(contentful): export levenshtein distance
  packages/botonic-plugin-contentful/src/nlp/similar-words.ts
Due: contentful

feat(contentful): prefer tokens to stems when comparing to keywords
  packages/botonic-plugin-contentful/src/nlp/keywords.ts
  packages/botonic-plugin-contentful/src/nlp/normalizer.ts
  packages/botonic-plugin-contentful/src/nlp/similar-words.ts
  packages/botonic-plugin-contentful/src/tools/search-performance.ts
  packages/botonic-plugin-contentful/tests/nlp/keywords.test.ts
Due: contentful

test(contentful): remove duplicated performance benchmark
  packages/botonic-plugin-contentful/tests/nlp/similar-words.test.ts
Due: contentful

refactor: extract reducer actions into actions file
  packages/botonic-react/src/webchat/actions.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: react

test: add updateMessage test
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

refactor: add shorthand for renderUseWebchatHook in test utils
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react
