Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

fix: upgrade @babel/runtime from 7.15.4 to 7.16.5
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade @babel/runtime from 7.15.4 to 7.16.5
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
Due: none

fix: upgrade aws-sdk from 2.1041.0 to 2.1046.0
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: dynamodb

fix: upgrade contentful-management from 7.39.0 to 7.47.0
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

fix: upgrade contentful-import from 8.2.9 to 8.2.28
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

fix: upgrade @babel/runtime from 7.14.8 to 7.16.5
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

fix: upgrade @babel/runtime from 7.15.4 to 7.16.5 (#2132)
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

fix: upgrade @babel/runtime from 7.16.0 to 7.16.5 (#2133)
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
Due: watson

fix: upgrade @babel/runtime from 7.16.3 to 7.16.5 (#2134)
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
Due: none

fix: upgrade @babel/runtime from 7.14.8 to 7.16.5 (#2135)
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: dynamodb

fix: upgrade @babel/runtime from 7.15.4 to 7.16.5 (#2136)
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
Due: none

fix: upgrade @babel/runtime from 7.15.4 to 7.16.5 (#2137)
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

Chore/bump dev versions (#2142)
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.ts
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-server/package-lock.json
  packages/botonic-server/package.json
  packages/create-botonic-app/dev-template/package.json
  packages/create-botonic-app/package-lock.json
  packages/create-botonic-app/package.json
Due: cli, core, react

fix: packages/botonic-react/package.json & packages/botonic-react/package-lock.json to reduce vulnerabilities
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix: upgrade aws-sdk from 2.1041.0 to 2.1048.0
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: dynamodb

fix: packages/botonic-react/package.json & packages/botonic-react/package-lock.json to reduce vulnerabilities (#2143)
  packages/botonic-react/package.json
Due: react

fix: upgrade aws-sdk from 2.1041.0 to 2.1048.0 (#2156)
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: dynamodb

chore(cli): bump cli version
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: cli

chore(cli): pin colors version to 1.4.0 to fix vulnerability
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/create-botonic-app/dev-template/package.json
Due: cli

chore: fix issue regarding colors vulnerability
  packages/create-botonic-app/package-lock.json
  packages/create-botonic-app/package.json
Due: none

chore(cli): bump cba version
  packages/create-botonic-app/dev-template/package.json
  packages/create-botonic-app/package-lock.json
  packages/create-botonic-app/package.json
  packages/create-botonic-app/template/package.json
Due: none

chore: update package-lock.json
  package-lock.json
Due: none

Fix/pin colors version to fix broken code (#2144)
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/create-botonic-app/package-lock.json
  packages/create-botonic-app/package.json
  packages/create-botonic-app/template/package.json
Due: cli

chore(pulumi): pin pulumi to 3.11.0 and pulumi-aws to 4.25.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/tsconfig.json
Due: none

refactor(pulumi): renaming publishing env var to EXTERNAL_SQS_URL
  packages/botonic-server/src/notifying/sqs-publisher-instance.ts
Due: none

chore(template): script to create hubtype bundle
  packages/create-botonic-app/dev-template/package.json
Due: none

test: move manage contentful test to a new environment
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-entry.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.helper.ts
Due: contentful

test: skip failing Profiler test
  packages/botonic-plugin-contentful/tests/contentful/performance.integration.test.ts
Due: contentful

refactor(pulumi): env vars to be injectable via projectConfig and pass inlinePolicies with top down approach
  packages/botonic-cli/tsconfig.json
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/websocket-server.ts
  packages/botonic-pulumi/src/pulumi/types.ts
Due: cli

Test/create manage contentful environment #BOT-644 (#2171)
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-entry.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/performance.integration.test.ts
Due: contentful

refactor(pulumi): make jwt definable from config or local env var
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
Due: none

fix(pulumi): give ws lambda permissions to enqueue to sqs
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/websocket-server-lambda.ts
Due: none

fix: upgrade @botonic/core from 0.19.0 to 0.20.2
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade emoji-picker-react from 3.4.8 to 3.4.12
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix: upgrade react-router-dom from 5.2.1 to 5.3.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

feat(babel): new hubtype babel plugin
  packages/botonic-plugin-hubtype-babel/README.md
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-hubtype-babel/src/hubtype-babel-api-service.ts
  packages/botonic-plugin-hubtype-babel/src/index.ts
  packages/botonic-plugin-hubtype-babel/src/options.ts
  packages/botonic-plugin-hubtype-babel/tsconfig.base.json
  packages/botonic-plugin-hubtype-babel/tsconfig.esm.json
  packages/botonic-plugin-hubtype-babel/tsconfig.json
Due: none

feat(babel): new hubtype babel plugin (#2187)
  packages/botonic-plugin-hubtype-babel/README.md
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-hubtype-babel/src/hubtype-babel-api-service.ts
  packages/botonic-plugin-hubtype-babel/src/index.ts
  packages/botonic-plugin-hubtype-babel/src/options.ts
  packages/botonic-plugin-hubtype-babel/tsconfig.base.json
  packages/botonic-plugin-hubtype-babel/tsconfig.esm.json
  packages/botonic-plugin-hubtype-babel/tsconfig.json
Due: none

feat(contentful): create environment manager
  packages/botonic-plugin-contentful/src/contentful/manage/manage-environment.ts
Due: contentful

test(contentful): fix environment manager tests
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-environment.ts
Due: contentful

test(contentful): test environment manager
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-environment.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.helper.ts
Due: contentful

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
