Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

fix(contentful): allow updating empty field
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful

feat(contentful): MessageContentInverseTraverser
  packages/botonic-plugin-contentful/src/cms/visitors/message-visitors.ts
Due: contentful

feat(contentful): ContentDeleter
  packages/botonic-plugin-contentful/src/manage-cms/content-deleter.ts
  packages/botonic-plugin-contentful/tests/manage-cms/content-delete.test.ts
Due: contentful

refactor(contentful): ContentId.create
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
  packages/botonic-plugin-contentful/src/tools/l10n/reference-field-duplicator.ts
  packages/botonic-plugin-contentful/tests/cms/callback.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
Due: contentful

refactor(contentful): split StringFieldImporter into reducer & updater
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/string-field-importer.test.ts
Due: contentful

feat(contentful): csv-import to delete content if only has shortText
  packages/botonic-plugin-contentful/src/cms/visitors/message-visitors.ts
  packages/botonic-plugin-contentful/src/manage-cms/content-deleter.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
  packages/botonic-plugin-contentful/tests/manage-cms/content-delete.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
Due: contentful

chore: equal botonic alpha versions
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

chore: add auto-publish script
  scripts/package-lock.json
  scripts/package.json
  scripts/publish.ts
Due: none

chore: trying autobump alpha
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

chore: automatically bump to rc's versions
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

chore: update publish script
  scripts/publish.ts
Due: none

chore(nlp): Croatian tokenizer, stemmer and stopwords added
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stemmers/rules/rules-hr.ts
  packages/botonic-plugin-contentful/src/nlp/stemmers/stemmer-hr.ts
  packages/botonic-plugin-contentful/src/nlp/stemmers/transformations/transformations-hr.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-hr.ts
  packages/botonic-plugin-contentful/src/nlp/tokenizers/tokenizer-hr.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmers/stemmer-hr.test.ts
Due: contentful

fix(nlp): rules format updated
  packages/botonic-plugin-contentful/src/nlp/stemmers/rules/rules-hr.ts
Due: contentful

fix(nlp): Croatian stemmer test corrected
  packages/botonic-plugin-contentful/tests/nlp/stemmers/stemmer-hr.test.ts
Due: contentful

fix(nlp): match changed to RegExp exec
  packages/botonic-plugin-contentful/src/nlp/stemmers/stemmer-hr.ts
Due: contentful

chore: add CHANGELOG for v0.16.0
  CHANGELOG.md
Due: none

chore: bump packages to v0.16.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  scripts/publish.ts
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

refactor: restructure scripts
  scripts/README.md
  scripts/ci/bump-version.sh
  scripts/ci/prepare-packages.sh
  scripts/ci/publish.ts
  scripts/ci/upgrade-deps.sh
  scripts/ci/utils.ts
  scripts/nlu/README.md
  scripts/package.json
Due: none

chore(nlp): Slovak tokenizer (wip)
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stemmers/stemmer-sk.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

chore(nlp): Slovak tokenizer and stopword added
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmers/stemmer-sk.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-sk.ts
  packages/botonic-plugin-contentful/src/nlp/tokenizers/tokenizer-sk.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
Due: contentful

chore(nlp): Slovak stemmer finished
  packages/botonic-plugin-contentful/src/nlp/stemmers/stemmer-sk.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

fix(react): avoid circular dependency
  packages/botonic-react/src/util/error-boundary.jsx
Due: react

refactor(contentful): move csv-import classes to different files
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/reference-field-duplicator.ts
  packages/botonic-plugin-contentful/src/tools/l10n/string-field-importer.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/string-field-importer.test.ts
Due: contentful

chore(contentful): script to create non-existing locale
  packages/botonic-plugin-contentful/bin/import-contentful-models.sh
  packages/botonic-plugin-contentful/bin/l10n/create-locale.sh
  packages/botonic-plugin-contentful/bin/l10n/export-for-translators.sh
  packages/botonic-plugin-contentful/bin/l10n/migrate-locales.sh
  packages/botonic-plugin-contentful/src/tools/l10n/create-locale.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.helper.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
Due: contentful

feat(contentful): csv-import to delete content if only has shortText
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
Due: contentful

refactor(contentful): builders and factories moved
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/factories/index.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/cms/transform/message-content-filters.ts
  packages/botonic-plugin-contentful/src/contentful/factories.ts
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
Due: contentful

chore(contentful): importer can import directly a xls file
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/bin/l10n/import-from-translators.sh
  packages/botonic-plugin-contentful/bin/l10n/xls-to-csv.sh
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/tools/l10n/application/xls-to-csv.ts
Due: contentful

fix(contentful): fix ImportRecordReducer algorithm
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
Due: contentful

refactor(contentful): create CMS/ManageCms only once
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
Due: contentful

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
