Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: scripts/qa/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: core-d-ts
        name: core-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/src/.*\.d\.ts

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: react-d-ts
        name: react-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/src/.*\.d\.ts

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/lint-package.sh docs/website
        language: system
        files: ^docs/website/

feat(plugin-text-classification): Plugin Utils implementation #BOT-343 (#1473)
  packages/botonic-plugin-text-classification/src/utils/environment-utils.ts
  packages/botonic-plugin-text-classification/src/utils/locale-utils.ts
  packages/botonic-plugin-text-classification/tests/utils/locale-utils.test.ts
Due: none

test(botonic): enable plugin-text-classification tests #BOT-363 (#1501)
  .github/workflows/botonic-plugin-text-classification-tests.yml
  .pre-commit-config.yaml
  codecov.yml
Due: none

feat(plugin-text-classification): Model Selector implementation #BOT-347 (#1474)
  packages/botonic-plugin-text-classification/src/index.ts
  packages/botonic-plugin-text-classification/src/model/model-info.ts
  packages/botonic-plugin-text-classification/src/model/model-selector.ts
Due: none

test(pluguin-contentful): add deleteEntry and createEntryWithId in MockCms
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
Due: contentful

feat(plugin-contentful): add create and delete entry methods in manage contentful
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
Due: contentful

feat(plugin-contentful): add missing ContentFieldTypes
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful

feat(contentful-pluguin): add deleteEntry and createEntryWithId error reporting
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
Due: contentful

feat(plugin-contentful): add missing function parameters
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-context.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
Due: contentful

chore(plugin-contentful): bump alpha
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

docs(plugin-text-classification): first version of plugin documentation
  packages/botonic-plugin-text-classification/README.md
Due: none

docs(plugin-text-classification): plugin documentation updated
  packages/botonic-plugin-text-classification/README.md
Due: none

chore: custom messages with replies, simplify converting to text
  packages/botonic-react/src/components/custom-message.jsx
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/msg-to-botonic.jsx
Due: react

chore(eslint-config): turn jest/no-conditional-expect to warn (#1494)
  packages/botonic-eslint-config/index.js
  packages/botonic-eslint-config/package.json
Due: none

docs(plugin-text-classification): require the plugin section updated
  packages/botonic-plugin-text-classification/README.md
Due: none

docs(plugin-text-classification): what does this plugin do section updated
  packages/botonic-plugin-text-classification/README.md
Due: none

docs(plugin-text-classifation): use section added
  packages/botonic-plugin-text-classification/README.md
Due: none

docs(plugin-text-classification): use section updated
  packages/botonic-plugin-text-classification/README.md
Due: none

docs(plugin-text-classification): Plugin Documentation #BOT-372 (#1519)
  packages/botonic-plugin-text-classification/README.md
Due: none

fix(plugin-text-classification): variable names fixed
  packages/botonic-plugin-text-classification/src/index.ts
Due: none

fix(plugin-text-classification): ModelSelector build fixed
  packages/botonic-plugin-text-classification/src/model/model-selector.ts
Due: none

feat(plugin-text-classification): BotonicPluginTextClassification implementation #BOT-342 (#1472)
  packages/botonic-plugin-text-classification/jest.config.js
  packages/botonic-plugin-text-classification/package-lock.json
  packages/botonic-plugin-text-classification/package.json
  packages/botonic-plugin-text-classification/src/constants.ts
  packages/botonic-plugin-text-classification/src/index.ts
  packages/botonic-plugin-text-classification/src/model/model-selector.ts
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
  packages/botonic-plugin-text-classification/src/types.ts
  packages/botonic-plugin-text-classification/src/utils/locale-utils.ts
  packages/botonic-plugin-text-classification/tsconfig.eslint.json
  packages/botonic-plugin-text-classification/tsconfig.json
Due: none

feat(plugin-text-classification): TextClassifier implemented #BOT-349 (#1476)
  packages/botonic-plugin-text-classification/package-lock.json
  packages/botonic-plugin-text-classification/package.json
  packages/botonic-plugin-text-classification/src/model/model-info.ts
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

feat(plugin-text-classification): ModelInfo implemented (#1475)
  packages/botonic-plugin-text-classification/src/model/model-info.ts
Due: none

feat(plugin-text-classification): TextProcessor implemented #BOT-345 (#1477)
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

fix(plugin-text-classification): Minor Fixes (#1522)
  packages/botonic-plugin-text-classification/src/index.ts
  packages/botonic-plugin-text-classification/src/model/model-selector.ts
Due: none

feat(plugin-text-classification): PredictionProcessor implemented (#1478)
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
Due: none

feat(plugin-text-classification): Text Classification Plugin implemented #BOT-344 (#1495)
  .github/workflows/botonic-plugin-text-classification-tests.yml
  .pre-commit-config.yaml
  codecov.yml
  packages/botonic-plugin-text-classification/README.md
  packages/botonic-plugin-text-classification/jest.config.js
  packages/botonic-plugin-text-classification/package-lock.json
  packages/botonic-plugin-text-classification/package.json
  packages/botonic-plugin-text-classification/src/constants.ts
  packages/botonic-plugin-text-classification/src/index.ts
  packages/botonic-plugin-text-classification/src/model/model-info.ts
  packages/botonic-plugin-text-classification/src/model/model-selector.ts
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
  packages/botonic-plugin-text-classification/src/types.ts
  packages/botonic-plugin-text-classification/src/utils/environment-utils.ts
  packages/botonic-plugin-text-classification/src/utils/locale-utils.ts
  packages/botonic-plugin-text-classification/tests/utils/locale-utils.test.ts
  packages/botonic-plugin-text-classification/tsconfig.eslint.json
  packages/botonic-plugin-text-classification/tsconfig.json
Due: none

chore: fix workaround for allowing buttons in media messages
  packages/botonic-react/src/components/audio.jsx
  packages/botonic-react/src/components/document.jsx
  packages/botonic-react/src/components/image.jsx
  packages/botonic-react/src/components/video.jsx
Due: react

docs(plugin-ner): first version of plugin's documentation
  packages/botonic-plugin-ner/README.md
Due: none

docs(plugin-ner): readme updated and use section added
  packages/botonic-plugin-ner/README.md
Due: none

docs(plugin-ner): anne feedback applied
  packages/botonic-plugin-ner/README.md
Due: none

docs(plugin-ner): Plugin NER Documentation #BOT-322 (#1521)
  packages/botonic-plugin-ner/README.md
Due: none

refactor(nlp): compile method removed from BotonicTextClassification
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
Due: none

refactor(nlp): compile method removed from BotonicNer
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
Due: none

refactor(nlp): remove compile fron BotonicNer and BotonicTextClassifier #BOT-337 (#1524)
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
Due: none

refactor(nlp): ner and text classification model layers renamed
  packages/botonic-nlp/src/tasks/ner/models/bilstm-model.ts
  packages/botonic-nlp/src/tasks/text-classification/models/constants.ts
  packages/botonic-nlp/src/tasks/text-classification/models/simple-nn.ts
Due: none
