Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

chore(google-analytics): sort imports and run prettier
  packages/botonic-plugin-google-analytics/README.md
Due: google-analytics

chore(segment): sort imports and run prettier
  packages/botonic-plugin-segment/README.md
  packages/botonic-plugin-segment/src/index.js
Due: segment

chore(dynamodb): sort imports and run prettier
  packages/botonic-plugin-dynamodb/README.md
  packages/botonic-plugin-dynamodb/README_wip.md
  packages/botonic-plugin-dynamodb/src/index.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/dynamo.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/track.ts
  packages/botonic-plugin-dynamodb/tests/domain/track.test.ts
  packages/botonic-plugin-dynamodb/tests/helpers/dynamo.ts
  packages/botonic-plugin-dynamodb/tests/infrastructure/dynamo.integration.test.ts
  packages/botonic-plugin-dynamodb/tests/tsconfig.json
  packages/botonic-plugin-dynamodb/tsconfig.eslint.json
  packages/botonic-plugin-dynamodb/tsconfig.json
Due: dynamodb

chore(inbenta): sort imports and run prettier
  packages/botonic-plugin-inbenta/README.md
Due: inbenta

chore(dialogflow): sort imports and run prettier
  packages/botonic-plugin-dialogflow/README.md
  packages/botonic-plugin-dialogflow/src/index.js
Due: dialogflow

chore(plugin-nlu): sort imports and run prettier
  packages/botonic-plugin-nlu/src/environment-utils.ts
  packages/botonic-plugin-nlu/src/index.ts
  packages/botonic-plugin-nlu/src/model-handler.ts
  packages/botonic-plugin-nlu/src/prediction.ts
  packages/botonic-plugin-nlu/src/types.ts
Due: nlu, plugin-nlu

chore(docs): sort imports and run prettier
  docs/website/scripts/update-plugins-docs/bump-readmes-to-docs.ts
  docs/website/scripts/update-plugins-docs/file-system.ts
  docs/website/scripts/update-plugins-docs/index.ts
  docs/website/src/components/analytics.js
  docs/website/src/components/homeHeader.js
  docs/website/src/pages/index-new.js
  docs/website/src/pages/index.js
  docs/website/src/theme/Footer/index.js
  docs/website/src/theme/Footer/was-page-useful.jsx
Due: none

chore(luis): sort imports and run prettier
  packages/botonic-plugin-luis/README.md
Due: luis

refactor(contentful): date-range delivery to avoid circular dependency
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/src/contentful/search/keywords.ts
  packages/botonic-plugin-contentful/src/contentful/search/searchable-by.ts
  packages/botonic-plugin-contentful/tests/contentful/ignore-fallback-decorator.test.ts
Due: contentful

chore: bump packages to 0.16.0-alpha.0
  package.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/audio.jsx
  packages/botonic-react/tests/webchat/webchat.addmessages.test.jsx
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

chore: bump all packages to 0.16.0-alpha.1
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

chore(cli): add missing qs dependency, bump cli's alpha
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: none

refactor(contentful): minor change in Callback
  packages/botonic-plugin-contentful/src/cms/callback.ts
Due: contentful

feat(contentful): DummyCMS to be predictable
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
Due: contentful

fix(react): fix md table test
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/tests/components/render-markdown.test.jsx
Due: react

fix(react): fix md table test
  packages/botonic-react/tests/components/render-markdown.test.jsx
Due: react

Update README.md
  packages/botonic-plugin-contentful/README.md
Due: contentful

fix(react): do not call onClose on very first render
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): functions to get component names
  packages/botonic-react/src/components/components.js
  packages/botonic-react/tests/components/components.test.jsx
Due: react

feat(react): Error Boundary for customMessage
  packages/botonic-react/src/components/custom-message.jsx
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/util/error-boundary.jsx
  packages/botonic-react/tests/components/__snapshots__/custom-message.test.jsx.snap
  packages/botonic-react/tests/components/custom-message.test.jsx
Due: react

feat(react): custom-message replies improvements
  packages/botonic-react/src/components/custom-message.jsx
Due: react

chore(core/react): check index.d.ts from pre-commit & CI
  .github/workflows/botonic-core.tests.yml
  .github/workflows/botonic-react-tests.yml
  .pre-commit-config.yaml
  packages/botonic-core/tsconfig.json
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/tsconfig.json
  scripts/qa/lint-d-ts.sh
  scripts/qa/lint-package.sh
Due: core, react

chore(core): add _hubtype_case_status/typification fields
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/index.js
Due: core

docs: update welcome page and sidebars
  docs/docs/welcome.md
  docs/website/_redirects
  docs/website/sidebars.json
Due: none

docs: promote winning description after A/B test
  docs/website/src/components/homeHero.js
Due: none

docs: replace GitHub main page CTA with GitHub Banner on every page
  docs/website/docusaurus.config.js
  docs/website/src/components/homeHero.js
  docs/website/src/pages/index.js
Due: none

docs: fix 'was page useful' component
  docs/website/src/constants.js
  docs/website/src/theme/Footer/was-page-useful.jsx
Due: none

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
