Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  # ESLint hooks for packages NOT yet migrated (remove as each package is migrated)
  # Biome hook for migrated packages (update 'files' pattern as packages are migrated)
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check (Biome)
        entry: bash scripts/qa/biome-check.sh
        language: system
        files: ^packages/(botonic-core|botonic-cli|botonic-plugin-hubtype-analytics|botonic-plugin-knowledge-bases|botonic-plugin-ai-agents|botonic-react|botonic-plugin-flow-builder)/
        types_or: [javascript, jsx, ts, tsx, json]

      - id: docs
        name: docs (ESLint)
        entry: scripts/qa/old/lint-package.sh docs/
        language: system
        files: ^docs/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          ['--baseline', '.secrets.baseline', '--exclude-files', '.*/tests/.*']
        exclude: package.lock.json
        name: Detect secrets
        description: Detects high entropy strings that are likely to be passwords.

feat(ai-agents): make outputMessagesSchemas argument optional for AIAgentBuilder
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
Due: biome-check

test(ai-agents): add output schema tests for AIAgentBuilder
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
Due: biome-check

feat(ai-agents): allow AI Agent Plugin to accept external output schemas for the AI Agent
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/index.ts
Due: biome-check

feat(core): update AI Agent interfaces to allow extra output schemas
  packages/botonic-core/src/models/ai-agents.ts
Due: biome-check

refactor: remove Segment plugin references and related configurations
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-docs-tests.yml
  README.md
  docs/docs/plugins/plugin-segment.md
  docs/docs/welcome.md
  docs/i18n/en.json
  docs/sidebars.json
  docs/src/components/analytics.js
  docs/src/theme/Footer/was-page-useful.jsx
  packages/botonic-react/README.md
Due: docs

WIP
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: biome-check

feat: resolve AI Agent nodes as a follow ups
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
Due: biome-check

refactor: remove unused code to resolve GoToFlow to AiAgentsFlow
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: biome-check

test: execute and fix tests
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/tests/ai-agent.test.ts
  packages/botonic-plugin-flow-builder/tests/whatsapp-payload-conversion.test.ts
Due: biome-check

refactor: rename utils functions to HubtypeAssistantContent class
  .cursor/rules/hubtype-assistant-message.md
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/services/hubtype-api-client.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-assistant-content.ts
  packages/botonic-plugin-flow-builder/tests/hubtype-assistant-content.test.ts
Due: biome-check

docs: update CHANGELOG.md files for core, ai-agents and flow-builder
  packages/botonic-core/CHANGELOG.md
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: none

feat(ai-agents,core,flow-builder): add new optional attribute named 'target' in buttons generated by AI Agents to be able to specify the target of URL buttons (_blank or _self)
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/src/structured-output/text-with-buttons.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
Due: biome-check

feat(flow-builder): add test to ensure the target attribute in a button coming from an AI Agent is rendered correctly
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
Due: biome-check

feat: update CHANGELOG.md files and bump versions to core, ai-agents and flow-builder
  package-lock.json
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
Due: biome-check

feat: use previousMessages for AiAgent Context
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/src/debug-logger.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/services/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/services/types.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/tests/debug-logger.test.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
Due: biome-check

feat(ai-agents/flow-builder): Add target attribute in buttons coming from AI Agent (#3188)
  package-lock.json
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/structured-output/text-with-buttons.ts
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
Due: biome-check

feat(ai-agents): support custom structured output schemas for AI Agent responses (#3186)
  package-lock.json
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/text-with-buttons.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/ai-agent/index.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent/structured-output/flow-builder-content.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
Due: biome-check

chore: update GitHub workflows and package.json for Node.js 18
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-docs-tests.yml
  docs/package.json
Due: docs

refactor: clean up header generation in bump-readmes-to-docs script
  docs/scripts/update-plugins-docs/bump-readmes-to-docs.ts
Due: docs

chore: update Node.js version in workflows and package.json to 22
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-docs-tests.yml
  docs/package.json
Due: docs

Merge master and refactor to keep sorted flowContents
  package-lock.json
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/text-with-buttons.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/ai-agent/index.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent/structured-output/flow-builder-content.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
Due: biome-check

refactor: remove rule
  .cursor/rules/hubtype-assistant-message.md
Due: none

remove .md files
  PR_DESCRIPTION.md
  PR_DESCRIPTION_INCREMENTAL.md
Due: none

refactor: remove Segment plugin references and related configurations (#3189)
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-docs-tests.yml
  README.md
  docs/docs/plugins/plugin-segment.md
  docs/docs/welcome.md
  docs/i18n/en.json
  docs/package.json
  docs/scripts/update-plugins-docs/bump-readmes-to-docs.ts
  docs/sidebars.json
  docs/src/components/analytics.js
  docs/src/theme/Footer/was-page-useful.jsx
  packages/botonic-react/README.md
Due: docs

refactor: split rename and reorganize files and functions
  packages/botonic-plugin-flow-builder/src/action/ai-agent-from-user-input.ts
  packages/botonic-plugin-flow-builder/src/action/context.ts
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/payload.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/filters/index.ts
  packages/botonic-plugin-flow-builder/src/structured-output/flow-builder-content.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: biome-check

refactor: split getContents in a new file and create proccessContents function
  packages/botonic-plugin-flow-builder/src/action/get-contents.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: biome-check

fix: set model for guardrail
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
Due: biome-check

update CHANGELOG
  packages/botonic-plugin-ai-agents/CHANGELOG.md
Due: none

bump version to 0.46.2
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
Due: biome-check

test: update test to check that guardrail use the model set in llmConfig
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
Due: biome-check

plugin-ai-agents: use model from llm config for guardrail agent (#3192)
  package-lock.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
Due: biome-check

feat: create an abstract processContent function to track, doAction, doHandoff and resolveAiAgentResponse
  packages/botonic-plugin-flow-builder/src/action/ai-agent-from-user-input.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-fields-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-capture-user-input.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-channel-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-country-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-custom-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-queue-status-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-rating.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-video.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-webview.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-template.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-row.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-section.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list.tsx
Due: biome-check

test: update tests removing unused id in toBotonic function
  packages/botonic-plugin-flow-builder/tests/content-fields-base.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-template.test.ts
Due: biome-check

refactor: rename toBotonic functions in whastapp list section and row
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-row.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-section.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list.tsx
Due: biome-check

refactor: create utils folder and split in diferent files
  packages/botonic-plugin-flow-builder/src/action/ai-agent-from-user-input.ts
  packages/botonic-plugin-flow-builder/src/action/context.ts
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/get-contents.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-capture-user-input.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-rating.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-template.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/index.ts
  packages/botonic-plugin-flow-builder/src/filters/index.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/capture-user-input-api.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/src/utils/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/utils/get-flow-builder-plugin.ts
  packages/botonic-plugin-flow-builder/src/utils/input.ts
  packages/botonic-plugin-flow-builder/src/utils/token.ts
  packages/botonic-plugin-flow-builder/tests/hubtype-assistant-content.test.ts
  packages/botonic-plugin-flow-builder/tests/utils.test.ts
Due: biome-check

refactor: apply format
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-template.test.ts
Due: biome-check

refactor: apply lint
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-template.test.ts
Due: biome-check

refactor: rename file
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils/authentication.ts
Due: biome-check

plugin-flow-builder: create utils folder and split in diferent files (#3194)
  packages/botonic-plugin-flow-builder/src/action/ai-agent-from-user-input.ts
  packages/botonic-plugin-flow-builder/src/action/context.ts
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/get-contents.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-capture-user-input.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-rating.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-template.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/index.ts
  packages/botonic-plugin-flow-builder/src/filters/index.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/capture-user-input-api.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/src/utils/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/utils/authentication.ts
  packages/botonic-plugin-flow-builder/src/utils/get-flow-builder-plugin.ts
  packages/botonic-plugin-flow-builder/src/utils/input.ts
  packages/botonic-plugin-flow-builder/tests/hubtype-assistant-content.test.ts
  packages/botonic-plugin-flow-builder/tests/utils.test.ts
Due: biome-check
