Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

refactor(botonic-react): remove framer-motion
  packages/botonic-react/package.json
  packages/botonic-react/src/shared/styles.ts
  packages/botonic-react/src/webchat/components/conditional-animation.jsx
  packages/botonic-react/src/webchat/header.jsx
Due: react

refactor(botonic-core): type function parameters
  packages/botonic-core/src/core-bot.ts
Due: core

test(plugin-flow-builder): add a test for fallback event
  packages/botonic-plugin-flow-builder/tests/tracking.test.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test for tracking nlu_keyword and flow_node
  packages/botonic-plugin-flow-builder/tests/__mocks__/track-event.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/tracking.test.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add mesgae_id in request
  packages/botonic-plugin-flow-builder/tests/__mocks__/track-event.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/tracking.test.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test to chek nlu_intent_smart event
  packages/botonic-plugin-flow-builder/tests/__mocks__/track-event.ts
  packages/botonic-plugin-flow-builder/tests/tracking.test.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test to knowledgebase event
  packages/botonic-plugin-flow-builder/tests/tracking.test.ts
Due: plugin-flow-builder

docs(plugin-flow-builder): update README
  packages/botonic-plugin-flow-builder/README.md
Due: plugin-flow-builder

refactor(plugin-flow-builder): remove console.log
  packages/botonic-plugin-flow-builder/tests/__mocks__/track-event.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): create a folder for tracking tests and split test in diferents files
  packages/botonic-plugin-flow-builder/tests/__mocks__/index.ts
  packages/botonic-plugin-flow-builder/tests/tracking.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-smart-intent.test.ts
Due: plugin-flow-builder

tests(plugin-flow-builder): refactor all tests to use createFlowBuilderPluginAndGetContents and reduce repetitive code
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-button-list.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-carousel.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-image.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-url-button.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-video.test.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
Due: plugin-flow-builder

WIP
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/tests/routing/router.test.ts
  packages/botonic-react/src/index-types.ts
Due: core, react

chore(botonic): upgrade typescript to 5.5.3
  package-lock.json
  package.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  tsconfig.esm.base.json
Due: react, plugin-flow-builder

test(plugin-contentful): remove type to avoid error in tests
  packages/botonic-plugin-contentful/src/cms/visitors/message-visitors.ts
Due: contentful

test(plugin-flow-builder): use inferred type predicates
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: plugin-flow-builder

botonic-react: remove framer motion (#2870)
  packages/botonic-core/src/core-bot.ts
  packages/botonic-react/package.json
  packages/botonic-react/src/shared/styles.ts
  packages/botonic-react/src/webchat/components/conditional-animation.jsx
  packages/botonic-react/src/webchat/header.jsx
Due: core, react

refactor(botonic-react): remove unescape dependency
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/botonic-tester.jsx
Due: react

refactor(botonic-react): remove qrcode.react dependency
  package-lock.json
  packages/botonic-react/package.json
Due: react

refactor(botonic-react): remove he dependency
  package-lock.json
  packages/botonic-react/package.json
Due: react

botonic-react: remove unescape, qrcode.react and he dependencies (#2872)
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/botonic-tester.jsx
Due: react

docs(plugin-flow-builder): change flowUrl to apiUrl
  packages/botonic-plugin-flow-builder/README.md
Due: plugin-flow-builder

plugin-flow-builder: check track events with tests (#2871)
  packages/botonic-plugin-flow-builder/README.md
  packages/botonic-plugin-flow-builder/tests/__mocks__/index.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/track-event.ts
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-button-list.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-carousel.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-image.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-url-button.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-video.test.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-smart-intent.test.ts
Due: plugin-flow-builder

feat(plugin-hubtype-analytics): add bot_interaction_id in feedback knowledge base event
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback-knowledgebase.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

feat(botonic-react): be able to create a Text component with botInteractionId
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/message/message-feedback.tsx
  packages/botonic-react/src/components/message/message-footer.tsx
  packages/botonic-react/src/components/text.tsx
Due: react

feat(botonic-core): add bot_interaction_id in request.input
  packages/botonic-core/src/models/legacy-types.ts
Due: core

feat(plugin-flow-builder): add botInteractionId in Text generated from knowledge base
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
Due: plugin-flow-builder

test(core, plugin-flow-builder and plugin-hubtype-analytics): add bot_interaction_id in test
  packages/botonic-core/tests/routing/router.match-route.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: core, plugin-flow-builder, hubtype-analytics

feat(plugin-hubtype-analytics): add bot_interaction_id in all bot events
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): split webview events and add new attributes
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-end.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-step.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): attributes webviewStepName and webviewStepNumber are called the same to create EventWebviewStep and EventWebviewEnd events
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-end.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

test(plugin-hubtype-analytics): add bot_interaction_id to fix all tests
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): remove fix action in webview events
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-end.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-step.ts
Due: hubtype-analytics

refactor(core): input.message_id not to be undefined
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/routing/router.match-route.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: core, plugin-flow-builder, hubtype-analytics

refactor(plugin-flow-builder): use bot_interaction_id from request.input
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
Due: plugin-flow-builder

feat(plugin-hubtype-analytics): add bot_interaction_id in handoff builder withBotEvent
  packages/botonic-core/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: core, plugin-flow-builder

plugin-hubtype-analytics: Add target bot_interaction_id on feedback knowledge base events (#2877)
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/routing/router.match-route.test.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback-knowledgebase.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-end.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-step.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/message/message-feedback.tsx
  packages/botonic-react/src/components/message/message-footer.tsx
  packages/botonic-react/src/components/text.tsx
Due: core, react, plugin-flow-builder, hubtype-analytics

refactor(plugin-flow-builder): add in handoffBuilder.withBotEvent using botInteractionId in camelCase and withExtraData using language
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: plugin-flow-builder

refactor(plugin-hubtype-analytics): fix typo error
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback-knowledgebase.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
Due: hubtype-analytics

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
