Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

feat(flow-builder): add missing alt prop in CustomRatingMessage
  packages/botonic-plugin-flow-builder/src/content-fields/flow-rating.tsx
Due: plugin-flow-builder

feat(flow-builder): add missing alt prop in CustomRatingMessage (#3103)
  packages/botonic-plugin-flow-builder/src/content-fields/flow-rating.tsx
Due: plugin-flow-builder

refactor(core): centralize hubtype config and cleanup deps
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/config.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/http-client.ts
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-core/src/index.ts
  packages/botonic-core/src/models/hubtype-events.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-core/tests/hubtype-service.test.ts
Due: core

refactor: sort imports and format documents
  packages/botonic-core/src/config.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/http-client.ts
  packages/botonic-core/src/index.ts
Due: core

chore: update CHANGELOGs and publish version 0.40.0
  package-lock.json
  package.json
  packages/botonic-core/CHANGELOG.md
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-react/CHANGELOG.md
Due: core, react, plugin-flow-builder, hubtype-analytics

chore: publish examples with v0.40.0
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/flow-builder-typescript/package.json
  examples/handoff/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
Due: none

chore: publish cli with v0.40.0
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
Due: cli

release/v0.40.0 (#3102)
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/flow-builder-typescript/package.json
  examples/handoff/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  package-lock.json
  package.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dynamodb, segment, react, google-analytics, plugin-flow-builder, hubtype-analytics

chore(botonic-core): remove unused dependencies
  package-lock.json
  packages/botonic-core/package.json
Due: core

chore(botonic-core): remove unused dependencies (#3105)
  package-lock.json
  packages/botonic-core/package.json
Due: core

chore: bump axios and node engine versions
  docs/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/flow-builder-typescript/package.json
  examples/handoff/package.json
  examples/tutorial/package.json
  package.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dynamodb, segment, react, google-analytics, docs, plugin-flow-builder, hubtype-analytics

feat: no update docs engines
  docs/package.json
Due: docs

refactor: use spaces
  packages/botonic-dx/sample-config/package.json
Due: none

chore: update github action to use node 22
  .github/workflows/botonic-common-workflow.yml
Due: none

chore: update package-lock.json
  package-lock.json
Due: none

chore: bump axios and node engine versions (#3106)
  .github/workflows/botonic-common-workflow.yml
  docs/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/flow-builder-typescript/package.json
  examples/handoff/package.json
  examples/tutorial/package.json
  package-lock.json
  package.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dynamodb, segment, react, google-analytics, docs, plugin-flow-builder, hubtype-analytics

chore: remove unused dependencies
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/new.ts
Due: cli

feat: remove command destroy, not used
  packages/botonic-cli/src/commands/destroy.ts
Due: cli

feat: remove command flag preview to use botonic 1.0, not used
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-playground-service.ts
  packages/botonic-cli/src/commands/serve.ts
Due: cli

chore: uppdate package-lock.json
  package-lock.json
Due: none

refactor: remove unused constants
  packages/botonic-cli/src/constants.ts
Due: cli

refactor: remove unused dependecies
  packages/botonic-cli/package.json
Due: cli

feat: remove Telemetry
  packages/botonic-cli/package.json
  packages/botonic-cli/src/analytics/credentials-handler.ts
  packages/botonic-cli/src/analytics/telemetry.ts
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/logout.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/test.ts
  packages/botonic-cli/src/constants.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/tests/analytics/credentials-handler.test.ts
  packages/botonic-cli/tests/analytics/telemetry.test.ts
Due: cli

refactor: remove unused key
  packages/botonic-cli/src/constants.ts
Due: cli

feat: remove postinstall telemetry call
  .secrets.baseline
  package-lock.json
  packages/botonic-cli/scripts/postinstall.js
Due: cli

feat: remove secret from cli postinstall
  .secrets.baseline
Due: none

feat: remove analytics-node dependency
  packages/botonic-cli/package.json
Due: cli

feat: fix pre-commit and secrets.baseline
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

feat: upgrade oclif to ^4.0.0 and other dependencies to new versions
  package-lock.json
  packages/botonic-cli/.prettierrc.json
  packages/botonic-cli/README.md
  packages/botonic-cli/bin/dev.cmd
  packages/botonic-cli/bin/dev.js
  packages/botonic-cli/bin/run
  packages/botonic-cli/bin/run.js
  packages/botonic-cli/eslint.config.mjs
  packages/botonic-cli/package.json
  packages/botonic-cli/scripts/postinstall.js
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/logout.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/test.ts
  packages/botonic-cli/src/index.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/types/global.d.ts
  packages/botonic-cli/src/util/credentials-handler.ts
  packages/botonic-cli/src/util/download-gzip.ts
  packages/botonic-cli/src/util/environment-info.ts
  packages/botonic-cli/src/util/file-system.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/commands/new.test.ts
  packages/botonic-cli/tests/tsconfig.json
  packages/botonic-cli/tests/util/credentials-handler.test.ts
  packages/botonic-cli/tests/util/file-system.test.ts
  packages/botonic-cli/tsconfig.json
Due: cli

feat: use jest instead of mocha
  package-lock.json
  packages/botonic-cli/package.json
Due: cli

feat: update lint config using eslintrc.json
  packages/botonic-cli/.eslintrc.json
  packages/botonic-cli/eslint.config.mjs
Due: cli

feat: pass linter
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/logout.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/constants.ts
  packages/botonic-cli/src/util/bot-config.ts
  packages/botonic-cli/src/util/system.ts
Due: cli

refactor: use picolors instead of colors
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/commands/logout.ts
Due: cli

refactor: move run method as the first method in the class
  packages/botonic-cli/src/commands/new.ts
Due: cli

feat: update jest config and execute oclif manifest
  package-lock.json
  package.json
  packages/botonic-cli/README.md
  packages/botonic-cli/jest.config.cjs
  packages/botonic-cli/jest.config.js
  packages/botonic-cli/oclif.manifest.json
  packages/botonic-cli/package.json
  packages/botonic-cli/tsconfig.json
  packages/botonic-cli/tsconfig.test.json
Due: cli

test: pass all tests
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/tests/botonic-api-service.test.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/commands/new.test.ts
  packages/botonic-cli/tests/util/credentials-handler.test.ts
  packages/botonic-cli/tests/util/file-system.test.ts
Due: cli

refactor: apply format
  packages/botonic-cli/.prettierrc.json
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/logout.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/constants.ts
  packages/botonic-cli/src/index.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/bot-config.ts
  packages/botonic-cli/src/util/credentials-handler.ts
  packages/botonic-cli/src/util/download-gzip.ts
  packages/botonic-cli/src/util/environment-info.ts
  packages/botonic-cli/src/util/file-system.ts
  packages/botonic-cli/src/util/system.ts
  packages/botonic-cli/tests/botonic-api-service.test.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/commands/new.test.ts
  packages/botonic-cli/tests/tsconfig.json
  packages/botonic-cli/tests/util/credentials-handler.test.ts
  packages/botonic-cli/tests/util/file-system.test.ts
Due: cli

feat: add tsconfig.test.json
  packages/botonic-cli/tsconfig.test.json
Due: cli

feat: add script test_ci
  packages/botonic-cli/package.json
Due: cli

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
