Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

chore(contentful): fix lint_ci
  packages/botonic-plugin-contentful/.eslintrc_slow.js
Due: contentful

chore: fix contentful eslint
  packages/botonic-plugin-contentful/package.json
Due: contentful

feat(react): Multichannel prop to display index as bold
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel.jsx
Due: react

chore(contentful): move cloneWithFollowUp to TopContent
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/button.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/src/util/objects.ts
Due: contentful

test(contentful): improve RndButtonsBuilder
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-react/src/index.d.ts
Due: contentful, react

feat(core/react) inspector to debug route matching
  packages/botonic-core/index.d.ts
  packages/botonic-core/src/core-bot.js
  packages/botonic-core/src/debug/index.js
  packages/botonic-core/src/debug/inspector.js
  packages/botonic-core/src/debug/inspector.test.js
  packages/botonic-core/src/index.js
  packages/botonic-core/src/router.js
  packages/botonic-core/src/router.test.js
Due: core

chore(cli): move dev dependencies to root folder
  package-lock.json
  package.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
Due: none

chore: upgrade contentful's eslint to 6.x
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/.eslintrc.js
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
  packages/botonic-plugin-contentful/src/search/search-by-keywords.ts
  packages/botonic-plugin-contentful/src/time/schedule.ts
  packages/botonic-plugin-contentful/tests/contentful/date-range.test.ts
  packages/botonic-plugin-contentful/tests/time/schedule.test.ts
  packages/botonic-plugin-contentful/tsconfig.json
  packages/botonic-plugin-dynamodb/tests/domain/track.test.ts
Due: contentful, dynamodb

chore: move more dev dependencies to root package.json
  package-lock.json
  package.json
Due: none

chore: pre-commit for all packages
  .pre-commit-config.yaml
  scripts/qa/lint-all-packages.sh
  scripts/qa/lint-package.sh
Due: none

chore: fixes in github workflows
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  packages/botonic-nlu/package.json
Due: none

chore(dynamo): use dev deps from root & fix lint config
  packages/botonic-plugin-dynamodb/.eslintrc.js
  packages/botonic-plugin-dynamodb/.eslintrc_slow.js
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-dynamodb/src/domain/time.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/track.ts
Due: dynamodb

chore: minor improvements in eslint & jest-each deps
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/.eslintrc.js
  packages/botonic-plugin-dynamodb/tsconfig.json
Due: contentful, dynamodb

fix(dynamo): explicit type in annotator to fix runtime error
  packages/botonic-plugin-dynamodb/src/infrastructure/track.ts
Due: dynamodb

fix: fix outer-page-scrolling-bug
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/components/styled-scrollbar.jsx
  packages/botonic-react/src/webchat/components/styled-scrollbar.scss
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/message-list.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore: dependabot to check only weekly
  .dependabot/config.yml
Due: none

feat(contentful): new CMS.contents also returns buttons
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/contentful/button.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/search/search-result.ts
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
Due: contentful

chore(contentful): shorttext, title & subtitle to be never null
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/util/objects.ts
Due: contentful

chore(contentful): refactor TopContent and Content
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/contentful/button.ts
  packages/botonic-plugin-contentful/src/contentful/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/image.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/contentful/keywords.ts
  packages/botonic-plugin-contentful/src/contentful/queue.ts
  packages/botonic-plugin-contentful/src/contentful/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/startup.ts
  packages/botonic-plugin-contentful/src/contentful/text.ts
  packages/botonic-plugin-contentful/src/contentful/url.ts
  packages/botonic-plugin-contentful/src/nlp/similar-words.ts
  packages/botonic-plugin-contentful/src/search/search.ts
  packages/botonic-plugin-contentful/tests/cms/callback.test.ts
  packages/botonic-plugin-contentful/tests/cms/cms.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery.test.ts
  packages/botonic-plugin-contentful/tests/contentful/keywords.test.ts
  packages/botonic-plugin-contentful/tests/contentful/startup.test.ts
  packages/botonic-plugin-contentful/tests/contentful/text.test.ts
  packages/botonic-plugin-contentful/tests/search/search-by-keywords.test.ts
  packages/botonic-plugin-contentful/tests/search/search.test.ts
Due: contentful

feat(contentful): flag to totally disable cache
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/plugin.ts
Due: contentful

chore(contentful): move contents and search to different folders
  packages/botonic-plugin-contentful/src/contentful/contents/asset.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/contentful/search/keywords.ts
  packages/botonic-plugin-contentful/src/contentful/search/searchable-by.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/asset.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/carousel.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/date-range.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/image.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/queue.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/schedule.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/startup.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/url.test.ts
  packages/botonic-plugin-contentful/tests/contentful/keywords.test.ts
Due: contentful

chore(contentful): DeliveryApi split to be able to decorate methods
  packages/botonic-plugin-contentful/src/contentful/asset.ts
  packages/botonic-plugin-contentful/src/contentful/button.ts
  packages/botonic-plugin-contentful/src/contentful/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/cache.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/client-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/index.ts
  packages/botonic-plugin-contentful/src/contentful/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/image.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/contentful/keywords.ts
  packages/botonic-plugin-contentful/src/contentful/queue.ts
  packages/botonic-plugin-contentful/src/contentful/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/startup.ts
  packages/botonic-plugin-contentful/src/contentful/text.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery/cache.test.ts
Due: contentful

feat(contentful): add getContentType to ReducedClientApi
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/cache.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/client-api.ts
Due: contentful

feat(contentful): export csv for translators
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/tools/translators/csv-export.ts
  packages/botonic-plugin-contentful/src/tools/translators/csv-for-translator.ts
  packages/botonic-plugin-contentful/tests/tools/translators/csv-export.test.ts
Due: contentful

chore(contentful): improvements in CMS enum types
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/tools/translators/csv-import.ts
  packages/botonic-plugin-contentful/src/util/enums.ts
  packages/botonic-plugin-contentful/tests/cms/cms.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery.test.ts
  packages/botonic-react/src/components/multichannel/index.d.ts
Due: contentful, react

feat(core): add handoff options for shadowing, cancelHandoff and deleteUser
  packages/botonic-core/src/handoff.js
  packages/botonic-core/src/index.js
Due: core

chore(contentful): deepClone & tests for both clones
  packages/botonic-plugin-contentful/src/util/objects.ts
  packages/botonic-plugin-contentful/tests/util/objects.test.ts
Due: contentful
