Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

chore(dx): update deprecated definition for svgo giving annoying logs
  packages/botonic-dx/botonic-app-config/webpack/assets-loaders.js
Due: none

chore(api/core/botonic-app): saving user and bot events locally
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/create-botonic-app/dev-template/api/src/handlers/botExecutor.js
  packages/create-botonic-app/dev-template/api/src/websocket/onauth.js
Due: core

refactor: rename parsedResponse to messageEvents
  packages/botonic-api/src/handlers/sender/aws-sender.ts
  packages/botonic-api/src/handlers/sender/index.ts
  packages/botonic-api/src/handlers/sender/local-sender.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/create-botonic-app/dev-template/api/src/handlers/botExecutor.js
Due: core

chore(eslint): add triple equal rule
  packages/botonic-eslint-config/index.js
Due: none

fix(pulumi): generate db table name witth random suffix to avoid collisions within same org
  packages/botonic-pulumi/src/aws/dynamodb.ts
Due: none

refactor(core): fix circular dependencies by exporting members with modules
  packages/botonic-core/src/constants.ts
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/data-provider/data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-utils.ts
  packages/botonic-core/src/data-provider/factory.ts
  packages/botonic-core/src/data-provider/index.ts
  packages/botonic-core/src/data-provider/local-data-provider.ts
  packages/botonic-core/src/debug/index.ts
  packages/botonic-core/src/debug/inspector.ts
  packages/botonic-core/src/errors.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-core/src/i18n.ts
  packages/botonic-core/src/index.ts
  packages/botonic-core/src/models/events/base-event.ts
  packages/botonic-core/src/models/events/botonic-event.ts
  packages/botonic-core/src/models/events/connections/connection-event.ts
  packages/botonic-core/src/models/events/connections/index.ts
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/carousel.ts
  packages/botonic-core/src/models/events/message/custom.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/location.ts
  packages/botonic-core/src/models/events/message/media.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/events/message/postback.ts
  packages/botonic-core/src/models/events/message/text.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/models/user.ts
  packages/botonic-core/src/output-parser/botonic-output-parser.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/index.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/output-parser/util.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/router.ts
Due: core

chore: move auth to its own router
  packages/botonic-api/src/rest/routes/auth.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: react

refactor(api): get riid of literal variables for aws/local envs
  packages/botonic-api/src/handlers/bot-executor/index.ts
  packages/botonic-api/src/handlers/sender/index.ts
  packages/botonic-api/src/index.ts
  packages/botonic-api/src/rest/index.ts
  packages/botonic-api/src/websocket/index.ts
Due: none

chore: rename onMessage -> onAuth
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-api/src/websocket/aws-websocket-server.ts
  packages/botonic-api/src/websocket/index.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-pulumi/src/aws/websocket-server.ts
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: react

refactor(api): signature and expiresIn as const variables
  packages/botonic-api/src/rest/routes/auth.ts
  packages/botonic-api/src/rest/routes/events.ts
Due: none

refactor: use @botonic/core's esm imports
  packages/botonic-api/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-api/src/data-provider/dynamodb-utils.ts
  packages/botonic-api/src/data-provider/index.ts
  packages/botonic-api/src/data-provider/local-data-provider.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-api/src/rest/routes/validation/events.ts
Due: none

chore(api): remove unnecessary logic
  packages/botonic-api/src/websocket/local-websocket-server.ts
Due: none

chore(api): fix typo
  packages/botonic-api/src/handlers/sender/aws-sender.ts
  packages/botonic-api/src/websocket/aws-websocket-server.ts
Due: none

refactor(react): move jwt logic within current webchatState
  packages/botonic-react/src/experimental/index.js
  packages/botonic-react/src/experimental/webchat/webchat.jsx
  packages/botonic-react/src/webchat/actions.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: react

refactor(api/pulumi): add wss and https prefixes as constant variables
  packages/botonic-api/src/handlers/sender/aws-sender.ts
  packages/botonic-api/src/index.ts
  packages/botonic-pulumi/src/aws/nlp-models-bucket.ts
  packages/botonic-pulumi/src/aws/static-webchat-contents.ts
  packages/botonic-pulumi/src/index.ts
  packages/botonic-pulumi/src/pulumi-runner.ts
Due: none

chore: define secret_key as an env variable
  packages/botonic-api/src/rest/routes/auth.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/pulumi-runner.ts
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: react

wip: handlers approach working
  packages/botonic-api/src/bot-dispatcher/aws-bot-dispatcher.ts
  packages/botonic-api/src/bot-dispatcher/index.ts
  packages/botonic-api/src/bot-dispatcher/local-bot-dispatcher.ts
  packages/botonic-api/src/handlers/bot-executor/index.ts
  packages/botonic-api/src/handlers/index.ts
  packages/botonic-api/src/handlers/sender/aws-sender.ts
  packages/botonic-api/src/handlers/sender/index.ts
  packages/botonic-api/src/handlers/sender/local-sender.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-dx/botonic-app-config/webpack/api-handlers.js
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/sqs-lambda-mapping.ts
  packages/botonic-pulumi/src/index.ts
  packages/botonic-pulumi/src/pulumi-runner.ts
Due: none

wip: working sqs<>lambda flow in Botonic1.0
  packages/botonic-api/src/bot-dispatcher/aws-bot-dispatcher.ts
  packages/botonic-api/src/bot-dispatcher/index.ts
  packages/botonic-api/src/bot-dispatcher/local-bot-dispatcher.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/sqs-lambda-mapping.ts
  packages/botonic-pulumi/src/aws/websocket-server.ts
  packages/botonic-pulumi/src/index.ts
  packages/botonic-react/src/experimental/index.js
Due: react

chore(api): replace literal by env var
  packages/botonic-api/src/handlers/index.ts
Due: none

refactor(pulumi): rename method to be more specific
  packages/botonic-pulumi/src/pulumi-runner.ts
  packages/botonic-react/src/experimental/index.js
Due: react

wip(api): new websocketLocalServer and working on BotDispatcher
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/bot-dispatcher/aws-bot-dispatcher.ts
  packages/botonic-api/src/bot-dispatcher/index.ts
  packages/botonic-api/src/bot-dispatcher/local-bot-dispatcher.ts
  packages/botonic-api/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-api/src/data-provider/dynamodb-utils.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-dx/botonic-app-config/webpack/api-rest.js
  packages/botonic-dx/botonic-app-config/webpack/api-ws.js
Due: none

feat: add login route, doLogin in webchat and inject restApiUrl
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-dx/botonic-app-config/webpack/webchat.js
  packages/botonic-pulumi/src/pulumi-runner.ts
  packages/botonic-react/src/experimental/index.js
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: react

chore(pulumi/api): log and return errors, small improvements
  packages/botonic-api/src/handlers/bot-executor/index.ts
  packages/botonic-api/src/handlers/index.ts
  packages/botonic-api/src/handlers/sender/index.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
Due: none

chore: add auth logic into backendService, do validate token in api and post events & response back through ws
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/rest/routes/auth.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-pulumi/src/pulumi-runner.ts
  packages/botonic-react/src/experimental/index.js
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: react

chore(api): rewrite routes and express app as functions
  packages/botonic-api/src/bot-dispatcher/local-bot-dispatcher.ts
  packages/botonic-api/src/rest/routes/auth.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-api/src/rest/routes/users.ts
Due: none

chore: add connectionEventEntity and fix db indexes access for lambdas
  packages/botonic-api/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-api/src/data-provider/dynamodb-utils.ts
  packages/botonic-pulumi/src/aws/policies.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
Due: none

chore(pulumi): standarize names for lambda handlers
  packages/botonic-dx/botonic-app-config/webpack/api-handlers.js
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/sqs-lambda-mapping.ts
  packages/botonic-pulumi/src/index.ts
Due: none

chore: bump necessary packagees to 1.0.0-dev version
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: cli, core, react

chore: add prepublishOnly scripts for some packages
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-pulumi/package.json
  packages/create-botonic-app/package.json
Due: cli, core

chore(api): access environment var safely and bump dev version
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/handlers/sender/aws-sender.ts
Due: none

chore: enable botonic-eslint for dev project
  packages/create-botonic-app/dev-template/api/src/handlers/botExecutor.js
  packages/create-botonic-app/dev-template/api/src/handlers/index.js
  packages/create-botonic-app/dev-template/api/src/handlers/sender.js
  packages/create-botonic-app/dev-template/api/src/rest/app.ts
  packages/create-botonic-app/dev-template/api/src/rest/index.js
  packages/create-botonic-app/dev-template/api/src/websocket/index.js
  packages/create-botonic-app/dev-template/api/src/websocket/onauth.js
  packages/create-botonic-app/dev-template/api/tsconfig.json
  packages/create-botonic-app/dev-template/bot/src/actions/Welcome.jsx
  packages/create-botonic-app/dev-template/bot/src/index.js
  packages/create-botonic-app/dev-template/bot/src/nlp/tasks/intent-classification/train.ts
  packages/create-botonic-app/dev-template/bot/src/nlp/tasks/ner/train.ts
  packages/create-botonic-app/dev-template/bot/src/routes.js
  packages/create-botonic-app/dev-template/package.json
Due: none

chore(pulumi): remove name in queue to automatically assign random name
  packages/botonic-pulumi/src/aws/sqs-lambda-mapping.ts
Due: none

chore(cli): rename variable, improved types and more readable function
  packages/botonic-cli/src/botonic-playground-service.ts
Due: cli

chore(botonic-app): add template for development
  packages/create-botonic-app/dev-template/api/package.json
  packages/create-botonic-app/dev-template/api/src/handlers/botExecutor.js
  packages/create-botonic-app/dev-template/api/src/handlers/index.js
  packages/create-botonic-app/dev-template/api/src/handlers/sender.js
  packages/create-botonic-app/dev-template/api/src/rest/app.ts
  packages/create-botonic-app/dev-template/api/src/rest/index.js
  packages/create-botonic-app/dev-template/api/src/websocket/index.js
  packages/create-botonic-app/dev-template/api/src/websocket/onauth.js
  packages/create-botonic-app/dev-template/api/src/websocket/onconnect.js
  packages/create-botonic-app/dev-template/api/src/websocket/ondisconnect.js
  packages/create-botonic-app/dev-template/api/tsconfig.json
  packages/create-botonic-app/dev-template/api/webpack.config.js
  packages/create-botonic-app/dev-template/aws.config.js
  packages/create-botonic-app/dev-template/bot/package.json
  packages/create-botonic-app/dev-template/bot/src/actions/Welcome.jsx
  packages/create-botonic-app/dev-template/bot/src/assets/.gitkeep
  packages/create-botonic-app/dev-template/bot/src/index.js
  packages/create-botonic-app/dev-template/bot/src/locales/index.js
  packages/create-botonic-app/dev-template/bot/src/nlp/data/en/.gitkeep
  packages/create-botonic-app/dev-template/bot/src/nlp/tasks/intent-classification/models/en/.gitkeep
  packages/create-botonic-app/dev-template/bot/src/nlp/tasks/intent-classification/train.ts
  packages/create-botonic-app/dev-template/bot/src/nlp/tasks/ner/models/en/.gitkeep
  packages/create-botonic-app/dev-template/bot/src/nlp/tasks/ner/train.ts
  packages/create-botonic-app/dev-template/bot/src/plugins.js
  packages/create-botonic-app/dev-template/bot/src/routes.js
  packages/create-botonic-app/dev-template/package.json
  packages/create-botonic-app/dev-template/tsconfig.json
  packages/create-botonic-app/dev-template/webchat/index.html
  packages/create-botonic-app/dev-template/webchat/index.js
  packages/create-botonic-app/dev-template/webchat/package.json
  packages/create-botonic-app/dev-template/webchat/webchat-config.js
  packages/create-botonic-app/dev-template/webchat/webpack.config.js
  packages/create-botonic-app/package-lock.json
  packages/create-botonic-app/package.json
  packages/create-botonic-app/src/create-botonic-app.js
Due: none

chore(cli): do abort localtunnel promise after a timeout, bump version
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-playground-service.ts
Due: cli

chore(cli): sleep 10s for webchat job as it depends on server jobs
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/serve.ts
Due: cli

chore: move data-provider module to botonic/core
  packages/botonic-core/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-utils.ts
  packages/botonic-core/src/data-provider/index.ts
  packages/botonic-core/src/data-provider/local-data-provider.ts
Due: core

chore(api/botonic-app): rewrite imports from @botonic/core
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-api/src/rest/routes/validation/events.ts
  packages/create-botonic-app/dev-template/api/src/handlers/botExecutor.js
  packages/create-botonic-app/dev-template/api/src/websocket/onauth.js
  packages/create-botonic-app/dev-template/api/src/websocket/ondisconnect.js
Due: none

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
