Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, nlp, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs, plugin-ner, plugin-intent-classification, plugin-flow-builder

cli:
  name: cli
  entry: bash -c 'npx ts-node scripts/qa/lint-package.th packages/botonic-cli'
  language: system

core:
  name: core
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-core'
  language: system

core-d-ts:
  name: core-d-ts
  entry: bash -c 'npx ts-node script/qa/lint-d-ts.ts  packages/botonic-core'
  language: system

nlu:
  name: nlu
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-nlu'
  language: system

nlp:
  name: nlp
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-nlp'
  language: system

contentful:
  name: contentful
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-contentful'
  language: system

dashbot:
  name: dashbot
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-dashbot'
  language: system

dialogflow:
  name: dialogflow
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-dialogflow'
  language: system

dynamodb:
  name: dynamodb
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-dynamodb'
  language: system

luis:
  name: luis
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-luis'
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-nlu'
  language: system

segment:
  name: segment
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-segment'
  language: system

watson:
  name: watson
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-watson'
  language: system

react:
  name: react
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-react'
  language: system

react-d-ts:
  name: react-d-ts
  entry: bash -c 'npx ts-node script/qa/lint-d-ts.ts  packages/botonic-react'
  language: system

google-analytics:
  name: google-analytics
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-google-analytics'
  language: system

inbenta:
  name: inbenta
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-inbenta'
  language: system

docs:
  name: docs
  entry: ./script/qa/lint-package.sh  docs/website
  language: system

plugin-ner:
  name: plugin-ner
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-ner'
  language: system

plugin-intent-classification:
  name: plugin-intent-classification
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-intent-classification'
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: bash -c 'npx ts-node script/qa/lint-package.ts  packages/botonic-plugin-flow-builder'
  language: system

0.22.0-alpha.7
  package-lock.json
  package.json
Due: none

chore(hubtype-analytics): publish version 0.22.0-alpha.7
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
Due: none

Botonic version 0.23.0 (#2599)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-hubtype-babel/src/index.ts
  packages/botonic-plugin-hubtype-babel/src/options.ts
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder

[Snyk] Upgrade @oclif/command from 1.8.29 to 1.8.32 (#2596)
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: cli

[Snyk] Upgrade contentful-import from 8.5.58 to 8.5.62 (#2598)
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

fix: upgrade @aws-sdk/client-cloudfront from 3.359.0 to 3.370.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @pulumi/pulumi from 3.73.0 to 3.76.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

feat(botonic-react): to be able to render images sent to the bot by the user
  packages/botonic-react/src/util/environment.js
Due: react

feat(botonic-react): add imagePreviewer in ThemeProps
  packages/botonic-react/src/components/index-types.ts
Due: react

refactor(botonic-react): pass WebchatSettings component to typescript with WebchatSettingsProps
  packages/botonic-react/src/components/webchat-settings.tsx
Due: react

feat(botonic-react): use data:image for first message Image render
  packages/botonic-react/src/components/image.jsx
  packages/botonic-react/src/util/environment.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

botonic-react: render images sent to the bot by user (#2602)
  packages/botonic-react/src/components/image.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

botonic-react: add imagePreviewer in ThemeProps (#2603)
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/util/environment.js
Due: react

botonic-react: WebchatSettings with typescript (#2604)
  packages/botonic-react/src/components/webchat-settings.tsx
Due: react

feat(botonic-react): multichannel transforms a Text with 4 or more buttons to a WhatsappButtonList component when the provider is whatsapp
  packages/botonic-react/src/components/multichannel/index-types.ts
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
Due: react

test(botonic-react): update tests for multichannel-text
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
Due: react

refactor(botonic-react): row description in WhatsappButtonList is optional
  packages/botonic-react/src/components/whatsapp-button-list.tsx
Due: react

feat(botonic-react): when split into multiple messages if the last message has less than 4 buttons it is not a WhatsappButtonList
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

feat(botonic-react): add logic to be able to use button path inside WhatsappButtonList
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

chore(botonic-react): publish 0.23.1-alpha.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

refactor(botonic-react): remove console.log
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
Due: react

docs(plugin-flow-builder): update github url in REDME and update docs
  docs/docs/plugins/plugin-flow-builder.md
  docs/package-lock.json
  packages/botonic-plugin-flow-builder/README.md
Due: plugin-flow-builder

docs(plugin-flow-builder): update github url in REDME and update docs (#2607)
  docs/docs/plugins/plugin-flow-builder.md
  docs/package-lock.json
  packages/botonic-plugin-flow-builder/README.md
Due: plugin-flow-builder

WIP
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: plugin-flow-builder

refactor(react): upgrade emoji-picker-react and adapt its use to new api
  packages/botonic-react/package-lock.json
Due: react

refactor(react): adapt to new react-textarea-autosize, upgrade react deps
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(react): downgrade text-area to run tests
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(botonic-react): create a textarea component
  packages/botonic-react/src/webchat/components/textarea/styles.ts
  packages/botonic-react/src/webchat/components/textarea/textarea.tsx
Due: react

feat(botonic-react): create a hook to manage state and functions of textarea
  packages/botonic-react/src/webchat/components/textarea/index.ts
  packages/botonic-react/src/webchat/components/textarea/use-text-area.ts
Due: react

refactor(botonic-react): remove textarea-autosize and use new Textarea component
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(botonic-react): remove react-textarea-autosize, add types of styled-components and @babel/preset-typescript
  packages/botonic-react/babel.config.js
  packages/botonic-react/package.json
Due: react

feat(botonic-react): add autosize feature to textarea
  packages/botonic-react/src/webchat/components/textarea/use-text-area.ts
Due: react

refactor(botonic-react): add styles, ref and rows to textarea component
  packages/botonic-react/src/webchat/components/textarea/styles.ts
  packages/botonic-react/src/webchat/components/textarea/textarea.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(botonic-react): add options in tsconfig
  packages/botonic-react/tsconfig.json
Due: react

feat(botonic-react): add functions to use emoji picker inside textarea
  packages/botonic-react/src/webchat/components/textarea/use-text-area.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(botonic-react): add px at the end of string
  packages/botonic-react/src/webchat/devices/device-adapter.js
Due: react

WIP
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/webchat/components/textarea/use-text-area.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(botonic-react): typo error
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
Due: react

refactor(botonic-react): use a constant to decide if it is a Text or a WhatsappButtonList
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

refactor(botonic-react): change the default text of the button to open the whatsapp button list
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
Due: react

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  nlp: any of: ^packages/botonic-nlp
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
  plugin-ner: any of: ^packages/botonic-plugin-ner/
  plugin-intent-classification: any of: ^packages/botonic-plugin-intent-classification/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
