Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

chore: increase maximum allowed complexity to 19 temporarily
  packages/.eslintrc.js
Due: none

chore(core): bump to 0.11.2
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

chore(react): bump to 0.11.2
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix: updating last messages depending on last message update
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react

fix: remove redundant or and check lastMessageUpdateDate on init
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: core, react

feat: botonic retrain
  package.json
  packages/botonic-cli/src/commands/retrain.ts
Due: none

chore(contentful): new content cloners
  .editorconfig
  package.json
  packages/botonic-plugin-contentful/src/cms/contents.ts
Due: contentful

fix(contentful): iundefineable contentful empty text fields
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
Due: contentful

chore(contentful): followUp now readonly
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
Due: contentful

chore(contentful): ValueObject implemented in Callback & ContentId
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/index.ts
  packages/botonic-plugin-contentful/src/util/index.ts
  packages/botonic-plugin-contentful/src/util/objects.ts
Due: contentful

chore(contentful): temporarily don't throw exceptions if empty models
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/ignore-fallback-decorator.ts
  packages/botonic-plugin-contentful/src/contentful/traverser.ts
  packages/botonic-plugin-contentful/src/tools/translators/csv-export.ts
Due: contentful

chore(contentful): improve content builders
  packages/botonic-plugin-contentful/src/cms/factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
Due: contentful

chore(contentful): backup of changed contentful contents
  packages/botonic-plugin-contentful/bin/export_contentful_full.sh
  packages/botonic-plugin-contentful/exports/contentful-export-0.11.3.json
  packages/botonic-plugin-contentful/exports/images.ctfassets.net/p2iyhzd1u4a7/1T0ntgNJnDUSwz59zGMZO6/ed6772d3a7b426025540c879b9d95347/red.jpg
  packages/botonic-plugin-contentful/exports/images.ctfassets.net/p2iyhzd1u4a7/23NvfajFblC9UGWkGbNCwi/6372270c8b117cc903c13a8a5e131580/blue.jpg
  packages/botonic-plugin-contentful/exports/images.ctfassets.net/p2iyhzd1u4a7/5PhfCpBpMK01RuBxhMAYv/c181e94d4ac03daea09333ddb731698f/black.jpg
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

chore(contentful): log causing exception in ErrorReportingCMS
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
Due: contentful

feat(contentful): contentful carousel had no followup
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
Due: contentful

fix: lastretrainingdata setting up if not defined
  packages/botonic-cli/src/botonicapiservice.ts
  packages/botonic-cli/src/commands/retrain.ts
Due: none

chore(react): add unit tests for webchat (useWebchat)
  packages/botonic-react/tests/webchat/useWebchat.test.js
Due: react

feat(react): testing-library/react-hooks
  packages/botonic-react/package.json
Due: react

fix(react): fix newlines when Multichannel in 1 message
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/deepmap-with-index.js
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-wrapper.test.jsx
Due: react

feat(react): customize multichannel visualization
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-context.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-button.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel-multibutton.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-button.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel-multibutton.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
Due: react

feat(react): multichannel button to support letter index
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
Due: react

feat(react): compact multichannel text & carousel
  packages/botonic-plugin-contentful/jest.setup.js
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: contentful, react

feat(react): multichannel oneMessagePerComponent prop
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-context.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-carousel-multibutton.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-wrapper.test.jsx
Due: react

fix(react): texts within MultiChannel were not separated with \n
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/deepmap-with-index.js
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-wrapper.test.jsx
Due: react

feat(react): Text.serialize to support only buttons
  packages/botonic-react/src/components/text.jsx
Due: react

fix(react): set unique keys for multichannel components
  packages/botonic-react/src/msg-to-botonic.jsx
Due: react

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
