Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

update CHANGELOGs
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-knowledge-bases/CHANGELOG.md
Due: plugin-flow-builder

plugin-knowledge-base & plugin-flow-builder: update to use endpoint v2 #BLT-1408 (#2984)
  package-lock.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
  packages/botonic-plugin-knowledge-bases/CHANGELOG.md
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-knowledge-bases/src/hubtype-knowledge-api-service.ts
  packages/botonic-plugin-knowledge-bases/src/index.ts
  packages/botonic-plugin-knowledge-bases/src/types.ts
Due: plugin-flow-builder

feat(btonic-plugin-flow-builder): Use the queue's availability endpoint from External API #PLA-2771
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
Due: plugin-flow-builder

Add CHANGELOG entry
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: plugin-flow-builder

feat(btonic-plugin-flow-builder): Use the queue's availability endpoint from External API #PLA-2771 (#2987)
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
Due: plugin-flow-builder

tests: fix core package test
  packages/botonic-core/tests/handoff.test.ts
Due: core

chore: add type for CaseEventQueuePositionChangedInput
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/index-types.ts
Due: core, react

feat: support queue_position_changed event
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
Due: core

feat: support has_queue_position_changed_notifications_enabled in plugin flow builder
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/handoff.ts
Due: plugin-flow-builder

chore: bump alpha versions for QA
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: core, react, plugin-flow-builder

fix: type to reference variable
  packages/botonic-core/src/models/legacy-types.ts
Due: core

feat(core/plugin-flow-builder): add support for notifying queue position changed #BLT-1449 (#2985)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/handoff.ts
  packages/botonic-react/package.json
  packages/botonic-react/src/index-types.ts
Due: core, react, plugin-flow-builder

chore: do run npm version '0.33.0' on each package
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder, hubtype-analytics

chore: update dependencies within packages
  package-lock.json
  packages/botonic-dx/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: dialogflow, dynamodb, react, google-analytics, plugin-flow-builder, hubtype-analytics

chore: update CHANGELOG dates
  packages/botonic-core/CHANGELOG.md
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-knowledge-bases/CHANGELOG.md
Due: core, plugin-flow-builder

chore: publish all packages
  package-lock.json
Due: none

chore: bump and publish all templates
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/flow-builder-typescript/package.json
  examples/flow-builder-typescript/src/server/config.ts
  examples/flow-builder-typescript/src/server/utils/env-utils.ts
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
Due: none

chore: bump and publish botonic-cli
  packages/botonic-cli/src/botonic-examples.ts
Due: cli

feat: remove files from package.json
  examples/flow-builder-typescript/package.json
Due: none

feat: remove files from package.json (#2990)
  examples/flow-builder-typescript/package.json
Due: none

feat: prepare handoffState
  packages/botonic-react/src/components/webchat-settings.tsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/context/actions.ts
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/context/webchat-reducer.ts
  packages/botonic-react/src/webchat/theme/types.ts
  packages/botonic-react/src/webchat/webchat-dev.jsx
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/tests/webchat/usewebchat.test.jsx
Due: react

wip
  packages/botonic-react/src/components/webchat-settings.tsx
  packages/botonic-react/src/webchat/webchat.tsx
Due: react

wip: added QueuePositionChanged and StatusChanged actions to framework, and first basic approach for handoff informative banner
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-react/src/webchat/chat-area/index.tsx
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/handoff/handoff-information-banner.tsx
  packages/botonic-react/src/webchat/handoff/index.tsx
  packages/botonic-react/src/webchat/handoff/queue-position-changed-action.tsx
  packages/botonic-react/src/webchat/handoff/status-changed-action.tsx
  packages/botonic-react/src/webchat/handoff/styles.ts
  packages/botonic-react/src/webchat/index.ts
  packages/botonic-react/src/webchat/theme/types.ts
  packages/botonic-react/src/webchat/webchat.tsx
Due: core, react, plugin-flow-builder

feat: refine handoff information banner
  packages/botonic-react/src/webchat/chat-area/index.tsx
  packages/botonic-react/src/webchat/handoff/handoff-information-banner.tsx
  packages/botonic-react/src/webchat/handoff/styles.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/webchat.tsx
Due: react

wip
  examples/flow-builder-typescript/.npmrc
  examples/flow-builder-typescript/index.html
  examples/flow-builder-typescript/package-lock.json
  examples/flow-builder-typescript/package.json
  examples/flow-builder-typescript/src/client/webchat/index.ts
  examples/flow-builder-typescript/src/server/config.ts
  examples/flow-builder-typescript/src/server/plugins.ts
  examples/flow-builder-typescript/src/server/plugins/index.ts
  examples/flow-builder-typescript/src/server/plugins/pre-handoff.ts
  examples/flow-builder-typescript/src/server/routes.tsx
  examples/flow-builder-typescript/src/server/utils/actions.ts
  packages/botonic-react/src/webchat/handoff/handoff-information-banner.tsx
  packages/botonic-react/src/webchat/handoff/styles.ts
Due: react

chore: comment code to test handoff in local
  packages/botonic-core/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: core, plugin-flow-builder

refactor: remove comented code
  packages/botonic-core/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: core, plugin-flow-builder

refactor(botonic-core): remove logic related with CreateCaseTest
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/handoff.test.ts
Due: core

test: remove a test related with CreateTestCase
  packages/botonic-core/tests/core-bot/core-bot.test.ts
Due: core

chore: publish 0.34.0-alpha.0
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: core, react, plugin-flow-builder, hubtype-analytics

feat: avoid apply twice markdownMeta function
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

feat(botonic-react): return a empty string by default
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

chore: publish 0.33.1
  packages/botonic-react/package.json
Due: react

chore: package-lock
  package-lock.json
Due: none

feat: avoid apply twice markdownMeta function (#2993)
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

feat: remove default value when use getThemeProperty function and default value is defined in defaultTheme
  packages/botonic-react/src/components/buttons-disabler.js
  packages/botonic-react/src/components/carousel.tsx
  packages/botonic-react/src/components/image.tsx
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/message/message-image.tsx
  packages/botonic-react/src/components/message/timestamps.tsx
  packages/botonic-react/src/components/reply.tsx
  packages/botonic-react/src/components/webchat-settings.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/components/conditional-animation.jsx
  packages/botonic-react/src/webchat/components/opened-persistent-menu.jsx
  packages/botonic-react/src/webchat/header/default-header.tsx
  packages/botonic-react/src/webchat/header/styles.ts
  packages/botonic-react/src/webchat/input-panel/attachment.tsx
  packages/botonic-react/src/webchat/input-panel/persistent-menu.tsx
  packages/botonic-react/src/webchat/input-panel/send-button.tsx
  packages/botonic-react/src/webchat/input-panel/textarea.tsx
  packages/botonic-react/src/webchat/message-list/intro-message.tsx
  packages/botonic-react/src/webchat/message-list/use-notifications.ts
  packages/botonic-react/src/webchat/styles.ts
  packages/botonic-react/src/webchat/theme/default-theme.ts
  packages/botonic-react/src/webchat/trigger-button/index.tsx
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/src/webchat/webview/index.tsx
  packages/botonic-react/src/webchat/webview/styles.ts
Due: react

feat: remove unused constants
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/styles.ts
  packages/botonic-react/src/webchat/theme/default-theme.ts
Due: react

feat: maintain the behavior for the enable attribute of userInput attatchments and emojiPicker
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/input-panel/attachment.tsx
  packages/botonic-react/src/webchat/input-panel/emoji-picker.tsx
Due: react

feat: use defaultTheme to init theme in WebchatApp and pass it to webchatState inside the context and inside ThemeProvider
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/webchat.tsx
Due: react

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
