Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

update CHANGELOG
  packages/botonic-react/CHANGELOG.md
Due: react

publish alpha version
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: react, plugin-flow-builder

botonic-react: multichannel use quick replies if have more than 3 buttons in facebook #BLT-1802 (#3078)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react, plugin-flow-builder

feat: create updateCustomJsonMessage function inside WebchatContext
  packages/botonic-react/src/webchat/context/actions.ts
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/context/messages-reducer.ts
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/custom-messages/index.ts
  packages/botonic-react/src/webchat/custom-messages/rating/index.tsx
  packages/botonic-react/src/webchat/custom-messages/types.ts
  packages/botonic-react/src/webchat/webchat.tsx
Due: react

publish alpha versions
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: react, plugin-flow-builder

refactor: return state modified by updateMessageReducer
  packages/botonic-react/src/webchat/context/messages-reducer.ts
Due: react

publish alphas
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: react, plugin-flow-builder

publish 0.37.1
  package-lock.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: react, plugin-flow-builder

botonic: publish 0.37.1 (#3080)
  package-lock.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: react, plugin-flow-builder

refactor: rename updateCustomJsonMessage to updateCustomMessageJSON
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/src/webchat/context/actions.ts
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/context/messages-reducer.ts
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/custom-messages/rating/index.tsx
  packages/botonic-react/src/webchat/webchat.tsx
Due: react

feat: getInference function return messages and more info from inference excution
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

refactor(plugin-flow-builder): plugin flow builder use InferenceResponse
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: plugin-flow-builder

test(plugin-flow-builder): update mock for aiAgentResponse
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
Due: plugin-flow-builder

refactor: exlude ExitMessasge
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

refactor: extract function to get tools names and hasExit is true if outputMessages is an empty array
  packages/botonic-plugin-ai-agents/src/runner.ts
Due: none

wip
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/index.ts
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

Flag -> GuardrailFlag
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

test: add config for testing and create first test
  packages/botonic-plugin-ai-agents/babel.config.js
  packages/botonic-plugin-ai-agents/jest.config.js
  packages/botonic-plugin-ai-agents/jest.setup.js
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-ai-agents/tsconfig.tests.json
Due: none

chore: update github workflows
  .github/workflows/botonic-ci-test-all-packages.yml
  .github/workflows/botonic-plugin-ai-agents.yml
Due: none

console log removed
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
Due: none

simplify builder
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
Due: none

Feat: Use contact_info on AI Agent System Prompt #BLT-1779 (#3076)
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: core

plugin-ai-agents & plugin-flow-builder: create InferenceResponse for ai-agents #BLT-1803 (#3083)
  .github/workflows/botonic-ci-test-all-packages.yml
  .github/workflows/botonic-plugin-ai-agents.yml
  packages/botonic-plugin-ai-agents/babel.config.js
  packages/botonic-plugin-ai-agents/jest.config.js
  packages/botonic-plugin-ai-agents/jest.setup.js
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-ai-agents/tsconfig.tests.json
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
Due: plugin-flow-builder

test: update tests with contact_info
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
Due: none

plugin-ai-agents: update tests with contact_info (#3085)
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
Due: none

update CHANGELOG
  packages/botonic-plugin-ai-agents/CHANGELOG.md
Due: none

feat: create new ai agent event
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-ai-agent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
Due: hubtype-analytics

test: check that ai agent event has all attributes
  packages/botonic-plugin-hubtype-analytics/tests/event-ai-agent.test.ts
Due: hubtype-analytics

feat: send event after ai agent inference
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: plugin-flow-builder

test: update mock to allow mock all AiAgentInferenceResponse
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
  packages/botonic-plugin-flow-builder/tests/ai-agent.test.ts
Due: plugin-flow-builder

test: check that a ai agent event is send after inference
  packages/botonic-plugin-flow-builder/tests/tracking/track-ai-agent.test.ts
Due: plugin-flow-builder

refactor: pass all interfaces to declare events for hubtype analytics in botonic/core
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: core, hubtype-analytics

refactor(plugin-flow-builder): use types for all events
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/payload.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-rating.test.ts
Due: plugin-flow-builder

refactor(botonic-react): update event feedback using types from botonic/core
  packages/botonic-react/src/webchat/tracking.ts
Due: react

feat: add track functions for custom event and feedback event
  packages/botonic-react/src/webchat/tracking.ts
Due: react

feat(plugin-flow-builder): not use firstInteractionContents when contentID is provided
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
Due: plugin-flow-builder

refactor: create hubtype-analytics interfaces and enums in @botonic/core #BLT-1806 (#3087)
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/payload.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-rating.test.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-react/src/webchat/tracking.ts
Due: core, react, plugin-flow-builder, hubtype-analytics

refactor: pass EventAiAgent to core and reuse types in plugin-flow-builder
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-ai-agent.test.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: core, plugin-flow-builder, hubtype-analytics

refactor: use events names imported from core
  packages/botonic-plugin-flow-builder/tests/tracking/track-fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-smart-intent.test.ts
Due: plugin-flow-builder

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
