Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

chore(core): add missing types and bump to next rc
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/index.js
Due: core

feat: add new package botonic-plugin-inbenta
  packages/botonic-plugin-inbenta/README.md
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-inbenta/src/index.js
Due: none

chore: add to-documentate section in pr template
  .github/pull_request_template.md
Due: none

wip: refactoring media part
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react

refactor(react): add message utilities (types and attachment)
  packages/botonic-react/src/message-utils.js
Due: react

refactor(react): renaming improvements
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/message-utils.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/attachments.test.js
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

feat(react): add max attach. size to 10MB and move logic to reducer
  packages/botonic-react/src/message-utils.js
  packages/botonic-react/src/webchat/actions.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

refactor(react): minor msg isType refactor, attachments and some tests
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/message-utils.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/attachments.test.js
Due: react

refactor(react): use @botonic/core input types, refactored sendInput in webchat.jsx
  packages/botonic-react/src/botonic-tester.jsx
  packages/botonic-react/src/components/audio.jsx
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/components/custom-message.jsx
  packages/botonic-react/src/components/document.jsx
  packages/botonic-react/src/components/image.jsx
  packages/botonic-react/src/components/location.jsx
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/text.jsx
  packages/botonic-react/src/components/video.jsx
  packages/botonic-react/src/components/whatsapp-template.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat-dev.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webview.jsx
Due: react

fix(react): allow also urls for webchat properties
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/components/common.jsx
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/message-list.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): close emoji when click on the webchat
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): blobTick border
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/constants.js
Due: react

feat(react): blobTickStyle
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

style(react): add background color for trigger button
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

fix(react): getTriggerImage
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): useComponentVisible to close emojiPicker and menu
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/actions.jsx
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
  packages/botonic-react/src/webchat/components/persistent-menu.jsx
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webchat/webview.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

chore(react): update emoji picker
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
Due: react

feat(react): markdown support
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/markdown.js
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/text.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/tests/components/__snapshots__/text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel-multibutton.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/render-markdown.test.jsx
  packages/botonic-react/tests/components/text-serialization.test.jsx
Due: react

chore(react): simplify text tests
  packages/botonic-react/src/components/markdown.js
  packages/botonic-react/tests/components/render-markdown.test.jsx
  packages/botonic-react/tests/components/text-serialization.test.jsx
Due: react

fix(react): handle parent page scrolling issues on iOS
  packages/botonic-react/src/keyboard-resizer.js
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/devices/index.js
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/devices/webchat-resizer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(react): rewrite with early returns
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/devices/webchat-resizer.js
Due: react

Create README.md
  packages/botonic-nlu/README.md
Due: none

fix(react): only apply markdown prop to text messages
  packages/botonic-react/src/components/message.jsx
Due: react

chore(contentful): eslint_slow moved & expanded
  packages/.eslintrc_slow.js
  packages/botonic-cli/templates/handoff/src/actions/transfer-agent.jsx
  packages/botonic-plugin-contentful/.eslintrc_slow.js
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/search/search-by-keywords.ts
  packages/botonic-plugin-contentful/src/search/search.ts
  packages/botonic-plugin-contentful/src/util/enums.ts
  packages/botonic-plugin-contentful/src/util/objects.ts
  packages/botonic-plugin-contentful/tests/cms/cms-error.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/carousel.test.ts
  packages/botonic-plugin-dynamodb/.eslintrc_slow.js
  packages/botonic-plugin-dynamodb/package.json
Due: contentful, dynamodb

fix(react): set scrollbar to bottom on webchat open
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/components/styled-scrollbar.scss
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore: node & import eslint plugin
  package-lock.json
  package.json
  packages/.eslintrc.js
Due: none

chore(contentful): chores due after eslint import plugin
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/tools/translators/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/translators/import-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
Due: contentful

chore(contentful): eslint import plugin: fix import paths
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/cache.ts
  packages/botonic-plugin-contentful/src/contentful/search/keywords.ts
  packages/botonic-plugin-contentful/src/contentful/search/searchable-by.ts
  packages/botonic-plugin-contentful/src/time/schedule.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
  packages/botonic-plugin-contentful/tests/tools/translators/csv-export.test.ts
Due: contentful
