Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

botonic-react: Webchat component with typescript (#2947)
  package-lock.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/actions.ts
  packages/botonic-react/src/webchat/global.d.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/styles.ts
  packages/botonic-react/src/webchat/webchat-reducer.ts
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/tests/webchat/storage.test.jsx
Due: react

chore(botonic-react): upgrade the react version to 18
  package-lock.json
Due: none

refacor(botonic-react): apply new react 18 createRoot.render
  packages/botonic-react/src/webchat-app.tsx
Due: react

test(botonic-react): fix tests
  packages/botonic-react/src/webchat-app.tsx
Due: react

refactor(botonic-react): WIP create WebchatAppProps and fis many types used in WebchatApp
  package-lock.json
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/webchat-app.tsx
Due: core, react

WIP
  package-lock.json
  packages/botonic-react/src/webchat-app.tsx
Due: react

refactor(botonic-core): accept lastMessageId, lastMessageUpdateDate and server as undefined
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-react/src/webchat-app.tsx
Due: core, react

test(botonic-core): fix test
  packages/botonic-core/src/hubtype-service.ts
Due: core

refactor(botonic-react): split in diferents files Header component an use typescript
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/header/default-header.tsx
  packages/botonic-react/src/webchat/header/index.tsx
  packages/botonic-react/src/webchat/header/styles.ts
Due: react

refactor(botonic-react): group the types in index-types files
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/webchat-app.tsx
Due: react

chore(botonic-react): update CHANGELOG
  packages/botonic-react/CHANGELOG.md
Due: react

botonic-react: Header component with typescript (#2949)
  package-lock.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/header/default-header.tsx
  packages/botonic-react/src/webchat/header/index.tsx
  packages/botonic-react/src/webchat/header/styles.ts
Due: react

refactor(botonic-react): create type for useWebchat return
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
Due: react

refactor(botonic-react): use typescript in customMeesage function
  packages/botonic-react/src/components/custom-message.tsx
Due: react

refactor(botonic-react): remove unused them in StyledButton
  packages/botonic-react/src/components/button.tsx
Due: react

refactor(botonic-react): use typescript for util/webchat file
  packages/botonic-react/src/util/webchat.ts
Due: react

refactor(botonic-react): check repliesRef.current instead of repliesRef
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
Due: react

refactor(botonic-react): fis some small errors with types
  packages/botonic-react/src/webchat/hooks/use-previous.ts
  packages/botonic-react/src/webchat/input-panel/attachment.tsx
  packages/botonic-react/src/webchat/input-panel/emoji-picker.tsx
  packages/botonic-react/src/webchat/input-panel/index.tsx
  packages/botonic-react/src/webchat/input-panel/textarea.tsx
Due: react

refactor(plugin-flow-builder): declare context to have correct type
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: plugin-flow-builder

chore(botonic-react): add @types for ua-parser-js
  package-lock.json
  package.json
  packages/botonic-react/package.json
Due: react

botonic-react: some little changes using typescript (#2950)
  package-lock.json
  package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
  packages/botonic-react/src/components/button.tsx
  packages/botonic-react/src/components/custom-message.tsx
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat/hooks/use-previous.ts
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/input-panel/attachment.tsx
  packages/botonic-react/src/webchat/input-panel/emoji-picker.tsx
  packages/botonic-react/src/webchat/input-panel/index.tsx
  packages/botonic-react/src/webchat/input-panel/textarea.tsx
Due: react, plugin-flow-builder

chore(botonic-react): add as a dev dependency @types/lodash.merge
  package-lock.json
Due: none

refactor(botonic-react): use Fragment with key
  packages/botonic-react/src/webchat/message-list/index.tsx
Due: react

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
