Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

docs(introduction): test in the first paragraph
  docs/1.introduction/index.mdx
Due: none

docs(section index.mdx and create-convapp.mdx): update content after feedback
  docs/1.introduction/1.index.mdx
  docs/3.tutorials/4.create-convapp.mdx
  docs/6.supported-platforms/20.supported-platforms.mdx
Due: none

docs(all sections):updating the links within the docs and fix content
  docs/1.introduction/1.index.mdx
  docs/2.getting-started/2.getting-started.mdx
  docs/3.tutorials/4.create-convapp.mdx
  docs/4.templates/1.templates.mdx
  docs/4.templates/2.template-custom-webchat.mdx
  docs/4.templates/3.childs.mdx
  docs/4.templates/4.template-dynamic-carousel.mdx
  docs/4.templates/5.template-human-handoff.mdx
  docs/4.templates/6.template-nlu.mdx
  docs/5.concepts/10.actions.mdx
  docs/5.concepts/11.botonic_settings.mdx
  docs/5.concepts/12.components.mdx
  docs/5.concepts/14.humanhandoff.mdx
  docs/5.concepts/15.i18n.mdx
  docs/5.concepts/16.nlu.mdx
  docs/5.concepts/17.routes.mdx
  docs/5.concepts/18.webchat.mdx
  docs/5.concepts/19.webviews.mdx
  docs/6.supported-platforms/20.supported-platforms.mdx
  docs/7.plugins/21.botonic-plugins.mdx
  docs/7.plugins/22.using-plugins.mdx
  docs/7.plugins/23.plugin-contentful.mdx
  docs/8.project/project-structure.mdx
  docs/9.test-deploy/1.testing-your-components.mdx
  docs/9.test-deploy/2.deployment.mdx
Due: none

docs(create-convapp): reestructure steps and minor fixes
  docs/3.tutorials/4.create-convapp.mdx
Due: none

docs(2.getting-started.mdx):update contents
  docs/2.getting-started/2.getting-started.mdx
Due: none

docs(section 2.getting-started.mdx): Add node version
  docs/2.getting-started/2.getting-started.mdx
Due: none

docs(2.getting-started.mdx): node version updated and fixed typos in all other files
  docs/2.getting-started/2.getting-started.mdx
  docs/3.tutorials/4.create-convapp.mdx
  docs/4.templates/2.template-custom-webchat.mdx
  docs/4.templates/6.template-nlu.mdx
  docs/5.concepts/10.actions.mdx
  docs/5.concepts/12.components.mdx
  docs/5.concepts/16.nlu.mdx
  docs/5.concepts/18.webchat.mdx
  docs/5.concepts/19.webviews.mdx
  docs/7.plugins/23.plugin-contentful.mdx
Due: none

Docs/new-documentation (#655)
  docs/1.introduction/1.index.mdx
  docs/1.introduction/index.mdx
  docs/2.getting-started/1.installation.mdx
  docs/2.getting-started/2.creating-your-first-bot.md
  docs/2.getting-started/2.getting-started.mdx
  docs/3.main-concepts/9_2.channels.mdx
  docs/3.tutorials/4.create-convapp.mdx
  docs/3.tutorials/7.testing-your-componentsold.md
  docs/4.templates/1.templates.mdx
  docs/4.templates/2.template-custom-webchat.mdx
  docs/4.templates/3.childs.mdx
  docs/4.templates/4.template-dynamic-carousel.mdx
  docs/4.templates/5.template-human-handoff.mdx
  docs/4.templates/6.template-nlu.mdx
  docs/5.concepts/10.actions.mdx
  docs/5.concepts/11.botonic_settings.mdx
  docs/5.concepts/12.components.mdx
  docs/5.concepts/14.humanhandoff.mdx
  docs/5.concepts/15.i18n.mdx
  docs/5.concepts/16.nlu.mdx
  docs/5.concepts/17.routes.mdx
  docs/5.concepts/18.webchat.mdx
  docs/5.concepts/19.webviews.mdx
  docs/6.supported-platforms/20.supported-platforms.mdx
  docs/7.plugins/21.botonic-plugins.mdx
  docs/7.plugins/22.using-plugins.mdx
  docs/7.plugins/23.plugin-contentful.mdx
  docs/8.project/project-structure.mdx
  docs/9.test-deploy/1.testing-your-components.mdx
  docs/9.test-deploy/2.deployment.mdx
Due: none

fix: fix numbering issues in prod build
  docs/1.introduction/1.index.mdx
  docs/2.getting-started/2.getting-started.mdx
  docs/3.tutorials/3.create-convapp.mdx
  docs/4.templates/1.templates.mdx
  docs/4.templates/2.template-custom-webchat.mdx
  docs/4.templates/3.childs.mdx
  docs/4.templates/4.template-dynamic-carousel.mdx
  docs/4.templates/5.template-human-handoff.mdx
  docs/4.templates/6.template-nlu.mdx
  docs/5.concepts/10.actions.mdx
  docs/5.concepts/11.botonic_settings.mdx
  docs/5.concepts/12.components.mdx
  docs/5.concepts/14.humanhandoff.mdx
  docs/5.concepts/15.i18n.mdx
  docs/5.concepts/16.nlu.mdx
  docs/5.concepts/17.routes.mdx
  docs/5.concepts/18.webchat.mdx
  docs/5.concepts/19.webviews.mdx
  docs/6.supported-platforms/20.supported-platforms.mdx
  docs/7.plugins/21.botonic-plugins.mdx
  docs/7.plugins/22.using-plugins.mdx
  docs/7.plugins/23.plugin-contentful.mdx
  docs/8.project/project-structure.mdx
  docs/9.test-deploy/1.testing-your-components.mdx
  docs/9.test-deploy/2.deployment.mdx
Due: none

chore(core): getOnFinishParams log if error & tests
  packages/botonic-core/src/router.js
  packages/botonic-core/src/router.test.js
Due: core

chore: split complex methods & limit complexity to 18
  package-lock.json
  package.json
  packages/.eslintrc.js
  packages/botonic-core/src/router.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: core, react

chore(react): move webchatReducer to its own file
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: react

chore(core/react): improve index.d.ts
  packages/botonic-core/index.d.ts
  packages/botonic-react/src/index.d.ts
  packages/index.ts
Due: core, react

chore(contentful/dynamo): use unified eslintrc.js
  packages/botonic-plugin-contentful/.eslintrc.js
  packages/botonic-plugin-contentful/.eslintrc_slow.js
  packages/botonic-plugin-contentful/jest.config.js
  packages/botonic-plugin-contentful/tests/__mocks__/file-mock.js
  packages/botonic-plugin-dynamodb/.eslintrc.js
  packages/botonic-plugin-dynamodb/.eslintrc_slow.js
Due: contentful, dynamodb

chore: move most eslint rules config to root .eslintrc.js
  packages/.eslintrc.js
Due: none

chore(react): fix eslint warnings
  packages/botonic-react/.eslintrc.js
  packages/botonic-react/jest.config.js
  packages/botonic-react/src/index.js
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/__mocks__/file-mock.js
Due: react

chore(nlu): fix eslint warnings
  packages/botonic-nlu/src/file-utils.js
  packages/botonic-nlu/src/utils.js
Due: none

chore(react): avoid that only some paths return something
  packages/botonic-react/src/botonic-tester.jsx
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-reply.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(dashbot/watson): use import instead of require
  packages/botonic-plugin-dashbot/src/index.js
  packages/botonic-plugin-watson/src/index.js
Due: dashbot, watson

fix(react): postMessage Promise was not forwarded
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webview.jsx
Due: react

chore(react): unify call to renderBrowser/renderNode
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/element.jsx
  packages/botonic-react/src/components/location.jsx
  packages/botonic-react/src/components/message-template.jsx
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/pic.jsx
  packages/botonic-react/src/components/reply.jsx
  packages/botonic-react/src/components/share-button.jsx
  packages/botonic-react/src/components/subtitle.jsx
  packages/botonic-react/src/components/title.jsx
  packages/botonic-react/src/components/whatsapp-template.jsx
  packages/botonic-react/src/utils.js
Due: react

chore(core): fix eslint warnings
  packages/botonic-core/src/handoff.test.js
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-core/src/i18n.js
  packages/botonic-core/src/router.test.js
  packages/botonic-core/src/utils.js
Due: core

chore(react): eslint plugin for react hooks
  package-lock.json
  package.json
  packages/botonic-react/.eslintrc.js
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/webchat/session-view.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(contentful): report when buttons or followups fail
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/tools/validate-all-contents.ts
Due: contentful

chore(contentful): check if linked entry is available
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/traverser.ts
Due: contentful

chore(contentful): use ContextWithLocale if locale required
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/search/search-by-keywords.ts
  packages/botonic-plugin-contentful/src/search/search.ts
Due: contentful

test(contentful): new test & use ErrorReportingCMS
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/search/search.integration.test.ts
Due: contentful

test(contentful): adapt to changes in contentful contents
  packages/botonic-plugin-contentful/tests/contentful/contents/carousel.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
  packages/botonic-plugin-contentful/tests/contentful/ignore-fallback-decorator.test.ts
Due: contentful

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
