Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

refacgtor(plugin-flow-builder): remove old payload from button
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/button.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add jest and github action config
  .github/workflows/botonic-plugin-flow-builder-tests.yml
  packages/botonic-plugin-flow-builder/babel.config.js
  packages/botonic-plugin-flow-builder/jest.config.js
  packages/botonic-plugin-flow-builder/jest.setup.js
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/tsconfig.tests.json
Due: plugin-flow-builder

test(plugin-flow-builder): add test for first-interaction and bot action node
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder

refactor(botonic-react): refactor how urlIcon is resolved + change style
  packages/botonic-react/src/components/button.jsx
Due: react

chore(plugin-flow-builder): rebase with master
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): use conditional outside updateBotActionPayload function, and rename constant
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

test(plugin-flow-builder): create getContentsAfterPreAndBotonicInit to reuse code
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder

plugin-flow-builder: bot action limit characters (#2817)
  .github/workflows/botonic-plugin-flow-builder-tests.yml
  package-lock.json
  packages/botonic-plugin-flow-builder/babel.config.js
  packages/botonic-plugin-flow-builder/jest.config.js
  packages/botonic-plugin-flow-builder/jest.setup.js
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/button.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tsconfig.tests.json
Due: plugin-flow-builder

Botonic-React: add url icon theme property (#2816)
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/assets/url-icon.png
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/constants.js
Due: react

fix: packages/botonic-react/package.json & packages/botonic-react/package-lock.json to reduce vulnerabilities
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

test(plugin-flow-builder): update flow and split first interaction and bot action tests
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add a test for keyword
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add a test for fallback
  packages/botonic-plugin-flow-builder/tests/fallback.test.ts
Due: plugin-flow-builder

test(plugin-flow-builder): rename testFlow to basicFlow
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/flows/basic.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): rename function that update request before routes
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

test(plugin-flow-builder): move flows folder into helpers folder
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): pass the function getSmartIntentNodeByInput to a SmartIntentsApi class to implement a mock
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

test(plugin-flow-builder): create a mock and test for smart intent
  packages/botonic-plugin-flow-builder/tests/__mocks__/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/smart-intents.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add a test to check smart intent Other
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): rename function
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

plugin-flow-builder: fallback , keyword, smart-intent tests (#2820)
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/smart-intents.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
Due: plugin-flow-builder

fix: packages/botonic-cli/package.json to reduce vulnerabilities
  packages/botonic-cli/package.json
Due: cli

refactor(plugin-flow-builder): create QueuesApi class and then a mockQueueAvailability for test handoff
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/conditional-queue.ts
Due: plugin-flow-builder

test(plugin-flow-builder): create a test for handoff
  packages/botonic-plugin-flow-builder/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
Due: plugin-flow-builder

test(plugin-flow-builder): remove smart intents from basic flow
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
Due: plugin-flow-builder

test(plugin-flow-builder): rename QueueApi to HubtypeQueuesApi
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/conditional-queue.ts
Due: plugin-flow-builder

plugin-flow-builder: handoff test (#2821)
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/conditional-queue.ts
  packages/botonic-plugin-flow-builder/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test for conditional channel
  packages/botonic-plugin-flow-builder/tests/conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test for conditional country
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test for conditional bot variable
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
Due: plugin-flow-builder

refactor: smart intents inference to v2
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

chore(plugin-flow-builder): add jest config
  packages/botonic-plugin-hubtype-analytics/babel.config.js
  packages/botonic-plugin-hubtype-analytics/jest.config.js
  packages/botonic-plugin-hubtype-analytics/jest.setup.js
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.tests.json
Due: hubtype-analytics

fix(plugin-flow-builder): fix call params and passing smartIntentsConfig
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

refactor: rename type and update CHANGELOG.md
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

botonic-react: Fix webviews not closing on fb
  packages/botonic-react/src/webview-app.tsx
Due: react

refactor: apply suggestions, simplify code
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
Due: plugin-flow-builder

fix: convert incoming config to camelCase
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): replace rating events for feedback event
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-agent-rating.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-bot-rating.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-channel-rating.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-faq-useful.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: hubtype-analytics

test(plugin-flow-builder): add a test for feedback event
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
Due: hubtype-analytics

refactor(plugin-hubtype-analytics): fix types to pass tests
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-bot-ai-model.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-bot-keyword-model.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-bot-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-fail.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-success.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
Due: hubtype-analytics

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
