Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

docs(humanhandoff, webchat, plugins)
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
Due: none

docs(components, webchat, humanhandoff)
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-whatsapptemp.md
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/website/sidebars.json
Due: none

docs(humanhandoff)
  doc-botonic/docs/concepts/14.humanhandoff.md
Due: none

docs(all files)
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/concepts/19.webviews.md
  doc-botonic/docs/concepts/20.nlu.md
  doc-botonic/docs/getting-started.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
  doc-botonic/docs/plugins/plugin-analytics.md
  doc-botonic/docs/plugins/plugin-contentful.md
  doc-botonic/docs/plugins/plugin-luis.md
  doc-botonic/docs/plugins/plugin-nlu.md
  doc-botonic/docs/plugins/plugin-segment.md
  doc-botonic/docs/supported-platforms.md
  doc-botonic/docs/test-deploy/2.deployment.md
  doc-botonic/docs/welcome.md
  doc-botonic/website/sidebars.json
Due: none

docs(various files)
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
  doc-botonic/docs/plugins/createname-plugin1.md
  doc-botonic/docs/plugins/plugin-segment.md
Due: none

docs:(components-whatsapptemp)
  doc-botonic/docs/components/components-whatsapptemp.md
  doc-botonic/website/sidebars.json
Due: none

docs:(components button, handoff, webchat)
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/18.webchat.md
Due: none

docs: (plugins and webchat files)
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
  doc-botonic/docs/plugins/createname-plugin1.md
Due: none

fix(cli): fix template tests & add to CI
  .github/workflows/botonic-cli-tests.yml
  packages/botonic-cli/templates/blank/tests/app.test.js
  packages/botonic-cli/templates/childs/tests/app.test.js
  packages/botonic-cli/templates/custom-webchat/tests/app.test.js
  packages/botonic-cli/templates/dynamic-carousel/tests/app.test.js
  packages/botonic-cli/templates/dynamodb/tests/app.test.js
  packages/botonic-cli/templates/handoff/tests/app.test.js
  packages/botonic-cli/templates/intent/tests/app.test.js
  packages/botonic-cli/templates/nlu/tests/app.test.js
  packages/botonic-cli/templates/tutorial/src/actions/media.jsx
  packages/botonic-cli/templates/tutorial/tests/app.test.js
Due: none

chore(cli): rename js to jsx
  packages/botonic-cli/templates/childs/src/actions/bacon.jsx
  packages/botonic-cli/templates/childs/src/actions/cheese.jsx
  packages/botonic-cli/templates/childs/src/actions/hi.jsx
  packages/botonic-cli/templates/childs/src/actions/pasta.jsx
  packages/botonic-cli/templates/childs/src/actions/pizza.jsx
  packages/botonic-cli/templates/childs/src/actions/sausage.jsx
  packages/botonic-cli/templates/childs/src/actions/tomato.jsx
  packages/botonic-cli/templates/custom-webchat/src/actions/carousel.jsx
  packages/botonic-cli/templates/custom-webchat/src/actions/help.jsx
  packages/botonic-cli/templates/custom-webchat/src/actions/not-found.jsx
  packages/botonic-cli/templates/custom-webchat/src/actions/show-buttons.jsx
  packages/botonic-cli/templates/custom-webchat/src/actions/show-replies.jsx
  packages/botonic-cli/templates/custom-webchat/src/actions/start.jsx
  packages/botonic-cli/templates/dynamic-carousel/src/actions/get-shirts.jsx
  packages/botonic-cli/templates/dynamic-carousel/src/actions/hi.jsx
  packages/botonic-cli/templates/handoff/src/actions/thanks.jsx
  packages/botonic-cli/templates/tutorial/src/actions/404.jsx
  packages/botonic-cli/templates/tutorial/src/actions/age.jsx
  packages/botonic-cli/templates/tutorial/src/actions/buttons.jsx
  packages/botonic-cli/templates/tutorial/src/actions/bye.jsx
  packages/botonic-cli/templates/tutorial/src/actions/carousel.jsx
  packages/botonic-cli/templates/tutorial/src/actions/closed_webview.jsx
  packages/botonic-cli/templates/tutorial/src/actions/end.jsx
  packages/botonic-cli/templates/tutorial/src/actions/funny.jsx
  packages/botonic-cli/templates/tutorial/src/actions/multilanguage.jsx
  packages/botonic-cli/templates/tutorial/src/actions/quickreply.jsx
  packages/botonic-cli/templates/tutorial/src/actions/quickreply_response.jsx
  packages/botonic-cli/templates/tutorial/src/actions/start.jsx
  packages/botonic-cli/templates/tutorial/src/actions/webviews.jsx
  packages/botonic-cli/templates/tutorial/src/actions/webviews_response.jsx
Due: none

chore(examples): build in CI
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-examples-tests.yml
  examples/hubtype_demo/cms.ts
  examples/hubtype_demo/package.json
Due: none

feat(docs): scaffold new website within docusaurus project
  doc-botonic/.gitignore
  doc-botonic/website/custom-webpack-config-plugin/index.js
  doc-botonic/website/docusaurus.config.js
  doc-botonic/website/i18n/en.json
  doc-botonic/website/package-lock.json
  doc-botonic/website/package.json
  doc-botonic/website/src/components/analytics.js
  doc-botonic/website/src/components/botDemo.js
  doc-botonic/website/src/components/homeHeader.js
  doc-botonic/website/src/components/homeHero.js
  doc-botonic/website/src/components/pageIllustration.js
  doc-botonic/website/src/components/perspectiveCodeHighlighter.jsx
  doc-botonic/website/src/css/custom.css
  doc-botonic/website/src/pages/index-new.js
  doc-botonic/website/src/pages/index.js
  doc-botonic/website/src/pages/styles.module.css
  doc-botonic/website/src/theme/Footer/index.js
  doc-botonic/website/static/img/MessagingAppsLeft.svg
  doc-botonic/website/static/img/MessagingAppsRight.svg
  doc-botonic/website/static/img/MessagingLogos.svg
  doc-botonic/website/tailwind.config.js
Due: none

fix(docs): broken links
  doc-botonic/docs/components/components-text.md
  doc-botonic/docs/components/components-webchat.md
  doc-botonic/docs/concepts/11.botonic_settings.md
  doc-botonic/docs/concepts/15.i18n.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/concepts/20.nlu.md
  doc-botonic/docs/concepts/project-structure.md
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/getting-started.md
  doc-botonic/docs/plugins/22.using-plugins.md
  doc-botonic/docs/plugins/plugin-analytics.md
  doc-botonic/docs/plugins/plugin-dynamoDB.md
  doc-botonic/docs/plugins/plugin-inbenta.md
  doc-botonic/docs/plugins/plugin-luis.md
  doc-botonic/docs/plugins/plugin-nlu.md
  doc-botonic/docs/plugins/plugin-segment.md
  doc-botonic/docs/project-structure.md
  doc-botonic/docs/supported-platforms.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
  doc-botonic/docs/templates/6.template-nlu.md
  doc-botonic/website/_redirects
Due: none

fix(docs): favicon
  doc-botonic/website/docusaurus.config.js
  doc-botonic/website/static/favicon.ico
Due: none

feat(docs): add Google Optimize intergation
  doc-botonic/website/src/components/analytics.js
Due: none

fix(cli): fix env var name to disable telemetry
  packages/botonic-cli/scripts/postinstall.js
Due: none

chore(dynamo): do not rebuild dynamo plugin
  packages/botonic-cli/templates/dynamodb/babel.config.js
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/dynamodb/src/actions/hi.jsx
  packages/botonic-cli/templates/dynamodb/src/plugins.js
  packages/botonic-cli/templates/dynamodb/webpack.config.js
Due: none

test(cli): fix intent template test
  packages/botonic-cli/templates/intent/tests/app.test.js
Due: none

fix(react): trigger onMessage in deployed bot messages
  packages/botonic-react/src/webchat-app.jsx
Due: react

style(react): types for WebChat & WebChatDev
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/src/index.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/index.d.ts
Due: react

feat(react): new getBotonicApp()
  packages/botonic-react/src/webchat/index.d.ts
  packages/botonic-react/src/webchat/index.js
Due: react

feat(contentful): new CMS.content
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/button.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
Due: contentful

feat(react): add 'storageKey' webchat setting
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/storage.test.jsx
Due: react
