Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/

      - id: core
        name: core
        entry: scripts/qa/old/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: contentful
        name: contentful
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: segment
        name: segment
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/old/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/old/lint-package.sh docs/
        language: system
        files: ^docs/

      - id: plugin-flow-builder
        name: plugin-flow-builder
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
        language: system
        files: ^packages/botonic-plugin-flow-builder/

      - id: hubtype-analytics
        name: hubtype-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
        language: system
        files: ^packages/botonic-plugin-hubtype-analytics/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          ['--baseline', '.secrets.baseline', '--exclude-files ', .*/tests/.*']
        exclude: package.lock.json
        name: Detect secrets
        description: Detects high entropy strings that are likely to be passwords.

chore(plugin-flow-builder): upgrade botonic-react dependency
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

Botonic - React: scroll to bottom when typing (#2854)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/shared/styles.ts
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/intro-message.tsx
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/message-list/unread-messages-banner.tsx
  packages/botonic-react/src/webchat/message-list/use-notifications.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: react, plugin-flow-builder

refactor(plugin-hubtype-analytics): update required attributes
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-option.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

refactor(plugin-flow-builder): track all follow ups
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: plugin-flow-builder

feat(botonic-react): change staticAsset function + add unit tests
  packages/botonic-react/src/util/environment.js
  packages/botonic-react/tests/utils.test.js
Due: react

chore(botonic-react): upgrade version to 0.27.2
  package-lock.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

Botonic-React: change staticAsset function + add unit tests (#2861)
  package-lock.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/util/environment.js
  packages/botonic-react/tests/utils.test.js
Due: react

chore(plugin-hubtype-analytics): upgrade version to 0.27.2
  package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
Due: hubtype-analytics

plugin-hubtype-analytics: add flowThreadId in handoff events (#2860)
  package-lock.json
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-option.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: plugin-flow-builder, hubtype-analytics

chore(botonic-dx): publish version 0.27.1
  package-lock.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
Due: none

chore(plugin-flow-builder): publish 0.27.6
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

plugin-flow-builder: publish 0.27.6 (#2862)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

botonic-dx: update eslint rules (#2857)
  package-lock.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/index.js
  packages/botonic-eslint-config/package.json
Due: none

refactor(plugin-flow-builder): avoid send webchatsettings when channel is not webchat
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: plugin-flow-builder

feat(plugin-flow-builder): add knowledge base response if no match any keyword or intents in first interaction
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: plugin-flow-builder

feat(plugin-flow-builder): resolve keywords, smart intents and intents in the first interaction
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: plugin-flow-builder

feat(plugin-flow-builder): avoid show repeted contents in first interaction
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test for first interaction with knowledge base response as follow up
  packages/botonic-plugin-flow-builder/tests/__mocks__/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test for first interaction with match of keyword or intent
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): split getContentsByPayload in a new file and reuse logic inside first-interaction
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/payload.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): create an util function inputHasTextData
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test for first interaction with match of smart-intent
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): remove some console.log
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
Due: plugin-flow-builder

chore(plugin-flow-builder): publish 0.27.7 version
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

plugin-flow-builder: resolve keywords, smart intents and intents in first interaction (#2853)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/payload.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
Due: plugin-flow-builder

feat(botonic-react): create FeedbackMessage component to add thumbsUp and thumbsDown in the footer of the message
  packages/botonic-react/src/assets/thumbs-down.svg
  packages/botonic-react/src/assets/thumbs-up.svg
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/message/message-feedback.tsx
  packages/botonic-react/src/components/message/message-footer.tsx
  packages/botonic-react/src/components/message/styles.ts
  packages/botonic-react/src/components/text.tsx
  packages/botonic-react/src/webchat/tracking.ts
Due: react

feat(plugin-hubtype-analytics): add feedback knowledgebase event as a webevent
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback-knowledgebase.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
Due: hubtype-analytics

feat(plugin-flow-builder): create message with feedback when using the knowledge base
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
Due: plugin-flow-builder

feat(botonic-react): be able to inject the onTrackEvent function using the webchat object defined in the bot
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(plugin-flow-builder): use acceptFeedback from flow builder node to enable/disable feedback in knowledge base messages
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
Due: plugin-flow-builder

refactor: rename accept_feedback to feedback_enabled
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/message/message-feedback.tsx
  packages/botonic-react/src/components/message/message-footer.tsx
  packages/botonic-react/src/components/text.tsx
Due: react, plugin-flow-builder

chore: add missing isTestIntegration in session
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder

wip
  packages/botonic-plugin-flow-builder/tests/botonic-plugin-flow-builder.test.ts
Due: plugin-flow-builder

plugin-flow-builder: avoid send webchatsettings when channel in't webchat (#2864)
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: plugin-flow-builder

refactor(react & plugin-flow-builder): use camelCase for inferenceId and feedbackEnabled attributes
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/message/message-feedback.tsx
  packages/botonic-react/src/components/message/message-footer.tsx
  packages/botonic-react/src/components/text.tsx
Due: react, plugin-flow-builder

refactor(plugin-hubtype-analytics): feedbackTargetId and feedbackGroupId are required in backend
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback-knowledgebase.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
Due: hubtype-analytics

docs(plugin-hubtype-analytics): add examples and explanation of how to use the plugin
  packages/botonic-plugin-hubtype-analytics/README.md
Due: hubtype-analytics

refactor(plugin-flow-builder): pass a generic T to type contents
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: plugin-flow-builder

feat(plugin-flow-builder): receives mapContents and returns an object contents with key: getTextContent(value)
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: plugin-flow-builder
