Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

refactor(botonic-cli): download and extract example with version from npm and use example folder from monorepo for test deploy
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/analytics/credentials-handler.ts
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/download-gzip.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/commands/new.test.ts
Due: cli

chore(botonic-cli): publish 0.25.0-beta.0 for all examples and @botonic-cli
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  packages/botonic-cli/src/botonic-examples.ts
Due: cli

chore(botonic): keep @botonic/core as dependency to pass lint_core
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package.json
Due: dialogflow, dynamodb, google-analytics

chore(plugin-dynamodb): update github action for plugin-dynamodb to build with @botonc/core
  .github/workflows/botonic-plugin-dynamo-tests.yml
Due: none

refactor(plugin-flow-builder): return followUpContentID as a parm in payloadParams
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): make the function getContentsById private
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

feat(plugin-flow-builder): add a function to get UUID from ContentID
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): remove unnecessary async and Promise
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): rename code to contentID to keep frontend name
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

feat(plugin-flow-builder): add support for smart intent nodes
  packages/botonic-plugin-flow-builder/src/action/smart-intent.ts
  packages/botonic-plugin-flow-builder/src/action/user-input.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/smart-intent.ts
Due: plugin-flow-builder

WIP
  package-lock.json
  packages/botonic-cli/README.md
Due: cli

fix(plugin-flow-builder): add trailing slash to axios call, refactor import
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/smart-intent.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): add fake flow_id in HtTextNode create from knowledge base
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): organize files for manage user-input outside action folder
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

plugin-flow-builder: add support for smart intent nodes (#2803)
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/smart-intent.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: cli, plugin-flow-builder

plugin-flow-builder: use only content id outside plugin (#2790)
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/smart-intent.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: cli, plugin-flow-builder

fix: packages/botonic-react/package.json to reduce vulnerabilities
  packages/botonic-react/package.json
Due: react

fix: scripts/package.json to reduce vulnerabilities
  scripts/package.json
Due: none

fix: packages/botonic-plugin-dashbot/package.json to reduce vulnerabilities
  packages/botonic-plugin-dashbot/package.json
Due: dashbot

chore: bump all packages to 0.25.0
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder, hubtype-analytics

chore: update examples versions
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  package-lock.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-plugin-dashbot/package.json
Due: cli, dashbot

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

release: botonic 0.25.0 (#2807)
  CHANGELOG.md
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder, hubtype-analytics

wip
  docs/package-lock.json
  package-lock.json
  packages/botonic-plugin-hubtype-helpdesk/package.json
  packages/botonic-plugin-hubtype-helpdesk/src/api.ts
  packages/botonic-plugin-hubtype-helpdesk/src/desk/desk.ts
  packages/botonic-plugin-hubtype-helpdesk/src/desk/index.ts
  packages/botonic-plugin-hubtype-helpdesk/src/desk/types.ts
  packages/botonic-plugin-hubtype-helpdesk/src/index.ts
  packages/botonic-plugin-hubtype-helpdesk/src/queue/index.ts
  packages/botonic-plugin-hubtype-helpdesk/src/types.ts
  packages/botonic-plugin-hubtype-helpdesk/tsconfig.esm.json
  packages/botonic-plugin-hubtype-helpdesk/tsconfig.json
Due: docs

fix: upgrade xlsx from 0.17.5 to 0.18.5
  packages/botonic-plugin-contentful/package.json
Due: contentful

feat(plugin-flow-builder): create a hook to call webview contents and return a webviewContext
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
  packages/botonic-plugin-flow-builder/src/webview/index.ts
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): remove unecessary condition to filter text contents
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): export all types
  packages/botonic-plugin-flow-builder/src/webview/index.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): remove arrays of contents from context, add locale as state and export function to change it
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): add error state to check if fetch fails
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: plugin-flow-builder

refactor(core): add organization_id in Session
  packages/botonic-core/src/models/legacy-types.ts
Due: core

refactor(react): fix types in styled components
  packages/botonic-react/src/components/message/styles.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
Due: react

feat(react): add closeWebview in Botonic browser api
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webchat/webview.jsx
Due: react

refactor(react): type RequestContext with Session and Input from @botonic/core
  packages/botonic-react/src/contexts.tsx
Due: react

refactor(plugin-flow-builder): remove flowUrl and add apiUrl and jsonVersion in BotonicPluginFlowBuilderOptions as optionals, use production api and latest version for default
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: plugin-flow-builder

feat(react): create WebviewRequestContext with the request received by the webview well typed
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webchat/webview.jsx
  packages/botonic-react/src/webview-app.tsx
Due: react

refactor(plugin-flow-builder): rename params varaiables
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: plugin-flow-builder

test(botonic-react): add organization and organization_id in Session to fix tests
  packages/botonic-core/tests/helpers/routing.ts
Due: core

chore(botonic): update CHANGELOG and bump to 0.26.0-beta.0 for core, react and plugin-flow-builder
  CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: core, react, plugin-flow-builder

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
