Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

refactor(embeddings): Embedder converted to a function
  packages/botonic-nlp/src/embeddings/database/storage.ts
  packages/botonic-nlp/src/embeddings/embedder.ts
  packages/botonic-nlp/src/embeddings/embeddings-matrix.ts
  packages/botonic-nlp/src/embeddings/types.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/tests/embeddings/database/manager.test.ts
  packages/botonic-nlp/tests/embeddings/database/storage.test.ts
  packages/botonic-nlp/tests/embeddings/embedder.test.ts
  packages/botonic-nlp/tests/embeddings/embeddings-matrix.test.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
Due: none

refactor(preprocessor): paddingPosition declared in constructor params
  packages/botonic-nlp/src/preprocess/preprocessor.ts
Due: none

feat(utils): readJSON function implemented
  packages/botonic-nlp/src/tasks/ner/storage/config-storage.ts
  packages/botonic-nlp/src/utils/file-utils.ts
Due: none

style(trainTestSplit): train/test renamed to trainSet/testSet
  packages/botonic-nlp/src/preprocess/selection.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/tests/preprocess/selection.test.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
Due: none

fix(react): add ontouchstart events to allow touch events updates
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
Due: react

wip
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

fix(core/react): first approach tocdetect disconnection with pusher
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/actions.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react

fix(react): add ontouchstart events to allow touch events updates (#1359)
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
Due: react

feat(react): be able to config server
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/webchat-app.jsx
Due: core, react

feat(react): add isOnline as part of public API
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): allow redefining error message on connection issues
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/util/webchat.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react

chore(react): remove deprecated test
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/connection-issues.test.js
Due: react

feat(core/react): detect disconnection (pusher-based) and add minor improvements (#1373)
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/util/webchat.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/actions.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/connection-issues.test.js
Due: core, react

fix(core/reactt): resend agent messages on connection lost
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/index.d.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react, react-d-ts

chore(core/react): adapt after merge and apply minor design fixes
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react

feat(plugin-contentful): add custom fields
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/queue.test.ts
Due: contentful

style(plugin-contentful): prettier
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

feat(plugin-contentful): remove unnecessary parameter, add info comments
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

feat(plugin-contentful): add custom fields to carrousel + add test
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/carousel.test.ts
Due: contentful

feat(plugin-contentful): add from and to as cases to not include in the custom fields
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

feat(plugin-contentful): add custom fields to date range + add test
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/date-range.test.ts
Due: contentful

chore: upgrade common dev dependencies
  package-lock.json
  package.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-react/package-lock.json
Due: nlu, plugin-nlu, react

docs(plugin-contentful): add info about supported types and from and to fields
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

chore(contentful): upgrade contentful dependencies
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

style(core): improvements in index.d.ts
  packages/botonic-core/src/index.d.ts
Due: core, core-d-ts

test(refactor): custom exception if 404 route not found
  packages/botonic-core/src/errors.js
  packages/botonic-core/src/router.d.ts
  packages/botonic-core/src/router.js
  packages/botonic-core/src/router.test.js
Due: core, core-d-ts

feat(plugin-contentful): add new fields to filter + add custom fields to image + add test
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/image.test.ts
Due: contentful

feat(plugin-contentful): add ignoreFields argument + add custom field to schedule + add test
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/schedule.test.ts
Due: contentful

feat(plugin-contentful): fix ignoreFields from image + add scustom fields to startup + add test
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/startup.test.ts
Due: contentful

feat(plugin-contentful): add custom fields + tests + pass ignoreFields directly + fix some ignoreFields
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/url.test.ts
Due: contentful

fix(processor): sequence length must be maxLength
  packages/botonic-nlp/src/tasks/ner/process/processor.ts
Due: none

refactor(cli): botonic train command
  packages/botonic-cli/src/commands/train.ts
Due: cli

feat(model): models storage by locale
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-plugin-ner/src/constants.ts
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-handler.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: none

feat(ner-plugin): multiple locale models compatibility
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-handler.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/locale-utils.ts
Due: none

feat(ner): functional ner plugin
  packages/botonic-nlp/package-lock.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/constants.ts
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-handler.ts
  packages/botonic-plugin-ner/src/process/prediction-processor.ts
  packages/botonic-plugin-ner/src/process/processor.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: none

feat(cli): botonic train --task=[task]
  packages/botonic-cli/src/commands/train.ts
Due: cli

wip(nlp/plugin-ner): ongoing integration
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/index.ts
  packages/botonic-nlp/src/preprocess/engines/en/stemmer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/tokenizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/stemmer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/src/preprocess/index.ts
  packages/botonic-plugin-ner/README.md
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/tsconfig.eslint.json
  packages/botonic-plugin-ner/tsconfig.json
Due: none

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
