Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: scripts/qa/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: core-d-ts
        name: core-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/src/.*\.d\.ts

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: react-d-ts
        name: react-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/src/.*\.d\.ts

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/lint-package.sh docs/website
        language: system
        files: ^docs/website/

feat(react): add hostId changes in experimental folder
  packages/botonic-react/src/experimental/dev-app.jsx
  packages/botonic-react/src/experimental/index.js
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-react/src/index.d.ts
Due: react, react-d-ts

feat(core): pass plugins as a parameter in pre and post calls of a plugin to be able to use the initialized plugins inside a pre/post plugin call (#1975)
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
Due: core

feat(react): refactor to allow hostId to be changed at runtime (#1976)
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/experimental/components/message.jsx
  packages/botonic-react/src/experimental/dev-app.jsx
  packages/botonic-react/src/experimental/index.js
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-react/src/experimental/webchat/webchat.jsx
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/tests/webchat/webchat-app.test.jsx
Due: react, react-d-ts

Feature: Allow to pass custom data to the dialogflow query (#1987)
  packages/botonic-plugin-dialogflow/README.md
  packages/botonic-plugin-dialogflow/src/index.ts
  packages/botonic-plugin-dialogflow/src/types.ts
  packages/botonic-plugin-dialogflow/tests/index.test.ts
Due: dialogflow

fix(react): add mouse wheel event to scrollable content (#1968)
  packages/botonic-react/src/util/dom.js
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
Due: react

fix(react): device adapter to work properly on very first renders
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(core): remove error log for LTS version
  packages/botonic-core/src/core-bot.ts
Due: core

ci: use codecovV2
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

ci: use codecovV2 (#1969)
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

Fix/device adapter (#1988)
  packages/botonic-core/src/core-bot.ts
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react

fix: upgrade jsrsasign from 10.4.0 to 10.4.1
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade @babel/runtime from 7.14.8 to 7.15.4
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
Due: watson

fix: upgrade aws-sdk from 2.976.0 to 2.1002.0
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: dynamodb

fix: upgrade typescript from 4.3.5 to 4.4.3
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

fix: upgrade node-fetch from 2.6.1 to 2.6.5
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

fix: upgrade jsrsasign from 10.4.0 to 10.4.1 (#1990)
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade @babel/runtime from 7.14.8 to 7.15.4 (#1991)
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
Due: watson

fix: upgrade aws-sdk from 2.976.0 to 2.1002.0 (#1992)
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: dynamodb

fix: upgrade typescript from 4.3.5 to 4.4.3 (#1993)
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

fix: upgrade node-fetch from 2.6.1 to 2.6.5 (#1994)
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

chore: bump all packages to v0.20.0-rc.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta

fix(core): matchRoute to work bwd compatible
  packages/botonic-core/src/routing/router.ts
Due: core

chore: bump and publish packages to v0.20.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta

chore(react): remove experimental from react-lts to reduce bundle size
  packages/botonic-react/src/experimental/components/audio.jsx
  packages/botonic-react/src/experimental/components/carousel.jsx
  packages/botonic-react/src/experimental/components/custom-message.jsx
  packages/botonic-react/src/experimental/components/document.jsx
  packages/botonic-react/src/experimental/components/image.jsx
  packages/botonic-react/src/experimental/components/index.js
  packages/botonic-react/src/experimental/components/location.jsx
  packages/botonic-react/src/experimental/components/markdown.js
  packages/botonic-react/src/experimental/components/message.jsx
  packages/botonic-react/src/experimental/components/text.jsx
  packages/botonic-react/src/experimental/components/video.jsx
  packages/botonic-react/src/experimental/components/whatsapp-template.jsx
  packages/botonic-react/src/experimental/dev-app.jsx
  packages/botonic-react/src/experimental/index.js
  packages/botonic-react/src/experimental/msg-to-botonic.jsx
  packages/botonic-react/src/experimental/node-app.jsx
  packages/botonic-react/src/experimental/react-bot.jsx
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-react/src/experimental/webchat/assets/Inter-VariableFont_slnt,wght.ttf
  packages/botonic-react/src/experimental/webchat/assets/botonic-logo-white.svg
  packages/botonic-react/src/experimental/webchat/assets/messenger.svg
  packages/botonic-react/src/experimental/webchat/assets/open-new-window.svg
  packages/botonic-react/src/experimental/webchat/assets/open.svg
  packages/botonic-react/src/experimental/webchat/assets/telegram.svg
  packages/botonic-react/src/experimental/webchat/assets/webchat.svg
  packages/botonic-react/src/experimental/webchat/assets/whatsapp.svg
  packages/botonic-react/src/experimental/webchat/webchat-dev.jsx
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: react

chore(dialogflow): fix missing property in session
  packages/botonic-plugin-dialogflow/tests/index.test.ts
Due: dialogflow

chore(cli): limit allowed botName chars to 25
  packages/botonic-cli/src/commands/deploy.ts
Due: cli

chore(intent/ner): allow compatibility of new nlp with lts
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update CHANGELOG.md in master
  CHANGELOG.md
Due: none

chore: add more necessary files to be changed
  packages/botonic-react/src/experimental/util/objects.js
  packages/botonic-react/src/experimental/util/webchat.js
Due: react

chore(react): move necessary files to be changed into experimental and update imports
  packages/botonic-react/src/experimental/constants.js
  packages/botonic-react/src/experimental/contexts.jsx
  packages/botonic-react/src/experimental/dev-app.jsx
  packages/botonic-react/src/experimental/msg-to-botonic.jsx
  packages/botonic-react/src/experimental/react-bot.jsx
  packages/botonic-react/src/experimental/util/dom.js
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-react/src/experimental/webchat/actions.jsx
  packages/botonic-react/src/experimental/webchat/hooks.js
  packages/botonic-react/src/experimental/webchat/messages-reducer.js
  packages/botonic-react/src/experimental/webchat/session-view.jsx
  packages/botonic-react/src/experimental/webchat/webchat-dev.jsx
  packages/botonic-react/src/experimental/webchat/webchat-reducer.js
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: react

chore(core): split data models into User, Session and BotState
  packages/botonic-core/src/models/bot-state.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/models/session.ts
  packages/botonic-core/src/models/user.ts
Due: core

chore(api): changes regarding botState in botonic/api
  packages/botonic-api/src/rest/routes/events.ts
Due: none

chore(dev-template): project changes regarding botState data model
  packages/create-botonic-app/dev-template/api/src/handlers/botExecutor.js
  packages/create-botonic-app/dev-template/api/src/websocket/onauth.js
Due: none

chore(dev-template): remove warnings in Actions and sort imports
  packages/create-botonic-app/dev-template/bot/src/actions/Audio.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Buttons.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Carousel.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Custom.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Handoff.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Image.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Location.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Replies.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Text.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/TextAll.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Video.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Welcome.jsx
  packages/create-botonic-app/dev-template/bot/src/locales/es.js
  packages/create-botonic-app/dev-template/bot/src/locales/index.js
  packages/create-botonic-app/dev-template/bot/src/routes.js
Due: none

chore(core): core-bot and router logic to work with botState
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/data-provider/dynamodb-utils.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-core/src/output-parser/botonic-output-parser.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/routing/router.ts
Due: core

chore(core): adapt tests to work with botState model, disabling handoff tests for 1.0
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-core/tests/helpers/parsing.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-core/tests/parsing/user-events.test.tsx
  packages/botonic-core/tests/routing/router.match-route.test.ts
  packages/botonic-core/tests/routing/router.test.ts
Due: core

refactor(core/api/dev-template): remove initial locale and minor fixes
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-core/src/handoff.ts
  packages/create-botonic-app/dev-template/api/src/websocket/onauth.js
Due: core

chore(react): changes in webchat regarding move to botState model
  packages/botonic-react/src/experimental/dev-app.jsx
  packages/botonic-react/src/experimental/index.js
  packages/botonic-react/src/experimental/util/webchat.js
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-react/src/experimental/webchat/actions.jsx
  packages/botonic-react/src/experimental/webchat/hooks.js
  packages/botonic-react/src/experimental/webchat/session-view.jsx
  packages/botonic-react/src/experimental/webchat/webchat-dev.jsx
  packages/botonic-react/src/experimental/webchat/webchat-reducer.js
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: react
