Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

chore(preprocess): engines dependency replaced by nlpjs
  packages/botonic-nlp/examples/preprocessing.ts
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stemmer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stopwords-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/tokenizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stemmer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stopwords-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/preprocess/types.ts
  packages/botonic-nlp/tests/preprocess/engines/en/normalizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/stemmer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/tokenizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/normalizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/stemmer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/tokenizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/vocabulary-generator.test.ts
Due: none

docs: fix example and add info in readme
  README.md
  docs/docs/components/components-multichannel.md
Due: none

refactor(ner-plugin): classes renaming and reorganization
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
Due: none

feat(cli): independent training tasks when botonic train
  packages/botonic-cli/src/commands/train.ts
Due: cli

docs: update readme
  README.md
Due: none

docs: readme uodates after feedback
  README.md
Due: none

style(core): improvements in index.d.ts
  packages/botonic-core/src/index.d.ts
Due: core, core-d-ts

test(refactor): custom exception if 404 route not found
  packages/botonic-core/src/errors.js
  packages/botonic-core/src/router.d.ts
  packages/botonic-core/src/router.js
  packages/botonic-core/src/router.test.js
Due: core, core-d-ts

feat(plugin-contentful): check followup name inside addCustomFields function
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

tests(plugin-ner): added tests for utils and pre/post processes
  packages/botonic-plugin-ner/babel.config.js
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/tests/helper/constants-helper.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tests/postprocess/prediction-processor.test.ts
  packages/botonic-plugin-ner/tests/preprocess/input-generator.test.ts
  packages/botonic-plugin-ner/tests/utils/locale-utils.test.ts
Due: none

refactor(preprocess): engines now use nlpjs
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/index.ts
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stemmer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stopwords-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/tokenizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stemmer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stopwords-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/src/preprocess/index.ts
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/preprocess/types.ts
  packages/botonic-nlp/tests/preprocess/engines/en/normalizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/stemmer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/tokenizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/normalizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/stemmer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/tokenizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/vocabulary-generator.test.ts
Due: none

docs: update components multichannel
  docs/docs/components/components-multichannel.md
Due: none

docs: webchat connection and disconnection
  .gitignore
  docs/docs/webchat/webchat-api.md
  docs/docs/webchat/webchat-connectivity.md
  docs/website/sidebars.json
Due: docs

wip(core): working on duplicated messages received after reconnection
  packages/botonic-core/src/hubtype-service.js
Due: core

refactor(preprocess): engines now use nlpjs (#1377)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/index.ts
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stemmer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stopwords-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/tokenizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stemmer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stopwords-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/src/preprocess/index.ts
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/preprocess/types.ts
  packages/botonic-nlp/tests/preprocess/engines/en/normalizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/stemmer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/tokenizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/normalizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/stemmer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/tokenizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/vocabulary-generator.test.ts
Due: none

test(procesor): sequence expected output modified
  packages/botonic-nlp/tests/tasks/ner/process/processor.test.ts
Due: none

refactor(helper): MAX_LENGTH renamed to MAX_SEQUENCE_LENGTH
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/ner/storage/config-storage.test.ts
Due: none

fix(process): sequence needs to be padded
  packages/botonic-nlp/src/tasks/ner/process/processor.ts
Due: none

docs: feedback applied on webchat connectivity
  docs/docs/webchat/webchat-api.md
  docs/docs/webchat/webchat-connectivity.md
Due: none

chore: publish to abort when st fails
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  scripts/ci/utils.ts
Due: dashbot, dialogflow, luis, segment, watson, google-analytics, inbenta

chore: install common dependencies once during publish
  preinstall.js
  scripts/ci/publish.ts
  scripts/ci/utils.ts
  scripts/package.json
Due: none

fix(core/react): fix and centralize messages resending logic in hubtype service
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/webchat/messages-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react

chore(react): fix minor types
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/index.d.ts
Due: react, react-d-ts

refactor(core): simplify postMessage logic
  packages/botonic-core/src/hubtype-service.js
Due: core

refactor(react): refactor getEnvAck logic
  packages/botonic-react/src/components/message.jsx
Due: react

refactor(react): avoid having duplicates in messagesComponents
  packages/botonic-react/src/webchat/messages-reducer.js
Due: react

fix(cli): unlink file instead of dir in botonic logout
  packages/botonic-cli/src/botonic-api-service.ts
Due: cli

chore(cli): bump cli to 0.18.5
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: cli

Fix/cli logout command (#1398)
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-api-service.ts
Due: cli

refactor(react): simplify cminor code
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

fix(core/react): retrieve agent messages after connection loss and HubtypeService refactor (#1360)
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/index.d.ts
  packages/botonic-react/src/webchat/messages-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react, react-d-ts

chore: bump react and core versions
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

chore: bump core and react to 0.18.2
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

Chore/bump core and react (#1399)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

chore(react): revert msgComponents duplicates check
  packages/botonic-react/src/webchat/messages-reducer.js
Due: react

chore(react): bump react to 0.18.3
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

Chore/revert msgcomponents duplicates and bump react to 0.18.3 (#1400)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/messages-reducer.js
Due: react

fix(react): update lastMessageUpdate consistently with Webchat Settings
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

docs: example added in multichannel doc
  .gitignore
  docs/docs/components/components-multichannel.md
Due: none

refactor(plugin-watson): revive watson plugin with assistantV2
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-plugin-watson/src/index.js
Due: watson

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
