Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: scripts/qa/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: core-d-ts
        name: core-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/src/.*\.d\.ts

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: react-d-ts
        name: react-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/src/.*\.d\.ts

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/lint-package.sh docs/website
        language: system
        files: ^docs/website/

fix(react): add 'hostId' to WebchatApp typings
  packages/botonic-react/src/index.d.ts
Due: react, react-d-ts

test(react): add DevApp and WebchatApp tests
  packages/botonic-react/tests/webchat/dev-app.test.jsx
  packages/botonic-react/tests/webchat/webchat-app.test.jsx
Due: react

fix(react): add emoji-picker-react styles to shadowDOM even if _botonicInsertStyles is not defined
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore: bump all packages to beta
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/utils.js
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

docs: update docs with shadow dom changes
  docs/website/src/components/homeHeader.js
  docs/website/src/pages/examples/booking-platform.js
  docs/website/src/pages/examples/botonic-example.js
  docs/website/src/pages/examples/nlu-assistant.js
  docs/website/src/util/dom.js
Due: docs

Revert "docs: update docs with shadow dom changes"
  docs/website/src/components/homeHeader.js
  docs/website/src/pages/examples/booking-platform.js
  docs/website/src/pages/examples/botonic-example.js
  docs/website/src/pages/examples/nlu-assistant.js
  docs/website/src/util/dom.js
Due: docs

chore: added CHANGELOG for 0.17.0
  CHANGELOG.md
  packages/botonic-cli/src/utils.ts
Due: cli

feat(contentful): improve report content validation
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/tests/cms/contents.test.ts
Due: contentful

feat(contentful): initial Contents arg for ContentsValidator
  packages/botonic-plugin-contentful/src/tools/validate-all-contents.ts
  packages/botonic-plugin-contentful/tests/tools/validate-all-contents.test.ts
Due: contentful

chore(contentful): fix cd's in CI scripts
  package-lock.json
  package.json
  scripts/ci/bump-version.sh
  scripts/ci/prepare-packages.sh
  scripts/ci/upgrade-deps.sh
Due: none

chore: bump to rc
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: cli, core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

fix(cli): correct wrong text
  packages/botonic-cli/src/commands/train.ts
Due: cli

chore: bump all packages to final version
  CHANGELOG.md
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: cli, core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

release/0.17.0 (#1197)
  CHANGELOG.md
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/src/utils.ts
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/utils.js
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, google-analytics, inbenta

chore: update docs with new release
  docs/docs/releases/v0-17-0.md
  docs/website/sidebars.json
Due: docs

fix(contentful): get option from command line on create-locale script
  packages/botonic-plugin-contentful/bin/l10n/create-locale.sh
Due: contentful

test(react): Text with <BR>
  packages/botonic-react/tests/components/__snapshots__/text.test.jsx.snap
  packages/botonic-react/tests/components/text.test.jsx
Due: react

Configure Jest to scan all files in src dirs when measuring coverage
  packages/botonic-plugin-contentful/jest.config.js
  packages/botonic-plugin-dynamodb/jest.config.js
  packages/botonic-react/jest.config.js
Due: contentful, dynamodb, react

Use lcov report since clover has issues and seems less maintained
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

include jest config file for botonic-core
  packages/botonic-core/jest.config.js
Due: core

chore: update docs with new release (#1198)
  docs/docs/releases/v0-17-0.md
  docs/website/sidebars.json
Due: docs

fix(botonic-cli): add BOTONIC_DISABLE_ANALYTICS in workflow
  .github/workflows/botonic-cli-tests.yml
Due: none

refactor(cli): refactored json logic, rename snake_cased vars/functions
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/utils.ts
Due: cli

Configure nlu test execution in ci
  .github/workflows/botonic-nlu-tests.yml
  codecov.yml
  package.json
  packages/botonic-nlu/package.json
Due: none

include Jest reporter
  .github/workflows/botonic-nlu-tests.yml
Due: none

remove Jest reporter
  .github/workflows/botonic-nlu-tests.yml
Due: none

docs: updates
  docs/docs/components/components-message.md
  docs/docs/concepts/17.routes.md
  docs/docs/webchat/webchat-compatibility.md
  docs/docs/webchat/webchat-storage.md
  docs/docs/webchat/webchat.md
  docs/website/sidebars.json
Due: docs

fix(nlu): recursive creation of directory
  packages/botonic-nlu/src/embeddings/wembeddings-db-helper.ts
Due: none

chore(nlu): increase timeout
  packages/botonic-nlu/jest.config.js
  packages/botonic-nlu/tests/embeddings/word-embeddings-manager.test.ts
Due: none

chore(nlu): group embedding tests
  packages/botonic-nlu/tests/embeddings.test.ts
  packages/botonic-nlu/tests/embeddings/wembeddings-db-helper.test.ts
Due: none
