Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/

      - id: core
        name: core
        entry: scripts/qa/old/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: contentful
        name: contentful
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: segment
        name: segment
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/old/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/old/lint-package.sh docs/
        language: system
        files: ^docs/

      - id: plugin-flow-builder
        name: plugin-flow-builder
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
        language: system
        files: ^packages/botonic-plugin-flow-builder/

      - id: hubtype-analytics
        name: hubtype-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
        language: system
        files: ^packages/botonic-plugin-hubtype-analytics/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          ['--baseline', '.secrets.baseline', '--exclude-files ', .*/tests/.*']
        exclude: package.lock.json
        name: Detect secrets
        description: Detects high entropy strings that are likely to be passwords.

chore(plugin-flow-builder): remove unused file
  packages/botonic-plugin-flow-builder/tsconfig.base.json
Due: plugin-flow-builder

plugin-flow-builder: WebviewContentsContext and useWebviewContents (#2810)
  CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
  packages/botonic-plugin-flow-builder/src/webview/index.ts
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
  packages/botonic-plugin-flow-builder/tsconfig.base.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/message/styles.ts
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webchat/webview.jsx
  packages/botonic-react/src/webview-app.tsx
Due: core, react, plugin-flow-builder

feat(react): added initial structure for WhatsappCTAUrlButton
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
Due: core, react

refactor(react): simplify types in whatsapp-cta-url-button
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
Due: react

chore(react): add tests for whatsapp cta url buttons, update snapshots
  packages/botonic-react/jest.config.js
  packages/botonic-react/tests/components/__snapshots__/whatsapp-cta-url-button.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/whatsapp-cta-url-button.test.jsx
Due: react

refactor(botonic-react): use WhatsappCTAUrlButton inside Multichannel
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/util/webviews.ts
Due: react

refactor(react): create function to generate webviewUrls and use it in buttons and whatsapp cta button
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
  packages/botonic-react/src/util/webviews.ts
Due: react

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

feat(react): WhatsappCTAUrlButton (#2809)
  CHANGELOG.md
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/jest.config.js
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
  packages/botonic-react/src/util/webviews.ts
  packages/botonic-react/tests/components/__snapshots__/whatsapp-cta-url-button.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/whatsapp-cta-url-button.test.jsx
Due: core, react

refactor(react): create function to generate webviewUrls and use it in buttons and whatsapp cta button
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
Due: react

feat(plugin-flow-builder): create whatsapp cta url button
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/whatsapp-cta-url-button.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): rename variable
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
Due: plugin-flow-builder

chore(plugin-flow-builder): add package-lock.json
  package-lock.json
Due: none

plugin-flow-builder: add whatsapp CTA url button (#2811)
  CHANGELOG.md
  package-lock.json
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/whatsapp-cta-url-button.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

chore: bump packages to v0.26.0
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder, hubtype-analytics

chore: update CHANGELOG.md to v0.26.0
  CHANGELOG.md
Due: none

release: botonic v0.26.0 (#2813)
  CHANGELOG.md
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder, hubtype-analytics

chore(core): fix some types
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
Due: core

chore(core): remove all logic related to botonic 1.0
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-utils.ts
  packages/botonic-core/src/data-provider/factory.ts
  packages/botonic-core/src/data-provider/index.ts
  packages/botonic-core/src/data-provider/local-data-provider.ts
  packages/botonic-core/src/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/output-parser/botonic-output-parser.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/index.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/plugins.ts
Due: core

chore(core): remove tests related to botonic1.0 botonicOutputParser
  packages/botonic-core/tests/helpers/parsing.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-core/tests/parsing/carousel.test.tsx
  packages/botonic-core/tests/parsing/contact.test.tsx
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/form.test.tsx
  packages/botonic-core/tests/parsing/location.test.tsx
  packages/botonic-core/tests/parsing/media.test.tsx
  packages/botonic-core/tests/parsing/text.test.tsx
  packages/botonic-core/tests/parsing/user-events.test.tsx
Due: core

chore(core/react): remove not useful Providers
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
Due: core, react

refactor(botonic-react): options can be undefined
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webview-app.tsx
Due: react

botonic-react: options can be undefined (#2814)
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webview-app.tsx
Due: react

fix(plugin-flow-builder): avoid to call smart intents api if flow does not have defined any smart intents
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

chore(plugin-flow-builder): publish 0.26.1
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

plugin-flow-builder: avoid to call smart intents api (#2815)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

feat(botonic-react): add url icon them property
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/assets/url-icon.png
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/constants.js
Due: react

feat(botonic-react): fix how urlIcon is taken
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/components/button.jsx
Due: react

refactor(botonic-core): create function to chech provider
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/utils.ts
Due: core

refactor(botonic-react): use functions from core to check provider
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-reply.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel.jsx
Due: react

refactor(botonic-dx): add jsdom and use tsconfig in in transform instead of globals config
  packages/botonic-dx/baseline/jest.config.js
  packages/botonic-dx/package.json
Due: none

chore(botonic): add package-lock.json
  package-lock.json
Due: none

chore(core): Remove unused code from experimental 1.0 version (#2812)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-utils.ts
  packages/botonic-core/src/data-provider/factory.ts
  packages/botonic-core/src/data-provider/index.ts
  packages/botonic-core/src/data-provider/local-data-provider.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/output-parser/botonic-output-parser.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/index.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/utils.ts
  packages/botonic-core/tests/helpers/parsing.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-core/tests/parsing/carousel.test.tsx
  packages/botonic-core/tests/parsing/contact.test.tsx
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/form.test.tsx
  packages/botonic-core/tests/parsing/location.test.tsx
  packages/botonic-core/tests/parsing/media.test.tsx
  packages/botonic-core/tests/parsing/text.test.tsx
  packages/botonic-core/tests/parsing/user-events.test.tsx
  packages/botonic-dx/baseline/jest.config.js
  packages/botonic-dx/package.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-reply.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel.jsx
Due: core, react

refactor(plugin--flow-builder): remove log
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

chore(plugin--flow-builder): bump @botonic/react dependency
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

refactor(plugin--flow-builder): sort imports
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: plugin-flow-builder

refactor(plugin--flow-builder): transform bot action payload in plugin pre function
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

fix(plugin-flow-builder): fix lint
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder
