Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

fix(react): refactor and remove moment dep
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/timestamps.jsx
  packages/botonic-react/src/constants.js
Due: react

chore: remove moment dep, remove extra config from templates due to moment
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/blank/webpack.config.js
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/childs/webpack.config.js
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/custom-webchat/webpack.config.js
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamic-carousel/webpack.config.js
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/handoff/webpack.config.js
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/intent/webpack.config.js
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/nlu/webpack.config.js
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-cli/templates/tutorial/webpack.config.js
  packages/botonic-react/package.json
Due: react

fix(react): improve error msg styles
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): handle missed enduser messages when connectivty is regained
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/messages-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

fix(react): resend user inputs instead of message itself stored in storage
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(core/react): move resend messages logic to @botonic/core
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react

feat(react): handle missed enduser messages when connectivty is regained (#838)
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/messages-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: core, react

chore: bump alphas for core and react with latest updates
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

fix(react): disable text input on Cover Component shown
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(react): reduce cyclomatic complexity, bump alpha
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(react): entry for proper tree-shaking
  packages/botonic-react/src/entry.js
Due: react

fix(react): review CoverComponent logic,fix replies shown after clearMessages() call
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

fix(react): disable text input on Cover Component shown (#857)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(react): add carousel arrows
  packages/botonic-react/src/assets/leftArrow.svg
  packages/botonic-react/src/assets/rightArrow.svg
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/components/element.jsx
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/pic.jsx
  packages/botonic-react/src/constants.js
Due: react

docs(webchat):list of supported browsers
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/project-structure.md
Due: none

docs(getting-started): improvements and suggestions for getting-started section
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/getting-started.md
  doc-botonic/docs/project-structure.md
  doc-botonic/docs/supported-platforms.md
  doc-botonic/docs/templates/6.template-nlu.md
  doc-botonic/docs/welcome.md
Due: none

docs: add algolia searchbar
  doc-botonic/website/docusaurus.config.js
Due: none

wip(templates): fix snippets in templates section, adding missing properties
  doc-botonic/docs/templates/1.templates.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
Due: none

docs: fix some examples in components and concepts
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-multichannel.md
  doc-botonic/docs/components/components-text.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/concepts/19.webviews.md
Due: none

docs: update coverComponent example
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/concepts/18.webchat.md
Due: none

docs(google analytics plugin): added content
  doc-botonic/docs/plugins/plugin-analytics.md
  doc-botonic/website/sidebars.json
Due: none

docs(components-carousel): content updated
  doc-botonic/docs/components/components-carousel.md
Due: none

docs(components and webchat covercomponent): images added and content updated
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/components/components-media.md
  doc-botonic/docs/components/components-reply.md
  doc-botonic/docs/concepts/18.webchat.md
Due: none

docs(component sections,actions, settings, i18n, webchat): images added or updated
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/components/components-location.md
  doc-botonic/docs/components/components-media.md
  doc-botonic/docs/components/components-reply.md
  doc-botonic/docs/components/components-text.md
  doc-botonic/docs/concepts/10.actions.md
  doc-botonic/docs/concepts/11.botonic_settings.md
  doc-botonic/docs/concepts/15.i18n.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
Due: none

docs(webchat):correction of the cover component example
  doc-botonic/docs/concepts/18.webchat.md
Due: none

docs(welcome, supportedplatforms, project-structure, webchat and humanhandoff): add content and update
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/project-structure.md
  doc-botonic/docs/supported-platforms.md
  doc-botonic/docs/welcome.md
Due: none

docs(template-custom-webchat): modified timestamps content
  doc-botonic/docs/templates/2.template-custom-webchat.md
Due: none

fix(docs): add missing closing tags
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/components/components-media.md
  doc-botonic/docs/components/components-reply.md
Due: none

chore(contentful): eslint plugin for Promises
  package-lock.json
  package.json
  packages/.eslintrc.js
  packages/botonic-plugin-contentful/src/tools/translators/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/translators/import-csv-for-translators.ts
  packages/botonic-plugin-contentful/tests/cms/cms-error.test.ts
Due: contentful

feat(contentful): plugin option to inject contentful factory
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/plugin.test.ts
Due: contentful

style(contentful): move Contentful to its own class
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/contentful/multi-environment.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/src/tools/translators/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/ignore-fallback-decorator.test.ts
Due: contentful

feat(contentful): MultiContextCms & MultiEnvironmentFactory
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/contentful/multi-environment.ts
  packages/botonic-plugin-contentful/tests/contentful/multi-environment.test.ts
Due: contentful

feat(contentful): add context arg to all CMS methods
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
Due: contentful

test(contentful): fix test for multiEnvironmentFactory
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/multi-environment.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/startup.test.ts
  packages/botonic-plugin-contentful/tests/plugin.test.ts
Due: contentful

style(contentful): move & rename ContentsDelivery
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
Due: contentful

fix: some async function were not returning the promise
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-plugin-dynamodb/tests/domain/track.test.ts
Due: core, dynamodb
