Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

refactor(nlp): es engines use @nlpjs
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stopwords-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
Due: none

refactor(nlp): en engines use @nlpjs
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stopwords-en.ts
Due: none

tests(nlp): tests fixed
  packages/botonic-nlp/tests/preprocess/preprocessor.test.ts
  packages/botonic-nlp/tests/tasks/intent-classification/process/processor.test.ts
  packages/botonic-nlp/tests/tasks/ner/process/processor.test.ts
Due: none

Refactor(nlp): en & es preprocessing engines #BOT-472 (#1648)
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stopwords-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stopwords-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/tests/preprocess/preprocessor.test.ts
  packages/botonic-nlp/tests/tasks/intent-classification/process/processor.test.ts
  packages/botonic-nlp/tests/tasks/ner/process/processor.test.ts
Due: none

fix(contentful): replace SOURCE for first argument from command line
  packages/botonic-plugin-contentful/bin/import-contentful-models.sh
Due: contentful

feat(contentful): handoff content
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/callback-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/contents/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/handoff.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-entry.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful

test(contentful): handoff content
  packages/botonic-plugin-contentful/tests/contentful/contents/handoff.test.ts
Due: contentful

feat(contentful): add handoff fail message, split destination
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/contentful/contents/handoff.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/handoff.test.ts
Due: contentful

fix: upgrade @botonic/core from 0.18.0 to 0.18.2 (#1653)
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

fix: upgrade react-json-tree from 0.12.1 to 0.15.0 (#1652)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix: upgrade ts-node from 9.0.0 to 9.1.1 (#1654)
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

fix: upgrade @tensorflow/tfjs from 2.8.5 to 2.8.6 (#1655)
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: nlu, plugin-nlu

fix: upgrade fs from 0.0.1-security to 0.0.2 (#1656)
  scripts/package-lock.json
  scripts/package.json
Due: none

feat(react): add new <Raw> component
  packages/botonic-core/src/index.js
  packages/botonic-react/src/components/index.js
  packages/botonic-react/src/components/raw.jsx
  packages/botonic-react/src/constants.js
Due: core, react

feat(core): add optional timeout to getOpenQueues & storeCaseRating (#1651)
  packages/botonic-core/src/handoff.js
  packages/botonic-core/src/types/handoff.d.ts
Due: core, core-d-ts

feat(pulumi): add pulumi logic to handle deployments
  packages/botonic-pulumi/package.json
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/dynamodb.ts
  packages/botonic-pulumi/src/aws/index.ts
  packages/botonic-pulumi/src/aws/nlp-models-bucket.ts
  packages/botonic-pulumi/src/aws/policies.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/static-webchat-contents.ts
  packages/botonic-pulumi/src/aws/websocket-server-lambda.ts
  packages/botonic-pulumi/src/aws/websocket-server.ts
  packages/botonic-pulumi/src/index.ts
  packages/botonic-pulumi/src/pulumi-downloader.ts
  packages/botonic-pulumi/src/pulumi-runner.ts
  packages/botonic-pulumi/src/system-utils.ts
  packages/botonic-pulumi/tsconfig.json
Due: none

chore(pulumi): extend config from base tsconfig
  packages/botonic-pulumi/tsconfig.json
Due: none

refactor(pulumi): rename and simplify variables, centralize results in last deployment step
  packages/botonic-pulumi/package.json
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/dynamodb.ts
  packages/botonic-pulumi/src/aws/index.ts
  packages/botonic-pulumi/src/aws/nlp-models-bucket.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/static-webchat-contents.ts
  packages/botonic-pulumi/src/aws/websocket-server-lambda.ts
  packages/botonic-pulumi/src/aws/websocket-server.ts
  packages/botonic-pulumi/src/index.ts
  packages/botonic-pulumi/src/pulumi-runner.ts
Due: none

refactor(core): rewrite interfaces to make better use of enums
  packages/botonic-core/src/models/events/connections/index.ts
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/carousel.ts
  packages/botonic-core/src/models/events/message/custom.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/location.ts
  packages/botonic-core/src/models/events/message/media.ts
  packages/botonic-core/src/models/events/message/text.ts
Due: core

refactor(core): rewrite media message events
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/element.ts
  packages/botonic-core/src/models/events/message/media.ts
Due: core

chore(core): remove redundant src, add userId
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/media.ts
Due: core

refactor(core): leave models attrs typed just with enum
  packages/botonic-core/src/models/events/connections/index.ts
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/index.ts
Due: core

fix: upgrade @botonic/core from 0.18.1 to 0.18.2
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

fix: upgrade @babel/runtime from 7.14.0 to 7.14.5
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

fix: upgrade @tensorflow/tfjs-node from 2.8.5 to 2.8.6
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
Due: none

fix: upgrade @botonic/react from 0.14.0 to 0.18.3
  docs/website/package.json
Due: docs

feat(react): allow multichannel component (text and button) to display whatsapp buttons
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
Due: react, react-d-ts

fix: upgrade @babel/runtime from 7.14.0 to 7.14.5 (#1674)
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

fix: upgrade @botonic/react from 0.14.0 to 0.18.3 (#1676)
  docs/website/package.json
Due: docs

feat(react): display webviews either in normal buttons and buttons as text
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
Due: react

refactor(react): use null instead of undefined to check props that are not set
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

test(react): add whatsapp buttons and webviews tests in multichannel button and multichannel text components
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-button.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-button.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
Due: react

chore(pulumi): create distributable version of @botonic/pulumi and bump to alpha.1
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
  packages/botonic-pulumi/src/aws/static-webchat-contents.ts
  packages/botonic-pulumi/src/index.ts
  packages/botonic-pulumi/src/pulumi-downloader.ts
  packages/botonic-pulumi/tsconfig.json
Due: none

fix(react): refactor MultichannelText to maintain previous behaviour of new line in buttons
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

chore(core): add minor improvements to models
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/carousel.ts
  packages/botonic-core/src/models/events/message/element.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/media.ts
Due: core

feat(core): add botonic output parser with tests and project config for hybrid project
  packages/botonic-core/jest.config.js
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.js
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/index.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/output-parser/util.ts
  packages/botonic-core/src/plugins.js
  packages/botonic-core/tests/helpers.ts
  packages/botonic-core/tests/parsing/carousel.test.tsx
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/location.test.tsx
  packages/botonic-core/tests/parsing/media.test.tsx
  packages/botonic-core/tests/parsing/text.test.tsx
  packages/botonic-core/tsconfig.json
Due: core

chore(core): bump to alpha 1.0.0-alpha.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

refactor(react): refactor and rename generateMultichannelButtons to regenerateMultichannelButtons
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
Due: react

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
