Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, nlp, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs, plugin-ner, plugin-intent-classification, plugin-flow-builder

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  nlp: any of: ^packages/botonic-nlp
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
  plugin-ner: any of: ^packages/botonic-plugin-ner/
  plugin-intent-classification: any of: ^packages/botonic-plugin-intent-classification/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/

refactor(plugin-flow-builder): be able to use bot actions in whatsapp button list
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-row.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-section.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

chore(plugin-flow-builder): publish 0.24.4
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

plugin-flow-builder: be able to use bot actions in whatsapp button list (#2787)
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-row.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-section.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

fix(plugin-flow-builder):use resolvedLocale in knowledge-base
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: plugin-flow-builder

chore(botonic-plugin-flow-buider): update CHANGELOG andd publish version 0.24.5
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

plugin-flow-builder: use resolvedLocale in knowledge-base (#2789)
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): use find in conditional provider
  packages/botonic-plugin-flow-builder/src/functions/conditional-provider.ts
Due: plugin-flow-builder

feat(plugin-flow-builder): create country conditional function
  packages/botonic-plugin-flow-builder/src/functions/conditional-country.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
Due: plugin-flow-builder

fix: upgrade axios from 1.6.5 to 1.6.7
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

fix: upgrade @babel/runtime from 7.23.8 to 7.23.9
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

fix: upgrade typescript from 5.3.2 to 5.3.3
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: cli

fix: upgrade @botonic/core from 0.23.2 to 0.24.0
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade jsrsasign from 10.8.6 to 10.9.0
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

plugin-flow-builder: country conditional function (#2788)
  packages/botonic-plugin-flow-builder/src/functions/conditional-country.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-provider.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): be able to use variables inside all request
  packages/botonic-plugin-flow-builder/src/functions/conditional-bot-variable.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): be able to use variables inside objects inside extra_data
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-bot-variable.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): never replace the _access_token in a message
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
Due: plugin-flow-builder

refactor(plugin-flow-builder): remove commented code and create constant
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
Due: plugin-flow-builder

refactor(plugin-flow-builder): no use getValueFromKeyPath when keyPath ends with _access_token
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
Due: plugin-flow-builder

feat(plugin-flow-builder): create a custom conditional to check bot variables
  packages/botonic-plugin-flow-builder/src/functions/conditional-bot-variable.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
Due: plugin-flow-builder

fix(plugin-flow-builder): if the variable is false or 0 it is replaced but if it does not exist it is not replaced
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: plugin-flow-builder

plugin-flow-builder: add custom conditional (#2791)
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-bot-variable.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): rename function
  packages/botonic-plugin-flow-builder/src/api.ts
Due: plugin-flow-builder

feat(plugin-flow-builder): resolve regexp in keywords
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
Due: plugin-flow-builder

plugin-flow-builder: resolve regex in keywords (#2797)
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
Due: plugin-flow-builder

feat(plugin-knowledge-bases): add is_faithful param in api response
  packages/botonic-plugin-knowledge-bases/src/hubtype-knowledge-api-service.ts
  packages/botonic-plugin-knowledge-bases/src/index.ts
Due: none

plugin-knowledge-bases: add is_faithful param in api response (#2798)
  packages/botonic-plugin-knowledge-bases/src/hubtype-knowledge-api-service.ts
  packages/botonic-plugin-knowledge-bases/src/index.ts
Due: none

chore(botonic): publish plugin-flow-builder and plugin-knowledge-bases
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-knowledge-bases/package-lock.json
  packages/botonic-plugin-knowledge-bases/package.json
Due: plugin-flow-builder

publish plugin-flow-builder and plugin-knowledge-bases (#2799)
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-knowledge-bases/package-lock.json
  packages/botonic-plugin-knowledge-bases/package.json
Due: plugin-flow-builder

chore(botonic): remove botonic-api from 1.0.0-dev.1
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/handlers/bot-executor/index.ts
  packages/botonic-api/src/handlers/index.ts
  packages/botonic-api/src/handlers/sender/aws-sender.ts
  packages/botonic-api/src/handlers/sender/index.ts
  packages/botonic-api/src/handlers/sender/local-sender.ts
  packages/botonic-api/src/index.ts
  packages/botonic-api/src/rest/index.ts
  packages/botonic-api/src/rest/routes/auth.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-api/src/rest/routes/validation/common.ts
  packages/botonic-api/src/rest/routes/validation/events.ts
  packages/botonic-api/src/rest/routes/validation/users.ts
  packages/botonic-api/src/rest/utils/paginator.ts
  packages/botonic-api/src/websocket/aws-websocket-server.ts
  packages/botonic-api/src/websocket/index.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-api/tsconfig.json
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/destroy.ts
Due: cli

chore(botonic): remove botonic-pulumi package
  packages/botonic-pulumi/jest.config.js
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
  packages/botonic-pulumi/src/aws/cache-invalidator.ts
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/dynamodb.ts
  packages/botonic-pulumi/src/aws/index.ts
  packages/botonic-pulumi/src/aws/nlp-models-bucket.ts
  packages/botonic-pulumi/src/aws/policies.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/sqs-lambda-mapping.ts
  packages/botonic-pulumi/src/aws/static-webchat-contents.ts
  packages/botonic-pulumi/src/aws/websocket-server-lambda.ts
  packages/botonic-pulumi/src/aws/websocket-server.ts
  packages/botonic-pulumi/src/index.ts
  packages/botonic-pulumi/src/pulumi-downloader.ts
  packages/botonic-pulumi/src/pulumi-runner.ts
  packages/botonic-pulumi/src/system-utils.ts
  packages/botonic-pulumi/tests/detect-updated-objects.test.ts
  packages/botonic-pulumi/tsconfig.json
Due: none

chore(botonic): remove botonic-ner package
  packages/botonic-plugin-ner/README.md
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/options.ts
  packages/botonic-plugin-ner/src/process/prediction-processor.ts
  packages/botonic-plugin-ner/src/process/text-processor.ts
  packages/botonic-plugin-ner/tests/helper/constants-helper.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tests/process/prediction-processor.test.ts
  packages/botonic-plugin-ner/tests/process/text-processor.test.ts
  packages/botonic-plugin-ner/tests/tsconfig.json
  packages/botonic-plugin-ner/tsconfig.eslint.json
  packages/botonic-plugin-ner/tsconfig.json
Due: plugin-ner

chore(botonic): remove botonic-intent-classification package
  packages/botonic-plugin-intent-classification/README.md
  packages/botonic-plugin-intent-classification/jest.config.js
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-intent-classification/src/index.ts
  packages/botonic-plugin-intent-classification/src/model/intent-classifier.ts
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
  packages/botonic-plugin-intent-classification/src/options.ts
  packages/botonic-plugin-intent-classification/src/process/prediction-processor.ts
  packages/botonic-plugin-intent-classification/src/process/text-processor.ts
  packages/botonic-plugin-intent-classification/tests/helper/constants-helper.ts
  packages/botonic-plugin-intent-classification/tests/helper/tools-helper.ts
  packages/botonic-plugin-intent-classification/tests/process/prediction-processor.test.ts
  packages/botonic-plugin-intent-classification/tests/process/text-processor.test.ts
  packages/botonic-plugin-intent-classification/tests/tsconfig.json
  packages/botonic-plugin-intent-classification/tsconfig.eslint.json
  packages/botonic-plugin-intent-classification/tsconfig.json
Due: plugin-intent-classification

chore(botonic): remove package-lock.json of all packages
  packages/botonic-core/package-lock.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/tsconfig.base.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-knowledge-bases/package-lock.json
  packages/botonic-plugin-knowledge-bases/tsconfig.base.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-react/package-lock.json
  scripts/package-lock.json
Due: core, contentful, dashbot, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder

chore(botonic): create a npm monorepo, tsconfig files to build as cjs and esm version, remove old babel plugins
  package-lock.json
  package.json
  packages/babel.config.js
  tsconfig.base.json
  tsconfig.cjs.base.json
  tsconfig.esm.base.json
Due: none

chore(botonic-core): update botonic-core to Node20 using the monorepo
  packages/botonic-core/babel.config.js
  packages/botonic-core/package.json
  packages/botonic-core/tsconfig.esm.json
  packages/botonic-core/tsconfig.json
Due: core

chore(botonic-react): update botonic-react to Node20 using the monorepo
  packages/botonic-react/babel.config.js
  packages/botonic-react/jest.config.js
  packages/botonic-react/package.json
  packages/botonic-react/src/assets/types.d.ts
  packages/botonic-react/tsconfig.esm.json
  packages/botonic-react/tsconfig.json
Due: react, react-d-ts

chore(plugin-flow-builder): update plugin-flow-builder to Node20 using the monorepo
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/tsconfig.esm.json
  packages/botonic-plugin-flow-builder/tsconfig.json
Due: plugin-flow-builder
