Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: scripts/qa/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: core-d-ts
        name: core-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/src/.*\.d\.ts

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: react-d-ts
        name: react-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/src/.*\.d\.ts

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/lint-package.sh docs/website
        language: system
        files: ^docs/website/

refactor(nlp): Included OneHotVector type
  packages/botonic-nlp/src/encode/one-hot-encoder.ts
Due: none

test(nlp): added more test cases
  packages/botonic-nlp/tests/codify/codifier.test.ts
  packages/botonic-nlp/tests/codify/one-hot-codifier.test.ts
Due: none

refactor(nlp): Codifiers renamed to Encoders
  packages/botonic-nlp/src/encode/label-encoder.ts
  packages/botonic-nlp/src/encode/one-hot-encoder.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/src/tasks/ner/process/processor.ts
  packages/botonic-nlp/tests/codify/codifier.test.ts
  packages/botonic-nlp/tests/encode/label-encoder.test.ts
  packages/botonic-nlp/tests/encode/one-hot-codifier.test.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
Due: none

feat(nlp): remove id validation from OneHotCodifier
  packages/botonic-nlp/src/codify/one-hot-codifier.ts
Due: none

refactor(nlp): variable validations refactored
  packages/botonic-nlp/src/encode/label-encoder.ts
  packages/botonic-nlp/src/encode/one-hot-encoder.ts
Due: none

feat(nlp): old codifier removed
  packages/botonic-nlp/src/preprocess/codifier.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/src/tasks/ner/process/processor.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/preprocess/codifier.test.ts
Due: none

refactor(core): simplify HubtypeService
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-core/src/hubtype-service.test.js
Due: core

feat(core): throw when webchat has lost user or appId
  packages/botonic-core/src/hubtype-service.js
Due: core

feat(core): improvements in HubtypeService (#1370)
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-core/src/hubtype-service.test.js
Due: core

feat(ner-plugin): BotonicPluginNer implemented (#1396)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/tsconfig.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-info.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/utils/locale-utils.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tsconfig.json
Due: none

feat(ner-plugin): Postprocess implemented (#1394)
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/tests/postprocess/prediction-processor.test.ts
Due: none

fix(processor): ner processor needs to pad sequence (#1378)
  packages/botonic-nlp/src/tasks/ner/process/processor.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/ner/process/processor.test.ts
  packages/botonic-nlp/tests/tasks/ner/storage/config-storage.test.ts
Due: none

feat(cli): task flag in botonic train command (#1379)
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/tests/commands/train.test.ts
Due: cli

feat(ner-plugin): Preprocess implemented (#1393)
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/tests/helper/constants-helper.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tests/preprocess/input-generator.test.ts
Due: none

refactor(plugin-ner): Reorganize Processes (#1420)
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/src/process/prediction-processor.ts
  packages/botonic-plugin-ner/src/process/text-processor.ts
  packages/botonic-plugin-ner/tests/process/prediction-processor.test.ts
  packages/botonic-plugin-ner/tests/process/text-processor.test.ts
Due: none

feat(utils): Environment and locale utils implemented (#1391)
  .github/workflows/botonic-plugin-ner-tests.yml
  .pre-commit-config.yaml
  codecov.yml
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/constants.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/utils/locale-utils.ts
  packages/botonic-plugin-ner/tests/utils/locale-utils.test.ts
  packages/botonic-plugin-ner/tsconfig.eslint.json
  packages/botonic-plugin-ner/tsconfig.json
Due: none

feat(ner): model storaged by locale (#1392)
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
Due: none

refactor(preprocess): engines now use nlpjs (#1377)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/index.ts
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stemmer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stopwords-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/tokenizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stemmer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stopwords-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/src/preprocess/index.ts
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/preprocess/types.ts
  packages/botonic-nlp/tests/preprocess/engines/en/normalizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/stemmer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/tokenizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/normalizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/stemmer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/tokenizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/vocabulary-generator.test.ts
Due: none

feat(ner-plugin): NER model implemented (#1395)
  packages/botonic-plugin-ner/src/model/ner.ts
Due: none

feat(nlp): Split different types of Codifiers (#1418)
  packages/botonic-nlp/src/encode/label-encoder.ts
  packages/botonic-nlp/src/encode/one-hot-encoder.ts
  packages/botonic-nlp/src/preprocess/codifier.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/src/tasks/ner/process/processor.ts
  packages/botonic-nlp/tests/encode/label-encoder.test.ts
  packages/botonic-nlp/tests/encode/one-hot-codifier.test.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/preprocess/codifier.test.ts
Due: none

chore(core): setup project for hybrid files, .js and .ts
  packages/botonic-core/jest.config.js
  packages/botonic-core/package.json
  packages/botonic-core/tsconfig.json
Due: core

chore(core): migration of hubtype-service to .ts
  packages/botonic-core/jest.config.js
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-core/src/types/hubtype-service.d.ts
  packages/botonic-core/src/types/index.d.ts
  packages/botonic-core/tsconfig.json
Due: core, core-d-ts

chore(core): keep adding types
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-core/src/types/hubtype-service.d.ts
  packages/botonic-core/src/types/index.d.ts
Due: core, core-d-ts

doc(contentful): improved doc on im/export CSV
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
  packages/botonic-plugin-contentful/src/tools/l10n/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
Due: contentful

refactor(plugin-ner): Codifier replaced by LabelEncoder
  packages/botonic-plugin-ner/src/process/text-processor.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
Due: none

chore(nlp/plugin-ner): bump alpha version and update botonic-nlp dep
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
Due: none

refactor(plugin-ner): Codifier replaced by LabelEncoder (#1437)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/process/text-processor.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
Due: none

test(nlp): simpleNN test
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/tasks/text-classification/models/simple-nn.test.ts
Due: none

feat(nlp): text classifier model
  packages/botonic-nlp/src/tasks/text-classification/models/constants.ts
  packages/botonic-nlp/src/tasks/text-classification/models/simple-nn.ts
  packages/botonic-nlp/src/tasks/text-classification/models/types.ts
Due: none

feat(nlp): simpleNN only needs num of classes
  packages/botonic-nlp/src/tasks/text-classification/models/simple-nn.ts
Due: none

poc: adapt session to recoil
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/actions.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/recoil/atoms.js
  packages/botonic-react/src/webchat/session-view.jsx
  packages/botonic-react/src/webchat/webchat-dev.jsx
  packages/botonic-react/src/webchat/webchat-reducer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

poc: adapt tests to recoil
  packages/botonic-react/tests/components/custom-message.test.jsx
  packages/botonic-react/tests/components/text.test.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/buttons-disabler.test.jsx
  packages/botonic-react/tests/webchat/storage.test.jsx
  packages/botonic-react/tests/webchat/webchat.addmessages.test.jsx
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: react

feat(nlp): Text Classification - Models (#1433)
  packages/botonic-nlp/src/tasks/text-classification/models/constants.ts
  packages/botonic-nlp/src/tasks/text-classification/models/simple-nn.ts
  packages/botonic-nlp/src/tasks/text-classification/models/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/tasks/text-classification/models/simple-nn.test.ts
Due: none

feat(nlp): text classication config storage
  packages/botonic-nlp/src/tasks/text-classification/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/text-classification/storage/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/model/config.json
  packages/botonic-nlp/tests/tasks/text-classification/storage/config-storage.test.ts
Due: none

refactor(nlp): static methods removed from storer
  packages/botonic-nlp/src/tasks/text-classification/storage/config-storage.ts
  packages/botonic-nlp/tests/tasks/text-classification/storage/config-storage.test.ts
Due: none

feat(nlp): Text Classification - Storage (#1435)
  packages/botonic-nlp/src/tasks/text-classification/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/text-classification/storage/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/model/config.json
  packages/botonic-nlp/tests/tasks/text-classification/storage/config-storage.test.ts
Due: none

feat(nlp): processor implemented
  packages/botonic-nlp/src/tasks/text-classification/process/processor.ts
  packages/botonic-nlp/src/tasks/text-classification/process/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/tools-helper.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/processor.test.ts
Due: none
