Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

chore: bump all packages, plugins and templates to v0.11.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

chore(react): bump to 0.11.0-alpha.9
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

chore(react): bump to new react alpha
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix: hotfix for [Object object] in some texts with buttons
  packages/botonic-react/src/components/text.jsx
Due: react

chore(contentful/dynamo/cli): eslint also .js files
  packages/botonic-cli/tsconfig.json
  packages/botonic-plugin-contentful/jest.config.js
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/tsconfig.eslint.json
  packages/botonic-plugin-dynamodb/jest.config.js
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-dynamodb/tsconfig.eslint.json
Due: contentful, dynamodb

chore: upgrade prettier to 2.0
  .prettierrc
  package-lock.json
  package.json
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/utils.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/cache.ts
  packages/botonic-plugin-contentful/src/tools/translators/csv-import.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/track.ts
Due: contentful, dynamodb

chore(contentful/dynamo): format jest.config.js
  package-lock.json
  package.json
Due: none

chore: upgrade all jest dependencies to ^25.2.0
  examples/hubtype_demo/package-lock.json
  examples/hubtype_demo/package.json
  package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
Due: none

fix(contentful): TokenizerCa to splits "donar-se" but not "covid-19"
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/tokens.test.ts
Due: contentful

chore: upgrade eslint deps
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

fix(react): fix on finish handoff indevelopment mode
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(core): be able to assign via agentId
  packages/botonic-core/index.d.ts
  packages/botonic-core/src/handoff.js
  packages/botonic-core/src/handoff.test.js
Due: core

refactor: be dry and proper early return
  packages/botonic-core/src/handoff.js
  packages/botonic-react/src/utils.js
Due: core, react

chore(react): bump from 0.11.0 to 0.11.1
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

chore(core): bump from 0.11.0 to 0.11.1
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

feat: upgrade node-nlp to tokenize 'covid-19' in Portugue
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

chore: pre-commit was not aborting when lint failed
  scripts/qa/lint-all-packages.sh
  scripts/qa/lint-package.sh
Due: none

chore: add changelog for v0.11.0
  CHANGELOG.md
Due: none

chore(deps): downgrade compromise from 13.1.1 to 11.13.2
  packages/botonic-nlu/package.json
Due: none

chore: dependabot to ignore compromise bumps right now
  .dependabot/config.yml
Due: none

fix(templates): add src/nlu/models with .gitkeep
  packages/botonic-cli/templates/blank/src/nlu/models/.gitkeep
  packages/botonic-cli/templates/childs/src/nlu/models/.gitkeep
  packages/botonic-cli/templates/custom-webchat/src/nlu/models/.gitkeep
  packages/botonic-cli/templates/dynamic-carousel/src/nlu/models/.gitkeep
  packages/botonic-cli/templates/handoff/src/nlu/models/.gitkeep
  packages/botonic-cli/templates/intent/src/nlu/models/.gitkeep
  packages/botonic-cli/templates/nlu/src/nlu/models/.gitkeep
  packages/botonic-cli/templates/tutorial/src/nlu/models/.gitkeep
Due: none

fix(templates): ignore transform react-children-utilites jest templates
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
Due: none

chore(cli): bump from 0.11.0 to 0.11.1
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: none

chore(contentful): bump 0.11.2
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
