Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

refactor(plugin-watson): plugin class cleaned
  packages/botonic-plugin-watson/src/index.js
Due: watson

refactor: migrate package to TS
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dialogflow/src/index.ts
  packages/botonic-plugin-dialogflow/src/types.ts
  packages/botonic-plugin-dialogflow/tsconfig.json
Due: dialogflow

test: add jest config and 1st test
  packages/botonic-plugin-dialogflow/jest.config.js
  packages/botonic-plugin-dialogflow/tests/index.test.ts
Due: dialogflow

chore: configure GH workflow and codecov
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  codecov.yml
Due: none

refactor(plugin-watson): WatsonOutputParser implemented
  packages/botonic-plugin-watson/src/index.js
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: watson

chore: disable codecov's comments in PRs
  codecov.yml
Due: none

remove tests to see how coverage changes
  packages/botonic-core/src/router.test.js
Due: core

include more code
  packages/botonic-core/src/index.js
  packages/botonic-core/src/router-another.js
Due: core

refactor(plugin-watson): parse method renamed
  packages/botonic-plugin-watson/src/index.js
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: watson

feat(plugin-contentful): add custom fields + tests + pass ignoreFields directly + fix some ignoreFields
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/url.test.ts
Due: contentful

feat(plugin-contentful): add custom fields to carrousel + add test
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/carousel.test.ts
Due: contentful

feat(plugin-contentful): add from and to as cases to not include in the custom fields
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

feat(plugin-contentful): check followup name inside addCustomFields function
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

docs(plugin-contentful): add info about supported types and from and to fields
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

wip
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

style(plugin-contentful): prettier
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

feat(plugin-contentful): remove unnecessary parameter, add info comments
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

feat(plugin-contentful): add ignoreFields argument + add custom field to schedule + add test
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/schedule.test.ts
Due: contentful

feat(plugin-contentful): add custom fields
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/queue.test.ts
Due: contentful

feat(plugin-contentful): add new fields to filter + add custom fields to image + add test
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/image.test.ts
Due: contentful

feat(plugin-contentful): fix ignoreFields from image + add scustom fields to startup + add test
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/startup.test.ts
Due: contentful

feat(plugin-contentful): add custom fields to date range + add test
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/date-range.test.ts
Due: contentful

docs(plugin-watson): readme updated
  packages/botonic-plugin-watson/README.md
Due: watson

chore: install common dependencies once during publish
  preinstall.js
  scripts/ci/publish.ts
  scripts/ci/utils.ts
  scripts/package.json
Due: none

chore: publish to abort when st fails
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  scripts/ci/utils.ts
Due: dashbot, dialogflow, luis, segment, watson, google-analytics, inbenta

chore(core/react): fix types distribution
  packages/botonic-core/package.json
  packages/botonic-react/package.json
Due: core, react

chore: disable codecov's comments in PRs (#1403)
  codecov.yml
Due: none

refactor(plugin-watson): data format to botonic standard
  packages/botonic-plugin-watson/README.md
  packages/botonic-plugin-watson/src/index.js
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: watson

docs: fix example and add info in readme (#1376)
  .gitignore
  README.md
  docs/docs/components/components-multichannel.md
Due: none

docs: corrected typo
  docs/docs/webchat/webchat-api.md
Due: none

doc(plugin-watson): irrelevant sentence removed from README
  packages/botonic-plugin-watson/README.md
Due: watson

feat(plugin-watson): check sessionId before request
  packages/botonic-plugin-watson/src/index.js
Due: watson

refactor(plugin-watson): removed error cast as String
  packages/botonic-plugin-watson/src/index.js
Due: watson

refactor(plugin-watson): req. options checked individually
  packages/botonic-plugin-watson/src/index.js
Due: watson

refactor(plugin-watson): intent and confidence returned together
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: watson

chore(contentful): contentful migrations
  packages/botonic-plugin-contentful/bin/migrations/content-types/carousel.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/daterange.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/queue.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/startup.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/text.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/url-shorttext.ts
  packages/botonic-plugin-contentful/bin/migrations/factories.ts
  packages/botonic-plugin-contentful/bin/migrations/migrate_contents.sh
Due: contentful

refactor(plugin-watson): UNKNOWN_INTENT simplified
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: watson

chore: upgrade-deps.sh optimize & abort if fails
  scripts/ci/upgrade-deps.sh
Due: none

chore: update common dev deps & contentful deps
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
