Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: scripts/qa/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: core-d-ts
        name: core-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/src/.*\.d\.ts

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: react-d-ts
        name: react-d-ts
        entry: scripts/qa/lint-d-ts.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/src/.*\.d\.ts

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/lint-package.sh docs/website
        language: system
        files: ^docs/website/

fix: packages/botonic-nlp/package.json & packages/botonic-nlp/package-lock.json to reduce vulnerabilities
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
Due: none

wip: multilocale
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-entry.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
Due: contentful

feat(babel): adapt to multiple intents
  packages/botonic-plugin-hubtype-babel/src/index.ts
Due: none

docs(babel): readme updated
  packages/botonic-plugin-hubtype-babel/README.md
Due: none

feat(botonic-plugin-contentful): add video content type + add tests
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/contents/video.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/video.test.ts
  packages/botonic-plugin-contentful/tests/render/botonic-converter.test.ts
  packages/botonic-plugin-contentful/tests/tools/validate-all-contents.test.ts
Due: contentful

feat(botonic-plugin-contentful):add video to message content filters
  packages/botonic-plugin-contentful/src/cms/transform/message-content-filters.ts
Due: contentful

feat(babel): Adapt Botonic Babel plugin to multiple intents #DAT-87 (#2201)
  packages/botonic-plugin-hubtype-babel/README.md
  packages/botonic-plugin-hubtype-babel/src/index.ts
Due: none

fix: allow secret explicitly
  .secrets.baseline
  packages/botonic-core/src/hubtype-service.ts
Due: core

docs(babel): bump plugin version
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
Due: none

docs(babel): bump plugin version (#2204)
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
Due: none

fix: allow secret explicitly (#2202)
  .secrets.baseline
  packages/botonic-core/src/hubtype-service.ts
Due: core

feat(core): add autoIdleMessage in HandoffBuilder to be able to set an auto message when the case is set to IDLE status
  packages/botonic-core/src/handoff.ts
Due: core

test(core): test the new withAutoIdleMessage function in HandoffBuilder
  packages/botonic-core/tests/handoff.test.ts
Due: core

feat(react): allow user input preprocessing before checking the regexp in blockInputs
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: react, react-d-ts

style(react): remove BotOptions interface and use core.CoreBotConfig instead
  packages/botonic-core/src/core-bot.ts
  packages/botonic-react/src/index.d.ts
Due: core, react, react-d-ts

feat(react): add specific class names in buttons depending of its type (custom, payload, url, webview or path)
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/components/button.jsx
Due: react

fix(core): fix import error with pako package
  packages/botonic-core/src/pusher-utils.ts
Due: core

feat(core): Allow to set an auto idle message in Handoff Builder (#2218)
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/tests/handoff.test.ts
Due: core

feat(react): Allow user input preprocess in blockInputs (#2219)
  packages/botonic-core/src/core-bot.ts
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: core, react, react-d-ts

feat(react): Add class names to buttons (#2220)
  packages/botonic-core/src/pusher-utils.ts
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/components/button.jsx
Due: core, react

chore(core/react): bump versions to 0.20.3
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

feat: multilocale
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-entry.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
Due: contentful

chore(core/react): bump versions to 0.20.3 (#2221)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

feat: create input content
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/input.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful

fix(botonic-plugin-contentful): lint
  packages/botonic-plugin-contentful/src/cms/transform/message-content-filters.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
Due: contentful

wip(contentful): create intent content
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/intent.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful

feat(contentful): create input content
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/input.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful

feat(contentful): create intent content
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/intent.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful
