Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

fix(contentful): roll back button delivery optimization
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
Due: contentful

fix(contentful): also export keywords to CSV
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
  packages/botonic-plugin-contentful/src/tools/translators/csv-export.ts
  packages/botonic-plugin-contentful/tests/tools/translators/csv-export.test.ts
Due: contentful

chore(contentful): ErrorReportingCMS to wrap exception
  docs/5.plugins/3.plugin-contentful.mdx
  packages/botonic-plugin-contentful/bin/translators/export-for-translators.sh
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/tools/translators/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/tests/cms/cms-error.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/ignore-fallback-decorator.test.ts
Due: contentful

feat(contentful): ManageCMS to update contents
  .github/workflows/botonic-plugin-contentful-tests.yml
  packages/botonic-plugin-contentful/src/contentful/manage/index.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/index.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-context.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
Due: contentful

feat(contentful): import csv from translators
  packages/botonic-plugin-contentful/bin/translators/import-from-translators.sh
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/tools/translators/csv-import.ts
  packages/botonic-plugin-contentful/src/tools/translators/import-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/translators/index.ts
  packages/botonic-plugin-contentful/src/util/enums.ts
  packages/botonic-plugin-contentful/tests/tools/translators/__fixtures__/contentful_es-pl.csv
  packages/botonic-plugin-contentful/tests/tools/translators/csv-import.test.ts
  packages/botonic-react/package.json
Due: contentful, react

chore(dynamo): move Env to its own file to ease tree-shaking
  packages/botonic-plugin-dynamodb/README_wip.md
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-dynamodb/src/index.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/config.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/dynamo.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/index.ts
  packages/botonic-plugin-dynamodb/tests/infrastructure/dynamo.integration.test.ts
Due: dynamodb

chore(contentful): import only required lang node-nlp folders
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
Due: contentful

test(contentful): extend timeout & ensure sequential execution
  packages/botonic-plugin-contentful/README_wip.md
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/index.ts
  packages/botonic-plugin-contentful/tests/contentful/ignore-fallback-decorator.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
  packages/botonic-plugin-contentful/tests/tools/translators/csv-import.test.ts
Due: contentful

chore: limit the files to be published
  packages/botonic-core/package.json
  packages/botonic-plugin-contentful/README.md
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-react/package.json
Due: core, contentful, dynamodb, react

test(contentful): skip test because it fails from CI
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
Due: contentful

doc: example
  docs/1.introduction/index.mdx
Due: none

chore(core): add types for cancelHandoff, deleteUser, and shadowing options
  packages/botonic-core/index.d.ts
Due: core

chore(core/react): d.ts was not being eslinted
  packages/botonic-core/package.json
Due: core

feat(core): add handoff options for shadowing, cancelHandoff and deleteUser
  packages/botonic-core/src/handoff.js
  packages/botonic-core/src/index.js
Due: core

fix(core): define typification param as optional in cancelHandoff types
  packages/botonic-core/index.d.ts
Due: core

fix(core): cancelHandoff to return a 'typification' param only if it's defined
  packages/botonic-core/src/handoff.js
Due: core

style(core): code formatting of index.d.ts
  packages/botonic-core/index.d.ts
Due: core

chore(contentful/dynamo): eslint to also affect .eslintrc*js
  packages/botonic-plugin-contentful/.eslintrc_slow.js
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/tsconfig.eslint.json
  packages/botonic-plugin-dynamodb/.eslintrc_slow.js
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-dynamodb/tsconfig.eslint.json
Due: contentful, dynamodb

chore(contentful/dynamo): apply eslint to .eslintrc*.js
  packages/botonic-plugin-contentful/.eslintrc.js
  packages/botonic-plugin-contentful/.eslintrc_slow.js
  packages/botonic-plugin-dynamodb/.eslintrc.js
  packages/botonic-plugin-dynamodb/.eslintrc_slow.js
Due: contentful, dynamodb

chore(react/core/cli): apply eslint to .eslintrc*.js and babel.config.js
  packages/botonic-cli/.eslintrc.js
  packages/botonic-cli/package.json
  packages/botonic-cli/tsconfig.json
  packages/botonic-core/.eslintrc.js
  packages/botonic-core/babel.config.js
  packages/botonic-core/package.json
  packages/botonic-react/.eslintrc.js
  packages/botonic-react/babel.config.js
  packages/botonic-react/package.json
Due: core, react

refactor: rename 'whatsappnew' to 'whatsapp'
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-core/src/constants.js
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/webview.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
Due: core, react

chore(react): remove again dev deps
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

chore: increase minimum node version from 8 to 10
  package.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-react/package.json
Due: core, react

chore: bump to test with alpha versions of cli, core and react
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

chore: bump all packages to alphas after v10 node upgrade, regenerate package-locks
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

fix: downgrade compromise to working version
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
Due: none

chore: bump nlu to new working version
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
Due: none

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
