Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

fix(templates): ignore transform react-children-utilites jest templates
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
Due: none

fix: BotonicMsgConverter was not using replaceEmptyStringsWith option value
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
  packages/botonic-plugin-contentful/tests/render/botonic-converter.test.ts
Due: contentful

feat: upgrade node-nlp to tokenize 'covid-19' in Portugue
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

chore: pre-commit was not aborting when lint failed
  scripts/qa/lint-all-packages.sh
  scripts/qa/lint-package.sh
Due: none

chore(react): move webchatReducer to its own file
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: react

chore: split complex methods & limit complexity to 18
  package-lock.json
  package.json
  packages/.eslintrc.js
  packages/botonic-core/src/router.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: core, react

fix: make sure there are no residual tmp files
  packages/botonic-cli/src/commands/deploy.ts
Due: none

fix: use rimraf in favor of fs.rmdirsync
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
Due: none

chore(contentful): bump 0.11.2
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

chore(core/react): improve index.d.ts
  packages/botonic-core/index.d.ts
  packages/botonic-react/src/index.d.ts
  packages/index.ts
Due: core, react

chore(contentful): report when buttons or followups fail
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/tools/validate-all-contents.ts
Due: contentful

chore(contentful): check if linked entry is available
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/traverser.ts
Due: contentful

chore(contentful): use ContextWithLocale if locale required
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/search/search-by-keywords.ts
  packages/botonic-plugin-contentful/src/search/search.ts
Due: contentful

test(contentful): new test & use ErrorReportingCMS
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/search/search.integration.test.ts
Due: contentful

chore(contentful): new content cloners
  .editorconfig
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-context.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-button.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel-multibutton.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-button.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel-multibutton.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
Due: contentful, react

feat(react): multichannel button to support letter index
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
Due: react

feat(react): compact multichannel text & carousel
  packages/botonic-plugin-contentful/jest.setup.js
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: contentful, react

feat(react): Text.serialize to support only buttons
  packages/botonic-react/src/components/text.jsx
Due: react

wip
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/queue.test.ts
  packages/botonic-react/src/components/multichannel/multichannel-context.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-wrapper.test.jsx
Due: contentful, react

chore(cli): bump to 0.11.0-alpha.2 to test
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
Due: none

chore(cli): bump to 0.11.2
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: none

fix(contentful): empty text fields were undefined
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
Due: contentful

wip
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-context.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-carousel-multibutton.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-wrapper.test.jsx
Due: react

fix: allow also only agent emails on handoff
  packages/botonic-core/src/handoff.js
Due: core

fix: rename vacations->vacation, apply loan feedback
  packages/botonic-core/index.d.ts
  packages/botonic-core/src/handoff.js
  packages/botonic-core/src/index.js
Due: core

feat(core): get agent vacations ranges
  packages/botonic-core/index.d.ts
  packages/botonic-core/src/handoff.js
  packages/botonic-core/src/index.js
Due: core

wip
  packages/botonic-react/src/components/multichannel/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-carousel-multibutton.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
Due: react

docs(all sections): add new content and update existing one
  docs/1.introduction/1.index.mdx
  docs/1.introduction/index.mdx
  docs/2.getting-started/1.installation.mdx
  docs/2.getting-started/2.creating-your-first-bot.md
  docs/2.getting-started/2.getting-started.mdx
  docs/3.main-concepts/9_2.channels.mdx
  docs/3.tutorials/4.create-convapp.mdx
  docs/3.tutorials/7.testing-your-componentsold.md
  docs/4.templates/1.templates.mdx
  docs/4.templates/2.template-custom-webchat.mdx
  docs/4.templates/3.childs.mdx
  docs/4.templates/4.template-dynamic-carousel.mdx
  docs/4.templates/5.template-human-handoff.mdx
  docs/4.templates/6.template-nlu.mdx
  docs/5.concepts/10.actions.mdx
  docs/5.concepts/11.botonic_settings.mdx
  docs/5.concepts/12.components.mdx
  docs/5.concepts/14.humanhandoff.mdx
  docs/5.concepts/15.i18n.mdx
  docs/5.concepts/16.nlu.mdx
  docs/5.concepts/17.routes.mdx
  docs/5.concepts/18.webchat.mdx
  docs/5.concepts/19.webviews.mdx
  docs/6.supported-platforms/20.supported-platforms.mdx
  docs/7.plugins/21.botonic-plugins.mdx
  docs/7.plugins/22.using-plugins.mdx
  docs/7.plugins/23.plugin-contentful.mdx
  docs/8.project/project-structure.mdx
  docs/9.test-deploy/1.testing-your-components.mdx
  docs/9.test-deploy/2.deployment.mdx
Due: none
