Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

refactor: split reducer into two reducers
  packages/botonic-react/src/webchat/messages-reducer.js
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: react

chore: reduce complexity again to 18
  packages/.eslintrc.js
Due: none

refactor: add shorthand for renderUseWebchatHook in test utils
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

refactor: extract reducer actions into actions file
  packages/botonic-react/src/webchat/actions.jsx
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat-reducer.js
Due: react

test: add updateMessage test
  packages/botonic-react/tests/webchat/usewebchat.test.js
Due: react

fix: handle keyboard issues for Safari Iphones
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(contentful): prefer tokens to stems when comparing to keywords
  packages/botonic-plugin-contentful/src/nlp/keywords.ts
  packages/botonic-plugin-contentful/src/nlp/normalizer.ts
  packages/botonic-plugin-contentful/src/nlp/similar-words.ts
  packages/botonic-plugin-contentful/src/tools/search-performance.ts
  packages/botonic-plugin-contentful/tests/nlp/keywords.test.ts
Due: contentful

test(contentful): remove duplicated performance benchmark
  packages/botonic-plugin-contentful/tests/nlp/similar-words.test.ts
Due: contentful

feat(contentful): set score in SearchResult from keywords
  packages/botonic-plugin-contentful/src/search/search-by-keywords.ts
  packages/botonic-plugin-contentful/tests/search/search-by-keywords.test.ts
Due: contentful

test(contentful): remove empty tests
  packages/botonic-plugin-contentful/tests/nlp/similar-words.test.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmers/polish-stemmer.test.ts
  packages/botonic-plugin-contentful/tests/nlp/token-skipper.test.ts
  packages/botonic-plugin-contentful/tests/nlp/token-stripper.test.ts
Due: contentful

style(contentful): split SearchResult & SearchCandidate
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/contentful/search/keywords.ts
  packages/botonic-plugin-contentful/src/nlp/index.ts
  packages/botonic-plugin-contentful/src/search/search-by-keywords.ts
  packages/botonic-plugin-contentful/src/search/search-result.ts
  packages/botonic-plugin-contentful/tests/search/search-by-keywords.test.ts
  packages/botonic-plugin-contentful/tests/search/search.test.ts
Due: contentful

chore: scripts to count lines of code on each package
  package-lock.json
  package.json
  scripts/qa/cloc-all-packages.sh
  scripts/qa/cloc-package.sh
  scripts/qa/lint-all-packages.sh
Due: none

chore: npm run cloc & ts-node
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

chore(cli): enable more checks in tsconfig.json
  package.json
  packages/botonic-cli/tsconfig.json
Due: none

fix: unify names to avoid conflicts
  packages/botonic-core/src/hubtype-service.js
Due: core

feat(contentful): normalizer to reject empty strings
  packages/botonic-plugin-contentful/src/nlp/keywords.ts
  packages/botonic-plugin-contentful/src/nlp/normalizer.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/tests/nlp/keywords.test.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

chore(contentful): version bump 0.12.0-rc.1
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

chore(core/react): version bump 0.11.3-rc.1
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

chore(core/react): operations with MessageContent followups
  packages/botonic-plugin-contentful/jest.config.js
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/cms/contents.test.ts
  packages/botonic-plugin-contentful/tests/helpers/expect.ts
Due: contentful

chore: upgrade dev dependencies
  package-lock.json
  package.json
Due: none

feat(react): add borderRadius for persistentMenu
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/webchat/components/persistent-menu.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor: move iphone methods to KeyboardResizer class
  packages/botonic-react/src/keyboard-resizer.js
  packages/botonic-react/src/utils.js
  packages/botonic-react/src/webchat/components/styled-scrollbar.scss
  packages/botonic-react/src/webchat/message-list.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

style(core): export provider & input consts
  packages/botonic-core/index.d.ts
  packages/botonic-core/src/index.js
Due: core

fix(react): rename bottomRadius prop
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/webchat/components/persistent-menu.jsx
Due: react
