Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlp, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, react-d-ts, google-analytics, inbenta, docs, plugin-ner, plugin-intent-classification

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlp: any of: ^packages/botonic-nlp
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
  plugin-ner: any of: ^packages/botonic-plugin-ner/
  plugin-intent-classification: any of: ^packages/botonic-plugin-intent-classification/

fix: upgrade react-json-tree from 0.15.1 to 0.18.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix: upgrade styled-components from 5.3.3 to 5.3.9
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix: upgrade better-sqlite3 from 7.4.6 to 7.6.2
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
Due: nlp

fix: upgrade @nlpjs/lang-es from 4.22.0 to 4.26.1
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
Due: nlp

chore(botonic-dx): updated version
  packages/botonic-dx/package.json
Due: none

chore(botonic-dx): added more paths to testPathIgnorePatterns and transformIgnorePatterns added axios (#2330)
  packages/botonic-dx/baseline/jest.config.js
  packages/botonic-dx/package.json
Due: none

fix(plugin-google-analytics): execute getUserId only if it's declared
  packages/botonic-plugin-google-analytics/src/index.ts
Due: google-analytics

docs(plugin-google-analytics): update README according to the applied GA4 changes
  packages/botonic-plugin-google-analytics/README.md
Due: google-analytics

chore(plugin-google-analytics): fix minor typo and format README document
  packages/botonic-plugin-google-analytics/README.md
Due: google-analytics

Feat/botonic plugin analytics v4 (#2306)
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.js
  packages/botonic-plugin-google-analytics/src/index.ts
  packages/botonic-plugin-google-analytics/src/types.ts
  packages/botonic-plugin-google-analytics/tsconfig.base.json
  packages/botonic-plugin-google-analytics/tsconfig.esm.json
  packages/botonic-plugin-google-analytics/tsconfig.json
Due: google-analytics

chore: applying prettier
  packages/botonic-react/src/webview.jsx
Due: react

feat: add support to close webviews in instagram
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/webview.jsx
Due: core, react

chore(core): bump version to 0.21.3
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

chore(react): bump version to 0.21.3
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

feat: add support to close webviews in instagram #PLA-1688 (#2332)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webview.jsx
Due: core, react

feat(plugin-flow-builder): read flowContents in pre
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(botonic-plugin-flow-builder): set main package structure
  packages/botonic-plugin-flow-builder/README.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/text.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-provider.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/hubtype-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
  packages/botonic-plugin-flow-builder/tsconfig.base.json
  packages/botonic-plugin-flow-builder/tsconfig.esm.json
  packages/botonic-plugin-flow-builder/tsconfig.json
Due: none

chore(plugin-flow-builder): rename subtype to action, bump alpha version
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): bump alpha version
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

fix(plugin-flow-builder): rename queueId to queue_id
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
Due: none

chore(plugin-flow-builder): add check for urlButton and bump alpha
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
Due: none

chore(plugin-flow-builder): fix initialization of options and read HUBTYPE_API_URL from env var
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: none

refactor(plugin-flow-builder): renaming and create content-fields as a module folder
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-fields-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/types.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-flow-builder): refactor types to match the ones in JSON schema
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): check only queue schedule availability, add some triple equals
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: none

chore(plugin-flow-builder): rename hubtype-models to flow-builder-models
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/text.tsx
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

Plugin Flow Builder - Make handoff simpler (#2313)
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/handoff.ts
Due: none

chore(plugin-flow-builder): add missing types
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/text.tsx
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/hubtype-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-flow-builder): get rid of Ht prefix
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/text.tsx
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): passing acccess token method to plugin
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

fix(plugin-flow-builder): quick fix for button urls
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): add startId function
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/hubtype-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): move getImageByLocale to ContentBase class and export Plugin types
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: none

feat(plugin-flow-builder): pass getLocale function from constructor
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

Plugin flow builder - Adding payload to buttons (#2318)
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
Due: none

fix(plugin-flow-builder): patching url buttons not working in carousels
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none
