Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlp, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, react-d-ts, google-analytics, inbenta, docs, plugin-ner, plugin-intent-classification

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlp:
  name: nlp
  entry: scripts/qa/lint-package.sh packages/botonic-nlp
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

plugin-ner:
  name: plugin-ner
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-ner
  language: system

plugin-intent-classification:
  name: plugin-intent-classification
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-intent-classification
  language: system

refactor(react): fix index.d.ts types not being exported after migrating to typescript (#2496)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/botonic-tester.jsx
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/multichannel/index-types.ts
  packages/botonic-react/src/components/multichannel/index.ts
  packages/botonic-react/src/contexts.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/message-utils.js
  packages/botonic-react/src/react-bot.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/index.ts
  packages/botonic-react/tests/msg-to-botonic.test.jsx
  packages/botonic-react/tests/utils.test.js
  packages/botonic-react/tests/webchat.theme.test.js
  packages/botonic-react/tsconfig.json
Due: react, react-d-ts

chore(botonic): added reusable workflow structure
  .github/workflows/botonic-common-workflow.yml
Due: none

test(botonic): trying reusable workflow on luis plugin workflow
  .github/workflows/botonic-plugin-luis-tests.yml
Due: none

chore: update botonic react
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

feat: use handoff auto assign prop
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
Due: none

chore(botonic): adapt more workflows to test functionallity
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
Due: none

refactor(react): create index for utils folder
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/util/index.d.ts
  packages/botonic-react/src/util/index.js
  packages/botonic-react/src/util/index.ts
Due: react, react-d-ts

chore(react): remove typing .d.ts files from linter
  packages/botonic-react/package.json
Due: react

Feat: use handoff auto assign prop on the flow builder #BLT-91 (#2502)
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
Due: none

refactor(react): utils module to typescript (#2504)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/util/index.d.ts
  packages/botonic-react/src/util/index.js
  packages/botonic-react/src/util/index.ts
Due: react, react-d-ts

chore(botonic): adapt all workflows to use the new reusable workflow
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dashbot-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-plugin-inbenta-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-plugin-segment-tests.yml
  .github/workflows/botonic-plugin-watson-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

chore(botonic): activate workflow dispatch
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dashbot-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-plugin-inbenta-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-luis-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-plugin-segment-tests.yml
  .github/workflows/botonic-plugin-watson-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

chore(botonic): add missing commands and extra logic for bots with different build commands
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dashbot-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-plugin-inbenta-tests.yml
  .github/workflows/botonic-plugin-luis-tests.yml
  .github/workflows/botonic-plugin-segment-tests.yml
  .github/workflows/botonic-plugin-watson-tests.yml
Due: none

fix(botonic): fixed botonic-netflify-deploy workflow
  .github/workflows/botonic-docs-netlify-deploy.yml
Due: none

Botonic Workflows: Create a Reusable Workflow for most Botonic packages Github flows
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dashbot-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-plugin-inbenta-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-luis-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-plugin-segment-tests.yml
  .github/workflows/botonic-plugin-watson-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

style(core): add 'chatevent' as a MessageEventTypes and as an InputType
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/routing/router.ts
Due: core

feat(core): avoid executing the bot if a 'chatevent' is received, these events are used only in the backend
  packages/botonic-core/src/core-bot.ts
Due: core

style: update base package-lock.json file
  package-lock.json
Due: none

test(core): use INPUT types instead of string literals in tests
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/tests/routing/router.match-route.test.ts
  packages/botonic-core/tests/routing/router.misc.test.ts
Due: core

chore(core): bump to version 0.22.0-alpha.1
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

chore: remove PR reviewer
  .github/workflows/pr.yml
Due: none

chore: remove PR reviewer (#2507)
  .github/workflows/pr.yml
Due: none

feat(core): Don't execute bot when receiving a 'chatevent' (#2506)
  package-lock.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/tests/routing/router.match-route.test.ts
  packages/botonic-core/tests/routing/router.misc.test.ts
Due: core

chore(botonic): add extra pragma allow list for contentful tests
  .github/workflows/botonic-plugin-contentful-tests.yml
Due: none

chore(botonic): new qa script to run linters on pre-commit and remove run of workflows when root change
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-docs-tests.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dashbot-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-plugin-inbenta-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-luis-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-plugin-segment-tests.yml
  .github/workflows/botonic-plugin-watson-tests.yml
  .github/workflows/botonic-react-tests.yml
  .pre-commit-config.yaml
  scripts/qa/lint-botonic-package.sh
Due: none

fix(botonic): rollback pre-commit file and try removing secrets: inherit keyword
  .github/workflows/botonic-cli-tests.yml
  .pre-commit-config.yaml
Due: none

docs(botonic): added extra snippet with template
  .github/workflows/README.md
Due: none

fix(botonic): added keyword_exclude in secrets baseline
  .github/workflows/botonic-cli-tests.yml
  .secrets.baseline
Due: none

chore(botonic): fixed lint script
  .pre-commit-config.yaml
  scripts/qa/lint-botonic-package.sh
Due: none

fix(botonic): swap order exclude lines/exclude files
  .pre-commit-config.yaml
Due: none

chore(botonic): add exclue in detect-secrets CI
  .secrets.baseline
Due: none

chore(botonic): recover previous secrets baseline
  .secrets.baseline
Due: none

docs(botonic): added README.md inside the workflows folder
  .github/workflows/README.md
  .github/workflows/botonic-common-workflow.yml
Due: none

chore(botonic): update secrets baseline
  .secrets.baseline
Due: none

fix(botonic): fix pre-commit github action
  .secrets.baseline
Due: none

fix(botonic): removed DiscordBotTokenDetector from plugins of secrets baselina
  .secrets.baseline
Due: none

chore(botonic): add on missing pragmas
  .github/workflows/botonic-nlu-tests.yml
Due: none

fix(botonic): removed DiscordBotTokenDetector plugin
  .secrets.baseline
Due: none

chore(botonic): added exclude lines in detect secrets argument
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

chore(botonic): added #pragma allowlist secret on all botonic workflows
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dashbot-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-plugin-inbenta-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-luis-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-plugin-segment-tests.yml
  .github/workflows/botonic-plugin-watson-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlp: any of: ^packages/botonic-nlp
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
  plugin-ner: any of: ^packages/botonic-plugin-ner/
  plugin-intent-classification: any of: ^packages/botonic-plugin-intent-classification/
