Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

feat(contentful): create intent content
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/input.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful

test(contentful): input content
  packages/botonic-plugin-contentful/tests/contentful/contents/input.test.ts
Due: contentful

wip(contentful): empty fields
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/visitors/message-visitors.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/document.ts
  packages/botonic-plugin-contentful/src/contentful/contents/handoff.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/input.ts
  packages/botonic-plugin-contentful/src/contentful/contents/video.ts
  packages/botonic-plugin-contentful/src/contentful/export/space-export.ts
  packages/botonic-plugin-contentful/src/manage-cms/content-deleter.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
  packages/botonic-plugin-contentful/src/util/objects.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/carousel.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/document.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/image.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/video.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-entry.test.ts
  packages/botonic-plugin-contentful/tests/render/botonic-converter.test.ts
  packages/botonic-plugin-contentful/tests/search/search.test.ts
Due: contentful

wip
  packages/botonic-plugin-contentful/tests/contentful/export/space-export.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/locale-migrator.test.ts
Due: contentful

feat(plugin-contentful): export handoff content model
  packages/botonic-plugin-contentful/src/tools/l10n/csv-export.ts
Due: contentful

feat(core): add forceAssignIfNotAvailable in HandoffBuilder to be able to not assign the case to the agent if it's not available
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/tests/handoff.test.ts
Due: core

feat(core): add autoAssignOnWaiting in HandoffBuilder to be able to auto assign a case in waiting to an agent
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/tests/handoff.test.ts
Due: core

feat(core): set true as a default value for forceAssignIfNotAvailable
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/tests/handoff.test.ts
Due: core

feat(core): Handoff improvements (autoAssignOnWaiting and forceAssignIfNotAvailable) (#2231)
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/tests/handoff.test.ts
Due: core

chore(ci): fix failing config
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

chore(core): bump version to 0.20.4
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

chore(ci): fix failing config (#2234)
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

fix: add deep links for telegram and new providers
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/webview.jsx
Due: core, react

fix:emoji clarification Icon can not work on widget in shadow dom
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
  packages/botonic-react/src/webchat/hooks.js
Due: react

feat(react): add destory method on webchat app
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

test(react): fix storage tests
  packages/botonic-react/tests/webchat/storage.test.jsx
Due: react

fix(react): fix types
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/index.d.ts
Due: react, react-d-ts

chore(react): bump version to 0.20.4
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix: add deep links for telegram and new providers (#2238)
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/webview.jsx
Due: core, react

fix(react): send correct storage to webchat
  packages/botonic-react/src/webchat-app.jsx
Due: react

chore(react): bump version to 0.20.5
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix(react): fix providers' logic
  packages/botonic-react/src/webview.jsx
Due: react

feat(core): support a new type of input event 'missed' (ImpMsgMissed) #PLA-1229
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/events/message/missed.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/user-events.test.tsx
Due: core

feat(core): support a new type of input event 'missed' (ImpMsgMissed) #PLA-1229 (#2244)
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/events/message/missed.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/user-events.test.tsx
Due: core

fix(react): fix providers' logic (#2243)
  packages/botonic-react/src/webview.jsx
Due: react

feat(plugin-contentful):add document as a followup
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
Due: contentful

feat(plugin-contentful): add document to the followup filter
  packages/botonic-plugin-contentful/src/cms/transform/message-content-filters.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
Due: contentful

chore: disable dependabot
  .github/dependabot.yml
Due: none

chore: disable dependabot (#2255)
  .github/dependabot.yml
Due: none

fix: fix jest issue
  packages/botonic-plugin-dynamodb/tests/domain/track.test.ts
  packages/botonic-plugin-dynamodb/tests/helpers/jest.ts
Due: dynamodb

fix: fix jest issue (#2257)
  packages/botonic-plugin-dynamodb/tests/domain/track.test.ts
  packages/botonic-plugin-dynamodb/tests/helpers/jest.ts
Due: dynamodb

chore: do not use git protocol & bump dependency
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

chore: disable dependabot & fix pre-commit issues (#2256)
  .github/dependabot.yml
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

fix: packages/botonic-plugin-google-translation/package.json & packages/botonic-plugin-google-translation/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: packages/botonic-plugin-dialogflow/package.json & packages/botonic-plugin-dialogflow/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

fix: packages/botonic-plugin-contentful/package.json & packages/botonic-plugin-contentful/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

fix: upgrade @botonic/core from 0.19.0 to 0.20.2
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

fix: scripts/package.json & scripts/package-lock.json to reduce vulnerabilities
  scripts/package-lock.json
  scripts/package.json
Due: none

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
