Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

refactor(nlp): helper embeddings matrix
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
Due: none

refactor(nlp): model output is 2D
  packages/botonic-nlp/src/tasks/text-classification/process/processor.ts
  packages/botonic-nlp/src/tasks/text-classification/process/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/tools-helper.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/processor.test.ts
Due: none

test(nlp): helper config file updated
  packages/botonic-nlp/tests/helpers/tasks/text-classification/model/config.json
Due: none

doc(contentful): improved doc on im/export CSV (#1436)
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
  packages/botonic-plugin-contentful/src/tools/l10n/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
Due: contentful

feat(nlp): BotonicTextClassifier partially implemented
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/src/tasks/text-classification/models/types.ts
Due: none

test(nlp): BotonicTextClassifier tested
  packages/botonic-nlp/tests/dataset/loader.test.ts
  packages/botonic-nlp/tests/helpers/general-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
Due: none

feat(nlp): processor implemented
  packages/botonic-nlp/src/tasks/text-classification/process/processor.ts
  packages/botonic-nlp/src/tasks/text-classification/process/types.ts
Due: none

test(nlp): processor test implemented
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/model/config.json
  packages/botonic-nlp/tests/helpers/tasks/text-classification/tools-helper.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/processor.test.ts
Due: none

feat(nlp): processor integration in BotonicTextClassifier
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
Due: none

test(nlp): BotonicTextClassifier test updated
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
Due: none

chore(plugin-contentful): bump and publish 0.18.1 version
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

test(nlp): Incomplete test removed
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
Due: none

refactor(nlp): sut logic corrected
  packages/botonic-nlp/tests/tasks/text-classification/process/processor.test.ts
Due: none

refactor(nlp): Processor refactored
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/src/tasks/text-classification/process/processor.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/processor.test.ts
Due: none

chore(core/react): fix types distribution (#1405)
  packages/botonic-core/package.json
  packages/botonic-react/package.json
Due: core, react

docs: updates of webchat-connectivity
  docs/docs/webchat/webchat-connectivity.md
Due: none

refactor(nlp): Processor public methods renamed
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/src/tasks/text-classification/process/processor.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/processor.test.ts
Due: none

chore(contentful): add contents to QA export
  docs/docs/plugins/plugin-contentful.md
  packages/botonic-plugin-contentful/bin/import-contentful-models.sh
  packages/botonic-plugin-contentful/exports/contentful-export.json
Due: contentful

chore(contentful): rename scripts names to be consistent
  packages/botonic-plugin-contentful/bin/export-contentful-full.sh
  packages/botonic-plugin-contentful/bin/export-contentful-only-models.sh
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

feat(contentful): update contentful export with export 0.18.0
  packages/botonic-plugin-contentful/exports/contentful-export-0.18.0.json
  packages/botonic-plugin-contentful/exports/contentful-export.json
Due: contentful

feat(contentful): contentful export 0.18.0
  packages/botonic-plugin-contentful/bin/export_contentful_only_models.sh
  packages/botonic-plugin-contentful/exports/contentful-export-0.18.0.json
Due: contentful

feat(contentful): remove export 0.9.22, rename export 0.11.3 to contentful-export
  packages/botonic-plugin-contentful/exports/contentful-export-0.9.22.json
  packages/botonic-plugin-contentful/exports/contentful-export.json
Due: contentful

chore(contentful): upgrade contentful-management
  package-lock.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

test(nlp): PredictionProcessor test implemented
  packages/botonic-nlp/tests/tasks/text-classification/process/prediction-processor.test.ts
Due: none

feat(nlp): PredictionProcessor implemented
  packages/botonic-nlp/src/tasks/text-classification/process/prediction-processor.ts
Due: none

refactor(nlp): generateIntents method renamed
  packages/botonic-nlp/src/tasks/text-classification/process/prediction-processor.ts
Due: none

feat(nlp): PredictionProcessor integrated into BotonicTextClassifier
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
Due: none

refacetor(nlp): PredictionProcessor method renamed
  packages/botonic-nlp/src/tasks/text-classification/process/prediction-processor.ts
Due: none

feat(nlp): Text Classification - PredictionProcessor (#1442)
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/src/tasks/text-classification/process/prediction-processor.ts
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/prediction-processor.test.ts
Due: none

feat(nlp): Text Classification - Processor (#1441)
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/src/tasks/text-classification/process/prediction-processor.ts
  packages/botonic-nlp/src/tasks/text-classification/process/processor.ts
  packages/botonic-nlp/src/tasks/text-classification/process/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/model/config.json
  packages/botonic-nlp/tests/helpers/tasks/text-classification/tools-helper.ts
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/prediction-processor.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/processor.test.ts
Due: none

style(core): remove RouteRequest type replace it with BotRequest in Routes type
  packages/botonic-core/src/types/index.d.ts
Due: core, core-d-ts

feat(nlp): Text Classification - Models (#1433)
  packages/botonic-nlp/src/tasks/text-classification/models/constants.ts
  packages/botonic-nlp/src/tasks/text-classification/models/simple-nn.ts
  packages/botonic-nlp/src/tasks/text-classification/models/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/tasks/text-classification/models/simple-nn.test.ts
Due: none

feat(nlp): Text Classification - Storage (#1435)
  packages/botonic-nlp/src/tasks/text-classification/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/text-classification/storage/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/model/config.json
  packages/botonic-nlp/tests/tasks/text-classification/storage/config-storage.test.ts
Due: none

Feat/contentful export 0.18.0 (#1421)
  docs/docs/plugins/plugin-contentful.md
  packages/botonic-plugin-contentful/bin/export-contentful-full.sh
  packages/botonic-plugin-contentful/bin/export-contentful-only-models.sh
  packages/botonic-plugin-contentful/bin/import-contentful-models.sh
  packages/botonic-plugin-contentful/exports/contentful-export-0.9.22.json
  packages/botonic-plugin-contentful/exports/contentful-export.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: contentful

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
