Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

fix(react): late update of user when using updateAllUserReferences
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

feat(contentful): add context arg to all CMS methods
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
Due: contentful

style(contentful): move Contentful to its own class
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/contentful/multi-environment.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/src/tools/translators/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/ignore-fallback-decorator.test.ts
Due: contentful

style(contentful): move & rename ContentsDelivery
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
Due: contentful

fix: some async function were not returning the promise
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-plugin-dynamodb/tests/domain/track.test.ts
Due: core, dynamodb

feat(contentful): MultiContextCms & MultiEnvironmentFactory
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/contentful/index.ts
  packages/botonic-plugin-contentful/src/contentful/multi-environment.ts
  packages/botonic-plugin-contentful/tests/contentful/multi-environment.test.ts
Due: contentful

test(contentful): fix test for multiEnvironmentFactory
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/multi-environment.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/startup.test.ts
  packages/botonic-plugin-contentful/tests/plugin.test.ts
Due: contentful

feat(contentful): plugin option to inject contentful factory
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/plugin.test.ts
Due: contentful

chore(contentful): eslint plugin for Promises
  package-lock.json
  package.json
  packages/.eslintrc.js
  packages/botonic-plugin-contentful/src/tools/translators/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/translators/import-csv-for-translators.ts
  packages/botonic-plugin-contentful/tests/cms/cms-error.test.ts
Due: contentful

fix(contentful): markdown to trim input before adding emphasis
  packages/botonic-plugin-contentful/src/markup/markdown.ts
  packages/botonic-plugin-contentful/tests/markup/markdown.test.ts
Due: contentful

chore: upgrade dev deps
  package-lock.json
  package.json
  scripts/upgrade-deps.sh
Due: none

style(dashbot): wrap import to avoid eslint warning
  packages/botonic-plugin-dashbot/src/index.js
Due: dashbot

chore: pre-commit ignored lint errors
  scripts/qa/lint-package.sh
Due: none

docs(welcome): branch creation and correction
  doc-botonic/docs/welcome.md
Due: none

docs(create-convapp, getting started, project structure, platforms, templates, welcome): fix typos
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/getting-started.md
  doc-botonic/docs/project-structure.md
  doc-botonic/docs/supported-platforms.md
  doc-botonic/docs/templates/1.templates.md
  doc-botonic/docs/welcome.md
Due: none

docs(almost all files): fix typos
  doc-botonic/docs/concepts/10.actions.md
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/17.routes.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/concepts/19.webviews.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
  doc-botonic/docs/plugins/22.using-plugins.md
  doc-botonic/docs/plugins/plugin-contentful.md
  doc-botonic/docs/plugins/plugin-nlu.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
  doc-botonic/docs/templates/3.childs.md
  doc-botonic/docs/templates/4.template-dynamic-carousel.md
  doc-botonic/docs/test-deploy/1.testing-your-components.md
  doc-botonic/docs/test-deploy/2.deployment.md
Due: none

docs(most of the files): changes following on Dani's feedback
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/concepts/10.actions.md
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/19.webviews.md
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/templates/5.template-human-handoff.md
Due: none

feat(contentful): dry-run flag for import-from-translators.sh
  packages/botonic-plugin-contentful/bin/l10n/import-from-translators.sh
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-for-translators.ts
Due: contentful

style(contentful): rename exportObject to spaceExport
  packages/botonic-plugin-contentful/src/contentful/export/locale-migrator.ts
  packages/botonic-plugin-contentful/src/tools/l10n/locale-migrate.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/locale-migrator.test.ts
Due: contentful

feat(contentful): tool to migrate locales in json export file
  packages/botonic-plugin-contentful/src/contentful/export/locale-migrator.ts
  packages/botonic-plugin-contentful/src/tools/migrate/locale-migrate.ts
  packages/botonic-plugin-contentful/tests/contentful/export/__fixtures__/entries_element_es_en.json
  packages/botonic-plugin-contentful/tests/contentful/export/__fixtures__/entries_payload.json
  packages/botonic-plugin-contentful/tests/contentful/export/locale-migrator.test.ts
Due: contentful

feat(contentful): flag to resume if reference content fails
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/plugin.ts
Due: contentful

feat(contentful): migrate also assets
  packages/botonic-plugin-contentful/src/contentful/export/locale-migrator.ts
  packages/botonic-plugin-contentful/src/contentful/export/space-export.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_es_en_pt.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_es_en_pt_to_en_expected.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_with_es_en_pt_expected_nl.json
  packages/botonic-plugin-contentful/tests/tools/l10n/locale-migrator.test.ts
Due: contentful

style(contentful): format .eslintrc.js and added comment
  packages/.eslintrc.js
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: contentful

feat(contentful): class to persist json export from contentful
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/export/export-object.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
Due: contentful

feat(contentful): import-csv to publish if locale was empty
  packages/botonic-plugin-contentful/bin/l10n/import-from-translators.sh
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-for-translators.ts
Due: contentful

chore(contentful): rename folders, classes
  packages/botonic-plugin-contentful/bin/l10n/export-for-translators.sh
  packages/botonic-plugin-contentful/bin/l10n/import-from-translators.sh
  packages/botonic-plugin-contentful/bin/l10n/migrate-locales.sh
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/export/locale-migrator.ts
  packages/botonic-plugin-contentful/src/contentful/export/space-export.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-export.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/src/tools/l10n/export-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-for-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/index.ts
  packages/botonic-plugin-contentful/src/tools/l10n/locale-migrate.ts
  packages/botonic-plugin-contentful/src/tools/migrate/locale-migrate.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/contentful/export/__fixtures__/contentTypes-with-items.json
  packages/botonic-plugin-contentful/tests/contentful/export/locale-migrator.test.ts
  packages/botonic-plugin-contentful/tests/contentful/export/space-export.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/contentful_es-pl.csv
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_es_en_pt.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_no_title.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_payload.json
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-export.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/locale-migrator.test.ts
Due: contentful

feat(contentful): locale migrator fix default loc
  packages/botonic-plugin-contentful/src/contentful/export/locale-migrator.ts
  packages/botonic-plugin-contentful/src/contentful/export/space-export.ts
  packages/botonic-plugin-contentful/src/tools/l10n/locale-migrate.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_es_en_pt_to_en_expected.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_with_es_en_pt_expected_nl.json
  packages/botonic-plugin-contentful/tests/tools/l10n/locale-migrator.test.ts
Due: contentful

style: fix eslint warnings
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_with_es_en_pt_expected.json
  packages/botonic-react/src/webchat/webchat.jsx
Due: contentful, react

feat(contentful): test that falsy fields are correctly migrated
  packages/botonic-plugin-contentful/src/contentful/export/locale-migrator.ts
  packages/botonic-plugin-contentful/src/tools/l10n/locale-migrate.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_es_en_pt_to_en_expected.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_with_es_en_pt_expected.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_element_with_es_en_pt_expected_nl.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_hour_range.json
  packages/botonic-plugin-contentful/tests/tools/l10n/__fixtures__/space-export/entries_hour_range_expected.json
  packages/botonic-plugin-contentful/tests/tools/l10n/locale-migrator.test.ts
Due: contentful

feat(contentful): new ManageCms.getDefaultLocale
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
Due: contentful

feat(contentful): duplicate reference fields
  packages/botonic-plugin-contentful/bin/l10n/import-from-translators.sh
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-for-translators.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
Due: contentful

feat(contentful): allow passing transformed locale to CMS
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery.test.ts
Due: contentful

feat(contentful): support locales which contain country
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/src/index.ts
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/normalizer.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/search/search-by-keywords.ts
  packages/botonic-plugin-contentful/tests/contentful/ignore-fallback-decorator.test.ts
  packages/botonic-plugin-contentful/tests/nlp/locales.test.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

feat(contentful): new CMS.assets method
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/asset.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/cache.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/client-api.ts
  packages/botonic-plugin-contentful/src/contentful/ignore-fallback-decorator.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/asset.test.ts
Due: contentful

feat(contentful): methods to update asset files
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/csv-import.test.ts
Due: contentful

feat(contentful): duplicate asset files for new locales
  packages/botonic-plugin-contentful/bin/l10n/migrate-locales.sh
  packages/botonic-plugin-contentful/src/contentful/ignore-fallback-decorator.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-import.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-for-translators.ts
Due: contentful

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
