Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

refactor(core): move DataProvider interface to factory
  packages/botonic-core/src/data-provider/data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-core/src/data-provider/factory.ts
  packages/botonic-core/src/data-provider/index.ts
  packages/botonic-core/src/data-provider/local-data-provider.ts
Due: core

refactor(core): fix circular dependencies by exporting members with modules
  packages/botonic-core/src/constants.ts
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/data-provider/data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-utils.ts
  packages/botonic-core/src/data-provider/factory.ts
  packages/botonic-core/src/data-provider/index.ts
  packages/botonic-core/src/data-provider/local-data-provider.ts
  packages/botonic-core/src/debug/index.ts
  packages/botonic-core/src/debug/inspector.ts
  packages/botonic-core/src/errors.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-core/src/i18n.ts
  packages/botonic-core/src/index.ts
  packages/botonic-core/src/models/events/base-event.ts
  packages/botonic-core/src/models/events/botonic-event.ts
  packages/botonic-core/src/models/events/connections/connection-event.ts
  packages/botonic-core/src/models/events/connections/index.ts
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/carousel.ts
  packages/botonic-core/src/models/events/message/custom.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/location.ts
  packages/botonic-core/src/models/events/message/media.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/events/message/postback.ts
  packages/botonic-core/src/models/events/message/text.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/models/user.ts
  packages/botonic-core/src/output-parser/botonic-output-parser.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/index.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/output-parser/util.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/router.ts
Due: core

chore(pulumi): saving user and bot events in aws
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/websocket-server.ts
Due: none

fix(pulumi): generate db table name witth random suffix to avoid collisions within same org
  packages/botonic-pulumi/src/aws/dynamodb.ts
Due: none

chore(core/api): update imports in api, core and template
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-core/src/data-provider/dynamodb-utils.ts
  packages/botonic-core/src/data-provider/index.ts
  packages/botonic-core/src/data-provider/local-data-provider.ts
  packages/create-botonic-app/dev-template/api/src/websocket/onauth.js
  packages/create-botonic-app/dev-template/api/src/websocket/ondisconnect.js
Due: core

chore(core): fix imports in tests
  packages/botonic-core/tests/debug/inspector.test.ts
  packages/botonic-core/tests/router.test.ts
Due: core

chore(dev-tempplate): add actions and use in routes with all message types
  packages/create-botonic-app/dev-template/bot/src/actions/Audio.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Buttons.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Carousel.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Custom.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Document.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Image.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Location.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Replies.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Text.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/TextAll.jsx
  packages/create-botonic-app/dev-template/bot/src/actions/Video.jsx
  packages/create-botonic-app/dev-template/bot/src/routes.js
  packages/create-botonic-app/dev-template/webchat/custom-messages/calendar-message.jsx
  packages/create-botonic-app/dev-template/webchat/index.js
  packages/create-botonic-app/dev-template/webchat/webchat-config.js
Due: none

chore(fix): fix local data provider and add getUsers for dynamoDB
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-core/src/data-provider/local-data-provider.ts
  packages/create-botonic-app/dev-template/api/src/websocket/ondisconnect.js
Due: core

chore(api/core/botonic-app): saving user and bot events locally
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/create-botonic-app/dev-template/api/src/handlers/botExecutor.js
  packages/create-botonic-app/dev-template/api/src/websocket/onauth.js
Due: core

chore(core/react): improve support for custom messages
  packages/botonic-core/src/data-provider/dynamodb-utils.ts
  packages/botonic-core/src/models/events/message/custom.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-react/src/experimental/components/custom-message.jsx
  packages/botonic-react/src/experimental/msg-to-botonic.jsx
Due: core, react

chore: support for ack's in new architecture
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-react/src/experimental/components/message.jsx
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: core, react

refactor: rename parsedResponse to messageEvents
  packages/botonic-api/src/handlers/sender/aws-sender.ts
  packages/botonic-api/src/handlers/sender/index.ts
  packages/botonic-api/src/handlers/sender/local-sender.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/create-botonic-app/dev-template/api/src/handlers/botExecutor.js
Due: core

wip: retry functionality
  packages/botonic-core/src/router.ts
  packages/botonic-core/tests/router.test.ts
  packages/botonic-core/tests/router/process-input.test.ts
Due: core

refactor(core/react): standarize data attr for media messages to src
  packages/botonic-core/tests/router.test.ts
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: core, react

chore(react): return text instead of data from buttons
  packages/botonic-react/src/components/button.jsx
Due: react

chore(core): rewrite tests toEqual
  packages/botonic-core/tests/router.test.ts
Due: core

wip: refactoring process input
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/router.ts
  packages/botonic-core/tests/router.test.ts
  packages/botonic-core/tests/router/process-input.test.ts
Due: core

refactor(core/react): standarize data attr for Text to text
  packages/botonic-core/src/router.ts
  packages/botonic-core/tests/router.test.ts
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: core, react

chore(core): remove .data accesses in parsers and fix legacy types
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/parsing/user-events.test.tsx
Due: core

chore(react): resolve ack for botonic browser version
  packages/botonic-react/src/experimental/components/message.jsx
Due: react

feat(directus): remove multilocale filter + finish updateContent + tests
  packages/updated-directus/src/cms/cms.ts
  packages/updated-directus/src/directus/contents/button.ts
  packages/updated-directus/src/directus/contents/image.ts
  packages/updated-directus/src/directus/contents/text.ts
  packages/updated-directus/src/directus/delivery/delivery-utils.ts
  packages/updated-directus/src/directus/delivery/delivery.ts
  packages/updated-directus/src/directus/delivery/directus-client.ts
  packages/updated-directus/src/directus/delivery/index.ts
  packages/updated-directus/src/directus/directus.ts
  packages/updated-directus/src/directus/manage/contents.ts
  packages/updated-directus/src/directus/manage/directus-contents.ts
  packages/updated-directus/src/directus/search/keywords.ts
  packages/updated-directus/tests/directus/contents/image.test.ts
  packages/updated-directus/tests/directus/contents/text.test.ts
  packages/updated-directus/tests/directus/manage/helpers/utils.ts
  packages/updated-directus/tests/directus/manage/manage.test.ts
Due: none

feat(plugin-contentful): allow fetching all kind of unknown models from contentful, not just the ones named 'custom'
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/contents/custom.ts
Due: contentful

feat(contentful): add custom content model
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/custom.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/custom.test.ts
Due: contentful

feat(contentful): change naming
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/custom.ts
Due: contentful

test(directus): update tests
  packages/updated-directus/src/directus/contents/image.ts
  packages/updated-directus/src/directus/contents/text.ts
  packages/updated-directus/src/directus/delivery/directus-client.ts
  packages/updated-directus/tests/directus/contents/button.test.ts
  packages/updated-directus/tests/directus/contents/text.test.ts
Due: none

wip: reorder tests and rename newprocessinput methods
  packages/botonic-core/src/router.ts
  packages/botonic-core/tests/router.test.ts
  packages/botonic-core/tests/router/process-input.test.ts
Due: core

style(contentful): refactor types in order to not break tests and to remove custom type from TopContentType
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/custom.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
Due: contentful

fix: upgrade react-router-dom from 5.2.0 to 5.2.1 (#1901)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

Contentful: custom content model (#1900)
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/contents/custom.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/custom.test.ts
Due: contentful

chore(plugin-contentful): publish version 0.19.1-alpha.0
  packages/botonic-plugin-contentful/package.json
Due: contentful

test(plugin-contentful): skip Measure without name test
  packages/botonic-plugin-contentful/tests/cms/cms-error.test.ts
  packages/botonic-plugin-contentful/tests/util/profiler.test.ts
Due: contentful

chore(plugin-contentful): add package-lock.json
  packages/botonic-plugin-contentful/package-lock.json
Due: contentful

chore(plugin-contentful): publish version 0.19.1-alpha.1
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

feat(directus): start creating createAsset func
  packages/updated-directus/package.json
  packages/updated-directus/src/cms/cms.ts
  packages/updated-directus/src/cms/contents.ts
  packages/updated-directus/src/directus/delivery/directus-client.ts
  packages/updated-directus/src/directus/directus.ts
  packages/updated-directus/src/directus/manage/contents.ts
Due: none

wip: working retries tests
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/router.ts
  packages/botonic-core/tests/router/router-process-input.test.ts
  packages/botonic-core/tests/router/router.test.ts
Due: core

refactor: split router functionalities
  packages/botonic-core/src/router.ts
Due: core

feat(directus): if not buttons empty array
  packages/updated-directus/src/cms/contents.ts
  packages/updated-directus/src/directus/contents/text.ts
Due: none

feat(directus): add buttonstyle
  packages/updated-directus/src/cms/contents.ts
  packages/updated-directus/src/directus/contents/text.ts
  packages/updated-directus/tests/directus/contents/text.test.ts
Due: none

feat(directus): add contentId class
  packages/updated-directus/src/cms/contents.ts
  packages/updated-directus/src/render/botonic-converter.ts
Due: none

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
