Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

chore: bump all packages to v0.13.0-rc.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  scripts/prepare-packages.sh
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

feat(inbenta): add session token to Inbenta queries
  packages/botonic-plugin-inbenta/src/index.js
Due: none

chore(inbenta): bump to v0.13.0-rc.1
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: passing mode=development, improved webpack config files
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/blank/webpack.config.js
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/childs/webpack.config.js
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/custom-webchat/webpack.config.js
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamic-carousel/webpack.config.js
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/handoff/webpack.config.js
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/intent/webpack.config.js
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/nlu/webpack.config.js
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-cli/templates/tutorial/webpack.config.js
Due: none

fix(react): improve default webview styles
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/webview.jsx
Due: react

fix(react): change default visibility webchat behavior
  packages/botonic-react/src/webchat-app.jsx
Due: react

fix(react): fix carousel scroll issues
  packages/botonic-react/src/webchat/components/styled-scrollbar.scss
Due: react

feat(plugin-inbenta): add session token and source to Inbenta queries
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-inbenta/src/index.js
Due: none

fix(react): fix minor styles, all carousel buttons at same height
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/components/element.jsx
  packages/botonic-react/src/webchat/session-view.jsx
Due: react

fix(templates): update intent template to be less confusing
  packages/botonic-cli/templates/intent/src/actions/404.js
  packages/botonic-cli/templates/intent/src/actions/bye.js
  packages/botonic-cli/templates/intent/src/actions/hi.js
  packages/botonic-cli/templates/intent/src/plugins.js
  packages/botonic-cli/templates/intent/src/routes.js
Due: none

fix(core): construct headers dynamically
  packages/botonic-core/src/hubtype-service.js
Due: core

chore(templates): optimize bundle sizes
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/blank/webpack.config.js
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/childs/webpack.config.js
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/custom-webchat/webpack.config.js
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamic-carousel/webpack.config.js
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/handoff/webpack.config.js
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/intent/webpack.config.js
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/nlu/webpack.config.js
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-cli/templates/tutorial/webpack.config.js
Due: none

chore: bump all packages to v0.13.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

chore(plugin-google-analytics): add basic tracking to Google Analytics using track method
  packages/botonic-plugin-google-analytics/botonic-plugin-google-analytics
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

docs(plugin-google-analytics): add Readme file
  packages/botonic-plugin-google-analytics/README.md
Due: none

refactor(plugin-google-analytics): remove async/await and refactor the track method
  packages/botonic-plugin-google-analytics/botonic-plugin-google-analytics
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

chore(plugin-google-analytics): correct version packages to be more conservative
  packages/botonic-plugin-google-analytics/package.json
Due: none

docs(plugin-google-analytics): enhance and correct the documentation
  packages/botonic-plugin-google-analytics/README.md
Due: none

chore(plugin-google-analytics): add pre commit/push configurations
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .pre-commit-config.yaml
Due: none

feat(plugin-google-analytics): add user identification while tracking and add default tracking
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

docs(plugin-google-analytics): adapt documentation to new features
  packages/botonic-plugin-google-analytics/README.md
Due: none

fix(plugin-google-analytics): fix pre-commit config
  .pre-commit-config.yaml
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

refactor(plugin-google-analytics): change defaultUserId and defaultUserTraits to getUserId and getUserTraits
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

feat(plugin-google-analytics): add the eventFields option to enable custom fields to the automatic tracking
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

refactor(plugin-google-analytics): change trackManually option to automaticTracking to clarify its usage
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

refactor(plugin-google-analytics): refactor options.userId, options.userTraits, options.eventFields to options.getUserId, options.getUserTraits, options.getEventFields for clarity
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

feat(plugin-google-analytics): remove default userId/userTraits and don't send userId/userTraits if getUserId is not set
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

feat(plugin-google-analytics): replace tracking through analytics library with tracking through direct requests usin axios
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

chore: upgrade all dev deps but rollback eslint-plugins
  package.json
Due: none

chore: dev dependencies upgrade
  package-lock.json
  package.json
Due: none

chore(contentful): upgrade contentful-mgmt & node-nlp
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
Due: contentful

chore: avoid crash of eslint-plugin-import
  packages/.eslintrc.js
  packages/botonic-cli/.eslintrc.js
  packages/botonic-cli/.eslintrc_slow.js
Due: none

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
