Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/

      - id: core
        name: core
        entry: scripts/qa/old/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: contentful
        name: contentful
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: segment
        name: segment
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/old/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/old/lint-package.sh docs/
        language: system
        files: ^docs/

      - id: plugin-flow-builder
        name: plugin-flow-builder
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
        language: system
        files: ^packages/botonic-plugin-flow-builder/

      - id: hubtype-analytics
        name: hubtype-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
        language: system
        files: ^packages/botonic-plugin-hubtype-analytics/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          ['--baseline', '.secrets.baseline', '--exclude-files', '.*/tests/.*']
        exclude: package.lock.json
        name: Detect secrets
        description: Detects high entropy strings that are likely to be passwords.

feat: add --experimental-vm-modules in test_ci script
  packages/botonic-cli/package.json
Due: cli

refactor: remove console.logs
  packages/botonic-cli/src/commands/new.ts
Due: cli

refacctor: remove unused imports
  packages/botonic-cli/tests/botonic-api-service.test.ts
Due: cli

refactor: fix typos
  packages/botonic-cli/tests/util/credentials-handler.test.ts
Due: cli

feat: create new tests for BotonicApiService class
  packages/botonic-cli/tests/botonic-api-service.test.ts
Due: cli

chore: add composite in tsconfig
  packages/botonic-cli/tsconfig.json
Due: cli

chore: remove oclif/plugin-plugins
  package-lock.json
  packages/botonic-cli/package.json
Due: cli

chore: add nvmrc to make sure you use node 22
  .nvmrc
Due: none

feat: save creadentials in login command
  packages/botonic-cli/src/commands/login.ts
Due: cli

chore: publish with v0.40.1
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
Due: cli

botonic-cli: remove unused dependencies (#3107)
  .pre-commit-config.yaml
  .secrets.baseline
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/scripts/postinstall.js
  packages/botonic-cli/src/analytics/credentials-handler.ts
  packages/botonic-cli/src/analytics/telemetry.ts
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/botonic-playground-service.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/destroy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/logout.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/test.ts
  packages/botonic-cli/src/constants.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/tests/analytics/credentials-handler.test.ts
  packages/botonic-cli/tests/analytics/telemetry.test.ts
Due: cli

chore: create README and manifest
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/oclif.manifest.json
Due: cli

feat: save credentials after login command
  packages/botonic-cli/src/commands/login.ts
Due: cli

feat: use import dynamic instead of require function
  packages/botonic-cli/src/util/bot-config.ts
Due: cli

chore: publish alpha v0.41.0-alpha.2
  package-lock.json
  packages/botonic-cli/oclif.manifest.json
  packages/botonic-cli/package.json
Due: cli

feat: add request in context for tools
  packages/botonic-plugin-ai-agents/src/index.ts
Due: none

feat: inference types for plugins and extraData
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

feat: Export ClientSession type at package level
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/index.ts
Due: react

chore: publish alpha version
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
Due: none

WIP
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/message-utils.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat-app.tsx
Due: core, react

wip: start generalizing debug events
  packages/botonic-react/src/components/system-debug-trace/index.tsx
Due: react

refactor: reorganize code to keep adding components
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/nlu-keyword/index.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
  packages/botonic-react/src/components/system-debug-trace/types.ts
Due: react

refactor: add icon in debug event config and add wand and quote-right icons
  packages/botonic-react/src/assets/quote-right-solid-full.svg
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/nlu-keyword/index.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/quote-right.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/types.ts
  packages/botonic-react/src/components/system-debug-trace/icons/wand.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: react

chore: add development method to debug locally
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.tsx
Due: react

Export client session type and update package (#3110)
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/index.ts
Due: react

feat: add component for ai_agent, knowledgebase and fallback events
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/fallback.tsx
  packages/botonic-react/src/components/system-debug-trace/events/keyword.tsx
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/life-ring.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/robot.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/components/system-debug-trace/types.ts
  packages/botonic-react/src/dev-app.jsx
Due: react

fix: fix icon using same path as the other
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/wand.tsx
Due: react

refactor: styles to ressemble the ones in design, figma MCP
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/fallback.tsx
  packages/botonic-react/src/components/system-debug-trace/events/keyword.tsx
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: react

fix: working again
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/dev-app.jsx
Due: react

style(plugin-ai-agents): infer the Plugins and ExtraData types to some types/objects/methods
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

chore(plugin-ai-agents): bump to version 0.40.1
  package-lock.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
Due: none

feat: add request in context for tools (#3109)
  package-lock.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

refactor: rename variables and component, remove factory and create component DebugMessage
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/index.ts
  packages/botonic-react/src/components/system-debug-trace/icons/caret-down.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/caret-up.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/index.ts
  packages/botonic-react/src/components/system-debug-trace/icons/life-ring.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/quote-right.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/robot.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/types.ts
  packages/botonic-react/src/components/system-debug-trace/icons/wand.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
  packages/botonic-react/src/components/system-debug-trace/types.ts
  packages/botonic-react/src/dev-app.jsx
Due: react

feat: change rgba colors without opacity to hexadecimals colors, and add some N news
  packages/botonic-react/src/constants.js
Due: react

feat: update styles and use const COLORS
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/fallback.tsx
  packages/botonic-react/src/components/system-debug-trace/events/keyword.tsx
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/caret-down.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/caret-up.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/life-ring.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/quote-right.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/robot.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/wand.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: react

refactor: remove unused svg and div
  packages/botonic-react/src/assets/quote-right-solid-full.svg
  packages/botonic-react/src/components/message/index.jsx
Due: react

refactor: simplify map and use always a function to get eventConfig
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/fallback.tsx
  packages/botonic-react/src/components/system-debug-trace/events/keyword.tsx
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/components/system-debug-trace/types.ts
Due: react

refactor: remove unused svg
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/index.ts
  packages/botonic-react/src/components/system-debug-trace/icons/robot.tsx
Due: react

feat: add smart intent and handoff success event debug
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/components/system-debug-trace/events/index.ts
  packages/botonic-react/src/components/system-debug-trace/events/smart-intent.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/brain.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/head-set.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/index.ts
  packages/botonic-react/src/components/system-debug-trace/types.ts
Due: react

feat: handoff succes is collapsible
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/dev-app.jsx
Due: react
