Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

cli:
  name: cli
  entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/old/lint-package.sh packages/botonic-core
  language: system

contentful:
  name: contentful
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
  language: system

segment:
  name: segment
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/old/lint-package.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/old/lint-package.sh docs/
  language: system

plugin-flow-builder:
  name: plugin-flow-builder
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
  language: system

hubtype-analytics:
  name: hubtype-analytics
  entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
  language: system

update CHANGELOG
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: plugin-flow-builder

refactor: remove console.log
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): split function to resolve locale language or default locale
  packages/botonic-plugin-flow-builder/src/api.ts
Due: plugin-flow-builder

refactor(botonic-react): mutate session to update user
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat/webchat.tsx
Due: react

plugin-flow-builder: no need to receive the locale in any function #BLT-1593 (#3013)
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/payload.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-country.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat/webchat.tsx
Due: react, plugin-flow-builder

feat(plugin-hubtype-analytics): no need funtioncs to get country and locale
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: hubtype-analytics

feat(botonic-react): create a hook to track from webchat, this hook recreate a botContext for request
  packages/botonic-react/src/components/message/message-feedback.tsx
  packages/botonic-react/src/webchat/tracking.ts
Due: react

feat(plugin-knowledge-bases): use BotContext instead of BotRequest
  packages/botonic-plugin-knowledge-bases/src/index.ts
Due: none

feat(plugin-flow-builder): remove getLocale function
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: plugin-flow-builder

feat(plugin-google-translation): use user.locale instead of session.__locale
  packages/botonic-plugin-google-translation/src/index.ts
Due: none

test(plugin-hubtype-analytics): remove getString from sesion test helpers
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: hubtype-analytics

Some fixes before 0.35.0 (#3014)
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-google-translation/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
  packages/botonic-plugin-knowledge-bases/src/index.ts
  packages/botonic-react/src/components/message/message-feedback.tsx
  packages/botonic-react/src/webchat/tracking.ts
Due: react, plugin-flow-builder, hubtype-analytics

feat(botonic-core): change _hubtype_case_status for _hubtype_case_resolution
  packages/botonic-core/src/models/legacy-types.ts
Due: core

update CHANGELOG
  packages/botonic-core/CHANGELOG.md
Due: core

feat(botonic-core): change _hubtype_case_status for _hubtype_case_resolution (#3016)
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/src/models/legacy-types.ts
Due: core

feat(botonic-cli): Use v3 of users' endpoints and sign-up specific endpoint, and simplify the Me type
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/interfaces.ts
Due: cli

Fix typing
  packages/botonic-cli/src/botonic-api-service.ts
Due: cli

feat(botonic-cli): Use v3 of users' endpoints and sign-up specific endpoint, and simplify the Me type (#3017)
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/interfaces.ts
Due: cli

chore: bump botonic packages version to 0.35.0
  package-lock.json
  package.json
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder, hubtype-analytics

test(botonic-contentful): skip test
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-environment.ts
Due: contentful

chore: publish examples with version 0.35.0
  examples/blank-typescript/package.json
  examples/blank-typescript/src/plugins.ts
  examples/blank/package.json
  examples/blank/src/plugins.js
  examples/booking-platform/package.json
  examples/booking-platform/src/plugins.js
  examples/childs/package.json
  examples/childs/src/plugins.js
  examples/custom-webchat/package.json
  examples/custom-webchat/src/plugins.js
  examples/dynamic-carousel/package.json
  examples/dynamic-carousel/src/plugins.js
  examples/dynamodb/package.json
  examples/dynamodb/src/plugins.js
  examples/flow-builder-typescript/package.json
  examples/flow-builder-typescript/src/server/config.ts
  examples/flow-builder-typescript/src/server/domain/user-data.ts
  examples/flow-builder-typescript/src/server/plugins.ts
  examples/flow-builder-typescript/src/server/types.ts
  examples/handoff/package.json
  examples/handoff/src/plugins.js
  examples/intent/package.json
  examples/intent/src/plugins.js
  examples/telco-offers/package.json
  examples/telco-offers/src/plugins.js
  examples/tutorial/package.json
  examples/tutorial/src/plugins.js
Due: none

chore: boonic-cli version 0.35.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
Due: cli

update CHANGELOG
  packages/botonic-core/CHANGELOG.md
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-react/CHANGELOG.md
Due: core, react, plugin-flow-builder, hubtype-analytics

update format CHANGELOG botonic react
  packages/botonic-react/CHANGELOG.md
Due: react

chore(botonic-cli): update CHANGELOG
  packages/botonic-cli/CHANGELOG.md
Due: cli

feat(plugin-flow-builder): always adds match contents with some nlu when bot pass for conversation start
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: plugin-flow-builder

WiP
  packages/botonic-react/src/webview-app.tsx
Due: react

WIP: load initialState from localStorage
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/use-botonic-storage.ts
  packages/botonic-react/src/webchat/use-storage-state-hook.js
  packages/botonic-react/src/webchat/webchat-dev.jsx
  packages/botonic-react/src/webchat/webchat-hooks.tsx
  packages/botonic-react/src/webchat/webchat.tsx
Due: react, plugin-flow-builder

test: update basicFlow and add a custom conditional that check first interaction
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-smart-intent.test.ts
Due: plugin-flow-builder

test: add a test to check FlowBuilderAction.executeConversationStart
  packages/botonic-plugin-flow-builder/tests/execute-start-conversation.test.ts
Due: plugin-flow-builder

chore: Create gh-action to deploy a new version of botonic
  package-lock.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-inbenta/package.json
Due: inbenta

chore: Create gh-action to deploy a new version of botonic
  .github/workflows/botonic-deploy.yml
  scripts/ci/deploy-helpers.sh
Due: none

chore(plugin-flow-builder): bump version and update CHANGELOG
  package-lock.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

feat(plugin-flow-builder): always adds match contents with some nlu (#3018)
  package-lock.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/tests/execute-start-conversation.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-smart-intent.test.ts
Due: plugin-flow-builder

update scripts to add major, minor and patch versions
  .github/workflows/botonic-publish.yml
  scripts/ci/botonic-publish.sh
Due: none

Add slack notification to team-botonic channel
  .github/workflows/botonic-publish.yml
Due: none

Remove major version option in gh action for now
  .github/workflows/botonic-publish.yml
Due: none

chore: create gh action deploy botonic #PLA-2878 (#3020)
  .github/workflows/botonic-publish.yml
  package-lock.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-inbenta/package.json
  scripts/ci/botonic-publish.sh
Due: inbenta

feat: create plugin-ai-agent
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/constants.ts
  packages/botonic-plugin-ai-agents/src/errors.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/tsconfig.esm.json
  packages/botonic-plugin-ai-agents/tsconfig.json
Due: none

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/
  plugin-flow-builder: any of: ^packages/botonic-plugin-flow-builder/
  hubtype-analytics: any of: ^packages/botonic-plugin-hubtype-analytics/
