Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

fix(react): custom message types to support Reply
  packages/botonic-react/src/components/custom-message.jsx
Due: react

chore(contentful): fix relative path args in l10n scripts
  packages/botonic-plugin-contentful/bin/l10n/import-from-translators.sh
  packages/botonic-plugin-contentful/bin/l10n/migrate-locales.sh
  packages/botonic-plugin-contentful/src/tools/l10n/locale-migrate.ts
Due: contentful

feat(contentful): new mode for import-csv-from-translators
  packages/botonic-plugin-contentful/bin/l10n/import-from-translators.sh
  packages/botonic-plugin-contentful/src/tools/l10n/import-csv-from-translators.ts
  packages/botonic-plugin-contentful/src/tools/l10n/locale-migrate.ts
Due: contentful

wip
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

fix(contentful): schedule was miscalculating around midnight
  packages/botonic-plugin-contentful/jest.setup.js
  packages/botonic-plugin-contentful/tests/contentful/contents/date-range.test.ts
  packages/botonic-plugin-contentful/tests/time/schedule.test.ts
  packages/botonic-plugin-contentful/tests/time/time.helper.ts
  packages/botonic-plugin-contentful/tests/time/timezones.test.ts
Due: contentful

fix(contentful): schedule was miscalculating around midnight
  packages/botonic-plugin-contentful/src/time/schedule.ts
  packages/botonic-plugin-contentful/src/time/timezones.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/date-range.test.ts
  packages/botonic-plugin-contentful/tests/time/schedule.test.ts
  packages/botonic-plugin-contentful/tests/time/timezones.test.ts
Due: contentful

chore(contentful): only import required nlpjs languages
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

feat(contentful): Turkish support
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stemmers/polish-stemmer.ts
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-tr.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

fix(core): check childRoutes in getRoute
  packages/botonic-core/src/router.js
Due: core

chore: add italian stemmer
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/stemmer.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
Due: contentful

fix(core): export getAvailableAgentsByQueue and remove no needed data from request
  packages/botonic-core/src/handoff.js
  packages/botonic-core/src/index.js
Due: core

docs(most of the files): changes following on Dani's feedback
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/concepts/10.actions.md
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/19.webviews.md
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/templates/5.template-human-handoff.md
Due: none

docs(welcome): branch creation and correction
  doc-botonic/docs/welcome.md
Due: none

docs(almost all files): fix typos
  doc-botonic/docs/concepts/10.actions.md
  doc-botonic/docs/concepts/14.humanhandoff.md
  doc-botonic/docs/concepts/17.routes.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/concepts/19.webviews.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
  doc-botonic/docs/plugins/22.using-plugins.md
  doc-botonic/docs/plugins/plugin-contentful.md
  doc-botonic/docs/plugins/plugin-nlu.md
  doc-botonic/docs/templates/2.template-custom-webchat.md
  doc-botonic/docs/templates/3.childs.md
  doc-botonic/docs/templates/4.template-dynamic-carousel.md
  doc-botonic/docs/test-deploy/1.testing-your-components.md
  doc-botonic/docs/test-deploy/2.deployment.md
Due: none

docs(create-convapp, getting started, project structure, platforms, templates, welcome): fix typos
  doc-botonic/docs/create-convapp.md
  doc-botonic/docs/getting-started.md
  doc-botonic/docs/project-structure.md
  doc-botonic/docs/supported-platforms.md
  doc-botonic/docs/templates/1.templates.md
  doc-botonic/docs/welcome.md
Due: none

Fixes misspelling of "carrousel" to "carousel"
  packages/botonic-cli/templates/tutorial/src/actions/carousel.js
Due: none

Update 18.webchat.md
  doc-botonic/docs/concepts/18.webchat.md
Due: none

fix(react): visualize whatsapp messages in webchat
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/utils.js
Due: react

Revert "fix(react): visualize whatsapp messages in webchat"
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/utils.js
Due: react

feat(react): disable markdown if converting for whatsapp
  packages/botonic-plugin-contentful/src/nlp/stopwords/README.txt
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
Due: contentful, react

doc(react): improve Text/Carousel props types
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/components/text.jsx
Due: react

chore: add tokenizer and stopwords
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
  packages/botonic-plugin-contentful/src/typings.d.ts
Due: contentful

chore: add missing file stopwords
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-it.ts
Due: contentful

chore: remove specific stop-words
  packages/botonic-plugin-contentful/src/nlp/stopwords/stopwords-it.ts
Due: contentful

fix(contentful): MultiEnvironmentFactory to clone functions in options
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/multi-environment.ts
  packages/botonic-plugin-contentful/tests/contentful/multi-environment.test.ts
Due: contentful

feat(react): check enableTimestamps prop
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/timestamps.jsx
Due: react

feat(react): avoid sending messages with only spaces
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

fix(react): visualize whatsapp messages in webchat (#895)
  packages/botonic-plugin-contentful/src/nlp/stopwords/README.txt
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel.jsx
  packages/botonic-react/src/components/text.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
Due: contentful, react

feat(contentful): if resumeErrors, recover bad schedule's exception
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/content-delivery.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
Due: contentful

style(contentful): queue & schedule fromEntry now instance method
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
Due: contentful

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
