Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: core
        name: core
        entry: scripts/qa/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: nlu
        name: nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: contentful
        name: contentful
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: plugin-nlu
        name: plugin-nlu
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
        language: system
        files: ^packages/botonic-plugin-nlu/

      - id: segment
        name: segment
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

docs(rediretc files)
  doc-botonic/website/_redirects
Due: none

docs:(routes and webchat)
  doc-botonic/docs/concepts/17.routes.md
  doc-botonic/docs/concepts/18.webchat.md
Due: none

docs: faq and reply and button components
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-reply.md
  doc-botonic/docs/faq.md
Due: none

docs: all component files
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/components/components-element.md
  doc-botonic/docs/components/components-location.md
  doc-botonic/docs/components/components-media.md
  doc-botonic/docs/components/components-message.md
  doc-botonic/docs/components/components-messagetemplate.md
  doc-botonic/docs/components/components-multichannel.md
  doc-botonic/docs/components/components-reply.md
  doc-botonic/docs/components/components-sharebutton.md
  doc-botonic/docs/components/components-subtitle.md
  doc-botonic/docs/components/components-title.md
  doc-botonic/docs/components/components-webchat.md
  doc-botonic/docs/components/components.md
  doc-botonic/website/sidebars.json
Due: none

Update components-text.md
  doc-botonic/docs/components/components-text.md
Due: none

docs: fixed typo
  doc-botonic/docs/components/components-sharebutton.md
  doc-botonic/docs/components/components-text.md
Due: none

docs(component and webchat files)
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/components/components-element.md
  doc-botonic/docs/components/components-message.md
  doc-botonic/docs/components/components-subtitle.md
  doc-botonic/docs/components/components-title.md
  doc-botonic/docs/components/components-webchat.md
  doc-botonic/docs/concepts/17.routes.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/website/sidebars.json
Due: none

docs: docs restructure
  doc-botonic/docs/components/components-button.md
  doc-botonic/docs/components/components-carousel.md
  doc-botonic/docs/components/components-location.md
  doc-botonic/docs/components/components-media.md
  doc-botonic/docs/components/components-message.md
  doc-botonic/docs/components/components-messagetemplate.md
  doc-botonic/docs/components/components-multichannel.md
  doc-botonic/docs/components/components-reply.md
  doc-botonic/docs/components/components-sharebutton.md
  doc-botonic/docs/components/components-text.md
  doc-botonic/docs/components/components-webchat.md
  doc-botonic/docs/components/components.md
  doc-botonic/docs/concepts/12.childs.md
  doc-botonic/docs/concepts/13.dynamic-carousel.md
  doc-botonic/docs/concepts/18.webchat.md
  doc-botonic/docs/concepts/20.nlu.md
  doc-botonic/docs/concepts/project-structure.md
  doc-botonic/docs/faq.md
  doc-botonic/docs/plugins/21.botonic-plugins.md
  doc-botonic/docs/plugins/22.using-plugins.md
  doc-botonic/docs/plugins/create-plugin2.md
  doc-botonic/docs/plugins/createname-plugin1.md
  doc-botonic/docs/plugins/plugin-dynamoDB.md
  doc-botonic/website/_redirects
  doc-botonic/website/docusaurus.config.js
  doc-botonic/website/sidebars.json
Due: none

chore(templates/react): add webchat-entry to react and all templates
  packages/botonic-cli/templates/blank/webpack.config.js
  packages/botonic-cli/templates/childs/webpack.config.js
  packages/botonic-cli/templates/custom-webchat/webpack.config.js
  packages/botonic-cli/templates/dynamic-carousel/webpack.config.js
  packages/botonic-cli/templates/dynamodb/webpack.config.js
  packages/botonic-cli/templates/handoff/webpack.config.js
  packages/botonic-cli/templates/intent/webpack.config.js
  packages/botonic-cli/templates/nlu/webpack.config.js
  packages/botonic-cli/templates/tutorial/webpack.config.js
  packages/botonic-react/src/webchat-entry.js
Due: react

chore(core): revert pusher-js version to 5.1.1
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

wip: prepare changelog for 0.14.0 release
  CHANGELOG.md
Due: none

chore: apply feedback and add instructions for new webpack-entries
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat(contentful): buildLocale function
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/tests/nlp/locales.test.ts
Due: contentful

feat(contentful): use Polish tokenizer
  packages/botonic-plugin-contentful/src/typings.d.ts
  packages/botonic-plugin-contentful/tests/nlp/stemmer.test.ts
Due: contentful

refactor(contentful): added French constant
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/nlp/locales.ts
  packages/botonic-plugin-contentful/src/nlp/tokens.ts
Due: contentful

chore: update package-lock.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-segment/package-lock.json
Due: nlu, dashbot, dialogflow, luis, plugin-nlu, segment

chore: add changelog
  CHANGELOG.md
Due: none

chore(core/react): add missing peer dep @babel/core
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, react

chore(core): bump to 0.14.0-alpha.2
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: core

chore: bump all versions and deps to 0.14.0-rc.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

fix(templates): add dynamodb in templates selector, removed unnecessary .gitkeep files
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/templates/dynamodb/src/actions/.gitkeep
  packages/botonic-cli/templates/dynamodb/src/locales/.gitkeep
Due: none

chore: bump and publish all versions to 0.14.0
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

fix: fix date in changelog
  CHANGELOG.md
Due: none

release/0.14.0 (#969)
  CHANGELOG.md
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamodb/package.json
  packages/botonic-cli/templates/dynamodb/src/actions/.gitkeep
  packages/botonic-cli/templates/dynamodb/src/locales/.gitkeep
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

chore: update broken links
  CHANGELOG.md
  doc-botonic/docs/plugins/plugin-analytics.md
  doc-botonic/docs/plugins/plugin-dialogflow.md
  doc-botonic/website/sidebars.json
Due: none

feat(react): target url button
  packages/botonic-react/package-lock.json
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat/components/persistent-menu.jsx
Due: react

chore: improve bump versions script
  scripts/bump-version.sh
Due: none

chore: remove tasklist from pr template
  .github/pull_request_template.md
Due: none

refactor(react): whatsappTemplate
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/index.js
  packages/botonic-react/src/components/whatsapp-template.jsx
Due: core, react

fix(core): ignore lastRoutePath when router gets a path payolad
  packages/botonic-core/src/router.js
  packages/botonic-core/src/router.test.js
Due: core

fix(nlu): update main example, add loadFromUtterances
  packages/botonic-nlu-refactored/package-lock.json
  packages/botonic-nlu-refactored/package.json
  packages/botonic-nlu-refactored/src/botonic-nlu.ts
  packages/botonic-nlu-refactored/src/index.ts
Due: none

wip(plugin-nlu): adapt plugin to new nlu
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
  packages/botonic-plugin-nlu/src/index.js
  packages/botonic-plugin-nlu/src/nlu.js
  packages/botonic-plugin-nlu/src/prediction.js
Due: nlu, plugin-nlu

refactor(nlu-refactor): Train a model functionality refactored.
  packages/botonic-nlu-refactored/package-lock.json
  packages/botonic-nlu-refactored/src/botonic-nlu.ts
  packages/botonic-nlu-refactored/src/constants.ts
  packages/botonic-nlu-refactored/src/data-reader.ts
  packages/botonic-nlu-refactored/src/embeddings/wembeddings-db-helper.ts
  packages/botonic-nlu-refactored/src/embeddings/word-embeddings-manager.ts
  packages/botonic-nlu-refactored/src/embeddings/word-embeddings-matrix.ts
  packages/botonic-nlu-refactored/src/index.ts
  packages/botonic-nlu-refactored/src/intents-processor.ts
  packages/botonic-nlu-refactored/src/model-manager.ts
  packages/botonic-nlu-refactored/src/new-botonic-nlu.ts
  packages/botonic-nlu-refactored/src/new-model-manager.ts
  packages/botonic-nlu-refactored/src/nn-model.ts
  packages/botonic-nlu-refactored/src/preprocessing.ts
  packages/botonic-nlu-refactored/src/preprocessor.ts
  packages/botonic-nlu-refactored/src/simpleNN.ts
  packages/botonic-nlu-refactored/src/trainer.ts
  packages/botonic-nlu-refactored/src/types.d.ts
  packages/botonic-nlu-refactored/tests/nlu/models/en/model-data.json
  packages/botonic-nlu-refactored/tests/nlu/models/en/model.json
  packages/botonic-nlu-refactored/tests/nlu/models/en/weights.bin
  packages/botonic-nlu-refactored/tutorial-train-model.js
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-segment/package-lock.json
Due: nlu, dashbot, dialogflow, luis, plugin-nlu, segment

fix(react): deep merge and refactor user/session updates
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webchat.jsx
Due: react
