Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, docs, plugin-flow-builder, hubtype-analytics

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cli
        name: cli
        entry: bash scripts/qa/old/lint-package.sh packages/botonic-cli
        language: system
        files: ^packages/botonic-cli/

      - id: core
        name: core
        entry: scripts/qa/old/lint-package.sh packages/botonic-core
        language: system
        files: ^packages/botonic-core/

      - id: contentful
        name: contentful
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-contentful
        language: system
        files: ^packages/botonic-plugin-contentful/

      - id: dashbot
        name: dashbot
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dashbot
        language: system
        files: ^packages/botonic-plugin-dashbot/

      - id: dialogflow
        name: dialogflow
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dialogflow
        language: system
        files: ^packages/botonic-plugin-dialogflow/

      - id: dynamodb
        name: dynamodb
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-dynamodb
        language: system
        files: ^packages/botonic-plugin-dynamodb/

      - id: luis
        name: luis
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-luis
        language: system
        files: ^packages/botonic-plugin-luis/

      - id: segment
        name: segment
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-segment
        language: system
        files: ^packages/botonic-plugin-segment/

      - id: watson
        name: watson
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-watson
        language: system
        files: ^packages/botonic-plugin-watson/

      - id: react
        name: react
        entry: scripts/qa/old/lint-package.sh packages/botonic-react
        language: system
        files: ^packages/botonic-react/

      - id: google-analytics
        name: google-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-google-analytics
        language: system
        files: ^packages/botonic-plugin-google-analytics/

      - id: inbenta
        name: inbenta
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-inbenta
        language: system
        files: ^packages/botonic-plugin-inbenta/

      - id: docs
        name: docs
        entry: scripts/qa/old/lint-package.sh docs/
        language: system
        files: ^docs/

      - id: plugin-flow-builder
        name: plugin-flow-builder
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-flow-builder
        language: system
        files: ^packages/botonic-plugin-flow-builder/

      - id: hubtype-analytics
        name: hubtype-analytics
        entry: scripts/qa/old/lint-package.sh packages/botonic-plugin-hubtype-analytics
        language: system
        files: ^packages/botonic-plugin-hubtype-analytics/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          ['--baseline', '.secrets.baseline', '--exclude-files ', .*/tests/.*']
        exclude: package.lock.json
        name: Detect secrets
        description: Detects high entropy strings that are likely to be passwords.

test(plugin-flow-builder): fixed 0 in conditional number
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): split fallback logic, and trackFlowContent only once
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: plugin-flow-builder

test(plugin-flow-builder): fix old test with knowledge base node
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
Due: plugin-flow-builder

refactor(plugin-flow-builder): create types for getKnowledgeBase and trackEvent functions
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: plugin-flow-builder

test(plugin-flow-builder): add test for knowledge base node
  package.json
  packages/botonic-plugin-flow-builder/tests/helpers/flows/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/smart-intents.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
Due: plugin-flow-builder

feat(plugin-flow-builder) add knowledge base node
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: plugin-flow-builder

refactor(plugin-flow-builder): track knowledge event immediately after receiving the response
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: plugin-flow-builder

Blt 758 task use knowledge base on flow builder plugin (#2847)
  package.json
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/basic.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/smart-intents.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-button-list.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-carousel.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-image.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-url-button.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-video.test.ts
  packages/botonic-plugin-flow-builder/tests/smart-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: plugin-flow-builder, hubtype-analytics

feat(plugin-hubtype-analytics): add user input in nlu events
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: plugin-flow-builder, hubtype-analytics

refactor(plugin-hubtype-analytics): userInput is required
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
Due: hubtype-analytics

plugin-hubtype-analytics: add user input in nlu events (#2848)
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
Due: plugin-flow-builder, hubtype-analytics

chore(botonic): publish version 0.27.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder, hubtype-analytics

chore(botonic): publish version 0.27.0 (#2849)
  CHANGELOG.md
  package-lock.json
  package.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: core, contentful, dashbot, dialogflow, dynamodb, luis, segment, watson, react, google-analytics, inbenta, plugin-flow-builder, hubtype-analytics

fix(botonic-react): add params in WhatsappCTAURLButton when use it in Multichannel
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

fix: remove unnecessary interface
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

fix: update EventCustom with sensitive fields
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: hubtype-analytics

fix: update FallbackEvent with user input
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
Due: hubtype-analytics

fix(plugin-flow-builder): trackEvent called with userInput
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
Due: plugin-flow-builder

fix: update EventCustom test
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
Due: hubtype-analytics

chore: bump analytics and flow builder plugins to 0.27.1
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
Due: plugin-flow-builder, hubtype-analytics

fix(plugin-flow-builder): add is meaningful node tracking
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: plugin-flow-builder

fix(plugin-flow-builder): is_meaningful should be optional
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: plugin-flow-builder

fix(plugin-flow-builder): add is meaningful node tracking #874 (#2852)
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: plugin-flow-builder

chore(plugin-flow-builder): bump to 0.27.2
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

fix: update Custom, Fallback and FlowNode (is_meaningful) events with missing fields and use them #BLT-888 (#2851)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
Due: plugin-flow-builder, hubtype-analytics

fix(plugin-flow-builder): generate a new uuid for flowThreadId if it is undefined
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: plugin-flow-builder

chore(plugin-flow-builder): publish 0.27.3
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: plugin-flow-builder

plugin-flow-builder: fix uuid for flowThreadId (#2856)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: plugin-flow-builder

botonic-react: add params in WhatsappCTAURLButton when use it inside Multichannel (#2850)
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
Due: react

refactor(botonic-dx): no-explicit-any as warn instead of error
  packages/botonic-eslint-config/index.js
Due: none

fix(plugin-flow-builder): add await when call trackEvent function
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

plugin-flow-builder: add await when call trackEvent function (#2858)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: plugin-flow-builder

fix(botonic-react): scroll to bottom when typing
  packages/botonic-react/src/webchat/message-list/index.tsx
Due: react

chore(botonic-react): publish 0.27.1-alpha.0
  packages/botonic-react/package.json
Due: react

chore(botonic-react): publish 0.27.1-alpha.1
  package-lock.json
  packages/botonic-react/package.json
Due: react

refactor(botonic-react): split the automatic scrolling, when notifications are activated or not, always use ref to scroll
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(botonic-react): remove react-reveal library and create Fade component using styled-component
  packages/botonic-react/package.json
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/shared/styles.ts
  packages/botonic-react/src/webchat/message-list/intro-message.tsx
Due: react

refactor(botonic-react): create use-notifications hook to resolve all enabled attributs and custom components used in notifications
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/message-list/unread-messages-banner.tsx
  packages/botonic-react/src/webchat/message-list/use-notifications.ts
Due: react

refactor(botonic-react): observe the bottom of the message instead of the top of the message
  packages/botonic-react/src/webchat/message-list/index.tsx
Due: react

chore(botonic-react): publish 0.27.1
  package-lock.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react
