Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: core, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

chore: new eslint_d 9.1.1
  package-lock.json
  package.json
Due: none

chore: typescript-eslint 3.4
  package-lock.json
  package.json
  packages/botonic-cli/src/botonicapiservice.ts
  packages/botonic-cli/src/commands/new.ts
Due: none

chore: dev dependencies upgrade
  package-lock.json
  package.json
Due: none

chore: upgrade all dev deps but rollback eslint-plugins
  package.json
Due: none

chore: avoid crash of eslint-plugin-import
  packages/.eslintrc.js
  packages/botonic-cli/.eslintrc.js
  packages/botonic-cli/.eslintrc_slow.js
Due: none

chore(contentful): upgrade contentful-mgmt & node-nlp
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
Due: contentful

fix(react): useComponentVisible with CustomPersistentMenu
  packages/botonic-react/src/webchat/components/persistent-menu.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

chore(react): bump to 0.13.0-alpha.1
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: react

fix(react): deep merge properties at top-level of webchat theme
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.jsx
Due: react

chore(react): add tests for deep merging props
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/tests/webchat.theme.test.js
Due: react

refactor(react): add mobile props and allow mobileStyle
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: react

refactor(plugin-google-analytics): refactor assignment of cid and uid
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

refactor(plugin-google-analytics): remove async/await and refactor the track method
  packages/botonic-plugin-google-analytics/botonic-plugin-google-analytics
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

chore(plugin-google-analytics): add pre commit/push configurations
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .pre-commit-config.yaml
Due: none

fix(plugin-google-analytics): fix pre-commit config
  .pre-commit-config.yaml
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

docs(plugin-google-analytics): enhance and correct the documentation
  packages/botonic-plugin-google-analytics/README.md
Due: none

feat(plugin-google-analytics): add the eventFields option to enable custom fields to the automatic tracking
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

refactor(plugin-google-analytics): refactor options.userId, options.userTraits, options.eventFields to options.getUserId, options.getUserTraits, options.getEventFields for clarity
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

chore(plugin-google-analytics): add basic tracking to Google Analytics using track method
  packages/botonic-plugin-google-analytics/botonic-plugin-google-analytics
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

feat(plugin-google-analytics): remove default userId/userTraits and don't send userId/userTraits if getUserId is not set
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

feat(plugin-google-analytics): replace tracking through analytics library with tracking through direct requests usin axios
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

refactor(plugin-google-analytics): change defaultUserId and defaultUserTraits to getUserId and getUserTraits
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

feat(plugin-google-analytics): add user identification while tracking and add default tracking
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

refactor(plugin-google-analytics): change trackManually option to automaticTracking to clarify its usage
  packages/botonic-plugin-google-analytics/README.md
  packages/botonic-plugin-google-analytics/src/index.js
Due: none

docs(plugin-google-analytics): add Readme file
  packages/botonic-plugin-google-analytics/README.md
Due: none

chore(plugin-google-analytics): correct version packages to be more conservative
  packages/botonic-plugin-google-analytics/package.json
Due: none

docs(plugin-google-analytics): adapt documentation to new features
  packages/botonic-plugin-google-analytics/README.md
Due: none

feat(react): add message classNames and bump alpha
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/message.jsx
Due: react

chore(react): reduce test complexity
  packages/botonic-react/tests/webchat.theme.test.js
Due: react

chore: remove moment dep, remove extra config from templates due to moment
  packages/botonic-cli/templates/blank/package.json
  packages/botonic-cli/templates/blank/webpack.config.js
  packages/botonic-cli/templates/childs/package.json
  packages/botonic-cli/templates/childs/webpack.config.js
  packages/botonic-cli/templates/custom-webchat/package.json
  packages/botonic-cli/templates/custom-webchat/webpack.config.js
  packages/botonic-cli/templates/dynamic-carousel/package.json
  packages/botonic-cli/templates/dynamic-carousel/webpack.config.js
  packages/botonic-cli/templates/handoff/package.json
  packages/botonic-cli/templates/handoff/webpack.config.js
  packages/botonic-cli/templates/intent/package.json
  packages/botonic-cli/templates/intent/webpack.config.js
  packages/botonic-cli/templates/nlu/package.json
  packages/botonic-cli/templates/nlu/webpack.config.js
  packages/botonic-cli/templates/tutorial/package.json
  packages/botonic-cli/templates/tutorial/webpack.config.js
  packages/botonic-react/package.json
Due: react

Path conditions:
  core: any of: ^packages/botonic-core/
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
