Repository hubtype/botonic: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli, core, core-d-ts, nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment, watson, react, react-d-ts, google-analytics, inbenta, docs

cli:
  name: cli
  entry: scripts/qa/lint-package.sh packages/botonic-cli
  language: system

core:
  name: core
  entry: scripts/qa/lint-package.sh packages/botonic-core
  language: system

core-d-ts:
  name: core-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-core
  language: system

nlu:
  name: nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

contentful:
  name: contentful
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-contentful
  language: system

dashbot:
  name: dashbot
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dashbot
  language: system

dialogflow:
  name: dialogflow
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dialogflow
  language: system

dynamodb:
  name: dynamodb
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-dynamodb
  language: system

luis:
  name: luis
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-luis
  language: system

plugin-nlu:
  name: plugin-nlu
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-nlu
  language: system

segment:
  name: segment
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-segment
  language: system

watson:
  name: watson
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-watson
  language: system

react:
  name: react
  entry: scripts/qa/lint-package.sh packages/botonic-react
  language: system

react-d-ts:
  name: react-d-ts
  entry: scripts/qa/lint-d-ts.sh packages/botonic-react
  language: system

google-analytics:
  name: google-analytics
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-google-analytics
  language: system

inbenta:
  name: inbenta
  entry: scripts/qa/lint-package.sh packages/botonic-plugin-inbenta
  language: system

docs:
  name: docs
  entry: scripts/qa/lint-package.sh docs/website
  language: system

refactor(intent): reference IntentClassificationConfig ->IntentClassifierConfig
  packages/botonic-plugin-intent-classification/src/model/intent-classifier.ts
  packages/botonic-plugin-ner/src/model/ner.ts
Due: none

refactor(nlp): moved ModelInfo to botonic-nlp
  packages/botonic-nlp/src/model/model-info.ts
  packages/botonic-nlp/tests/helpers/constants-helper.ts
  packages/botonic-plugin-intent-classification/src/constants.ts
  packages/botonic-plugin-intent-classification/src/model/model-info.ts
  packages/botonic-plugin-ner/src/constants.ts
  packages/botonic-plugin-ner/src/model/model-info.ts
Due: none

refactor(nlp): unify common code of ModelSelector
  packages/botonic-nlp/src/model/index.ts
  packages/botonic-nlp/src/model/model-selector.ts
  packages/botonic-plugin-intent-classification/src/index.ts
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
Due: none

chore(nlp): bump versions
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
Due: none

chore: improvements in prepublish
  packages/botonic-nlp/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dynamodb/package.json
Due: contentful, dynamodb

chore: synchronize dev deps versions
  package-lock.json
  package.json
Due: none

chore: upgrade package-lock.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-segment/package-lock.json
Due: nlu, dashbot, dialogflow, luis, plugin-nlu, segment

chore: adapt preinstall to npm7
  preinstall.js
Due: none

chore(dialogflow): remove duplicated build script
  packages/botonic-plugin-dialogflow/package.json
Due: dialogflow

chore: upgrade eslint_d to enable --fix
  package.json
Due: none

Nlp/selector refactor (#1588)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/model/index.ts
  packages/botonic-nlp/src/model/model-info.ts
  packages/botonic-nlp/src/model/model-selector.ts
  packages/botonic-nlp/tests/helpers/constants-helper.ts
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-intent-classification/src/constants.ts
  packages/botonic-plugin-intent-classification/src/index.ts
  packages/botonic-plugin-intent-classification/src/model/intent-classifier.ts
  packages/botonic-plugin-intent-classification/src/model/model-info.ts
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/constants.ts
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-info.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/ner.ts
Due: none

feat(plugin-contentful): convert field values in manage entry updateFields
  packages/botonic-plugin-contentful/src/contentful/manage/manage-entry.ts
Due: contentful

test(plugin-contentful): convertValueType in manage entry
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-entry.test.ts
Due: contentful

Global/chores (#1589)
  package-lock.json
  package.json
  packages/botonic-nlp/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-segment/package-lock.json
  preinstall.js
Due: nlu, contentful, dashbot, dialogflow, dynamodb, luis, plugin-nlu, segment

chore(ci): sample package configuration
  packages/botonic-ci/README.md
  packages/botonic-ci/impl/jest.config.js
  packages/botonic-ci/sample-config/.eslintrc-ci.js
  packages/botonic-ci/sample-config/.eslintrc.js
  packages/botonic-ci/sample-config/jest.config.js
  packages/botonic-ci/sample-config/package.json
  packages/botonic-ci/sample-config/tsconfig.eslint.json
  packages/botonic-ci/sample-config/tsconfig.json
  packages/botonic-ci/sample-config/tsconfig.tests.json
Due: none

chore(dx): rename botonic/ci to botonic/dx
  packages/botonic-ci/sample-config/tsconfig.eslint.json
  packages/botonic-ci/sample-config/tsconfig.tests.json
  packages/botonic-dx/README.md
  packages/botonic-dx/baseline/README.md
  packages/botonic-dx/baseline/jest.config.js
  packages/botonic-dx/baseline/tsconfig.eslint.json
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/baseline/tsconfig.tests.json
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/.eslintrc-ci.js
  packages/botonic-dx/sample-config/.eslintrc.js
  packages/botonic-dx/sample-config/jest.config.js
  packages/botonic-dx/sample-config/package.json
  packages/botonic-dx/sample-config/tsconfig.eslint.json
  packages/botonic-dx/sample-config/tsconfig.json
  packages/botonic-dx/sample-config/tsconfig.tests.json
  packages/botonic-eslint-config/README.md
Due: none

chore(dx): many minor fixes
  packages/botonic-dx/README.md
  packages/botonic-dx/baseline/README.md
  packages/botonic-dx/baseline/jest.config.js
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/baseline/tsconfig.tests.json
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/.eslintrc-ci.js
  packages/botonic-dx/sample-config/.eslintrc.js
  packages/botonic-dx/sample-config/jest.config.js
  packages/botonic-dx/sample-config/jest.setup.js
  packages/botonic-dx/sample-config/package.json
  packages/botonic-dx/sample-config/tsconfig.eslint.json
  packages/botonic-dx/sample-config/tsconfig.json
  packages/botonic-dx/sample-config/tsconfig.tests.json
  packages/botonic-eslint-config/package.json
Due: none

chore(dx): more improvements
  packages/botonic-dx/baseline/babel.config.js
  packages/botonic-dx/baseline/jest.config.js
  packages/botonic-dx/baseline/tests/__mocks__/file-mock.js
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/jest.config.js
  packages/botonic-dx/sample-config/package.json
  packages/botonic-dx/sample-config/tests/__mocks__/file-mock.js
  packages/botonic-dx/sample-config/tsconfig.json
  packages/botonic-dx/sample-config/tsconfig.tests.json
  packages/botonic-eslint-config/package.json
Due: none

chore(dx): added jsx & js to tsconfig.eslint.json
  packages/botonic-dx/baseline/tsconfig.eslint.json
Due: none

chore(dx): TSC to use react-jsx
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/package.json
Due: none

chore(ci): initial commit
  .gitignore
  packages/botonic-ci/README.md
  packages/botonic-ci/impl/README.md
  packages/botonic-ci/impl/tsconfig.eslint.json
  packages/botonic-ci/impl/tsconfig.json
  packages/botonic-ci/impl/tsconfig.tests.json
  packages/botonic-ci/package.json
  packages/botonic-eslint-config/README.md
Due: none

chore(ci): rename impl to baseline
  packages/botonic-ci/README.md
  packages/botonic-ci/baseline/README.md
  packages/botonic-ci/baseline/jest.config.js
  packages/botonic-ci/baseline/tsconfig.eslint.json
  packages/botonic-ci/baseline/tsconfig.json
  packages/botonic-ci/baseline/tsconfig.tests.json
  packages/botonic-ci/sample-config/jest.config.js
  packages/botonic-ci/sample-config/tsconfig.eslint.json
  packages/botonic-ci/sample-config/tsconfig.json
  packages/botonic-ci/sample-config/tsconfig.tests.json
Due: none

chore(dx): minor improvements
  packages/botonic-dx/baseline/jest.config.js
  packages/botonic-dx/baseline/tsconfig.tests.json
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/jest.config.js
  packages/botonic-dx/sample-config/jest.setup.js
  packages/botonic-dx/sample-config/tests/__mocks__/file-mock.js
  packages/botonic-dx/sample-config/tsconfig.json
Due: none

Chore/botonic Developer Experience (DX) (#1465)
  .gitignore
  packages/botonic-dx/README.md
  packages/botonic-dx/baseline/README.md
  packages/botonic-dx/baseline/babel.config.js
  packages/botonic-dx/baseline/jest.config.js
  packages/botonic-dx/baseline/tests/__mocks__/file-mock.js
  packages/botonic-dx/baseline/tsconfig.eslint.json
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/baseline/tsconfig.tests.json
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/.eslintrc-ci.js
  packages/botonic-dx/sample-config/.eslintrc.js
  packages/botonic-dx/sample-config/jest.config.js
  packages/botonic-dx/sample-config/jest.setup.js
  packages/botonic-dx/sample-config/package.json
  packages/botonic-dx/sample-config/tsconfig.eslint.json
  packages/botonic-dx/sample-config/tsconfig.json
  packages/botonic-dx/sample-config/tsconfig.tests.json
  packages/botonic-eslint-config/README.md
  packages/botonic-eslint-config/package.json
Due: none

feat(plugin-contentful): create contentful-api file
  packages/botonic-plugin-contentful/src/contentful/manage/contentful-api.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-entry.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-entry.test.ts
Due: contentful

chore(react): bump contentful to 0.19.0-alpha.1
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: contentful

chore(botonic-plugin-dynamodb): Get AWS credentials from new Organization's secret and assume a role before use them #PLA-505
  .github/workflows/botonic-plugin-dynamo-tests.yml
  packages/botonic-plugin-dynamodb/tests/helpers/dynamo.ts
  packages/botonic-plugin-dynamodb/tests/infrastructure/dynamo.integration.test.ts
Due: dynamodb

chore(botonic-plugin-dynamodb): Get AWS credentials from new Organization's secret and assume a role before use them #PLA-505 (#1603)
  .github/workflows/botonic-plugin-dynamo-tests.yml
  packages/botonic-plugin-dynamodb/tests/helpers/dynamo.ts
  packages/botonic-plugin-dynamodb/tests/infrastructure/dynamo.integration.test.ts
Due: dynamodb

test(contentful): remove useless line
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
Due: contentful

feat(contentful): make acronyms agnostic to dots
  packages/botonic-plugin-contentful/src/nlp/normalizer.ts
  packages/botonic-plugin-contentful/tests/nlp/keywords.test.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

doc(contentful): document that raw are actually lowercase
  packages/botonic-plugin-contentful/src/nlp/keywords.ts
  packages/botonic-plugin-contentful/src/nlp/normalizer.ts
Due: contentful

test(contentful): add case for AcronymPreprocessor
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

Contentful/Make acronyms agnostic to dots #CUS-271 (#1590)
  packages/botonic-plugin-contentful/src/nlp/keywords.ts
  packages/botonic-plugin-contentful/src/nlp/normalizer.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
  packages/botonic-plugin-contentful/tests/nlp/keywords.test.ts
  packages/botonic-plugin-contentful/tests/nlp/normalizer.test.ts
Due: contentful

feat(nlp): main points to lib/index.js
  packages/botonic-nlp/package.json
Due: none

feature(nlp): types and files added to package.json
  packages/botonic-nlp/package.json
Due: none

feat(nlp): main points to lib/index.js (#1604)
  packages/botonic-nlp/package.json
Due: none

style(react): fix argument and return types
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/index.d.ts
Due: react, react-d-ts

chore(core): remove duplicated 'types' entry
  packages/botonic-core/package.json
Due: core

style(core): add attribute to Route interface
  packages/botonic-core/src/types/index.d.ts
Due: core, core-d-ts

chore(dx): direct prettier for non JS/TS
  packages/botonic-dx/baseline/prettier.config.js
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/.prettierrc.js
  packages/botonic-dx/sample-config/package.json
Due: none

Path conditions:
  cli: any of: ^packages/botonic-cli/
  core: any of: ^packages/botonic-core/
  core-d-ts: any of: ^packages/botonic-core/src/.*\.d\.ts
  nlu: any of: ^packages/botonic-plugin-nlu/
  contentful: any of: ^packages/botonic-plugin-contentful/
  dashbot: any of: ^packages/botonic-plugin-dashbot/
  dialogflow: any of: ^packages/botonic-plugin-dialogflow/
  dynamodb: any of: ^packages/botonic-plugin-dynamodb/
  luis: any of: ^packages/botonic-plugin-luis/
  plugin-nlu: any of: ^packages/botonic-plugin-nlu/
  segment: any of: ^packages/botonic-plugin-segment/
  watson: any of: ^packages/botonic-plugin-watson/
  react: any of: ^packages/botonic-react/
  react-d-ts: any of: ^packages/botonic-react/src/.*\.d\.ts
  google-analytics: any of: ^packages/botonic-plugin-google-analytics/
  inbenta: any of: ^packages/botonic-plugin-inbenta/
  docs: any of: ^docs/website/
