Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

doc: Improved images in the getting started section and project structure
  docs/docs/getting-started.mdx
  docs/docs/project-structure.md
Due: none

doc: Updated the image again to adjust tiny thing
  docs/docs/project-structure.md
Due: none

Botonic - Improve documentation (website) (#2407)
  docs/docs/deployment/hubtype.md
  docs/docs/getting-started.mdx
  docs/docs/project-structure.md
  docs/src/components/examples.js
  docs/src/css/custom.css
  docs/src/pages/examples/index.js
Due: none

fix: upgrade semver from 7.4.0 to 7.5.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade aws-sdk from 2.1359.0 to 2.1360.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade aws-sdk from 2.1359.0 to 2.1360.0 (#2416)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade semver from 7.4.0 to 7.5.0 (#2415)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: when the same attachment is uploaded twice, the second one will not trigger the onChange event
  packages/botonic-react/src/webchat/components/attachment.jsx
Due: botonic-react

fix: upgrade @docusaurus/core from 2.0.0-alpha.66 to 2.4.0
  docs/website/package.json
Due: none

fix: upgrade @docusaurus/preset-classic from 2.0.0-alpha.66 to 2.4.0
  docs/website/package.json
Due: none

fix: upgrade @aws-sdk/client-cloudfront from 3.312.0 to 3.315.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix(flow-builder-plugin): Fix plugin name check
  packages/botonic-plugin-flow-builder/src/helpers.ts
Due: none

chore(plugin-flow-builder): bump version to 0.21.6
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

fix: upgrade @aws-sdk/client-cloudfront from 3.312.0 to 3.315.0 (#2420)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: when the same attachment is uploaded twice, the second one will not trigger the onChange event (#2417)
  packages/botonic-react/src/webchat/components/attachment.jsx
Due: botonic-react

fix: upgrade aws-sdk from 2.1359.0 to 2.1360.0
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: botonic-plugin-dynamodb

fix: upgrade aws-sdk from 2.1359.0 to 2.1360.0 (#2421)
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: botonic-plugin-dynamodb

refactor(plugin-flow-builder): upgrade @botonic/react
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

refactor(plugin-flow-builder): sort imports
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-flow-builder): type getAccesToken function with session param
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

WIP
  package-lock.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/util/environment.js
  packages/botonic-react/src/webchat/use-storage-state-hook.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: botonic-react

feat(botonic-react): upgrade react to version 17
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

fix: upgrade contentful-import from 8.2.9 to 8.5.45
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade moment-timezone from 0.5.33 to 0.5.43
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade @nlpjs/lang-ca from 4.22.0 to 4.26.1
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade @nlpjs/core from 4.22.0 to 4.26.1
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade @nlpjs/lang-el from 4.22.0 to 4.26.1
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade aws-sdk from 2.1048.0 to 2.1361.0
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: botonic-plugin-dynamodb

fix: upgrade @botonic/core from 0.19.0 to 0.21.3
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
Due: none

fix: upgrade jsrsasign from 10.5.1 to 10.8.3
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

WIP
  package-lock.json
  package.json
  packages/botonic-react/jest.config.js
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/util/environment.js
  packages/botonic-react/src/webchat/use-storage-state-hook.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/components/__snapshots__/custom-message.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel-multibutton.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/webchat/__snapshots__/buttons-disabler.test.jsx.snap
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: botonic-react

refactor(react): rename webview to webview-app
  packages/botonic-react/src/index.js
  packages/botonic-react/src/webview-app.jsx
Due: botonic-react

refactor(core): refactor from consts to enums
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

chore(react): migrate webview-app from jsx to tsx
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webview-app.tsx
  packages/botonic-react/tsconfig.json
Due: botonic-react

chore: update some deps after install
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
Due: botonic-core, botonic-react

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
