Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

fix(botonic): recovered the previous test regex
  .pre-commit-config.yaml
Due: none

chore: regenerate package-lock
  package-lock.json
Due: none

chore: fix package-lock
  package-lock.json
Due: none

Workflows Botonic: Documentation on how to use it
  .github/workflows/README.md
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-docs-tests.yml
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dashbot-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-plugin-inbenta-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-luis-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-plugin-segment-tests.yml
  .github/workflows/botonic-plugin-watson-tests.yml
  .github/workflows/botonic-react-tests.yml
  .pre-commit-config.yaml
  .secrets.baseline
  package-lock.json
  scripts/qa/lint-botonic-package.sh
Due: none

feat(plugin-flow-builder): create a function to get content by code
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): extend FlowBuilderAction using Multichannel
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): create 0.22.0-alpha.2 version and publish
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

chore(plugin-flow-builder): upgrade @botonic/react
  packages/botonic-plugin-flow-builder/package.json
Due: none

feat(plugin-flow-builder): track HANDOFF_SUCCESSFULL
  packages/botonic-plugin-flow-builder/src/handoff.ts
Due: none

refactor(plugin-flow-builder): use a ternary in the logic within the find
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): track the status of the queue
  packages/botonic-plugin-flow-builder/src/functions/conditional-provider.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-flow-builder): all events in capital letters and with the same arguments as the queues
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
Due: none

chore(plugin-flow-builder): add package-lock.json
  packages/botonic-plugin-flow-builder/package-lock.json
Due: none

feat(plugin-flow-builder): create FlowBuilderMultichannelAction
  packages/botonic-plugin-flow-builder/src/action.tsx
Due: none

feat(plugin-flow-builder): always track the code of each first content
  packages/botonic-plugin-flow-builder/src/action.tsx
Due: none

refactor(plugin-flow-builder): rename to contents and remove @ts-ignore
  packages/botonic-plugin-flow-builder/src/action.tsx
Due: none

feat(plugin-flow-builder): be able to pass a bot function to do the tracking
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

refactor(plugin-flow-builder): remove console.logs and update botonic beta
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
Due: none

Plugin flow builder: tracking and minor multichannel changes (#2505)
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-provider.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

Plugin flow builder: multichannel and tracking(#2501)
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-provider.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

test: rollback to previous pre-commit script
  .pre-commit-config.yaml
Due: none

chore: bump pre-commit action to v3.0.0
  .github/workflows/pre-commit.yml
Due: none

chore: added git add to pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

chore: rollback pre-commit workflow and pump detect-secrets version
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

chore: rollback pre-commit version
  .github/workflows/pre-commit.yml
Due: none

chore: remove non used lint script
  scripts/qa/lint-botonic-package.sh
Due: none

Check failing workflows #SER-2321 (#2515)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  scripts/qa/lint-botonic-package.sh
Due: none

feat(core/react): add WhatsappButtonList component in Botonic
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/whatsapp-button-list.tsx
Due: botonic-core, botonic-react

feature: remove client_secret from api call due to app being public by definition
  packages/botonic-cli/src/botonic-api-service.ts
Due: botonic-cli

feature: Added useUnknownInCatchVariables to tsconfig
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

feature: Removed parameter
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

fix: Avoid using useUnknownInCatchVariables when CI
  .github/workflows/botonic-cli-tests.yml
  packages/botonic-cli/tsconfig.test.json
Due: botonic-cli

feature: Removed client_secret #PLA-20 (#2517)
  .github/workflows/botonic-cli-tests.yml
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/tsconfig.test.json
Due: botonic-cli

feat: change optional properties types
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/whatsapp-button-list.tsx
  packages/botonic-react/src/util/webchat.js
Due: botonic-react

chore: bump botonic react and botonic core alpha version
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

fix: lint
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/routing/router.ts
Due: botonic-core

feature(botonic-cli): Bump version to 0.21.4
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix: change body and footer of whatsapp button list to string
  packages/botonic-react/src/components/whatsapp-button-list.tsx
Due: botonic-react

Feat(core/react): add WhatsappButtonList component in Botonic (#2510)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/whatsapp-button-list.tsx
  packages/botonic-react/src/util/webchat.js
Due: botonic-core, botonic-react
