Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-plugin-contentful, botonic-react, botonic-core, botonic-plugin-dynamodb, botonic-nlu

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%
flags:
  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true
  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true
  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true
  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true
  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

refactor(core): integrations removed
  packages/botonic-core/src/core-bot.js
  packages/botonic-core/src/index.d.ts
  packages/botonic-core/src/index.js
  packages/botonic-core/src/nlu.js
Due: botonic-core

docs: update standalone deploy readme
  docs/docs/deployment/standalone-js-bundle.md
Due: none

docs: format self-hosted code docs and add clarification
  docs/docs/deployment/standalone-js-bundle.md
Due: none

refactor: rename old website index so it's not included in build
  docs/website/src/pages/index.js.old
Due: none

fix: rename old website index so it's not included in build
  docs/website/src/pages/index-new.js
Due: none

fix(botonic-plugin-contentful): add ? in indicationText field
  packages/botonic-plugin-contentful/src/contentful/queue.ts
Due: botonic-plugin-contentful

chore(cli): add general try/catch in botonic new
  packages/botonic-cli/src/commands/new.ts
Due: none

chore(cli): track botonic new at the very beginning
  packages/botonic-cli/src/commands/new.ts
Due: none

chore(cli): track node version, interactive console and path to botonic bin
  packages/botonic-cli/src/utils.ts
Due: none

chore(cli): update @oclif deps
  packages/botonic-cli/package.json
Due: none

chore(cli): track system PATH and current working directory
  packages/botonic-cli/src/utils.ts
Due: none

chore(cli): track __dirname instead of which/where
  packages/botonic-cli/src/utils.ts
Due: none

chore(cli): bump cli to 0.18.1
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: none

Chore/improve telemetry, track path, __dirname and more events in botonic new (#1305)
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/utils.ts
Due: none

fix(core/react): include lib as files to be published
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-react/package.json
Due: botonic-react, botonic-core

fix(core/react): include lib as files to be published (#1306)
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-react/package.json
Due: botonic-react, botonic-core

chore(cli): track botonic version from package.json and bump alpha
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/utils.ts
Due: none

chore(cli): bump to 0.18.2
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
Due: none

docs: removed deprecated info for NLU integrations and corrected typo
  docs/docs/concepts/11.botonic_settings.md
  docs/docs/concepts/19.webviews.md
Due: none

chore(cli): track botonic CLI version from package.json (#1307)
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/utils.ts
Due: none

fix(core/react): try to fix connection issues, bump to alpha
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react, botonic-core

feat(botonic-plugin-contentful): add handoffMessage field to contentful queue object
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/queue.test.ts
Due: botonic-plugin-contentful

docs: removed deprecated info for NLU integrations and corrected typo (#1308)
  docs/docs/concepts/11.botonic_settings.md
  docs/docs/concepts/19.webviews.md
Due: none

chore(react): add connection tests
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/connection-issues.test.js
Due: botonic-react

chore(core/react): bump packages to 0.18.1
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react, botonic-core

fix(core/react): fix connection issues with connection-checker, avoid resending duplicates (#1302)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/hubtype-service.js
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/hooks.js
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/connection-issues.test.js
Due: botonic-react, botonic-core

chore(cli): do not enqueue tracking events, bump to 0.18.3
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/scripts/postinstall.js
  packages/botonic-cli/src/utils.ts
Due: none

chore(cli): do not enqueue tracking events, bump to 0.18.3 (#1317)
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/scripts/postinstall.js
  packages/botonic-cli/src/utils.ts
Due: none

docs: description of disabled button
  docs/docs/components/components-button.md
  docs/docs/concepts/14.humanhandoff.md
  docs/docs/webchat/webchat-button-disable.md
  docs/docs/webchat/webchat-style.md
  docs/website/sidebars.json
Due: none

chore(react): give clickable link to document download
  packages/botonic-react/src/components/document.jsx
  packages/botonic-react/src/constants.js
Due: botonic-react

style(react): fix return type for input method in NodeApp
  packages/botonic-react/src/index.d.ts
Due: botonic-react

style(core): fix return type for input method in CoreBot
  packages/botonic-core/src/index.d.ts
Due: botonic-core

docs: updates following feedback
  docs/docs/components/components-button.md
  docs/docs/webchat/webchat-button-disable.md
  docs/docs/webchat/webchat-style.md
Due: none

docs: update of the webchat-style file
  docs/docs/webchat/webchat-style.md
Due: none

docs: update following feedback
  docs/docs/webchat/webchat-button-disable.md
  docs/docs/webchat/webchat-style.md
Due: none
