Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

fix: packages/botonic-plugin-segment/package.json & packages/botonic-plugin-segment/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
Due: none

fix: packages/botonic-core/package.json & packages/botonic-core/package-lock.json to reduce vulnerabilities
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: packages/botonic-plugin-google-analytics/package.json & packages/botonic-plugin-google-analytics/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
Due: none

fix: packages/botonic-plugin-google-translation/package.json & packages/botonic-plugin-google-translation/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: packages/botonic-api/package.json & packages/botonic-api/package-lock.json to reduce vulnerabilities
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
Due: none

fix: packages/botonic-plugin-hubtype-babel/package.json & packages/botonic-plugin-hubtype-babel/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
Due: none

fix: packages/botonic-plugin-dashbot/package.json & packages/botonic-plugin-dashbot/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
Due: none

fix: packages/botonic-nlp/package.json & packages/botonic-nlp/package-lock.json to reduce vulnerabilities
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
Due: botonic-nlp

fix: packages/botonic-cli/package.json & packages/botonic-cli/package-lock.json to reduce vulnerabilities
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix: packages/botonic-plugin-dialogflow/package.json & packages/botonic-plugin-dialogflow/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

fix: packages/botonic-plugin-flow-builder/package.json & packages/botonic-plugin-flow-builder/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

fix: packages/botonic-react/package.json & packages/botonic-react/package-lock.json to reduce vulnerabilities
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

docs(botonic): update CHANGELOG
  CHANGELOG.md
Due: none

fix resetUnreadMessages in local (#2736)
  CHANGELOG.md
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/messages-reducer.ts
Due: botonic-react

refactor(plugin-flow-builder): remove unnecessary optional chaining
  packages/botonic-plugin-flow-builder/src/api.ts
Due: none

feature(plugin-flow-builder): add the go-to-flow type node
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/go-to-flow.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
Due: none

refactor(plugin-dynamoDb): implement plugin to comply core types
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-dynamodb/src/index.ts
Due: botonic-plugin-dynamodb

chore(botonic): update CHANGELOG
  CHANGELOG.md
Due: none

chore(plugin-flow-builder): publish version 0.24.1
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

plugin-flow-builder: add the go-to-flow type node (#2737)
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/go-to-flow.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
Due: none

fix: packages/botonic-plugin-luis/package.json & packages/botonic-plugin-luis/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
Due: none

fix: packages/botonic-plugin-contentful/package.json & packages/botonic-plugin-contentful/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: docs/website/package.json to reduce vulnerabilities
  docs/website/package.json
Due: none

fix: packages/botonic-plugin-watson/package.json & packages/botonic-plugin-watson/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
Due: none

fix: packages/botonic-plugin-inbenta/package.json & packages/botonic-plugin-inbenta/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
Due: none

feat(plugin-flow-builder): create HtBotActionNode
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/bot-action.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
Due: none

feat(plugin-flow-builder): create funtion to get payload from bot action node by id
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
Due: none

feat(plugin-flow-builder): use payload from bot action node in FlowButton
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
Due: none

feat(plugin-flow-builder): use payload from bot action node in FlowHandoff
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: none

feat(plugin-flow-builder): use payload from bot action node in pre function for Intents and Keywords
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): create a type and function to get payloadParams
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none
