Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

fix return type
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

input guardrail working
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

test fixed + linter
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
Due: none

linters
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
Due: none

linters
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
Due: none

guardrail test added
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
Due: none

Feature: Adapt AI Agent Plugin to use Guardrails #BLT-1798 (#3084)
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/index.ts
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

refactor: pass KnowleledgeBaseResponse type to core and import in plguins that use it
  packages/botonic-core/src/models/index.ts
  packages/botonic-core/src/models/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
  packages/botonic-plugin-knowledge-bases/src/types.ts
Due: botonic-core

refactor: pass plugin-ai-agents types to core and import them in plugins that use it
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/carousel.ts
  packages/botonic-plugin-ai-agents/src/structured-output/exit.ts
  packages/botonic-plugin-ai-agents/src/structured-output/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/shared.ts
  packages/botonic-plugin-ai-agents/src/structured-output/text-with-buttons.ts
  packages/botonic-plugin-ai-agents/src/structured-output/text.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
Due: botonic-core

refactor: inputGuardrailTriggered and outputGuardrailTriggered typed as string[]
  packages/botonic-core/src/models/ai-agents.ts
Due: botonic-core

use only last user message on input guardrail
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
Due: none

use only last message on guardrail
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
Due: none

refactor: update mockAiAgentResponse to return guardrails as array of strings
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
Due: none

tests fixed
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
Due: none

refactor: import botonic/core KnowledgebaseFailReason and WebviewEndFailType and export from types
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: none

refactor: inputGuardrailTriggered and outputGuardrailTriggered changed to string[]
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
Due: none

Fix: Use only last message on guardrail (#3089)
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
Due: none

test: add tests to check when contentID is fount and when contentID not found
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
Due: none

refactor: rename type KnowledgeBaseResponse to KnowledgeBasesResponse
  packages/botonic-core/src/models/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/knowledge-base.ts
  packages/botonic-plugin-knowledge-bases/src/index.ts
  packages/botonic-plugin-knowledge-bases/src/types.ts
Due: botonic-core

refactor: remove unused types
  packages/botonic-core/src/models/events/base-event.ts
  packages/botonic-core/src/models/events/botonic-event.ts
  packages/botonic-core/src/models/events/connections/connection-event.ts
  packages/botonic-core/src/models/events/connections/index.ts
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/buttons.ts
  packages/botonic-core/src/models/events/message/carousel.ts
  packages/botonic-core/src/models/events/message/contact.ts
  packages/botonic-core/src/models/events/message/custom.ts
  packages/botonic-core/src/models/events/message/form.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/location.ts
  packages/botonic-core/src/models/events/message/media.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/events/message/missed.ts
  packages/botonic-core/src/models/events/message/postback.ts
  packages/botonic-core/src/models/events/message/replies.ts
  packages/botonic-core/src/models/events/message/text.ts
  packages/botonic-core/src/models/user.ts
Due: botonic-core

refactor: remove exports
  packages/botonic-core/src/models/index.ts
Due: botonic-core

plugin-knowledge-bases and plugin-ai-agents types in core (#3088)
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-core/src/models/events/base-event.ts
  packages/botonic-core/src/models/events/botonic-event.ts
  packages/botonic-core/src/models/events/connections/connection-event.ts
  packages/botonic-core/src/models/events/connections/index.ts
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/buttons.ts
  packages/botonic-core/src/models/events/message/carousel.ts
  packages/botonic-core/src/models/events/message/contact.ts
  packages/botonic-core/src/models/events/message/custom.ts
  packages/botonic-core/src/models/events/message/form.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/location.ts
  packages/botonic-core/src/models/events/message/media.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/models/events/message/missed.ts
  packages/botonic-core/src/models/events/message/postback.ts
  packages/botonic-core/src/models/events/message/replies.ts
  packages/botonic-core/src/models/events/message/text.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-core/src/models/knowledge-bases.ts
  packages/botonic-core/src/models/user.ts
  packages/botonic-plugin-ai-agents/src/structured-output/carousel.ts
  packages/botonic-plugin-ai-agents/src/structured-output/exit.ts
  packages/botonic-plugin-ai-agents/src/structured-output/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/shared.ts
  packages/botonic-plugin-ai-agents/src/structured-output/text-with-buttons.ts
  packages/botonic-plugin-ai-agents/src/structured-output/text.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
  packages/botonic-plugin-knowledge-bases/src/index.ts
  packages/botonic-plugin-knowledge-bases/src/types.ts
Due: botonic-core

refactor: remove unused imports and use InferenceResponse from botonic/core
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

chore: update CHANGELOGs and publish alpha versions
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/CHANGELOG.md
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

feat: plugin-flow-builder return text messages instead of whatsapp messages when the provider is not whatsapp
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list.tsx
Due: none

feat(plugin-hubtype-analytics): import KnowledgebaseFailReason and WebviewEndFailType from botonic/core and export
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: none

feat: plugin-ai-agents return InferenceResponse with error boolean instead of undefined
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
Due: botonic-core

feat: update plugin-flow-builder with error bolean of the ai agent response
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
  packages/botonic-plugin-flow-builder/tests/ai-agent.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-ai-agent.test.ts
Due: none

refactor: no use props.json to pass and update props for a custom message
  packages/botonic-react/src/components/custom-message.tsx
  packages/botonic-react/src/webchat/context/actions.ts
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/context/messages-reducer.ts
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/custom-messages/index.ts
  packages/botonic-react/src/webchat/custom-messages/rating/index.tsx
  packages/botonic-react/src/webchat/custom-messages/types.ts
  packages/botonic-react/src/webchat/webchat.tsx
Due: botonic-react

refactor: create helpers functions to get updated messagesComponents and messagesJSON inside reducer
  packages/botonic-react/src/webchat/context/messages-reducer.ts
  packages/botonic-react/src/webchat/custom-messages/rating/index.tsx
Due: botonic-react

test: not change readonly props attribute to fix test
  packages/botonic-react/src/webchat/context/messages-reducer.ts
Due: botonic-react

feat: change do-nothing payload
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
Due: none

update CHANGELOG
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: none

feat: change do-nothing payload #BLT-1830 (#3092)
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
Due: none

feat: plugin-flow-builder return text messages instead of whatsapp me… (#3091)
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list.tsx
Due: none

refactor: updateCustomMessageProps accept id as undefined but do nothing with id as undefined
  packages/botonic-react/src/webchat/context/messages-reducer.ts
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/custom-messages/rating/index.tsx
Due: botonic-react

refactor: create a cont with json
  packages/botonic-react/src/webchat/custom-messages/rating/index.tsx
Due: botonic-react

botonic-react: create updateCustomMessageProps function inside WebchatContext #BLT-1787 (#3079)
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/src/components/custom-message.tsx
  packages/botonic-react/src/webchat/context/actions.ts
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/context/messages-reducer.ts
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/custom-messages/rating/index.tsx
  packages/botonic-react/src/webchat/webchat.tsx
Due: botonic-react

test: add an extra expect to ensure that flow_thread_id is defined
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
Due: none
