Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

chore(core): add typings for @botonic/core
  packages/botonic-core/package.json
  packages/botonic-core/src/index.js
  packages/botonic-core/src/types/constants.d.ts
  packages/botonic-core/src/types/core-bot.d.ts
  packages/botonic-core/src/types/debug/index.d.ts
  packages/botonic-core/src/types/debug/inspector.d.ts
  packages/botonic-core/src/types/handoff.d.ts
  packages/botonic-core/src/types/hubtype-service.d.ts
  packages/botonic-core/src/types/i18n.d.ts
  packages/botonic-core/src/types/index.d.ts
  packages/botonic-core/src/types/plugins.d.ts
  packages/botonic-core/src/types/router.d.ts
  packages/botonic-core/src/types/utils.d.ts
Due: botonic-core

chore(core): change refs in main and types from lib to src
  packages/botonic-core/package.json
Due: botonic-core

chore: remove unused imports
  packages/botonic-core/src/router.d.ts
  packages/botonic-core/src/router.js
  packages/botonic-core/src/router.test.js
Due: botonic-core

chore: add .d.ts in tryExtensions lint config and remove no-unused-imports
  packages/.eslintrc.js
  packages/botonic-core/src/types/core-bot.d.ts
  packages/botonic-core/src/types/debug/index.d.ts
  packages/botonic-core/src/types/debug/inspector.d.ts
  packages/botonic-core/src/types/handoff.d.ts
  packages/botonic-core/src/types/hubtype-service.d.ts
  packages/botonic-core/src/types/i18n.d.ts
  packages/botonic-core/src/types/index.d.ts
  packages/botonic-core/src/types/plugins.d.ts
  packages/botonic-core/src/types/router.d.ts
Due: botonic-core

chore(core): improved types and remove duplicates
  packages/botonic-core/src/types/debug/index.d.ts
  packages/botonic-core/src/types/hubtype-service.d.ts
  packages/botonic-core/src/types/index.d.ts
  packages/botonic-core/src/types/plugins.d.ts
Due: botonic-core

chore(core): add typings for @botonic/core (#1333)
  packages/.eslintrc.js
  packages/botonic-core/package.json
  packages/botonic-core/src/index.js
  packages/botonic-core/src/router.d.ts
  packages/botonic-core/src/router.js
  packages/botonic-core/src/router.test.js
  packages/botonic-core/src/types/constants.d.ts
  packages/botonic-core/src/types/core-bot.d.ts
  packages/botonic-core/src/types/debug/index.d.ts
  packages/botonic-core/src/types/debug/inspector.d.ts
  packages/botonic-core/src/types/handoff.d.ts
  packages/botonic-core/src/types/hubtype-service.d.ts
  packages/botonic-core/src/types/i18n.d.ts
  packages/botonic-core/src/types/index.d.ts
  packages/botonic-core/src/types/plugins.d.ts
  packages/botonic-core/src/types/router.d.ts
  packages/botonic-core/src/types/utils.d.ts
Due: botonic-core

refactor(plugin-watson): intent with max confidence can be null
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: none

doc(plugin-watson): processed input updated
  packages/botonic-plugin-watson/README.md
Due: none

refactor(plugin-watson): revive watson plugin with assistantV2 (#1401)
  packages/botonic-plugin-watson/README.md
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-plugin-watson/src/index.js
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: none

test: add jest config and 1st test
  packages/botonic-plugin-dialogflow/jest.config.js
  packages/botonic-plugin-dialogflow/tests/index.test.ts
Due: none

refactor: migrate package to TS
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dialogflow/src/index.ts
  packages/botonic-plugin-dialogflow/src/types.ts
  packages/botonic-plugin-dialogflow/tsconfig.json
Due: none

chore: configure GH workflow and codecov
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  codecov.yml
Due: none

feat(ner): model storaged by locale (#1392)
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
Due: botonic-nlp

feat(cli): task flag in botonic train command (#1379)
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/tests/commands/train.test.ts
Due: botonic-cli

feat(ner-plugin): Preprocess implemented (#1393)
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/tests/helper/constants-helper.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tests/preprocess/input-generator.test.ts
Due: botonic-plugin-ner

feat(ner-plugin): NER model implemented (#1395)
  packages/botonic-plugin-ner/src/model/ner.ts
Due: botonic-plugin-ner

refactor(preprocess): engines now use nlpjs (#1377)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/index.ts
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stemmer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stopwords-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/tokenizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stemmer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stopwords-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/src/preprocess/index.ts
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/preprocess/types.ts
  packages/botonic-nlp/tests/preprocess/engines/en/normalizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/stemmer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/tokenizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/normalizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/stemmer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/tokenizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/vocabulary-generator.test.ts
Due: botonic-nlp

feat(ner-plugin): Postprocess implemented (#1394)
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/tests/postprocess/prediction-processor.test.ts
Due: botonic-plugin-ner

feat(utils): Environment and locale utils implemented (#1391)
  .github/workflows/botonic-plugin-ner-tests.yml
  .pre-commit-config.yaml
  codecov.yml
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/constants.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/utils/locale-utils.ts
  packages/botonic-plugin-ner/tests/utils/locale-utils.test.ts
  packages/botonic-plugin-ner/tsconfig.eslint.json
  packages/botonic-plugin-ner/tsconfig.json
Due: botonic-plugin-ner

fix(processor): ner processor needs to pad sequence (#1378)
  packages/botonic-nlp/src/tasks/ner/process/processor.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/ner/process/processor.test.ts
  packages/botonic-nlp/tests/tasks/ner/storage/config-storage.test.ts
Due: botonic-nlp

refactor(plugin-ner): how models are loaded
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-info.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/models-router.ts
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: botonic-plugin-ner

fix(plugin-ner): unnecessary dependencies removed
  packages/botonic-plugin-ner/package.json
Due: botonic-plugin-ner

refactor(model): ModelsRouter implementation and parallel loading of ModelInfo
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/models-router.ts
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: botonic-plugin-ner

refactor(plugin-ner): PRODUCTION renamed to DEPLOYED
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: botonic-plugin-ner

refactor(plugin-ner): return boolean of undefined
  packages/botonic-plugin-ner/src/model/models-router.ts
Due: botonic-plugin-ner

feat(plugin): BotonicPluginNer implemented
  packages/botonic-plugin-ner/src/index.ts
Due: botonic-plugin-ner

refactor(plugin-ner): async constructors removed
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/models-router.ts
  packages/botonic-plugin-ner/src/model/ner.ts
Due: botonic-plugin-ner

refactor(plugin-ner): ModelInfo init removed
  packages/botonic-plugin-ner/src/model/model-info.ts
Due: botonic-plugin-ner

refactor(plugin-ner): for loop consistency
  packages/botonic-plugin-ner/src/model/models-router.ts
Due: botonic-plugin-ner

refactor(plugin-ner): ModelInfo attributes are readonly
  packages/botonic-plugin-ner/src/model/model-info.ts
Due: botonic-plugin-ner

chore(nlp): adapt code to point to lib instead of dist, and publish nlp alpha
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/tsconfig.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/model/model-info.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/utils/locale-utils.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tsconfig.json
Due: botonic-nlp, botonic-plugin-ner

feat(ner-plugin): BotonicPluginNer implemented (#1396)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/tsconfig.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-info.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/utils/locale-utils.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tsconfig.json
Due: botonic-nlp, botonic-plugin-ner

fix(plugin-ner): botonic nlp imports fixed
  packages/botonic-plugin-ner/src/process/text-processor.ts
Due: botonic-plugin-ner

feat(plugin-ner): processes reorganized
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/src/process/prediction-processor.ts
  packages/botonic-plugin-ner/src/process/text-processor.ts
Due: botonic-plugin-ner

test(plugin-ner): processor tests renamed
  packages/botonic-plugin-ner/tests/process/prediction-processor.test.ts
  packages/botonic-plugin-ner/tests/process/text-processor.test.ts
Due: botonic-plugin-ner

feat(plugin-ner): NER attributes as readonly
  packages/botonic-plugin-ner/src/model/ner.ts
Due: botonic-plugin-ner

refactor(plugin-ner): Reorganize Processes (#1420)
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/src/process/prediction-processor.ts
  packages/botonic-plugin-ner/src/process/text-processor.ts
  packages/botonic-plugin-ner/tests/process/prediction-processor.test.ts
  packages/botonic-plugin-ner/tests/process/text-processor.test.ts
Due: botonic-plugin-ner

feat(nlp): categorical and non-categorical codifiers
  packages/botonic-nlp/src/codify/codifier.ts
  packages/botonic-nlp/src/codify/one-hot-codifier.ts
  packages/botonic-nlp/tests/codify/codifier.test.ts
  packages/botonic-nlp/tests/codify/one-hot-codifier.test.ts
Due: botonic-nlp

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
