Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

refactor: remove code commented
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
Due: botonic-react

feat: add a output guardrail when AI Agent has knowledge sources
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/output.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
Due: none

feat: store cunkTexts in context and reuse them in guardrail output
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/output.ts
  packages/botonic-plugin-ai-agents/src/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/tools/retrieve-knowledge.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

refactor: knowledgeUsed never is undefined and inicialize it with empty values
  packages/botonic-plugin-ai-agents/src/guardrails/output.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

feat: update output guardrail instructions and remove console.logs
  packages/botonic-plugin-ai-agents/src/guardrails/output.ts
  packages/botonic-plugin-ai-agents/src/tools/retrieve-knowledge.ts
Due: none

Export client session type and update package (#3110)
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/index.ts
Due: botonic-react

feat: add request in context for tools (#3109)
  package-lock.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

wip
  packages/botonic-core/src/handoff.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: botonic-core

feat: update events generation in flow builder
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/keyword.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: none

feat: update core and analytics new definitions
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-ai-agent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-fallback.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-option.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-intent-smart.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-keyword.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: botonic-core

feat: update ai agent event with execution tools
  packages/botonic-plugin-ai-agents/src/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/tools/retrieve-knowledge.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

test: fix typing for ai agent and update tests with format v4 defs
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-ai-agent.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-fallback.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-smart-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-ai-agent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-ai-agent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: botonic-core

update CHANGELOG.md's
  packages/botonic-core/CHANGELOG.md
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
Due: botonic-core

fix: fix types and apply feedback
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: botonic-core

test: update tests
  packages/botonic-core/tests/handoff.test.ts
Due: botonic-core

chore: reapply missing code
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

wip: start generalizing debug events
  packages/botonic-react/src/components/system-debug-trace/index.tsx
Due: botonic-react

refactor: add icon in debug event config and add wand and quote-right icons
  packages/botonic-react/src/assets/quote-right-solid-full.svg
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/nlu-keyword/index.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/quote-right.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/types.ts
  packages/botonic-react/src/components/system-debug-trace/icons/wand.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: botonic-react

refactor: rename variables and component, remove factory and create component DebugMessage
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/index.ts
  packages/botonic-react/src/components/system-debug-trace/icons/caret-down.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/caret-up.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/index.ts
  packages/botonic-react/src/components/system-debug-trace/icons/life-ring.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/quote-right.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/robot.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/types.ts
  packages/botonic-react/src/components/system-debug-trace/icons/wand.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
  packages/botonic-react/src/components/system-debug-trace/types.ts
  packages/botonic-react/src/dev-app.jsx
Due: botonic-react

refactor: styles to ressemble the ones in design, figma MCP
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/fallback.tsx
  packages/botonic-react/src/components/system-debug-trace/events/keyword.tsx
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: botonic-react

refactor: reorganize code to keep adding components
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/nlu-keyword/index.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
  packages/botonic-react/src/components/system-debug-trace/types.ts
Due: botonic-react

fix: working again
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/dev-app.jsx
Due: botonic-react

chore: add development method to debug locally
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.tsx
Due: botonic-react

fix: fix icon using same path as the other
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/wand.tsx
Due: botonic-react

feat: add component for ai_agent, knowledgebase and fallback events
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/factory.tsx
  packages/botonic-react/src/components/system-debug-trace/events/fallback.tsx
  packages/botonic-react/src/components/system-debug-trace/events/keyword.tsx
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/life-ring.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/robot.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/components/system-debug-trace/types.ts
  packages/botonic-react/src/dev-app.jsx
Due: botonic-react

feat: update styles and use const COLORS
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/fallback.tsx
  packages/botonic-react/src/components/system-debug-trace/events/keyword.tsx
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/caret-down.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/caret-up.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/life-ring.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/quote-right.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/robot.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/wand.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: botonic-react

feat: change rgba colors without opacity to hexadecimals colors, and add some N news
  packages/botonic-react/src/constants.js
Due: botonic-react

WIP
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/message-utils.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat-app.tsx
Due: botonic-core, botonic-react

refactor: remove unused svg and div
  packages/botonic-react/src/assets/quote-right-solid-full.svg
  packages/botonic-react/src/components/message/index.jsx
Due: botonic-react

feat: add smart intent and handoff success event debug
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/components/system-debug-trace/events/index.ts
  packages/botonic-react/src/components/system-debug-trace/events/smart-intent.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/brain.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/head-set.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/index.ts
  packages/botonic-react/src/components/system-debug-trace/types.ts
Due: botonic-react

refactor: remove unused svg
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/index.ts
  packages/botonic-react/src/components/system-debug-trace/icons/robot.tsx
Due: botonic-react

refactor: simplify map and use always a function to get eventConfig
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/events/fallback.tsx
  packages/botonic-react/src/components/system-debug-trace/events/keyword.tsx
  packages/botonic-react/src/components/system-debug-trace/events/knowledge-base.tsx
  packages/botonic-react/src/components/system-debug-trace/index.tsx
  packages/botonic-react/src/components/system-debug-trace/types.ts
Due: botonic-react

feat: handoff succes is collapsible
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/dev-app.jsx
Due: botonic-react

fix(plugin-flow-builder): get input and session values only if it starts with 'input.' and 'session.' to allow other variables starting with 'input' or 'session' in extra_data
  package-lock.json
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: none

test(plugin-flow-builder): add tests for the getValueFromKeyPath function
  packages/botonic-plugin-flow-builder/tests/utils.test.ts
Due: none

chore: update events with new definitions
  packages/botonic-react/src/dev-app.jsx
Due: botonic-react

docs(plugin-flow-builder): update CHANGELOG
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: none

fix(plugin-flow-builder): Fix Plugin-flow-builder getValueFromKeyPath to access input or session objects (#3116)
  package-lock.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/utils.ts
  packages/botonic-plugin-flow-builder/tests/utils.test.ts
Due: none
