Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

feat: create displayName to check every component in multichannel
  packages/botonic-react/.cursor/rules/component-display-name.md
  packages/botonic-react/.eslintrc.js
  packages/botonic-react/src/components/button/index.tsx
  packages/botonic-react/src/components/carousel.tsx
  packages/botonic-react/src/components/constants.ts
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-reply.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel-utils.ts
  packages/botonic-react/src/components/pic.tsx
  packages/botonic-react/src/components/reply.tsx
  packages/botonic-react/src/components/subtitle.tsx
  packages/botonic-react/src/components/text.tsx
  packages/botonic-react/src/components/title.tsx
Due: botonic-react

update CHANGELOG
  packages/botonic-react/CHANGELOG.md
Due: botonic-react

feat: replace input.context.campaign_v2 for campaigns_v2 that is an array
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
Due: botonic-core

update CHANGELOG
  packages/botonic-plugin-ai-agents/CHANGELOG.md
Due: none

feat: no add context campaign to ai agent when input.context is undefined or empty array
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
Due: none

test: updates tests
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/index.test.ts
Due: none

feat: update enum HtAiValidationType with correct values
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/capture-user-input.ts
Due: none

test: fix
  packages/botonic-plugin-flow-builder/tests/capture-user-input.test.ts
Due: none

feat: add disableAIAgentInFirstInteraction flag in plugin options
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: none

refactor: remove console.log
  packages/botonic-react/src/components/button/index.tsx
Due: botonic-react

botonic-react: multichannel check components (#3150)
  packages/botonic-react/.cursor/rules/component-display-name.md
  packages/botonic-react/.eslintrc.js
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/src/components/button/index.tsx
  packages/botonic-react/src/components/carousel.tsx
  packages/botonic-react/src/components/constants.ts
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-reply.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/components/multichannel/multichannel-utils.ts
  packages/botonic-react/src/components/pic.tsx
  packages/botonic-react/src/components/reply.tsx
  packages/botonic-react/src/components/subtitle.tsx
  packages/botonic-react/src/components/text.tsx
  packages/botonic-react/src/components/title.tsx
Due: botonic-react

plugin-ai-agents: replace input.context.campaign_v2 for campaigns_v2 that is an a… (#3151)
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/index.test.ts
Due: botonic-core

plugin-flow-builder: update enum HtAiValidationType with correct values (#3152)
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/capture-user-input.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/capture-user-input.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: none

chore: publish 0.44.0-alpha.0
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

chore: publish alpha.1
  .pre-commit-config.yaml
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

chore: publish alpha.2
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

feat: add file .nvmrc to all packages
  packages/botonic-cli/.nvmrc
  packages/botonic-core/.nvmrc
  packages/botonic-plugin-ai-agents/.nvmrc
  packages/botonic-plugin-flow-builder/.nvmrc
  packages/botonic-plugin-hubtype-analytics/.nvmrc
  packages/botonic-plugin-knowledge-bases/.nvmrc
  packages/botonic-react/.nvmrc
Due: botonic-cli, botonic-core, botonic-react

feat: debug logger for ai agents
  packages/botonic-plugin-ai-agents/src/debug-logger.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/tests/debug-logger.test.ts
Due: none

feat: include modelSettings log and fix type
  package-lock.json
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/debug-logger.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/tests/debug-logger.test.ts
Due: none

update changelog
  packages/botonic-plugin-ai-agents/CHANGELOG.md
Due: none

fix: fix tests
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
Due: none

remove repeated ones and update tests
  packages/botonic-plugin-ai-agents/src/debug-logger.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/tests/debug-logger.test.ts
Due: none

feat: Add enableDebug option to log AI agent configuration, model settings, and execution details. (#3153)
  package-lock.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/debug-logger.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/debug-logger.test.ts
Due: none

publish alpha.3
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

feat: WIP conect to a MCPServerStreamableHttp
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
Due: none

chore: publish version v0.44.0 for all packages
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

chore: publish examples and cli to v0.44.0
  examples/blank-typescript/.nvmrc
  examples/blank-typescript/package.json
  examples/blank/.nvmrc
  examples/blank/package.json
  examples/flow-builder-typescript/.nvmrc
  examples/flow-builder-typescript/package.json
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
Due: botonic-cli

chore: update CHANGELOGs
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-knowledge-bases/CHANGELOG.md
  packages/botonic-react/CHANGELOG.md
Due: botonic-react

chore: publish 0.44.0-alpha.0 (#3149)
  .pre-commit-config.yaml
  examples/blank-typescript/.nvmrc
  examples/blank-typescript/package.json
  examples/blank/.nvmrc
  examples/blank/package.json
  examples/flow-builder-typescript/.nvmrc
  examples/flow-builder-typescript/package.json
  package-lock.json
  packages/botonic-cli/.nvmrc
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/.nvmrc
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/.nvmrc
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/.nvmrc
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/.nvmrc
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/.nvmrc
  packages/botonic-plugin-knowledge-bases/CHANGELOG.md
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/.nvmrc
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

refactor/fix: navigator.locale to return correct codes
  packages/botonic-react/src/util/i18n.ts
  packages/botonic-react/src/util/index.ts
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/tests/webchat/i18n.test.js
Due: botonic-react

feat: replace variables in whatsapp button list
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list.tsx
Due: none

move functions to the top
  packages/botonic-react/src/util/i18n.ts
Due: botonic-react

chore: publish plugin-flow-builder v0.44.1
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

feat: replace variables in text of WhatsappCTAURL and Rating
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/flow-rating.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
Due: none

fix: navigator.locale to return correct codes (#3155)
  packages/botonic-react/src/util/i18n.ts
  packages/botonic-react/src/util/index.ts
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/tests/webchat/i18n.test.js
Due: botonic-react

feat: when a bot action has an EMPTY_PAYLOAD remove this payload before routes
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore: publish alpha.3
  package-lock.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: botonic-react

chore: rename file workflow botonic-plugin-ai-agents-tests
  .github/workflows/botonic-plugin-ai-agents-tests.yml
Due: none

chore: publish 0.44.1
  package-lock.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: botonic-react

chore: publish 0.44.1
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
