Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

plugin-flow-builder: resolve the bot's locale by searching the flow's locale array (#2784)
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

chore(botonic): remove botonic-intent-classification package
  packages/botonic-plugin-intent-classification/README.md
  packages/botonic-plugin-intent-classification/jest.config.js
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-intent-classification/src/index.ts
  packages/botonic-plugin-intent-classification/src/model/intent-classifier.ts
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
  packages/botonic-plugin-intent-classification/src/options.ts
  packages/botonic-plugin-intent-classification/src/process/prediction-processor.ts
  packages/botonic-plugin-intent-classification/src/process/text-processor.ts
  packages/botonic-plugin-intent-classification/tests/helper/constants-helper.ts
  packages/botonic-plugin-intent-classification/tests/helper/tools-helper.ts
  packages/botonic-plugin-intent-classification/tests/process/prediction-processor.test.ts
  packages/botonic-plugin-intent-classification/tests/process/text-processor.test.ts
  packages/botonic-plugin-intent-classification/tests/tsconfig.json
  packages/botonic-plugin-intent-classification/tsconfig.eslint.json
  packages/botonic-plugin-intent-classification/tsconfig.json
Due: none

chore(botonic): remove botonic-api from 1.0.0-dev.1
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/handlers/bot-executor/index.ts
  packages/botonic-api/src/handlers/index.ts
  packages/botonic-api/src/handlers/sender/aws-sender.ts
  packages/botonic-api/src/handlers/sender/index.ts
  packages/botonic-api/src/handlers/sender/local-sender.ts
  packages/botonic-api/src/index.ts
  packages/botonic-api/src/rest/index.ts
  packages/botonic-api/src/rest/routes/auth.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-api/src/rest/routes/validation/common.ts
  packages/botonic-api/src/rest/routes/validation/events.ts
  packages/botonic-api/src/rest/routes/validation/users.ts
  packages/botonic-api/src/rest/utils/paginator.ts
  packages/botonic-api/src/websocket/aws-websocket-server.ts
  packages/botonic-api/src/websocket/index.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-api/tsconfig.json
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/destroy.ts
Due: botonic-cli

chore(botonic): remove botonic-pulumi package
  packages/botonic-pulumi/jest.config.js
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
  packages/botonic-pulumi/src/aws/cache-invalidator.ts
  packages/botonic-pulumi/src/aws/deployment-stacks.ts
  packages/botonic-pulumi/src/aws/dynamodb.ts
  packages/botonic-pulumi/src/aws/index.ts
  packages/botonic-pulumi/src/aws/nlp-models-bucket.ts
  packages/botonic-pulumi/src/aws/policies.ts
  packages/botonic-pulumi/src/aws/rest-server.ts
  packages/botonic-pulumi/src/aws/sqs-lambda-mapping.ts
  packages/botonic-pulumi/src/aws/static-webchat-contents.ts
  packages/botonic-pulumi/src/aws/websocket-server-lambda.ts
  packages/botonic-pulumi/src/aws/websocket-server.ts
  packages/botonic-pulumi/src/index.ts
  packages/botonic-pulumi/src/pulumi-downloader.ts
  packages/botonic-pulumi/src/pulumi-runner.ts
  packages/botonic-pulumi/src/system-utils.ts
  packages/botonic-pulumi/tests/detect-updated-objects.test.ts
  packages/botonic-pulumi/tsconfig.json
Due: none

chore(botonic): remove botonic-ner package
  packages/botonic-plugin-ner/README.md
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/ner.ts
  packages/botonic-plugin-ner/src/options.ts
  packages/botonic-plugin-ner/src/process/prediction-processor.ts
  packages/botonic-plugin-ner/src/process/text-processor.ts
  packages/botonic-plugin-ner/tests/helper/constants-helper.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tests/process/prediction-processor.test.ts
  packages/botonic-plugin-ner/tests/process/text-processor.test.ts
  packages/botonic-plugin-ner/tests/tsconfig.json
  packages/botonic-plugin-ner/tsconfig.eslint.json
  packages/botonic-plugin-ner/tsconfig.json
Due: botonic-plugin-ner

chore(botonic): remove package-lock.json of all packages
  packages/botonic-core/package-lock.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/tsconfig.base.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-knowledge-bases/package-lock.json
  packages/botonic-plugin-knowledge-bases/tsconfig.base.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-react/package-lock.json
  scripts/package-lock.json
Due: botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

chore(botonic): create a npm monorepo, tsconfig files to build as cjs and esm version, remove old babel plugins
  package-lock.json
  package.json
  packages/babel.config.js
  tsconfig.base.json
  tsconfig.cjs.base.json
  tsconfig.esm.base.json
Due: none

chore(botonic-core): update botonic-core to Node20 using the monorepo
  packages/botonic-core/babel.config.js
  packages/botonic-core/package.json
  packages/botonic-core/tsconfig.esm.json
  packages/botonic-core/tsconfig.json
Due: botonic-core

chore(botonic-react): update botonic-react to Node20 using the monorepo
  packages/botonic-react/babel.config.js
  packages/botonic-react/jest.config.js
  packages/botonic-react/package.json
  packages/botonic-react/src/assets/types.d.ts
  packages/botonic-react/tsconfig.esm.json
  packages/botonic-react/tsconfig.json
Due: botonic-react

chore(plugin-flow-builder): update plugin-flow-builder to Node20 using the monorepo
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/tsconfig.esm.json
  packages/botonic-plugin-flow-builder/tsconfig.json
Due: none

chore(plugin-google-translation): update plugin-google-translation to Node20 using the monorepo
  packages/botonic-plugin-google-translation/jest.config.js
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-google-translation/src/index.ts
  packages/botonic-plugin-google-translation/src/language-detector.ts
  packages/botonic-plugin-google-translation/tsconfig.eslint.json
  packages/botonic-plugin-google-translation/tsconfig.esm.json
  packages/botonic-plugin-google-translation/tsconfig.json
Due: none

chore(plugin-hubtype-babel): update plugin-hubtype-babel to Node20 using the monorepo
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-hubtype-babel/tsconfig.esm.json
  packages/botonic-plugin-hubtype-babel/tsconfig.json
Due: none

chore(plugin-contentful): update plugin-contentful to Node20 using the monorepo
  packages/botonic-plugin-contentful/jest.config.js
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/global.d.ts
  packages/botonic-plugin-contentful/tests/tsconfig.json
  packages/botonic-plugin-contentful/tsconfig.esm.json
  packages/botonic-plugin-contentful/tsconfig.json
Due: botonic-plugin-contentful

chore(plugin-dashbot): update plugin-dashbot to Node20 using the monorepo
  packages/botonic-plugin-dashbot/package.json
Due: none

chore(plugin-segment): update plugin-segment to Node20 using the monorepo
  packages/botonic-plugin-segment/package.json
Due: none

chore(plugin-inbenta): update plugin-inbenta to Node20 using the monorepo
  packages/botonic-plugin-inbenta/package.json
Due: none

chore(botonic-dx): update botonic-dx packages versions to use Node20 with npm monorepo
  packages/botonic-dx/baseline/babel.config.js
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/botonic-app-config/webpack/transpiling/babel-loader.js
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/package.json
Due: none

chore(plugin-knowledge-bases): update plugin-knowledge-bases to Node20 using the monorepo
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-knowledge-bases/tsconfig.esm.json
  packages/botonic-plugin-knowledge-bases/tsconfig.json
Due: none

chore(plugin-dialowflow): update plugin-dialogflow to Node20 using the monorepo
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dialogflow/src/index.ts
  packages/botonic-plugin-dialogflow/src/types.ts
  packages/botonic-plugin-dialogflow/tsconfig.esm.json
Due: none

chore(plugin-watson): update plugin-watson to Node20 using the monorepo
  packages/botonic-plugin-watson/package.json
Due: none

chore(eslint-config): update eslint-config packages versions to use Node20 with npm monorepo
  packages/botonic-eslint-config/package.json
Due: none

chore(plugin-luis): update plugin-luis to Node20 using the monorepo
  packages/botonic-plugin-luis/package.json
Due: none

chore(plugin-google-analytics): update plugin-google-analytics to Node20 using the monorepo
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.ts
  packages/botonic-plugin-google-analytics/tsconfig.base.json
  packages/botonic-plugin-google-analytics/tsconfig.esm.json
  packages/botonic-plugin-google-analytics/tsconfig.json
Due: none

chore(plugin-hubtype-analytics): update plugin-hubtype-analytics to Node20 using the monorepo
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.esm.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
Due: none

chore(plugin-dynamodb): update plugin-dynamodb to Node20 using the monorepo
  packages/botonic-plugin-dynamodb/jest.config.js
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-dynamodb/src/index.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/dynamo.ts
  packages/botonic-plugin-dynamodb/tests/domain/track.test.ts
  packages/botonic-plugin-dynamodb/tsconfig.esm.json
Due: botonic-plugin-dynamodb

chore(botonic): update to node 20 github actions
  .github/workflows/botonic-common-workflow.yml
Due: none

refactor(plugin-flow-builder): change crypto for uuid to be able to run locally without modifying webpack
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: none

chore(botonic): publish new alpha version for all packages and add npm i in prepublishOnly
  packages/botonic-core/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dialogflow/tests/index.test.ts
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

fix(botonic-react): avoid access to undefined atributs
  packages/botonic-react/src/botonic-tester.jsx
  packages/botonic-react/src/webchat/devices/device-adapter.js
Due: botonic-react

chore(botonic-cli): update botonic-cli to Node20 using the monorepoand remove train command and 1.0 logic
  packages/botonic-cli/README.md
  packages/botonic-cli/jest.config.js
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/destroy.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/file-system.ts
  packages/botonic-cli/tests/botonic-api-service.test.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/commands/new.test.ts
  packages/botonic-cli/tests/commands/train.test.ts
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

chore(botonic): update root package, tsconfig.base.json, remove lerna.json
  .pre-commit-config.yaml
  lerna.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: none

chore(botonic): remove github actions for removed packages
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
Due: none

chore(botonic-dx): upgrade dependencies in botonic-dx and botonic-eslint-config
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/index.js
  packages/botonic-eslint-config/package.json
Due: none

chore(plugin-contentful): add tsconfig for tests
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/tests/tsconfig.json
Due: botonic-plugin-contentful

chore(plugin): update github actions using monorepo and pre-commit-config
  .github/workflows/botonic-ci-test-all-packages.yml
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-react-tests.yml
  .pre-commit-config.yaml
  package-lock.json
  package.json
  preinstall.js
  tsconfig.esm.base.json
Due: none

chore(botonic): remove preinstall script and lint_ci for all packages
  package-lock.json
  packages/.eslintrc_slow.js
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
  preinstall.js
Due: botonic-cli, botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react
