Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

refactor(directus):refactor followup part
  packages/updated-directus/src/directus/contents/text.ts
  packages/updated-directus/src/directus/delivery/delivery-utils.ts
  packages/updated-directus/src/directus/delivery/directus-client.ts
  packages/updated-directus/tests/directus/contents/multi-language.test.ts
  packages/updated-directus/tests/directus/helpers/directus.helper.ts
Due: none

feat(directus): update refs content in all locales
  packages/updated-directus/src/cms/cms.ts
  packages/updated-directus/src/directus/directus.ts
  packages/updated-directus/src/directus/manage/contents.ts
  packages/updated-directus/tests/directus/contents/multi-language.test.ts
  packages/updated-directus/tests/directus/helpers/directus.helper.ts
Due: none

feat(directus): add remove locale method
  packages/updated-directus/src/cms/cms.ts
  packages/updated-directus/src/directus/delivery/directus-client.ts
  packages/updated-directus/src/directus/directus.ts
  packages/updated-directus/src/directus/manage/locales.ts
  packages/updated-directus/tests/directus/contents/multi-language.test.ts
Due: none

chore(core/react/server): add channel and idFromChannel in user and message events
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-react/src/experimental/components/message.jsx
  packages/botonic-react/src/experimental/util/webchat.js
  packages/botonic-react/src/experimental/webchat/webchat.jsx
  packages/botonic-server/src/api/routes/events.ts
  packages/botonic-server/src/data-provider/dynamodb-utils.ts
  packages/botonic-server/src/handlers/bot-executor/index.ts
  packages/botonic-server/src/websocket/onauth/index.ts
Due: botonic-core, botonic-react

refactor(server): reorganize dispatchers module and use commands instead of literals
  packages/botonic-server/src/api/routes/events.ts
  packages/botonic-server/src/dispatchers/commands.ts
  packages/botonic-server/src/dispatchers/factory.ts
  packages/botonic-server/src/dispatchers/index.ts
  packages/botonic-server/src/handlers/bot-executor/index.ts
Due: none

chore(server): rename dp to dataProvider
  packages/botonic-server/src/api/routes/bot-input.ts
  packages/botonic-server/src/api/routes/events.ts
  packages/botonic-server/src/api/routes/users.ts
Due: none

chore: add idFromChannel and channel to necessary, add them to baseEvent
  packages/botonic-core/src/models/events/base-event.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-react/src/experimental/index.js
  packages/botonic-server/src/api/routes/auth.ts
  packages/botonic-server/src/api/routes/events.ts
  packages/botonic-server/src/data-provider/dynamodb-utils.ts
  packages/botonic-server/src/handlers/bot-executor/index.ts
  packages/botonic-server/src/websocket/onauth/index.ts
Due: botonic-core, botonic-react

chore(server): split sender functions
  packages/botonic-server/src/handlers/sender/factory.ts
  packages/botonic-server/src/handlers/sender/index.ts
Due: none

refactor(core/react/server): simplify and centralize creation of events
  packages/botonic-core/src/models/events/integration/integration-event.ts
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-server/src/api/routes/bot-input.ts
  packages/botonic-server/src/api/routes/events.ts
  packages/botonic-server/src/handlers/bot-executor/index.ts
  packages/botonic-server/src/handlers/sender/factory.ts
  packages/botonic-server/src/helpers/event-creators.ts
  packages/botonic-server/src/helpers/index.ts
  packages/botonic-server/src/websocket/local-websocket-server.ts
  packages/botonic-server/src/websocket/onauth/index.ts
  packages/botonic-server/src/websocket/ondisconnect/index.ts
Due: botonic-core, botonic-react

chore(server): simplify channel information initialization
  packages/botonic-server/src/handlers/bot-executor/index.ts
  packages/botonic-server/src/helpers/event-creators.ts
  packages/botonic-server/src/websocket/onauth/index.ts
Due: none

fix: upgrade aws-sdk from 2.997.0 to 2.1012.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix(direcus): read elements and buttons with multi locales correctly
  packages/updated-directus/src/directus/contents/button.ts
  packages/updated-directus/src/directus/contents/carousel.ts
  packages/updated-directus/src/directus/manage/contents.ts
  packages/updated-directus/tests/directus/contents/multi-language.test.ts
  packages/updated-directus/tests/directus/helpers/directus.helper.ts
Due: none

fix: upgrade aws-sdk from 2.997.0 to 2.1012.0 (#2029)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

chore(server): keep splitting botExecutor
  packages/botonic-core/package-lock.json
  packages/botonic-server/src/api/routes/bot-input.ts
  packages/botonic-server/src/api/routes/events.ts
  packages/botonic-server/src/handlers/bot-executor/aws-bot-executor.ts
  packages/botonic-server/src/handlers/bot-executor/bot-executor.ts
  packages/botonic-server/src/handlers/bot-executor/factory.ts
  packages/botonic-server/src/handlers/bot-executor/index.ts
  packages/botonic-server/src/handlers/bot-executor/local-bot-executor.ts
  packages/botonic-server/src/handlers/sender/factory.ts
  packages/botonic-server/src/notifying/event-publishers.ts
  packages/botonic-server/src/notifying/index.ts
  packages/botonic-server/src/websocket/onauth/index.ts
Due: botonic-core

chore(server): execute pintegration events in aws version, keep separating concerns
  packages/botonic-server/src/handlers/sender/aws-sender.ts
  packages/botonic-server/src/handlers/sender/factory.ts
  packages/botonic-server/src/handlers/sender/local-sender.ts
  packages/botonic-server/src/handlers/sender/send-events.ts
  packages/botonic-server/src/websocket/aws-websocket-server.ts
  packages/botonic-server/src/websocket/index.ts
  packages/botonic-server/src/websocket/onauth/index.ts
Due: none

refactor(server): separate concerns for aws/dev and webchat/other channels
  packages/botonic-core/src/models/channels.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-react/src/experimental/util/webchat.js
  packages/botonic-react/src/experimental/webchat/webchat-dev.jsx
  packages/botonic-server/src/handlers/bot-executor/aws/aws-bot-executor.ts
  packages/botonic-server/src/handlers/bot-executor/aws/handler.ts
  packages/botonic-server/src/handlers/bot-executor/bot-executor.ts
  packages/botonic-server/src/handlers/bot-executor/dev/dev-bot-executor.ts
  packages/botonic-server/src/handlers/bot-executor/dev/handler.ts
  packages/botonic-server/src/handlers/bot-executor/factory.ts
  packages/botonic-server/src/handlers/bot-executor/index.ts
  packages/botonic-server/src/handlers/bot-executor/local-bot-executor.ts
  packages/botonic-server/src/handlers/sender/aws/handler.ts
  packages/botonic-server/src/handlers/sender/aws/webchat-sender.ts
  packages/botonic-server/src/handlers/sender/dev/dev-sender.ts
  packages/botonic-server/src/handlers/sender/dev/handler.ts
  packages/botonic-server/src/handlers/sender/factory.ts
  packages/botonic-server/src/handlers/sender/index.ts
  packages/botonic-server/src/handlers/sender/local-sender.ts
Due: botonic-core, botonic-react

chore: add annotations for future changes, and minor fixes
  packages/botonic-core/src/core-bot.ts
  packages/botonic-server/src/dispatchers/aws-dispatchers.ts
  packages/botonic-server/src/handlers/bot-executor/aws/aws-bot-executor.ts
  packages/botonic-server/src/handlers/bot-executor/bot-executor.ts
  packages/botonic-server/src/handlers/bot-executor/dev/dev-bot-executor.ts
Due: botonic-core

test(directus): change multi language test
  packages/updated-directus/tests/directus/contents/multi-language.test.ts
Due: none

chore(server): rename rest module to api
  packages/botonic-core/src/models/user.ts
  packages/botonic-server/src/api/index.ts
  packages/botonic-server/src/api/routes/auth.ts
  packages/botonic-server/src/api/routes/bot-input.ts
  packages/botonic-server/src/api/routes/events.ts
  packages/botonic-server/src/api/routes/index.ts
  packages/botonic-server/src/api/routes/users.ts
  packages/botonic-server/src/api/routes/validation/common.ts
  packages/botonic-server/src/api/routes/validation/events.ts
  packages/botonic-server/src/api/routes/validation/users.ts
  packages/botonic-server/src/api/utils/paginator.ts
  packages/botonic-server/src/index.ts
  packages/create-botonic-app/dev-template/api/src/rest/app.ts
Due: botonic-core
