Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

chore(react): bump to 0.21.5
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

feat(react): resolve assets automatically within components (#2371)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/audio.jsx
  packages/botonic-react/src/components/document.jsx
  packages/botonic-react/src/components/image.jsx
  packages/botonic-react/src/components/pic.jsx
  packages/botonic-react/src/components/video.jsx
  packages/botonic-react/src/util/environment.js
Due: botonic-react

doc(plugin-flow-builder: Write documentation for Flow Builder
  packages/botonic-plugin-flow-builder/README.md
Due: none

doc(plugin-flow-builder): Make doc simpler and applied prettier
  packages/botonic-plugin-flow-builder/README.md
Due: none

fix: upgrade dynamodb-toolbox from 0.3.5 to 0.7.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade node-json-db from 1.4.1 to 1.6.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade html-entities from 2.3.2 to 2.3.3
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade pako from 2.0.4 to 2.1.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade node-json-db from 1.4.1 to 1.6.0 (#2374)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade html-entities from 2.3.2 to 2.3.3 (#2375)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade pako from 2.0.4 to 2.1.0 (#2376)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade @pulumi/pulumi from 3.11.0 to 3.62.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @aws-sdk/client-cloudfront from 3.30.0 to 3.306.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @vendia/serverless-express from 4.3.11 to 4.10.1
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @pulumi/awsx from 0.32.0 to 0.40.1
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix(react): normalizing paths to work in different channels
  packages/botonic-react/src/util/environment.js
Due: botonic-react

chore(react): bump to 0.21.6
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

Feat/resolve static assets automatically, adding path normalizer (#2382)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/util/environment.js
Due: botonic-react

fix: upgrade @aws-sdk/client-cloudfront from 3.30.0 to 3.306.0 (#2378)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

doc(plugin-flow-builder): Fixed grammatical error and applied some improvements
  packages/botonic-plugin-flow-builder/README.md
Due: none

feat(cli): create new bot when passing -b name
  packages/botonic-cli/src/commands/deploy.ts
Due: botonic-cli

doc: Add two packages missed at Create a Conversational App from Scratch
  docs/docs/create-convapp.md
Due: none

fix: upgrade @vendia/serverless-express from 4.3.11 to 4.10.1 (#2380)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @pulumi/awsx from 0.32.0 to 0.40.1 (#2381)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

chore(cli): bump to 0.21.2
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

fix: upgrade @aws-sdk/types from 3.29.0 to 3.306.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @aws-sdk/types from 3.29.0 to 3.306.0 (#2379)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

feat(cli): create new bot when passing -b name (#2383)
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

doc: Updating clients that use it
  docs/docs/welcome.md
Due: none

fix: upgrade concurrently from 6.2.1 to 6.5.1
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade semver from 7.3.5 to 7.3.8
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade tar from 6.1.11 to 6.1.13
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade mime from 2.5.2 to 2.6.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @aws-sdk/client-cloudfront from 3.306.0 to 3.309.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade concurrently from 6.2.1 to 6.5.1 (#2387)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade semver from 7.3.5 to 7.3.8 (#2388)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade tar from 6.1.11 to 6.1.13 (#2389)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade mime from 2.5.2 to 2.6.0 (#2390)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
