Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

[Snyk] Upgrade @babel/runtime from 7.15.4 to 7.22.5 (#2571)
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade contentful-import from 8.5.57 to 8.5.58
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade @botonic/core from 0.21.6 to 0.22.0
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
Due: none

fix: upgrade @babel/runtime from 7.15.4 to 7.22.5
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

fix: upgrade aws-sdk from 2.1392.0 to 2.1404.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade html-entities from 2.3.5 to 2.4.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

chore: use old scripts for pre-commit in gh actions
  .pre-commit-config.yaml
Due: none

Botonic scripts: Translate bash scripts to Typescript #SER-2405 (#2548)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  scripts/README.md
  scripts/ci/bump-version.ts
  scripts/ci/old/bump-version.sh
  scripts/ci/old/prepare-packages.sh
  scripts/ci/old/upgrade-deps.sh
  scripts/ci/prepare-packages.ts
  scripts/ci/upgrade-deps.ts
  scripts/package-lock.json
  scripts/package.json
  scripts/qa/cloc-all-packages.ts
  scripts/qa/cloc-package.ts
  scripts/qa/lint-all-packages.ts
  scripts/qa/lint-d-ts.ts
  scripts/qa/lint-package.ts
  scripts/qa/old/cloc-all-packages.sh
  scripts/qa/old/cloc-package.sh
  scripts/qa/old/lint-all-packages.sh
  scripts/qa/old/lint-d-ts.sh
  scripts/qa/old/lint-package.sh
Due: none

[Snyk] Upgrade html-entities from 2.3.5 to 2.4.0 (#2578)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

[Snyk] Upgrade aws-sdk from 2.1392.0 to 2.1404.0 (#2577)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

[Snyk] Upgrade @babel/runtime from 7.15.4 to 7.22.5 (#2576)
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

[Snyk] Upgrade @botonic/core from 0.21.6 to 0.22.0 (#2575)
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
Due: none

[Snyk] Upgrade contentful-import from 8.5.57 to 8.5.58 (#2574)
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade aws-sdk from 2.1365.0 to 2.1404.0
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: botonic-plugin-dynamodb

fix: upgrade @babel/runtime from 7.14.8 to 7.22.5
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: botonic-plugin-dynamodb

refactor(flow-builder): replaceVariables to be a function of FlowText
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
Due: none

refactor(flow-builder): make sure isFirstFallbackOption is a boolean
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: none

refactor(flow-builder): allow to replace with an empty string
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
Due: none

fix: upgrade tslib from 2.5.3 to 2.6.0
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix: packages/botonic-pulumi/package.json & packages/botonic-pulumi/package-lock.json to reduce vulnerabilities
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @aws-sdk/client-cloudfront from 3.354.0 to 3.360.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

refactor(flow-builder): replace all the variables in the text and then return the replacedText
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
Due: none

[Snyk] Upgrade aws-sdk from 2.1365.0 to 2.1404.0 (#2579)
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: botonic-plugin-dynamodb

[Snyk] Upgrade @babel/runtime from 7.14.8 to 7.22.5 (#2580)
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
Due: botonic-plugin-dynamodb

[Snyk] Upgrade tslib from 2.5.3 to 2.6.0 (#2581)
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

[Snyk] Security upgrade @aws-sdk/client-cloudfront from 3.354.0 to 3.359.0 (#2582)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @docusaurus/core from 2.0.0-alpha.66 to 2.4.1
  docs/website/package.json
Due: none

fix: upgrade @docusaurus/preset-classic from 2.0.0 to 2.4.1
  docs/website/package.json
Due: none

fix: upgrade @botonic/core from 0.21.5 to 0.22.0
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

fix: upgrade @babel/runtime from 7.16.5 to 7.22.5
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

[Snyk] Upgrade @botonic/core from 0.21.5 to 0.22.0 (#2586)
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

[Snyk] Upgrade @babel/runtime from 7.16.5 to 7.22.5 (#2587)
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

[Snyk] Upgrade @docusaurus/preset-classic from 2.0.0 to 2.4.1 (#2585)
  docs/website/package.json
Due: none

feat(botonic-react): add a webchat property to disable trigger button notifications
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/trigger-button/index.tsx
Due: botonic-react

feat(botonic-react): create WebchatArgs interface and export from index
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/index.ts
Due: botonic-react

fix: upgrade semver from 7.5.2 to 7.5.3
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @aws-sdk/types from 3.347.0 to 3.357.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

fix: upgrade @pulumi/pulumi from 3.72.2 to 3.73.0
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

refactor(botonic-react): rename to notificationsEnabled
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/webchat/trigger-button/index.tsx
Due: botonic-react

refactor(botonic-react): set notificationsEnabled false for default
  packages/botonic-react/src/webchat/trigger-button/index.tsx
Due: botonic-react

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
