Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

feat: load context into webviewsrequestcontext through external api
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

WIP: plugin using openai sdk
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/constants.ts
  packages/botonic-plugin-ai-agents/src/hubtype-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/run-test.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

feat: add logic to use Agent with langGraph
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/constants.ts
  packages/botonic-plugin-ai-agents/src/hubtype-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

feat: OPENAI_API_KEY only as a process.env
  packages/botonic-plugin-ai-agents/src/constants.ts
Due: none

refactor: use last_message_id and num_messages as a params to get messages from backend
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/hubtype-client.ts
Due: none

refactor: remove console.log
  packages/botonic-plugin-ai-agents/src/index.ts
Due: none

feat: use azure instead of openAI
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/constants.ts
Due: none

refactor: simplify logic for new bots not using previous method anymore
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

ai agent client expects tools in constructor
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
Due: none

exit agent tool
  packages/botonic-plugin-ai-agents/src/tools.ts
Due: none

tools
  packages/botonic-plugin-ai-agents/src/tools.ts
Due: none

ai agent client typings
  packages/botonic-plugin-ai-agents/src/hubtype-client.ts
Due: none

typings
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

ai agent client
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
Due: none

index
  packages/botonic-plugin-ai-agents/src/index.ts
Due: none

fb plugin manage fallback
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
Due: none

chore: simplify more the code
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

refactor: loadChatModel
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/src/utils.ts
Due: none

chore: update CHANGELOG and publish alpha versions
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/package.json
Due: botonic-core

plugin-hubtype-analytics: hubtype analytics send new fields #BLT-1629 (#3028)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: botonic-core

chore: update CHANGELOG and publish alpha version
  package-lock.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: botonic-react

chore: publish 0.36.0-alpha.1
  package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

feat: retrieve context for webviews from new external api endpoint for bot session context (#3031)
  package-lock.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

chore: publish new alpha versions
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

chore: publish new alpha version for knowledge base plugin
  package-lock.json
  packages/botonic-plugin-knowledge-bases/package.json
Due: none

POST -> GET
  packages/botonic-plugin-ai-agents/src/hubtype-client.ts
Due: none

chore: publish new alpha version
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-knowledge-bases/package.json
Due: none

refactor: rename Ai Agents flow and publish new alpha version
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/constants.ts
Due: none

test: fix ai agents tests
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
  packages/botonic-plugin-flow-builder/tests/ai-agent.test.ts
Due: none

create README.md
  packages/botonic-plugin-ai-agents/README.md
Due: none

refacot: add pragma: allowlist secret
  packages/botonic-plugin-ai-agents/README.md
  packages/botonic-plugin-ai-agents/src/constants.ts
Due: none

refactor: rename class to HubtypeApiClient
  packages/botonic-plugin-ai-agents/src/hubtype-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
Due: none

feat: plugin accept custom tools in constructor
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

refactor: small fixes
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/tools/default.ts
Due: none

refactor: fix type
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

feat: create langchain tools for custom tools and agent use it
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/tools/custom.ts
  packages/botonic-plugin-ai-agents/src/tools/default.ts
Due: none

refactor: rename file
  packages/botonic-plugin-ai-agents/src/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
Due: none

WIP
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/util/bot-config.ts
Due: botonic-cli

refactor: apply clean code
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/constants.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/utils.ts
Due: none

refactor: import ZodSchema directly
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none
