Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

refactor: rename enum to AiProvaider
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/utils.ts
Due: none

plugin-ai-agents: use langGraph to manage agents and tools #BLT-1666 (#3033)
  package-lock.json
  packages/botonic-plugin-ai-agents/README.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/constants.ts
  packages/botonic-plugin-ai-agents/src/hubtype-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/tools.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/src/utils.ts
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/ai-agent.ts
  packages/botonic-plugin-flow-builder/tests/ai-agent.test.ts
  packages/botonic-plugin-knowledge-bases/package.json
Due: none

feat: load botConfig tool webviews and payloads from bot in every deploy
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/util/bot-config.ts
Due: botonic-cli

chore publish alpha version
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
Due: botonic-cli

test: update deploy test to accept tools payloads and webviews
  packages/botonic-cli/tests/commands/deploy.test.ts
Due: botonic-cli

update CHANGELOG
  packages/botonic-cli/CHANGELOG.md
Due: botonic-cli

publish alpha versions for plugins ai agents and flow builder
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/tools.ts
  packages/botonic-plugin-flow-builder/package.json
Due: none

plugin-ai-agents: accept custom tools #BLT-1701 (#3034)
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/ai-agent-client.ts
  packages/botonic-plugin-ai-agents/src/constants.ts
  packages/botonic-plugin-ai-agents/src/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/tools/custom.ts
  packages/botonic-plugin-ai-agents/src/tools/default.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/src/utils.ts
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

refactor: remove unused function
  packages/botonic-cli/src/util/bot-config.ts
Due: botonic-cli

chore: publish alpha version
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
Due: botonic-cli

refactor: not throw an error if the src/bot-config.ts file cannot be read
  packages/botonic-cli/src/util/bot-config.ts
Due: botonic-cli

refactor: rename tools to active_tools in flow ai-agent node
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

rename: tools to activeTools in AiAgentArgs
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

chore: publish new alpha versions
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

plugin flow-builder & ai-agents: rename tools to active_tools in flow ai-agent node (#3036)
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/ai-agent.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

feat: update system locale when plugin-flow-builder resolve a locale with a value different from the session's value
  packages/botonic-plugin-flow-builder/src/api.ts
Due: none

feat: not use FlowBuilderAction inside the Multichannel because it adds a child to the React tree
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: none

update CHANGELOG
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: none

refactor: create a const shouldSendWebchatSettings
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: none

plugin-flow-builder: update system locale when plugin flow builder resolve locale #BLT-1717 (#3037)
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/api.ts
Due: none

feat: no render webview before fetch session
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

feat: add get functions in WebviewRequestContext
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/webchat/webview/index.tsx
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

update CHANGELOG
  packages/botonic-react/CHANGELOG.md
Due: botonic-react

refactor: type webview params as Record<string, string>
  packages/botonic-react/src/webchat/webview/index.tsx
Due: botonic-react

botonic-react: update WebviewRequestContext with session and functions #BLT-1720 (#3038)
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/webchat/webview/index.tsx
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

chore: upgrade axios version
  package.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

chore: bump botonic version to 0.36.0
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

chore: update CHANGELOGs
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-react/CHANGELOG.md
Due: botonic-react

chore: remove diferents plugins to create intents
  packages/botonic-plugin-dialogflow/CHANGELOG.md
  packages/botonic-plugin-dialogflow/README.md
  packages/botonic-plugin-dialogflow/jest.config.js
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dialogflow/src/index.ts
  packages/botonic-plugin-dialogflow/src/types.ts
  packages/botonic-plugin-dialogflow/tests/index.test.ts
  packages/botonic-plugin-dialogflow/tsconfig.esm.json
  packages/botonic-plugin-dialogflow/tsconfig.json
  packages/botonic-plugin-hubtype-babel/CHANGELOG.md
  packages/botonic-plugin-hubtype-babel/README.md
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-hubtype-babel/src/hubtype-babel-api-service.ts
  packages/botonic-plugin-hubtype-babel/src/index.ts
  packages/botonic-plugin-hubtype-babel/src/options.ts
  packages/botonic-plugin-hubtype-babel/tsconfig.esm.json
  packages/botonic-plugin-hubtype-babel/tsconfig.json
  packages/botonic-plugin-inbenta/CHANGELOG.md
  packages/botonic-plugin-inbenta/README.md
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-inbenta/src/index.js
  packages/botonic-plugin-luis/CHANGELOG.md
  packages/botonic-plugin-luis/README.md
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-luis/src/index.js
  packages/botonic-plugin-watson/CHANGELOG.md
  packages/botonic-plugin-watson/README.md
  packages/botonic-plugin-watson/package.json
  packages/botonic-plugin-watson/src/index.js
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: none

chore: remove github actions for diferents plugins to create intents
  .github/workflows/botonic-ci-test-all-packages.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-inbenta-tests.yml
  .github/workflows/botonic-plugin-luis-tests.yml
  .github/workflows/botonic-plugin-watson-tests.yml
Due: none

chore: remove scripts/nlu folder
  scripts/nlu/README.md
  scripts/nlu/best-model-search.ts
  scripts/nlu/csv-generator.ts
  scripts/nlu/dump_word_embedding_to_db.js
  scripts/nlu/load-model.ts
  scripts/nlu/parse-new-dataset.js
  scripts/nlu/train-model.ts
  scripts/nlu/txt-to-csv.ts
Due: none

chore: test github action publish
  packages/botonic-plugin-dashbot/package.json
Due: none

chore: bump plugin-dashbot to 0.36.0
  package-lock.json
  packages/botonic-plugin-dashbot/package.json
Due: none

fix: botonic-publish action
  .github/workflows/botonic-publish.yml
Due: none

fix: botonic-publish action (#3041)
  .github/workflows/botonic-publish.yml
Due: none

Botonic prepare to publish v0.36.0 (#3039)
  package-lock.json
  package.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

chore: bump core, google-translation, segment
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-segment/package.json
Due: botonic-core

chore: bump plugin-segment
  package-lock.json
  packages/botonic-plugin-segment/package.json
Due: none

add github app to botonic to commit changes
  .github/workflows/botonic-publish.yml
Due: none
