Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

feat: Use WhatsappInteractiveMediaCarousel only when carouselMessage created by AIAgent is correct
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
Due: none

chore: publish alpha versions
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

feat: retrieving note id in handoff success
  packages/botonic-react/src/components/system-debug-trace/events/constants.ts
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/index-types.ts
Due: botonic-react

feat: pass fb tracking ot events and track
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat/context/index.tsx
Due: botonic-react

refactor: add trackFlow as an abstarct method in ContentFlowBase
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-fields-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-rating.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-video.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-webview.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-row.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list-section.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/whatsapp-button-list/flow-whatsapp-button-list.tsx
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: none

feat: add conditionals as as normal flows
  packages/botonic-plugin-flow-builder/src/content-fields/flow-channel-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-country-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-custom-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-queue-status-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/channel-conditional.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/country-conditional.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/custom-conditional.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/queue-status-conditional.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
  packages/botonic-plugin-flow-builder/src/functions/utils.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

fix: minor styling issues fixed
  packages/botonic-react/src/components/system-debug-trace/events/constants.ts
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/components/system-debug-trace/events/redirect-flow.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: botonic-react

fix: update tests with new changes
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace-events.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
  packages/botonic-react/tests/components/system-debug-trace.test.jsx
Due: botonic-react

fix: bad jest snapshot headers
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace-events.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
Due: botonic-react

test: keep adding tests
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/tests/components/system-debug-trace.test.jsx
Due: botonic-react

refactor: create FlowFactory to getFlowContent
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/flow-factory.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

fix: add extra guard on message response
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
Due: botonic-react

refactor: extrac logic to resolve custom functions
  packages/botonic-plugin-flow-builder/src/content-fields/flow-queue-status-conditional.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-bot-variable.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-country.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-provider.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
  packages/botonic-plugin-flow-builder/src/functions/utils.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): improve how the Carousels are displayed in WhatsApp
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
Due: none

refactor: create a folder services
  packages/botonic-plugin-flow-builder/src/content-fields/flow-queue-status-conditional.tsx
  packages/botonic-plugin-flow-builder/src/services/hubtype-queues-api.ts
Due: none

feat: create FlowGoToFlow and resolve it as a content
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/go-to-flow.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/flow-factory.ts
Due: none

WIP
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat: add events for conditionals and goToFlow contents
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-channel-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-country-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-custom-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-queue-status-conditional.tsx
  packages/botonic-plugin-flow-builder/src/flow-factory.ts
Due: none

test: fix all tests
  packages/botonic-plugin-flow-builder/src/services/hubtype-queues-api.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/conditional-queue.ts
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/content-filters/remove-button.test.ts
  packages/botonic-plugin-flow-builder/tests/execute-start-conversation.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
Due: none

test: add tests for each condicional tracking
  packages/botonic-plugin-flow-builder/tests/tracking/track-conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-conditional-custom.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-conditional-queue-status.test.ts
Due: none

test: add test for tracking GoToFlow
  packages/botonic-plugin-flow-builder/tests/helpers/flows/go-to-flow.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-redirect-flow.test.ts
Due: none

chore: update CHANGELOG
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
Due: none

feat: create new events #BLT-2013 (#3126)
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-bot-action.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-channel.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-country.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-queue-status.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-redirect-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-action-triggered.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-ai-agent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-bot-action.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-channel.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-country.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-queue-status.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-redirect-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: botonic-core

fix: move to unreleased
  packages/botonic-react/CHANGELOG.md
Due: botonic-react

feat: botonic to show new events in webchat preview #BLT-2014 (#3127)
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/bot-action.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-channel.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-country.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-custom.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-queue-status.tsx
  packages/botonic-react/src/components/system-debug-trace/events/constants.ts
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/components/system-debug-trace/events/index.ts
  packages/botonic-react/src/components/system-debug-trace/events/redirect-flow.tsx
  packages/botonic-react/src/components/system-debug-trace/events/webview-action-triggered.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/arrow-progress.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/code.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/split.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/window-restore.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
  packages/botonic-react/src/components/system-debug-trace/types.ts
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace-events.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
  packages/botonic-react/tests/components/system-debug-trace.test.jsx
Due: botonic-react

refactor: remove uneccesary async await
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
Due: none

publish alpha versions
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

refactor: add attribute flowNodeIsMeaningful in new events
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-channel-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-country-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-custom-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-queue-status-conditional.tsx
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-bot-action.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-channel.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-country.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-queue-status.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-redirect-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-action-triggered.ts
Due: botonic-core

chore: publish alpha versions
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

test: add flowNodeIsMeaningful in all tests
  packages/botonic-plugin-flow-builder/tests/tracking/track-conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-conditional-custom.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-conditional-queue-status.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-redirect-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-bot-action.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-channel.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-country.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-queue-status.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-redirect-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: none

test: add test for bot action tracking
  packages/botonic-plugin-flow-builder/tests/helpers/flows/bot-action.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-bot-action.test.ts
Due: none

feat: add tracking for webview buttons
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-webview.tsx
Due: none

test: add test for tracking WebviewActionTriggered
  packages/botonic-plugin-flow-builder/tests/helpers/flows/open-webview.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-webview-action-triggered.test.ts
Due: none

test: add test for tracking WebviewActionTriggered from carousel
  packages/botonic-plugin-flow-builder/tests/helpers/flows/open-webview.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-webview-action-triggered.test.ts
Due: none

refator: fix styles
  packages/botonic-react/src/components/system-debug-trace/events/ai-agent.tsx
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: botonic-react

test: update snapshots with new classNames
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace-events.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
Due: botonic-react

refactor: update message-trace for conditional queue status
  packages/botonic-react/src/components/system-debug-trace/events/conditional-queue-status.tsx
Due: botonic-react

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
