Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

chore(botonic-core): publish 0.23.0 and use it in botonic-react
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

feat(plugin-flow-builder): make optional the flowUrl config param and calculate it based on new FLOWBUILDER_API_URL env var and isStagingIntegration session attribute
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: botonic-core

fix(botonic-react): fix type of EnableProp in timestamps
  packages/botonic-react/src/components/index-types.ts
Due: botonic-react

chore(botonic-react): publish 0.24.0-alpha.6
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

chore(botonic-cli): upgrade axios and publish version 0.23.1
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
Due: botonic-cli

chore(plugin-dashbot): upgrade axios and publish version 0.23.0
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
Due: none

chore(plugin-google-analytics): upgrade axios and publish version 0.23.1
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
Due: none

chore(plugin-google-translation): upgrade axios and publish version 0.23.1
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

chore(plugin-hubtype-analytics): upgrade axios and publish version 0.23.2
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
Due: none

chore(plugin-hubtype-babel): upgrade axios and publish version 0.23.1
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
Due: none

chore(plugin-knowledge-bases): upgrade axios and publish version 0.23.3
  packages/botonic-plugin-knowledge-bases/package-lock.json
  packages/botonic-plugin-knowledge-bases/package.json
Due: none

chore(plugin-inbenta): upgrade axios and publish version 0.23.1
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
Due: none

chore(plugin-luis): upgrade axios and publish version 0.23.1
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
Due: none

chore(plugin-segment): upgrade axios and publish version 0.23.1
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
Due: none

chore(plugin-watson): upgrade axios and publish version 0.23.1
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
Due: none

fix: packages/botonic-nlp/package.json & packages/botonic-nlp/package-lock.json to reduce vulnerabilities
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
Due: botonic-nlp

fix: packages/botonic-cli/package.json & packages/botonic-cli/package-lock.json to reduce vulnerabilities
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix: scripts/package.json & scripts/package-lock.json to reduce vulnerabilities
  scripts/package-lock.json
  scripts/package.json
Due: none

fix: packages/botonic-plugin-google-translation/package.json & packages/botonic-plugin-google-translation/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: packages/botonic-plugin-dialogflow/package.json & packages/botonic-plugin-dialogflow/package-lock.json to reduce vulnerabilities
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

Upgrade axios and publish new versions (#2672)
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package-lock.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
Due: botonic-cli

refactor(plugin-flow-builder): use public api to avoid CORS error
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
Due: none

refactor(botonic-react): keep Lato as default font
  packages/botonic-react/src/components/message/styles.ts
  packages/botonic-react/src/components/message/timestamps.tsx
Due: botonic-react

chore(botonic-react): publish version 0.24.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

fix: docs/website/package.json to reduce vulnerabilities
  docs/website/package.json
Due: none

Bot image or Agent image on MessageTimestamp component (#2670)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/message/message-image.tsx
  packages/botonic-react/src/components/message/styles.ts
  packages/botonic-react/src/components/message/timestamps.jsx
  packages/botonic-react/src/components/message/timestamps.tsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/message-list/unread-messages-banner.tsx
Due: botonic-core, botonic-react

chore(plugin-flow-builder): publish version 0.23.4
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

plugin-flow-builder: fix CORS error (#2682)
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
Due: none

feat(core): add plugins in the routes request to be able to use the plugins in the request conditional
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/routing/router.ts
Due: botonic-core

test(core): add test to ensure the plugins can be used in the request checker
  packages/botonic-core/tests/routing/router.match-route.test.ts
Due: botonic-core

refactor(plugin-flow-builder): remove start_up_node and use allways use start_node_id
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/start.ts
Due: none

0.23.5-alpha.0
  package-lock.json
  package.json
Due: none

chore(plugin-flow-builder): bump version to 0.23.5-alpha.0
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

feat(plugin-flow-builder): add a function to get start content
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-flow-builder): add async await in getContentsByCode and getContentsById
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-hubtype-babel): read hubtype api url from process.env or https://api.hubtype.com as default
  packages/botonic-plugin-hubtype-babel/src/hubtype-babel-api-service.ts
  packages/botonic-plugin-hubtype-babel/src/index.ts
  packages/botonic-plugin-hubtype-babel/src/options.ts
Due: none
