Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

feat(react): add a referral attribute when sending the input with the rating (#3179)
  packages/botonic-react/src/webchat/custom-messages/rating/index.tsx
Due: botonic-react

chore: publish alpha version for botonic packages
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

update CHANGELOG
  packages/botonic-cli/CHANGELOG.md
Due: botonic-cli

chore: publish alpha version for botonic packages (#3181)
  package-lock.json
  packages/botonic-cli/CHANGELOG.md
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

feat: add tracking for tokens consumed
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
Due: none

refactor: no stop bot execution if tracking fails
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
Due: none

refactor: create a folder services and split types of hubtype api client in a new file
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/services/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/services/types.ts
  packages/botonic-plugin-ai-agents/src/tools/retrieve-knowledge.ts
Due: none

test: update test to check tracking with a mock
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
Due: none

refactor: use generic endpoint to bot_track_llm_runs
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/services/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/services/types.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
Due: none

test: reduce lines of file extracting repetitive code
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
Due: none

refactor: update endpoont to track_llm_runs
  packages/botonic-plugin-ai-agents/src/services/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/services/types.ts
Due: none

apply lint
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
Due: none

refactor: remove duplicated file
  packages/botonic-plugin-ai-agents/src/hubtype-api-client.ts
Due: none

feat: add product_name and create enum for track constantans
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/services/types.ts
Due: none

refactor: create a type ResultRawResponse and reuse in input and guardrail
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/types.ts
Due: none

refactor: update imports
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/tests/index.test.ts
Due: none

refactor: gpt-4 only works with verbosity low
  packages/botonic-plugin-ai-agents/src/llm-config.ts
Due: none

refactor: remove toolChoice for guardrail because agent not has tools
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
Due: none

test: gpt-4 only works with verbosity low
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
Due: none

plugin-ai-agents: track tokens consumed #BLT2236 (#3182)
  packages/botonic-plugin-ai-agents/src/agent-builder.ts
  packages/botonic-plugin-ai-agents/src/guardrails/input.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/llm-config.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
  packages/botonic-plugin-ai-agents/src/services/hubtype-api-client.ts
  packages/botonic-plugin-ai-agents/src/services/types.ts
  packages/botonic-plugin-ai-agents/src/tools/retrieve-knowledge.ts
  packages/botonic-plugin-ai-agents/src/types.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
  packages/botonic-plugin-ai-agents/tests/index.test.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
Due: none

feat: resolve button with a target go to flow Ai Agents
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore: publish new alpha versions
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

add tool results in test to fix
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-ai-agent.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-ai-agent.test.ts
Due: none

lint
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-ai-agent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-ai-agent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: none

refactor: add an await to call async updateRequestBeforeRoutes function
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor: add an await and rename function
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

fix: add tool results in test (#3184)
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-ai-agent.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-custom.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-ai-agent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: none

chore: publish 0.46.0-alpha.2
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

refactor: fix typo in function name
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

fix: gpt-4 family only works with verbosity medium
  packages/botonic-plugin-ai-agents/src/llm-config.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
Due: none

chore: publish 0.46.0-alpha-3
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

feat: for whatsapp transform button payload to text before execute the AI Agent
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
Due: none

test: add test for button connected to GoToFlow with Ai Agents flow
  packages/botonic-plugin-flow-builder/tests/helpers/flows/ai-agent.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-redirect-flow.test.ts
  packages/botonic-plugin-flow-builder/tests/whatsapp-payload-conversion.test.ts
Due: none

update CHANGELOG
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: none

plugin-flow-builder: resolve a button conected to go to flow to redirect to ai agents #BLT-2212 (#3183)
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/llm-config.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-go-to-flow.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/ai-agent.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-redirect-flow.test.ts
  packages/botonic-plugin-flow-builder/tests/whatsapp-payload-conversion.test.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

chore: update CHANGELOGs and publish 0.46.0
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/flow-builder-typescript/package.json
  package-lock.json
  package.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

chore: update CHANGELOGs and publish 0.46.0 (#3185)
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/flow-builder-typescript/package.json
  package-lock.json
  package.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/CHANGELOG.md
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

feat: check if is UUID before check if is go to flow node
  packages/botonic-plugin-flow-builder/src/api.ts
Due: none

bump version
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

fix: check if is UUID before check if is go to flow node (#3187)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/api.ts
Due: none
