Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

chore: add TypeScript configuration for test files in multiple packages
  packages/botonic-core/tests/tsconfig.json
  packages/botonic-plugin-ai-agents/tests/tsconfig.json
  packages/botonic-plugin-flow-builder/tests/tsconfig.json
  packages/botonic-plugin-hubtype-analytics/tests/tsconfig.json
Due: botonic-core

refactor: improve mocks and split tests
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
  packages/botonic-plugin-ai-agents/tests/helpers/mock-utils.ts
  packages/botonic-plugin-ai-agents/tests/index.test.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
  packages/botonic-plugin-ai-agents/tests/router-agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/runner-router.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-ai-agents/tests/structured-output.test.ts
  packages/botonic-plugin-ai-agents/vitest.config.ts
Due: none

chore: migrate from jest to vitest @botonic/cli
  packages/botonic-cli/jest.config.cjs
  packages/botonic-cli/package.json
  packages/botonic-cli/src/util/system.ts
  packages/botonic-cli/tests/botonic-api-service.test.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/tsconfig.json
  packages/botonic-cli/tests/util/bot-config.test.ts
  packages/botonic-cli/tsconfig.tests.json
  packages/botonic-cli/vitest.config.ts
  packages/botonic-cli/vitest.setup.ts
Due: botonic-cli

format
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

chore: add default formatter for JSONC files in VSCode settings
  .vscode/settings.json
Due: none

format
  packages/botonic-react/tsconfig.json
Due: botonic-react

chore: update dependencies for Vitest and React support in package.json and package-lock.json
  package-lock.json
  package.json
Due: none

fix: update conditional checks in GitHub Actions workflow to use single quotes for consistency
  .github/workflows/botonic-common-workflow.yml
Due: none

docs: add comprehensive agent guide and testing documentation for Botonic monorepo
  .cursor/rules/general.md
  AGENTS.md
  TESTING.md
  packages/botonic-plugin-ai-agents/.cursor/rules/mock-patterns.md
Due: none

chore: publish new alpha version
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

chore: simplify vitest configuration by removing unused plugins and aliases
  packages/botonic-plugin-hubtype-analytics/vitest.config.ts
Due: none

chore: add initial testing setup for Vitest with React support and TypeScript configuration
  scripts/testing/react.ts
  scripts/testing/tsconfig.json
  scripts/testing/vitest.shared.ts
Due: none

chore: update TypeScript configuration to include vitest setup files across multiple packages
  packages/botonic-cli/tsconfig.json
  packages/botonic-core/tsconfig.json
  packages/botonic-plugin-ai-agents/tsconfig.json
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-request-contact-info.test.ts
  packages/botonic-plugin-flow-builder/tsconfig.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
  packages/botonic-react/tsconfig.json
Due: botonic-cli, botonic-core, botonic-react

apply format
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-request-contact-info.test.ts
Due: none

refactor: update test imports from Jest to Vitest in flow-do-nothing test file
  packages/botonic-plugin-flow-builder/tests/messages/flow-do-nothing.test.ts
Due: none

refactor(dx): consolidate Rspack bundler and dependencies
  package-lock.json
  package.json
  packages/botonic-cli/src/util/bot-config.ts
  packages/botonic-dx-bundler-rspack/.gitignore
  packages/botonic-dx-bundler-rspack/CHANGELOG.md
  packages/botonic-dx-bundler-rspack/README.md
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-rspack/tsconfig.json
  packages/botonic-dx/README.md
  packages/botonic-dx/baseline/README.md
  packages/botonic-dx/baseline/rspack.config.ts
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  scripts/build/verify-packages.mjs
Due: botonic-cli

feat(dx): add reusable Rslib Vitest Biome configuration package
  package-lock.json
  packages/botonic-dx-new-stack/README.md
  packages/botonic-dx-new-stack/baseline/biome.json
  packages/botonic-dx-new-stack/baseline/file-mock.js
  packages/botonic-dx-new-stack/baseline/rslib.config.mts
  packages/botonic-dx-new-stack/baseline/tests/tsconfig.json
  packages/botonic-dx-new-stack/baseline/tsconfig.build.json
  packages/botonic-dx-new-stack/baseline/tsconfig.json
  packages/botonic-dx-new-stack/baseline/tsconfig.tests.json
  packages/botonic-dx-new-stack/baseline/vitest.config.d.mts
  packages/botonic-dx-new-stack/baseline/vitest.config.mjs
  packages/botonic-dx-new-stack/baseline/vitest.config.ts
  packages/botonic-dx-new-stack/package.json
  packages/botonic-dx-new-stack/sample-config/react-library/biome.json
  packages/botonic-dx-new-stack/sample-config/react-library/package.json
  packages/botonic-dx-new-stack/sample-config/react-library/rslib.config.mts
  packages/botonic-dx-new-stack/sample-config/react-library/tests/tsconfig.json
  packages/botonic-dx-new-stack/sample-config/react-library/tsconfig.build.json
  packages/botonic-dx-new-stack/sample-config/react-library/tsconfig.json
  packages/botonic-dx-new-stack/sample-config/react-library/tsconfig.tests.json
  packages/botonic-dx-new-stack/sample-config/react-library/vitest.config.ts
  packages/botonic-dx-new-stack/sample-config/ts-library/biome.json
  packages/botonic-dx-new-stack/sample-config/ts-library/package.json
  packages/botonic-dx-new-stack/sample-config/ts-library/rslib.config.mts
  packages/botonic-dx-new-stack/sample-config/ts-library/tests/tsconfig.json
  packages/botonic-dx-new-stack/sample-config/ts-library/tsconfig.build.json
  packages/botonic-dx-new-stack/sample-config/ts-library/tsconfig.json
  packages/botonic-dx-new-stack/sample-config/ts-library/tsconfig.tests.json
  packages/botonic-dx-new-stack/sample-config/ts-library/vitest.config.ts
  scripts/build/verify-packages.mjs
Due: none

feat(dx): add Botonic app sample with Rspack build
  package-lock.json
  packages/botonic-dx-new-stack/README.md
  packages/botonic-dx-new-stack/baseline/rspack.config.d.mts
  packages/botonic-dx-new-stack/baseline/rspack.config.mjs
  packages/botonic-dx-new-stack/baseline/vitest.config.d.mts
  packages/botonic-dx-new-stack/baseline/vitest.config.mjs
  packages/botonic-dx-new-stack/package.json
  packages/botonic-dx-new-stack/sample-config/bot-app/.gitignore
  packages/botonic-dx-new-stack/sample-config/bot-app/biome.json
  packages/botonic-dx-new-stack/sample-config/bot-app/gitignore.txt
  packages/botonic-dx-new-stack/sample-config/bot-app/package.json
  packages/botonic-dx-new-stack/sample-config/bot-app/rspack.config.ts
  packages/botonic-dx-new-stack/sample-config/bot-app/tests/tsconfig.json
  packages/botonic-dx-new-stack/sample-config/bot-app/tsconfig.json
  packages/botonic-dx-new-stack/sample-config/bot-app/tsconfig.tests.json
  packages/botonic-dx-new-stack/sample-config/bot-app/vitest.config.ts
  scripts/build/verify-packages.mjs
Due: none

chore: update @botonic/dx-new-stack references in package-lock.json files to use npm registry
  examples/blank-typescript/package-lock.json
  examples/blank/package-lock.json
  examples/flow-builder-typescript/package-lock.json
Due: none

feat(plugin-flow-builder): add contact reasons conditional node support
  packages/botonic-plugin-flow-builder/src/content-fields/contact-reasons-conditional-matcher.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-contact-reasons-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/contact-reasons-conditional.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/flow-factory.ts
  packages/botonic-plugin-flow-builder/tests/contact-reasons-conditional-matcher.test.ts
Due: none

Revert "feat(plugin-flow-builder): add contact reasons conditional node support"
  packages/botonic-plugin-flow-builder/src/content-fields/contact-reasons-conditional-matcher.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-contact-reasons-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/contact-reasons-conditional.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/flow-factory.ts
  packages/botonic-plugin-flow-builder/tests/contact-reasons-conditional-matcher.test.ts
Due: none

fix: do call first push flow payloads before initial messages
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

add tests checking first content is what comes from push payload
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/tests/api.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/campaigns-whatsapp-template-push-flow.ts
  packages/botonic-plugin-flow-builder/tests/payload.test.ts
Due: none

update changelog
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: none

fix: do call first push flows payloads before getting contents (#3287)
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/tests/api.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/campaigns-whatsapp-template-push-flow.ts
  packages/botonic-plugin-flow-builder/tests/payload.test.ts
Due: none

refactor(plugin-flow-builder): remove unused discarded target properties from FlowContactReasonsConditional class
  packages/botonic-plugin-flow-builder/src/content-fields/flow-contact-reasons-conditional.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/contact-reasons-conditional.ts
Due: none

feat: add conversation_id and is_new_conversation fields to Input interface and update session variable for new conversation tracking
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/utils/bot-config.ts
Due: botonic-core

update CHANGELOG
  packages/botonic-core/CHANGELOG.md
Due: botonic-core

feat: enhance TestInputOptions with conversationId and isNewConversation fields for improved conversation tracking
  packages/botonic-core/src/testing/index.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: botonic-core

refactor: update input types in flow builder and webchat context to exclude additional fields for improved data handling
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-react/src/webchat/context/types.ts
Due: botonic-react

feat: add conversation_id and is_new_conversation fields to Input #BLT-2701 (#3289)
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/testing/index.ts
  packages/botonic-core/src/utils/bot-config.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-react/src/webchat/context/types.ts
Due: botonic-core, botonic-react

chore: update package versions to 0.56.1 and modify changelogs for botonic-core and botonic-plugin-flow-builder
  package-lock.json
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

publish examples
  examples/blank-typescript/package-lock.json
  examples/blank-typescript/package.json
  examples/blank-typescript/rspack-entries/bot-config-entry.ts
  examples/blank/package-lock.json
  examples/blank/package.json
  examples/blank/rspack-entries/bot-config-entry.js
  examples/flow-builder-typescript/package-lock.json
  examples/flow-builder-typescript/package.json
  examples/flow-builder-typescript/rspack-entries/bot-config-entry.ts
Due: none

chore: update example version to 0.56.0 in botonic-examples.ts
  packages/botonic-cli/src/botonic-examples.ts
Due: botonic-cli

chore: publish new version (#3290)
  examples/blank-typescript/package-lock.json
  examples/blank-typescript/package.json
  examples/blank-typescript/rspack-entries/bot-config-entry.ts
  examples/blank/package-lock.json
  examples/blank/package.json
  examples/blank/rspack-entries/bot-config-entry.js
  examples/flow-builder-typescript/package-lock.json
  examples/flow-builder-typescript/package.json
  examples/flow-builder-typescript/rspack-entries/bot-config-entry.ts
  package-lock.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

feat(plugin-flow-builder): implement ON_CLOSE_HANDOFF_PAYLOAD and enhance FlowHandoff class
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/handoff.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

test(plugin-flow-builder): add tests for handoff close payload functionality
  packages/botonic-plugin-flow-builder/tests/handoff-on-close-payload.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/handoff-close.ts
Due: none

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
