Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

chore: publish new 0.56.0-alpha.0 version
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

update CHANGELOGs
  packages/botonic-core/CHANGELOG.md
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-react/CHANGELOG.md
Due: botonic-core, botonic-react

feat: add RequestContactInfo message type and schema, to use it in ai agent #BLT-2622 (#3273)
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/structured-output/index.ts
  packages/botonic-plugin-ai-agents/src/structured-output/request-contact-info.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-request-contact-info.tsx
  packages/botonic-plugin-flow-builder/src/utils/hubtype-assistant-content.ts
  packages/botonic-plugin-flow-builder/tests/hubtype-assistant-content.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-request-contact-info.test.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

chore upgrade biome and apply lint
  package-lock.json
  package.json
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/custom-conditional-v2.test.ts
  packages/botonic-plugin-flow-builder/tests/execute-start-conversation.test.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-template.test.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-react/src/components/multichannel/index.ts
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/tests/webchat/i18n.test.js
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: botonic-react

refactor: update pre-commit workflow to install dependencies and improve biome check script
  .github/workflows/pre-commit.yml
  scripts/qa/biome-check.sh
Due: none

refactor: simplify test structure in handoff and router tests for improved readability
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-core/tests/routing/router.misc.test.ts
Due: botonic-core

chore: upgrade biome and apply lint (#3277)
  .github/workflows/pre-commit.yml
  package-lock.json
  package.json
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-core/tests/routing/router.misc.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-channel.test.ts
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/custom-conditional-v2.test.ts
  packages/botonic-plugin-flow-builder/tests/execute-start-conversation.test.ts
  packages/botonic-plugin-flow-builder/tests/keyword.test.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-template.test.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-react/src/components/multichannel/index.ts
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/tests/webchat/i18n.test.js
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
  scripts/qa/biome-check.sh
Due: botonic-core, botonic-react

ci: match local npm 11.10.0 and format build configs
  .github/workflows/README.md
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-package-builds.yml
  docs/plans/rslib-esm-builds.md
  packages/botonic-cli/tsconfig.build.json
  packages/botonic-core/tsconfig.build.json
  packages/botonic-plugin-ai-agents/tsconfig.build.json
  packages/botonic-plugin-flow-builder/tsconfig.build.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.build.json
  packages/botonic-react/tsconfig.build.json
Due: botonic-cli, botonic-core, botonic-react

fix: validate published ESM contracts and fork-safe CI
  .github/workflows/README.md
  .github/workflows/botonic-ci-test-all-packages.yml
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-package-builds.yml
  .github/workflows/botonic-plugin-ai-agents-tests.yml
  .github/workflows/botonic-plugin-flow-builder-tests.yml
  .github/workflows/botonic-plugin-hubtype-analytics-tests.yml
  .github/workflows/botonic-react-tests.yml
  .github/workflows/botonic-test-reports.yml
  docs/plans/rslib-esm-builds.md
  packages/botonic-cli/tests/botonic-api-service.test.ts
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-react/src/dev-app.jsx
  scripts/build/verify-packages.mjs
  scripts/build/verify-watch.mjs
Due: botonic-cli, botonic-core, botonic-react

chore: publish alpha version
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

refactor: change single quotation mark to double quotation mark
  .github/workflows/botonic-common-workflow.yml
Due: none

refactor: change single quotation mark to double quotation mark
  .github/workflows/botonic-ci-test-all-packages.yml
Due: none

chore: publish alpha versions
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

refactor: update import statement for FlowBuilderAction in README.md
  packages/botonic-plugin-flow-builder/README.md
Due: none

refactor: apply lint
  packages/botonic-plugin-flow-builder/tests/conditional-bot-variable.test.ts
Due: none

chore: migrate from jest to vitest @botonic/core
  packages/botonic-core/babel.config.cjs
  packages/botonic-core/jest.config.cjs
  packages/botonic-core/package.json
  packages/botonic-core/tsconfig.tests.json
  packages/botonic-core/vitest.config.ts
Due: botonic-core

refactor: rename test script in package.json for consistency
  package.json
Due: none

refactor: update import statement for FlowBuilderAction in plugin-flow-builder documentation
  docs/docs/plugins/plugin-flow-builder.md
Due: none

refactor: unify package builds in lib with Rslib cleanup
  .cursor/rules/general.md
  docs/docs/plugins/plugin-flow-builder.md
  docs/plans/rslib-esm-builds.md
  package.json
  packages/botonic-cli/package.json
  packages/botonic-cli/tests/tsconfig.json
  packages/botonic-cli/tsconfig.build.json
  packages/botonic-cli/tsconfig.json
  packages/botonic-core/jest.config.js
  packages/botonic-core/package.json
  packages/botonic-core/tsconfig.build.json
  packages/botonic-core/tsconfig.json
  packages/botonic-core/tsconfig.tests.json
  packages/botonic-dx-bundler-rspack/tsconfig.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/tsconfig.build.json
  packages/botonic-plugin-ai-agents/tsconfig.json
  packages/botonic-plugin-ai-agents/tsconfig.tests.json
  packages/botonic-plugin-flow-builder/README.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/tsconfig.build.json
  packages/botonic-plugin-flow-builder/tsconfig.json
  packages/botonic-plugin-flow-builder/tsconfig.tests.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.build.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.tests.json
  packages/botonic-react/package.json
  packages/botonic-react/tsconfig.build.json
  packages/botonic-react/tsconfig.json
  scripts/build/clean.mjs
  scripts/build/cleanup-contract.mjs
  scripts/build/rslib.mts
  scripts/build/verify-clean.mjs
  scripts/build/verify-packages.mjs
  scripts/build/verify-watch.mjs
  tsconfig.cjs.base.json
Due: botonic-cli, botonic-core, botonic-react

chore: align alpha package versions and refresh dependency lockfile
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
Due: botonic-cli

refactor: update package.json scripts and add Jest configurations for ESM support
  .github/workflows/botonic-package-builds.yml
  docs/plans/rslib-esm-builds.md
  package.json
  packages/botonic-core/babel.config.cjs
  packages/botonic-core/jest.config.cjs
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/babel.config.cjs
  packages/botonic-plugin-ai-agents/jest.config.cjs
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-flow-builder/babel.config.cjs
  packages/botonic-plugin-flow-builder/jest.config.cjs
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/babel.config.cjs
  packages/botonic-plugin-hubtype-analytics/jest.config.cjs
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-react/babel.config.cjs
  packages/botonic-react/jest.config.cjs
  packages/botonic-react/package.json
  packages/botonic-react/tests/__mocks__/file-mock.cjs
  scripts/build/cleanup-contract.mjs
  scripts/build/module-package.json
  scripts/build/rslib.mts
  scripts/build/verify-clean.mjs
  scripts/build/verify-packages.mjs
  scripts/build/verify-watch.mjs
Due: botonic-core, botonic-react

chore: migrate from jest to vitest @botonic/plugin-ai-agents
  packages/botonic-plugin-ai-agents/babel.config.cjs
  packages/botonic-plugin-ai-agents/jest.config.cjs
  packages/botonic-plugin-ai-agents/jest.setup.js
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/debug-logger.test.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
  packages/botonic-plugin-ai-agents/tests/index.test.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
  packages/botonic-plugin-ai-agents/tests/retrieve-knowledge.test.ts
  packages/botonic-plugin-ai-agents/tests/router-agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/runner-router.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-ai-agents/tsconfig.tests.json
  packages/botonic-plugin-ai-agents/vitest.config.ts
Due: none

chore: migrate from jest to vitest @botonic/cli
  packages/botonic-cli/jest.config.cjs
  packages/botonic-cli/package.json
  packages/botonic-cli/src/util/system.ts
  packages/botonic-cli/tests/botonic-api-service.test.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/tsconfig.json
  packages/botonic-cli/tests/util/bot-config.test.ts
  packages/botonic-cli/tsconfig.tests.json
  packages/botonic-cli/vitest.config.ts
  packages/botonic-cli/vitest.setup.ts
Due: botonic-cli

chore: migrate from jest to vitest @botonic/plugin-hubtype-analytics
  packages/botonic-plugin-hubtype-analytics/babel.config.cjs
  packages/botonic-plugin-hubtype-analytics/jest.config.cjs
  packages/botonic-plugin-hubtype-analytics/jest.setup.js
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/tests/__mocks__/file-mock.js
  packages/botonic-plugin-hubtype-analytics/tests/event-ai-agent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-bot-action.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-capture-user-input.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-channel.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-country.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-queue-status.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-redirect-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
  packages/botonic-plugin-hubtype-analytics/tsconfig.tests.json
  packages/botonic-plugin-hubtype-analytics/vitest.config.ts
Due: none

chore: add TypeScript configuration for test files in multiple packages
  packages/botonic-core/tests/tsconfig.json
  packages/botonic-plugin-ai-agents/tests/tsconfig.json
  packages/botonic-plugin-flow-builder/tests/tsconfig.json
  packages/botonic-plugin-hubtype-analytics/tests/tsconfig.json
Due: botonic-core

refactor: improve mocks and split tests
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/guardrails/input.test.ts
  packages/botonic-plugin-ai-agents/tests/helpers/mock-utils.ts
  packages/botonic-plugin-ai-agents/tests/index.test.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
  packages/botonic-plugin-ai-agents/tests/router-agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/runner-router.test.ts
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-ai-agents/tests/structured-output.test.ts
  packages/botonic-plugin-ai-agents/vitest.config.ts
Due: none

refactor: apply format
  packages/botonic-plugin-ai-agents/tests/runner.test.ts
  packages/botonic-plugin-flow-builder/tsconfig.tests.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.tests.json
Due: none

chore: update TypeScript configuration to include vitest setup files across multiple packages
  packages/botonic-cli/tsconfig.json
  packages/botonic-core/tsconfig.json
  packages/botonic-plugin-ai-agents/tsconfig.json
  packages/botonic-plugin-flow-builder/tests/messages/flow-whatsapp-request-contact-info.test.ts
  packages/botonic-plugin-flow-builder/tsconfig.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
  packages/botonic-react/tsconfig.json
Due: botonic-cli, botonic-core, botonic-react

chore: simplify vitest configuration by removing unused plugins and aliases
  packages/botonic-plugin-hubtype-analytics/vitest.config.ts
Due: none

format
  packages/botonic-react/tsconfig.json
Due: botonic-react

chore: add initial testing setup for Vitest with React support and TypeScript configuration
  scripts/testing/react.ts
  scripts/testing/tsconfig.json
  scripts/testing/vitest.shared.ts
Due: none

chore: update dependencies for Vitest and React support in package.json and package-lock.json
  package-lock.json
  package.json
Due: none

format
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

chore: add default formatter for JSONC files in VSCode settings
  .vscode/settings.json
Due: none

fix: update conditional checks in GitHub Actions workflow to use single quotes for consistency
  .github/workflows/botonic-common-workflow.yml
Due: none

docs: add comprehensive agent guide and testing documentation for Botonic monorepo
  .cursor/rules/general.md
  AGENTS.md
  TESTING.md
  packages/botonic-plugin-ai-agents/.cursor/rules/mock-patterns.md
Due: none

chore: publish new alpha version
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react
