Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

Fix: event bot_ai_knowledge_base fails (#2622)
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
Due: none

Contentful Plugin: add content models with keywords to plugin options (#2613)
  packages/botonic-plugin-contentful/jest.setup.js
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/cms/transform/message-content-filters.ts
  packages/botonic-plugin-contentful/src/cms/visitors/message-visitors.ts
  packages/botonic-plugin-contentful/src/contentful/contents/contents.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-api.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/src/contentful/ignore-fallback-decorator.ts
  packages/botonic-plugin-contentful/src/contentful/search/keywords.ts
  packages/botonic-plugin-contentful/src/contentful/traverser.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/src/tools/validate-all-contents.ts
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery/mock-client.helper.ts
  packages/botonic-plugin-contentful/tests/nlp/keywords.test.ts
  packages/botonic-plugin-contentful/tests/util/profiler.test.ts
Due: botonic-plugin-contentful

chore(release): publish new versions of botonic
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package-lock.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

chore(release): publish new versions of botonic-plugin-contentful
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

docs(plugin-knowledge-bases): fix wrong npm package name
  packages/botonic-plugin-knowledge-bases/README.md
Due: none

docs(knowledge-bases): fix wrong name function in README
  packages/botonic-plugin-knowledge-bases/README.md
Due: none

Publish new versions (#2624)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package-lock.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-plugin-contentful, botonic-react

docs(plugin-knowledge-bases): fix wrong npm package name (#2625)
  packages/botonic-plugin-knowledge-bases/README.md
Due: none

refactor(react): WIP disable automatic scrollToBottom
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/devices/webchat-resizer.js
  packages/botonic-react/src/webchat/hooks/use-typing.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

feat(react): create small components for banner, scroll button and intro message
  packages/botonic-react/src/webchat/message-list/intro-message.tsx
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/message-list/unread-messages-banner.tsx
Due: botonic-react

feat(react): add custom properties to enable/custom comoponents fot notifications in TriggerButton, UnreadBanner and ScrollButton
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
  packages/botonic-react/src/webchat/message-list/unread-messages-banner.tsx
  packages/botonic-react/src/webchat/trigger-button/index.tsx
Due: botonic-react

feat(react): add images for UnreadBanner and ScrollButton
  packages/botonic-react/src/assets/arrow-down.svg
  packages/botonic-react/src/assets/arrow-scroll-down.svg
  packages/botonic-react/src/assets/index-types.ts
Due: botonic-react

feat(react): create resetUnreadMessages, setLastMessageVisible in redux and prop sentBy in message to count unread messsages
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/actions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/messages-reducer.ts
  packages/botonic-react/src/webchat/webchat-reducer.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

refactor(react): remove props.from and always use props.sentBy in message
  packages/botonic-react/src/components/custom-message.jsx
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/timestamps.jsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

feat(react): new component MessageList with UnreadMessagesBanner and ScrollButton
  packages/botonic-react/src/webchat/message-list.jsx
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

fix: docs/website/package.json to reduce vulnerabilities
  docs/website/package.json
Due: none

refactor(botonic-react): PR feedback, rename to numUnreadMessages, add notificationsTriggerButtonEnabled, typo errors, simplfy code and renders
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat/components/styled-scrollbar.jsx
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/messages-reducer.ts
  packages/botonic-react/src/webchat/trigger-button/index.tsx
Due: botonic-react

refactor(botonic-react): add scroll to banner when open webchat and banner exist
  packages/botonic-react/src/webchat/message-list/unread-messages-banner.tsx
Due: botonic-react

feat(botonic-react): update numUnreadMessages when last message is not visbible or have uneadMessages
  packages/botonic-react/src/webchat/message-list/unread-messages-banner.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

feat(botonic-react): if a CustomScrollButton is declared, it is activated by default
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
Due: botonic-react

feat(botonic-react): if msg.data.text is undefined the expected text is ''
  packages/botonic-react/src/msg-to-botonic.jsx
Due: botonic-react

feat(botonic-react): remove scroll when render typing component
  packages/botonic-react/src/webchat/hooks/use-typing.ts
Due: botonic-react

chore(botonic-react): avoid lint warning and add package-lock.json
  packages/botonic-react/index.d.ts
  packages/botonic-react/package-lock.json
Due: botonic-react

feature(botonic-react): reset numUnreadMessages when close webchat and last message is visible, and remove reset and scroll when user onFocus
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

feature(botonic-react): control scroll in WebchatMessageList with unreadMessagesBannerRef and lastMessageRef, when change firstUnreadMessageId
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
  packages/botonic-react/src/webchat/message-list/unread-messages-banner.tsx
Due: botonic-react

feature(botonic-react): pass handleScrollToBottom to CustomScrollButton
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
Due: botonic-react

feature(botonic-react): add a delay in scroll button
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/message-list/use-debounce.ts
Due: botonic-react

test(botonic-core): if run in browser window.process.versions.node will always be undefined
  packages/botonic-core/src/utils.ts
Due: botonic-core

WIP
  packages/botonic-react/src/msg-to-botonic.jsx
Due: botonic-react

test(botonic-react): change imports to execute test with src code and add jsdom in some tests
  packages/botonic-react/tests/components/components.test.jsx
  packages/botonic-react/tests/components/custom-message.test.jsx
  packages/botonic-react/tests/components/multichannel/facebook/facebook.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel-multibutton.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-carousel.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-reply.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
  packages/botonic-react/tests/components/render-markdown.test.jsx
  packages/botonic-react/tests/components/text-serialization.test.jsx
  packages/botonic-react/tests/components/text.test.jsx
  packages/botonic-react/tests/utils.test.js
  packages/botonic-react/tests/webchat.theme.test.js
  packages/botonic-react/tests/webchat/attachments.test.js
  packages/botonic-react/tests/webchat/buttons-disabler.test.jsx
  packages/botonic-react/tests/webchat/dev-app.test.jsx
  packages/botonic-react/tests/webchat/storage.test.jsx
  packages/botonic-react/tests/webchat/webchat-app.test.jsx
  packages/botonic-react/tests/webchat/webchat-util.test.js
  packages/botonic-react/tests/webchat/webchat.addmessages.test.jsx
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: botonic-react

test(botonic-react): update file with extension jsx to use a component Message
  packages/botonic-react/tests/webchat/usewebchat.test.jsx
Due: botonic-react

test(botonic-react): use imports from src
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/tests/helpers/test-utils.jsx
Due: botonic-react

test(botonic-react): back to the old version of the msg-to-botonic function
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/tests/msg-to-botonic.test.jsx
Due: botonic-react

chore(botonic-core): publish 0.23.2-alpha.0 version
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

test(botonic-react): update snappshots
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-button.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-button.test.jsx
  packages/botonic-react/tests/components/multichannel/multichannel-wrapper.test.jsx
Due: botonic-react

chore(botonic-react): add babel and jest config to execute test with typescript
  packages/botonic-react/babel.config.js
  packages/botonic-react/jest.config.js
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

chore(botonic-react): publish 0.24.0-alpha.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

chore(botonic-react): use @botonic/core: 0.23.2-alpha.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

fix(react): fix @botonic/core imports
  packages/botonic-react/src/botonic-tester.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/message-utils.js
  packages/botonic-react/src/react-bot.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react
