Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

refactor(botonic-react): remove word index whem import Button
  packages/botonic-react/src/components/element.tsx
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat/components/opened-persistent-menu.jsx
Due: botonic-react

refactor(botonic-react): use AditionalProps in updateButtons function
  packages/botonic-react/src/components/buttons-disabler.ts
Due: botonic-react

feat(botonc-react): allow change backgroundColor in Button disabled
  packages/botonic-react/src/components/button/styles.ts
  packages/botonic-react/src/webchat/theme/types.ts
  packages/botonic-react/tests/webchat/buttons-disabler.test.jsx
Due: botonic-react

update botonic-react CHANGELOG
  packages/botonic-react/CHANGELOG.md
Due: botonic-react

botonic-react: refactor webchat theme and create default theme #BLT-1472 (#2991)
  packages/botonic-react/src/components/buttons-disabler.js
  packages/botonic-react/src/components/carousel.tsx
  packages/botonic-react/src/components/image.tsx
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/message/message-image.tsx
  packages/botonic-react/src/components/message/timestamps.tsx
  packages/botonic-react/src/components/reply.tsx
  packages/botonic-react/src/components/webchat-settings.tsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/components/conditional-animation.jsx
  packages/botonic-react/src/webchat/components/opened-persistent-menu.jsx
  packages/botonic-react/src/webchat/context/index.tsx
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/header/default-header.tsx
  packages/botonic-react/src/webchat/header/styles.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/input-panel/attachment.tsx
  packages/botonic-react/src/webchat/input-panel/emoji-picker.tsx
  packages/botonic-react/src/webchat/input-panel/index.tsx
  packages/botonic-react/src/webchat/input-panel/persistent-menu.tsx
  packages/botonic-react/src/webchat/input-panel/send-button.tsx
  packages/botonic-react/src/webchat/input-panel/textarea.tsx
  packages/botonic-react/src/webchat/message-list/intro-message.tsx
  packages/botonic-react/src/webchat/message-list/use-notifications.ts
  packages/botonic-react/src/webchat/styles.ts
  packages/botonic-react/src/webchat/theme/default-theme.ts
  packages/botonic-react/src/webchat/theme/theme.d.ts
  packages/botonic-react/src/webchat/theme/types.ts
  packages/botonic-react/src/webchat/trigger-button/index.tsx
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/src/webchat/webview/index.tsx
  packages/botonic-react/src/webchat/webview/styles.ts
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: botonic-react

Refactor theme button style (#2995)
  packages/botonic-react/src/components/button/index.tsx
  packages/botonic-react/src/components/button/styles.ts
  packages/botonic-react/src/components/buttons-disabler.js
  packages/botonic-react/src/webchat/theme/default-theme.ts
  packages/botonic-react/src/webchat/theme/types.ts
Due: botonic-react

refactor(botonic-react) add nullish collection to pass tests
  packages/botonic-react/src/components/button/index.tsx
Due: botonic-react

update CHANGELOG
  packages/botonic-react/CHANGELOG.md
Due: botonic-react

Button disabler in typescript (#2996)
  package-lock.json
  packages/botonic-core/src/utils.ts
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/jest.config.js
  packages/botonic-react/jest.setup.js
  packages/botonic-react/package.json
  packages/botonic-react/src/components/button/index.tsx
  packages/botonic-react/src/components/buttons-disabler.ts
  packages/botonic-react/src/components/element.tsx
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-carousel.jsx
  packages/botonic-react/src/components/multichannel/multichannel-utils.js
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat/components/opened-persistent-menu.jsx
  packages/botonic-react/src/webchat/theme/types.ts
  packages/botonic-react/tests/helpers/render-webchat-with-providers.jsx
  packages/botonic-react/tests/webchat/__snapshots__/buttons-disabler.test.jsx.snap
  packages/botonic-react/tests/webchat/buttons-disabler.test.jsx
Due: botonic-core, botonic-react

botonic-react: add user locale and user country on init webchat #BLT-1562 (#3005)
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-react/src/components/webchat-settings.tsx
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/time-zone-to-country-code.ts
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/src/webview-app.tsx
Due: botonic-core, botonic-react

feat(botonic-core): add functions: getUserLocale, getUserCountry and getSystemLocale from BotContext
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/i18n.ts
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

test: update test to check that have new functions, and response not have a request attribute
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
  packages/botonic-core/tests/helpers/routing.ts
Due: botonic-core

feat(botonic-react): add getUserCountry, getUserLocale, getSystemLocale in RequestContext
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

feat(plugin-flow-builder): add default_locale_code and user.system_locale to choose the locale of the response
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: none

test(plugin-flow-builder): update test with getters functions in BotContext
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: none

refactor(plugin-flow-builder): use BotContext instead of ActionRequest
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: none

fix: adapt actions to not use legacy cache
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-docs-tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pre-commit.yml
Due: none

fix: adapt actions to not use legacy cache (#3009)
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-docs-tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pre-commit.yml
Due: none

update CHANGELOG
  packages/botonic-core/CHANGELOG.md
Due: botonic-core

botonic-core: infer type of plugins to bot context #BLT-1574 (#3006)
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-plugin-flow-builder/src/helpers.ts
Due: botonic-core

test(botonic-core): keep the nulls in the response array
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
Due: botonic-core

botonic-core & botonic-react: BotContext with getUserLocale, geUserCountry and getSystemLocale functions (#3007)
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/i18n.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/util/webchat.ts
  packages/botonic-react/src/webview-app.tsx
Due: botonic-core, botonic-react

test(bootnic-core): fix test
  packages/botonic-core/tests/core-bot/core-bot.test.ts
Due: botonic-core

update CHANGELOG
  packages/botonic-core/CHANGELOG.md
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: botonic-core

plugin-flow-builder: use new user fields and default_locale_code #BLT-1581 (#3008)
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: botonic-core

feat(plugin-flow-builder): remove all logic related with intents babel
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/intent.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
Due: none

update CHANGELOG
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: none

feat(plugin-flow-builder): remove all logic related with intents babel #BLT-3010 (#3010)
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/intent.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-flow-builder/src/user-input/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/intent.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
Due: none

feat(botonic-core): remove getString function from BotContext
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/i18n.ts
  packages/botonic-core/src/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
Due: botonic-core

feat(botonic-react): remove getString function from BotContext
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/webview-app.tsx
  packages/botonic-react/tests/helpers/render-webchat-with-providers.jsx
Due: botonic-react

feat(plugin-flow-builder): remove getString function from BotContext
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: none

feat(botonic-core): allow infer type for user.extra_data
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

feat(plugin-flow-builder): infer type user.extra_data in analytics and knowledge base functions
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

core & plugin-flow-builder: allow infer type of user.extra_data #BLT-1592 (#3012)
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: botonic-core

feat(botonic-core): remove locales from BotCore
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
Due: botonic-core

refactor: remove getString function added by error in merge
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

core & react & plugin-flow-builder: remove get string function from request bot context #BLT-1591 (#3011)
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/i18n.ts
  packages/botonic-core/src/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/webview-app.tsx
  packages/botonic-react/tests/helpers/render-webchat-with-providers.jsx
Due: botonic-core, botonic-react

feat(plugin-flow-builder): no needed to pass the locale to any function
  packages/botonic-plugin-flow-builder/src/action/fallback.ts
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/action/payload.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-country.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

test(plugin-flow-builder): fix tests
  packages/botonic-plugin-flow-builder/tests/conditional-country.test.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
Due: none

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
