Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

performance measurer
  packages/botonic-plugin-contentful/src/util/measurer/node-performance-measurer.ts
  packages/botonic-plugin-contentful/src/util/measurer/performance-measurer.ts
  packages/botonic-plugin-contentful/src/util/measurer/web-performance-measurer.ts
Due: botonic-plugin-contentful

wip
  packages/botonic-plugin-contentful/src/tools/validate-all-contents.ts
Due: botonic-plugin-contentful

wip
  package-lock.json
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/analytics/credentials-handler.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/file-system.ts
  packages/botonic-cli/tests/tsconfig.json
  packages/botonic-cli/tests/util/file-system.test.ts
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

wip
  packages/botonic-plugin-contentful/tests/nlp/stemmers/stemmer-hr.test.ts
Due: botonic-plugin-contentful

wip
  .pre-commit-config.yaml
  kk
  packages/botonic-react/src/msg-to-botonic.jsx
Due: botonic-react

wip
  packages/botonic-plugin-dynamodb/README_wip.md
Due: botonic-plugin-dynamodb

refactor(plugin-ner, plugin-ic): baseUrl typed
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
Due: botonic-plugin-ner

chore(core): add data models for botonic 1.0
  packages/botonic-core/src/models/events/connections/index.ts
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/buttons.ts
  packages/botonic-core/src/models/events/message/carousel.ts
  packages/botonic-core/src/models/events/message/custom.ts
  packages/botonic-core/src/models/events/message/element.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/location.ts
  packages/botonic-core/src/models/events/message/media.ts
  packages/botonic-core/src/models/events/message/replies.ts
  packages/botonic-core/src/models/events/message/text.ts
  packages/botonic-core/src/models/user.ts
Due: botonic-core

feat(plugin-google-translate): Translation feature added (#1624)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/types/index.d.ts
  packages/botonic-plugin-google-translate/README.md
  packages/botonic-plugin-google-translate/package-lock.json
  packages/botonic-plugin-google-translate/package.json
  packages/botonic-plugin-google-translate/src/google-translate-api-service.ts
  packages/botonic-plugin-google-translate/src/index.ts
  packages/botonic-plugin-google-translate/src/language-detector.ts
  packages/botonic-plugin-google-translate/src/options.ts
  packages/botonic-plugin-google-translate/src/translator.ts
Due: botonic-core

chore(react): add typings and bump to alpha version
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/index.d.ts
Due: botonic-react

feat(react): add onConnectionChange listener
  packages/botonic-react/src/webchat-app.jsx
Due: botonic-react

fix(contentful): marked 2.1.0 was not compatible with node 12 (#1643)
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

chore(react): bump botonic-react to 0.18.4
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

Feat/on-connection-change-listener (#1637)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/index.d.ts
  packages/botonic-react/src/webchat-app.jsx
Due: botonic-react

feat(contentful): if memoization fails, don't cache the error (#1640)
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/cache.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/client-api.ts
  packages/botonic-plugin-contentful/src/util/exceptions.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery/cache.test.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery/mock-client.helper.ts
Due: botonic-plugin-contentful

style(contentful): remove useless code
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
  packages/botonic-plugin-contentful/src/util/memoizer.ts
Due: botonic-plugin-contentful

feat(contentful): memoizer
  packages/botonic-plugin-contentful/src/util/backoff.ts
  packages/botonic-plugin-contentful/src/util/memoizer.ts
  packages/botonic-plugin-contentful/tests/util/memoizer.test.ts
Due: botonic-plugin-contentful

feat(contentful): use last successful Contentful result
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/fallback-cache.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery/fallback-cache.test.ts
Due: botonic-plugin-contentful

test(contentful): disable all caches in ContentfulManage tests
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-entry.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
Due: botonic-plugin-contentful

doc(contentful): escape <> in README.md
  packages/botonic-plugin-contentful/README.md
Due: botonic-plugin-contentful

feat(contentful): memoizer #BOT-467 (#1639)
  packages/botonic-plugin-contentful/README.md
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/fallback-cache.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/src/tools/l10n/import-updater.ts
  packages/botonic-plugin-contentful/src/util/backoff.ts
  packages/botonic-plugin-contentful/src/util/memoizer.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery/fallback-cache.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-entry.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
  packages/botonic-plugin-contentful/tests/util/memoizer.test.ts
Due: botonic-plugin-contentful

feat(contentful): rough estimation of object size
  packages/botonic-plugin-contentful/src/util/objects.ts
  packages/botonic-plugin-contentful/tests/util/objects.test.ts
Due: botonic-plugin-contentful

refactor(contentful): FallbackCache memoizer logger
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/fallback-cache.ts
  packages/botonic-plugin-contentful/src/util/cache.ts
  packages/botonic-plugin-contentful/src/util/memoizer.ts
  packages/botonic-plugin-contentful/tests/util/memoizer.test.ts
Due: botonic-plugin-contentful

feat(contentful): LimitedCacheDecorator
  packages/botonic-plugin-contentful/src/util/cache.ts
  packages/botonic-plugin-contentful/src/util/memoizer.ts
  packages/botonic-plugin-contentful/tests/util/cache.test.ts
Due: botonic-plugin-contentful

refactor(contentful): FallbackCache memory limit in Contentful options
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/delivery/fallback-cache.ts
  packages/botonic-plugin-contentful/src/plugin.ts
  packages/botonic-plugin-contentful/src/util/cache.ts
  packages/botonic-plugin-contentful/src/util/memoizer.ts
  packages/botonic-plugin-contentful/tests/contentful/delivery/fallback-cache.test.ts
Due: botonic-plugin-contentful

feat(core): add optional timeout to getOpenQueues & storeCaseRating
  packages/botonic-core/src/handoff.js
  packages/botonic-core/src/types/handoff.d.ts
Due: botonic-core

fix: upgrade react-json-tree from 0.12.1 to 0.15.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

fix: upgrade @botonic/core from 0.18.0 to 0.18.2
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: botonic-plugin-nlu

fix: upgrade ts-node from 9.0.0 to 9.1.1
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: botonic-plugin-nlu

fix: upgrade @tensorflow/tfjs from 2.8.5 to 2.8.6
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: botonic-plugin-nlu

fix: upgrade fs from 0.0.1-security to 0.0.2
  scripts/package-lock.json
  scripts/package.json
Due: none

refactor(plugin-google-translation): plugin-google-translate renamed to plugin-google-translation
  packages/botonic-plugin-google-translation/README.md
  packages/botonic-plugin-google-translation/jest.config.js
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-google-translation/src/access-token.ts
  packages/botonic-plugin-google-translation/src/google-translate-api-service.ts
  packages/botonic-plugin-google-translation/src/index.ts
  packages/botonic-plugin-google-translation/src/language-detector.ts
  packages/botonic-plugin-google-translation/src/options.ts
  packages/botonic-plugin-google-translation/src/translator.ts
  packages/botonic-plugin-google-translation/tsconfig.eslint.json
  packages/botonic-plugin-google-translation/tsconfig.json
Due: none

refactor(plugin-google-translation): plugin-google-translate renamed to plugin-google-translation (#1645)
  packages/botonic-plugin-google-translation/README.md
  packages/botonic-plugin-google-translation/jest.config.js
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-google-translation/src/access-token.ts
  packages/botonic-plugin-google-translation/src/google-translate-api-service.ts
  packages/botonic-plugin-google-translation/src/index.ts
  packages/botonic-plugin-google-translation/src/language-detector.ts
  packages/botonic-plugin-google-translation/src/options.ts
  packages/botonic-plugin-google-translation/src/translator.ts
  packages/botonic-plugin-google-translation/tsconfig.eslint.json
  packages/botonic-plugin-google-translation/tsconfig.json
Due: none

feat(nlp): fr supported
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/preprocess/engines/fr/normalizer-fr.ts
  packages/botonic-nlp/src/preprocess/engines/fr/stemmer-fr.ts
  packages/botonic-nlp/src/preprocess/engines/fr/stopwords-fr.ts
  packages/botonic-nlp/src/preprocess/engines/fr/tokenizer-fr.ts
  packages/botonic-nlp/tests/preprocess/engines/fr/normalizer-fr.test.ts
  packages/botonic-nlp/tests/preprocess/engines/fr/stemmer-fr.test.ts
  packages/botonic-nlp/tests/preprocess/engines/fr/tokenizer-fr.test.ts
Due: botonic-nlp

fix(nlp): it tokenizer fixed
  packages/botonic-nlp/src/preprocess/engines/it/tokenizer-it.ts
Due: botonic-nlp

feat(nlp): de supported
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/preprocess/engines/de/normalizer-de.ts
  packages/botonic-nlp/src/preprocess/engines/de/stemmer-de.ts
  packages/botonic-nlp/src/preprocess/engines/de/stopwords-de.ts
  packages/botonic-nlp/src/preprocess/engines/de/tokenizer-de.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/tests/preprocess/engines/de/normalizer-de.test.ts
  packages/botonic-nlp/tests/preprocess/engines/de/stemmer-de.test.ts
  packages/botonic-nlp/tests/preprocess/engines/de/tokenizer-de.test.ts
Due: botonic-nlp

feat(nlp): ru supported
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/ru/normalizer-ru.ts
  packages/botonic-nlp/src/preprocess/engines/ru/stemmer-ru.ts
  packages/botonic-nlp/src/preprocess/engines/ru/stopwords-ru.ts
  packages/botonic-nlp/src/preprocess/engines/ru/tokenizer-ru.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/tests/preprocess/engines/ru/normalizer-ru.test.ts
  packages/botonic-nlp/tests/preprocess/engines/ru/stemmer-ru.test.ts
  packages/botonic-nlp/tests/preprocess/engines/ru/tokenizer-ru.test.ts
Due: botonic-nlp

feat(nlp): it supported
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/preprocess/engines/it/normalizer-it.ts
  packages/botonic-nlp/src/preprocess/engines/it/stemmer-it.ts
  packages/botonic-nlp/src/preprocess/engines/it/stopwords-it.ts
  packages/botonic-nlp/src/preprocess/engines/it/tokenizer-it.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/tests/preprocess/engines/it/normalizer-it.test.ts
  packages/botonic-nlp/tests/preprocess/engines/it/stemmer-it.test.ts
  packages/botonic-nlp/tests/preprocess/engines/it/tokenizer-it.test.ts
Due: botonic-nlp

feat(nlp): add supported languages #BOT-283 (#1647)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/preprocess/engines/de/normalizer-de.ts
  packages/botonic-nlp/src/preprocess/engines/de/stemmer-de.ts
  packages/botonic-nlp/src/preprocess/engines/de/stopwords-de.ts
  packages/botonic-nlp/src/preprocess/engines/de/tokenizer-de.ts
  packages/botonic-nlp/src/preprocess/engines/fr/normalizer-fr.ts
  packages/botonic-nlp/src/preprocess/engines/fr/stemmer-fr.ts
  packages/botonic-nlp/src/preprocess/engines/fr/stopwords-fr.ts
  packages/botonic-nlp/src/preprocess/engines/fr/tokenizer-fr.ts
  packages/botonic-nlp/src/preprocess/engines/it/normalizer-it.ts
  packages/botonic-nlp/src/preprocess/engines/it/stemmer-it.ts
  packages/botonic-nlp/src/preprocess/engines/it/stopwords-it.ts
  packages/botonic-nlp/src/preprocess/engines/it/tokenizer-it.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/ru/normalizer-ru.ts
  packages/botonic-nlp/src/preprocess/engines/ru/stemmer-ru.ts
  packages/botonic-nlp/src/preprocess/engines/ru/stopwords-ru.ts
  packages/botonic-nlp/src/preprocess/engines/ru/tokenizer-ru.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/tests/preprocess/engines/de/normalizer-de.test.ts
  packages/botonic-nlp/tests/preprocess/engines/de/stemmer-de.test.ts
  packages/botonic-nlp/tests/preprocess/engines/de/tokenizer-de.test.ts
  packages/botonic-nlp/tests/preprocess/engines/fr/normalizer-fr.test.ts
  packages/botonic-nlp/tests/preprocess/engines/fr/stemmer-fr.test.ts
  packages/botonic-nlp/tests/preprocess/engines/fr/tokenizer-fr.test.ts
  packages/botonic-nlp/tests/preprocess/engines/it/normalizer-it.test.ts
  packages/botonic-nlp/tests/preprocess/engines/it/stemmer-it.test.ts
  packages/botonic-nlp/tests/preprocess/engines/it/tokenizer-it.test.ts
  packages/botonic-nlp/tests/preprocess/engines/ru/normalizer-ru.test.ts
  packages/botonic-nlp/tests/preprocess/engines/ru/stemmer-ru.test.ts
  packages/botonic-nlp/tests/preprocess/engines/ru/tokenizer-ru.test.ts
Due: botonic-nlp

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
