Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

fix: fix hover color
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: botonic-react

fix: only add margin to last system message
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
Due: botonic-react

update snapshots
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
Due: botonic-react

Refactor: address qa feedback for preview events (#3120)
  packages/botonic-react/src/components/system-debug-trace/styles.ts
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
Due: botonic-react

fix: system events should not be counted as unread messages
  packages/botonic-react/src/webchat/context/messages-reducer.ts
Due: botonic-react

fix: update also in update reducer
  packages/botonic-react/src/webchat/context/messages-reducer.ts
Due: botonic-react

fix: system events should not be counted as unread messages (#3121)
  packages/botonic-react/src/webchat/context/messages-reducer.ts
Due: botonic-react

fix: fix styles
  packages/botonic-react/src/components/system-debug-trace/styles.ts
Due: botonic-react

fix: update snapshots
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace-events.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
Due: botonic-react

fix: truncate long urls in system events showing URLs (#3123)
  packages/botonic-react/src/components/system-debug-trace/styles.ts
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace-events.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
Due: botonic-react

chore: publish 0.41.0-alpha
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

chore: bump alphas with url fix
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: botonic-react

chore: bump and publish to 0.41.0
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

feat: remove node-polyfill-webpack-plugin
  package-lock.json
  packages/botonic-dx-bundler-rspack/baseline/rspack.config.ts
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
Due: none

feat: update jest version and pass test
  package-lock.json
  package.json
  packages/botonic-dx/package.json
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-react/tests/components/__snapshots__/custom-message.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace-events.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/text.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-button-list.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-catalog.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-cta-url-button.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-media-carousel.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-product-carousel.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-product-list.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-product.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-button.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel-multibutton.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-reply.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
Due: botonic-react

Upgrade oclif (#3108)
  .nvmrc
  package-lock.json
  package.json
  packages/botonic-cli/.eslintrc.json
  packages/botonic-cli/.prettierrc.json
  packages/botonic-cli/README.md
  packages/botonic-cli/bin/dev.cmd
  packages/botonic-cli/bin/dev.js
  packages/botonic-cli/bin/run
  packages/botonic-cli/bin/run.js
  packages/botonic-cli/jest.config.cjs
  packages/botonic-cli/jest.config.js
  packages/botonic-cli/oclif.manifest.json
  packages/botonic-cli/package.json
  packages/botonic-cli/scripts/postinstall.js
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/logout.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/test.ts
  packages/botonic-cli/src/index.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/types/global.d.ts
  packages/botonic-cli/src/util/bot-config.ts
  packages/botonic-cli/src/util/credentials-handler.ts
  packages/botonic-cli/src/util/download-gzip.ts
  packages/botonic-cli/src/util/environment-info.ts
  packages/botonic-cli/src/util/file-system.ts
  packages/botonic-cli/tests/botonic-api-service.test.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/commands/new.test.ts
  packages/botonic-cli/tests/tsconfig.json
  packages/botonic-cli/tests/util/credentials-handler.test.ts
  packages/botonic-cli/tests/util/file-system.test.ts
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

feat: bump botonic versions
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/flow-builder-typescript/package.json
  packages/botonic-cli/src/botonic-examples.ts
Due: botonic-cli

feat: add NodePolyfillPlugin
  package-lock.json
  packages/botonic-dx-bundler-rspack/baseline/rspack.config.ts
  packages/botonic-dx-bundler-rspack/package.json
Due: none

chore: publish dx to v0.41.0
  package-lock.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
Due: none

Release 0.41.0 (#3122)
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/flow-builder-typescript/package.json
  package-lock.json
  package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx-bundler-webpack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/package.json
  packages/botonic-react/tests/components/__snapshots__/custom-message.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace-events.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/system-debug-trace.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/text.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-button-list.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-catalog.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-cta-url-button.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-media-carousel.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-product-carousel.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-product-list.test.jsx.snap
  packages/botonic-react/tests/components/__snapshots__/whatsapp-product.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-button.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel-multibutton.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-carousel.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-reply.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-wrapper.test.jsx.snap
Due: botonic-cli, botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

feat: add timeout and remove custom retries
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/openai.ts
  packages/botonic-plugin-ai-agents/src/runner.ts
Due: none

feat: create new events
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-bot-action.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-channel.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-country.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-queue-status.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-open-webview.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
Due: botonic-core

refactor: update attributes and format version to v5
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-open-webview.ts
Due: botonic-core

feat: update handoff success event
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
Due: botonic-core

feat: track bot action node
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
Due: none

fix: readjust and add new redirect flow event
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-channel.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-redirect-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-action-triggered.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: botonic-core

tests: add tests for new events
  packages/botonic-plugin-hubtype-analytics/tests/event-bot-action.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-channel.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-country.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-queue-status.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-redirect-flow.test.ts
Due: none

fix: fix tests and update to have flow thread ids
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-channel.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-country.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-custom.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-conditional-queue-status.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-redirect-flow.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-action-triggered.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-conditional-country.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: botonic-core

fix: update imports and tests
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-action-triggered.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
Due: botonic-core

refactor: remove unneeded handoff success in event, update all tests to use v5
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-ai-agent.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-custom.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-fallback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-flow.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-handoff.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-intent-smart.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-keyword.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-knowledge-base.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: botonic-core

fix: several missing things
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/tracking.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-bot-action.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-bot-action.test.ts
Due: botonic-core

wip: initialize new events with icons
  packages/botonic-react/src/components/system-debug-trace/events/bot-action.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-channel.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-country.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-custom.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-queue-status.tsx
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/components/system-debug-trace/events/redirect-flow.tsx
  packages/botonic-react/src/components/system-debug-trace/events/webview-action-triggered.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/arrow-progress.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/code.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/split.tsx
  packages/botonic-react/src/components/system-debug-trace/icons/window-restore.tsx
Due: botonic-react

wip: complete new events, first version
  packages/botonic-react/src/components/system-debug-trace/debug-message.tsx
  packages/botonic-react/src/components/system-debug-trace/events/bot-action.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-channel.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-country.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-custom.tsx
  packages/botonic-react/src/components/system-debug-trace/events/conditional-queue-status.tsx
  packages/botonic-react/src/components/system-debug-trace/events/index.ts
  packages/botonic-react/src/components/system-debug-trace/events/redirect-flow.tsx
  packages/botonic-react/src/components/system-debug-trace/events/webview-action-triggered.tsx
  packages/botonic-react/src/components/system-debug-trace/types.ts
Due: botonic-react

refactor: keep completing handoff success event
  packages/botonic-react/src/components/system-debug-trace/events/handoff-success.tsx
  packages/botonic-react/src/index-types.ts
Due: botonic-react

feat: create new WhatsappInteractiveMediaCarousel message
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/multichannel/whatsapp/constants.ts
  packages/botonic-react/src/components/whatsapp-interactive-media-carousel.tsx
  packages/botonic-react/src/components/whatsapp-media-carousel.tsx
Due: botonic-react

feat: create WhatsappInteractiveMediaCarousel from flow builder and AiAgent
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/src/structured-output/carousel.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-element.tsx
Due: botonic-core

refactor: create FlowCarousel.fromAiAgent to render carosuel only from flow-carousel file
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
Due: none

refactor: create FlowText.fromAIAgent to render text only from FlowText file
  packages/botonic-plugin-flow-builder/src/content-fields/flow-ai-agent.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
Due: none
