Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

chore: define interface for SourceData
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

plugin-flow-builder: use new knowledge base nodes with sourceData #BLT-974 (#2881)
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/tests/__mocks__/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/first-interaction.test.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/knowledge-base.ts
  packages/botonic-plugin-flow-builder/tests/knowledge-base.test.ts
  packages/botonic-plugin-flow-builder/tests/tracking/track-knowledge-base.test.ts
Due: none

chore: bump and publish core 0.29.0
  packages/botonic-core/package.json
Due: botonic-core

chore: bump and publish react 0.29.0
  packages/botonic-react/package.json
Due: botonic-react

chore: bump and publish eslint-config 0.29.0
  packages/botonic-eslint-config/package.json
Due: none

chore: bump and publish dx 0.29.0
  packages/botonic-dx/package.json
Due: none

chore: bump and publish contentful 0.29.0
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

chore: bump and publish dahsbot 0.29.0
  packages/botonic-plugin-dashbot/package.json
Due: none

chore: bump and publish dialogflow 0.29.0
  packages/botonic-plugin-dialogflow/package.json
Due: none

chore: bump and publish dynamodb 0.29.0
  packages/botonic-plugin-dynamodb/package.json
Due: botonic-plugin-dynamodb

chore: bump and publish flow-builder 0.29.0
  packages/botonic-plugin-flow-builder/package.json
Due: none

chore: bump and publish google-analytics 0.29.0
  packages/botonic-plugin-google-analytics/package.json
Due: none

chore: bump and publish google-translation 0.29.0
  packages/botonic-plugin-google-translation/package.json
Due: none

chore: bump and publish hubtype-analytics 0.29.0
  packages/botonic-plugin-hubtype-analytics/package.json
Due: none

chore: bump and publish hubtype-babel 0.29.0
  packages/botonic-plugin-hubtype-babel/package.json
Due: none

chore: bump and publish inbenta 0.29.0
  packages/botonic-plugin-inbenta/package.json
Due: none

chore: bump and publish knowledge bases 0.29.0
  packages/botonic-plugin-knowledge-bases/package.json
Due: none

chore: bump and publish luis 0.29.0
  packages/botonic-plugin-luis/package.json
Due: none

chore: bump and publish segment 0.29.0
  packages/botonic-plugin-segment/package.json
Due: none

chore: bump and publish watson 0.29.0
  packages/botonic-plugin-watson/package.json
Due: none

update repo package-lock after bump
  package-lock.json
Due: none

update CHANGELOG.md release date
  CHANGELOG.md
Due: none

Release/0.29.0 (#2888)
  CHANGELOG.md
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

fix: upgrade zip-a-folder from 3.1.6 to 3.1.7
  packages/botonic-cli/package.json
Due: botonic-cli

fix: upgrade react-json-tree from 0.15.2 to 0.19.0
  packages/botonic-react/package.json
Due: botonic-react

refactor(botonic-react): add types
  packages/botonic-react/src/webchat/webchat-input-panel/emoji-picker.tsx
Due: botonic-react

refactor(botonic-react): create a file for opened emoji picker component
  packages/botonic-react/src/webchat/webchat-input-panel/emoji-picker.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/index.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/opened-emoji-picker.tsx
Due: botonic-react

feat(botonic-cli): use endpoints /v2/bots/ and pass bot_config in deploy as a part of FormData
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/interfaces.ts
Due: botonic-cli

test(botonic-cli): add botConfigJson in test
  packages/botonic-cli/tests/commands/deploy.test.ts
Due: botonic-cli

refactor(botonic-cli): remove baseApiUrl and use new functions apiGet and apiPost
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/interfaces.ts
Due: botonic-cli

refactor(botonic-cli): fix typo errors
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/util/bot-config-json.ts
Due: botonic-cli

refactor(botonic-cli): add type any to error
  packages/botonic-cli/src/botonic-api-service.ts
Due: botonic-cli

botonic-react: components for WebchatInputPanel (#2886)
  packages/botonic-react/src/webchat/components/opened-persistent-menu.jsx
  packages/botonic-react/src/webchat/textarea/styles.ts
  packages/botonic-react/src/webchat/webchat-input-panel/attachment.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/emoji-picker.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/index.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/opened-emoji-picker.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/persistent-menu.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/send-button.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/styles.ts
  packages/botonic-react/src/webchat/webchat-input-panel/textarea.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

test(plugin-dialogflow): add message_id and bot_interaction_id in request for test
  packages/botonic-plugin-dialogflow/tests/index.test.ts
Due: none

chore: remove use-async-effect dependency
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

chore: remove reconnecting-websocket
  package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

botonic-react: remove use-async-effect dependency (#2879)
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

plugin-dialogflow: fix tests (#2893)
  packages/botonic-plugin-dialogflow/tests/index.test.ts
Due: none
