Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

chore(plugin-knowledge-bases): update plugin-knowledge-bases to Node20 using the monorepo
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-knowledge-bases/tsconfig.esm.json
  packages/botonic-plugin-knowledge-bases/tsconfig.json
Due: none

chore(botonic): update to node 20 github actions
  .github/workflows/botonic-common-workflow.yml
Due: none

chore(plugin-google-translation): update plugin-google-translation to Node20 using the monorepo
  packages/botonic-plugin-google-translation/jest.config.js
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-google-translation/src/index.ts
  packages/botonic-plugin-google-translation/src/language-detector.ts
  packages/botonic-plugin-google-translation/tsconfig.eslint.json
  packages/botonic-plugin-google-translation/tsconfig.esm.json
  packages/botonic-plugin-google-translation/tsconfig.json
Due: none

chore(plugin-hubtype-analytics): update plugin-hubtype-analytics to Node20 using the monorepo
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.esm.json
  packages/botonic-plugin-hubtype-analytics/tsconfig.json
Due: none

chore(botonic): publish new alpha version for all packages and add npm i in prepublishOnly
  packages/botonic-core/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dialogflow/tests/index.test.ts
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

fix(botonic-react): avoid access to undefined atributs
  packages/botonic-react/src/botonic-tester.jsx
  packages/botonic-react/src/webchat/devices/device-adapter.js
Due: botonic-react

chore(plugin-contentful): update plugin-contentful to Node20 using the monorepo
  packages/botonic-plugin-contentful/jest.config.js
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/src/global.d.ts
  packages/botonic-plugin-contentful/tests/tsconfig.json
  packages/botonic-plugin-contentful/tsconfig.esm.json
  packages/botonic-plugin-contentful/tsconfig.json
Due: botonic-plugin-contentful

chore(plugin-hubtype-babel): update plugin-hubtype-babel to Node20 using the monorepo
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-hubtype-babel/tsconfig.esm.json
  packages/botonic-plugin-hubtype-babel/tsconfig.json
Due: none

chore(plugin-luis): update plugin-luis to Node20 using the monorepo
  packages/botonic-plugin-luis/package.json
Due: none

chore(botonic-dx): upgrade dependencies in botonic-dx and botonic-eslint-config
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/index.js
  packages/botonic-eslint-config/package.json
Due: none

chore(eslint-config): update eslint-config packages versions to use Node20 with npm monorepo
  packages/botonic-eslint-config/package.json
Due: none

chore(botonic): remove github actions for removed packages
  .github/workflows/botonic-nlp-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-ner-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
Due: none

chore(plugin-google-analytics): update plugin-google-analytics to Node20 using the monorepo
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.ts
  packages/botonic-plugin-google-analytics/tsconfig.base.json
  packages/botonic-plugin-google-analytics/tsconfig.esm.json
  packages/botonic-plugin-google-analytics/tsconfig.json
Due: none

chore(plugin-dialowflow): update plugin-dialogflow to Node20 using the monorepo
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dialogflow/src/index.ts
  packages/botonic-plugin-dialogflow/src/types.ts
  packages/botonic-plugin-dialogflow/tsconfig.esm.json
Due: none

chore(plugin-dynamodb): update plugin-dynamodb to Node20 using the monorepo
  packages/botonic-plugin-dynamodb/jest.config.js
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-dynamodb/src/index.ts
  packages/botonic-plugin-dynamodb/src/infrastructure/dynamo.ts
  packages/botonic-plugin-dynamodb/tests/domain/track.test.ts
  packages/botonic-plugin-dynamodb/tsconfig.esm.json
Due: botonic-plugin-dynamodb

chore(botonic-dx): update botonic-dx packages versions to use Node20 with npm monorepo
  packages/botonic-dx/baseline/babel.config.js
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/botonic-app-config/webpack/transpiling/babel-loader.js
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/package.json
Due: none

chore(botonic-cli): update botonic-cli to Node20 using the monorepoand remove train command and 1.0 logic
  packages/botonic-cli/README.md
  packages/botonic-cli/jest.config.js
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/destroy.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/file-system.ts
  packages/botonic-cli/tests/botonic-api-service.test.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/commands/new.test.ts
  packages/botonic-cli/tests/commands/train.test.ts
  packages/botonic-cli/tsconfig.json
Due: botonic-cli

chore(plugin-segment): update plugin-segment to Node20 using the monorepo
  packages/botonic-plugin-segment/package.json
Due: none

chore(plugin-watson): update plugin-watson to Node20 using the monorepo
  packages/botonic-plugin-watson/package.json
Due: none

chore(plugin-dashbot): update plugin-dashbot to Node20 using the monorepo
  packages/botonic-plugin-dashbot/package.json
Due: none

chore(plugin-inbenta): update plugin-inbenta to Node20 using the monorepo
  packages/botonic-plugin-inbenta/package.json
Due: none

chore(botonic): update root package, tsconfig.base.json, remove lerna.json
  .pre-commit-config.yaml
  lerna.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: none

refactor(plugin-flow-builder): change crypto for uuid to be able to run locally without modifying webpack
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
Due: none

chore(plugin-contentful): add tsconfig for tests
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-contentful/tests/tsconfig.json
Due: botonic-plugin-contentful

chore: added tests scripts for non-test packages
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
Due: none

chore(botonic): remove preinstall script and lint_ci for all packages
  package-lock.json
  packages/.eslintrc_slow.js
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
  preinstall.js
Due: botonic-cli, botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

WIP
  examples/blank-typescript/package.json
  examples/blank/.gitignore
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/telco-offers/package.json
  package-lock.json
  package.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/analytics/credentials-handler.ts
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/download-gzip.ts
  packages/botonic-cli/tests/commands/new.test.ts
Due: botonic-cli

chore(plugin): update github actions using monorepo and pre-commit-config
  .github/workflows/botonic-ci-test-all-packages.yml
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-google-analytics-tests.yml
  .github/workflows/botonic-react-tests.yml
  .pre-commit-config.yaml
  package-lock.json
  package.json
  preinstall.js
  tsconfig.esm.base.json
Due: none

chore(smart-intents): init smart intents plugin
  packages/botonic-plugin-smart-intents/README.md
  packages/botonic-plugin-smart-intents/package.json
  packages/botonic-plugin-smart-intents/src/index.ts
  packages/botonic-plugin-smart-intents/tsconfig.esm.json
  packages/botonic-plugin-smart-intents/tsconfig.json
Due: none

feat(react): move truncateText function outside the MultichannelButton component to be reused in the WhatsappButtonList component
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/util/index.ts
  packages/botonic-react/src/util/strings.ts
Due: botonic-react

feat(react): truncate contents in WhatsappButtonList component if they exceed the max allowed chars
  packages/botonic-react/src/components/whatsapp-button-list.tsx
Due: botonic-react

test(react): add tests for the WhatsappButtonList component
  packages/botonic-react/tests/components/__snapshots__/whatsapp-button-list.test.jsx.snap
  packages/botonic-react/tests/components/whatsapp-button-list.test.jsx
Due: botonic-react

test(react): fix multichannel-text tests after truncating texts of WhatsappButtonList component
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
Due: botonic-react

refactor(react): don't apply markdown in MultichannelText when creating a WhatsappButtonList and apply it inside the WhatsappButtonList component
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/whatsapp-button-list.tsx
Due: botonic-react

test(react): update multichannel-text tests
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
Due: botonic-react

chore(react): bump version to 0.24.5 + update CHANGELOG
  CHANGELOG.md
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

botonic-react: truncate contents in WhatsappButtonList component if they exceed the limits (#2801)
  CHANGELOG.md
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/multichannel/multichannel-button.jsx
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/src/components/whatsapp-button-list.tsx
  packages/botonic-react/src/util/index.ts
  packages/botonic-react/src/util/strings.ts
  packages/botonic-react/tests/components/__snapshots__/whatsapp-button-list.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/whatsapp-button-list.test.jsx
Due: botonic-react

chore(botonic): remove botonic-api from 1.0.0-dev.1
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/handlers/bot-executor/index.ts
  packages/botonic-api/src/handlers/index.ts
  packages/botonic-api/src/handlers/sender/aws-sender.ts
  packages/botonic-api/src/handlers/sender/index.ts
  packages/botonic-api/src/handlers/sender/local-sender.ts
  packages/botonic-api/src/index.ts
  packages/botonic-api/src/rest/index.ts
  packages/botonic-api/src/rest/routes/auth.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-api/src/rest/routes/users.ts
  packages/botonic-api/src/rest/routes/validation/common.ts
  packages/botonic-api/src/rest/routes/validation/events.ts
  packages/botonic-api/src/rest/routes/validation/users.ts
  packages/botonic-api/src/rest/utils/paginator.ts
  packages/botonic-api/src/websocket/aws-websocket-server.ts
  packages/botonic-api/src/websocket/index.ts
  packages/botonic-api/src/websocket/local-websocket-server.ts
  packages/botonic-api/tsconfig.json
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/destroy.ts
Due: botonic-cli
