Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

chore: bump core/react to 0.21.1 and plugin-contentful to 0.21.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-plugin-contentful, botonic-react

feat(botonic-plugin-flow-builder): set main package structure
  packages/botonic-plugin-flow-builder/README.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/text.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-provider.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/hubtype-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
  packages/botonic-plugin-flow-builder/tsconfig.base.json
  packages/botonic-plugin-flow-builder/tsconfig.esm.json
  packages/botonic-plugin-flow-builder/tsconfig.json
Due: none

chore(plugin-flow-builder): rename subtype to action, bump alpha version
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): bump alpha version
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

feat(plugin-flow-builder): add startId function
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/hubtype-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): pass getLocale function from constructor
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): check only queue schedule availability, add some triple equals
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: none

fix(plugin-flow-builder): rename queueId to queue_id
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
Due: none

feat(plugin-flow-builder): passing acccess token method to plugin
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/functions/index.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): fix initialization of options and read HUBTYPE_API_URL from env var
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: none

feat(plugin-flow-builder): read flowContents in pre
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): move getImageByLocale to ContentBase class and export Plugin types
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/utils.ts
Due: none

feat(core): add Contact Message Event type
  packages/botonic-core/src/models/events/message/contact.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
Due: botonic-core

test(core): add tests for the new Contact Message Event type
  packages/botonic-core/tests/parsing/contact.test.tsx
Due: botonic-core

style(core): remove console.log
  packages/botonic-core/src/output-parser/factory.ts
Due: botonic-core

feat(plugin-flow-builder): fixing errors with getLocate and misspelling
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): removing getOpenQueues, added missing options, moving message to FlowBuilderActionProps
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/handoff.ts
Due: none

fix(plugin-flow-builder): Removed console logs
  packages/botonic-plugin-flow-builder/src/action.tsx
Due: none

feat(react): add in CUSTOM_PROPERTIES customEmojiPicker and customAttachments
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/constants.js
Due: botonic-react

chore(plugin-google-analytics): replace old plugin by new one
  packages/botonic-plugin-google-analytics-v4/README.md
  packages/botonic-plugin-google-analytics-v4/package-lock.json
  packages/botonic-plugin-google-analytics-v4/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.js
  packages/botonic-plugin-google-analytics/src/index.ts
  packages/botonic-plugin-google-analytics/src/types.ts
  packages/botonic-plugin-google-analytics/tsconfig.base.json
  packages/botonic-plugin-google-analytics/tsconfig.esm.json
  packages/botonic-plugin-google-analytics/tsconfig.json
Due: none

feat(botonic-react): render the custom component if it exists
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

chore(plugin-google-analytics): bump version to 0.22.0
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
Due: none

feat(botonic-react): render the custom component if it is defined in CUSTOM_PROPERTIES
  packages/botonic-react/src/webchat/components/attachment.jsx
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
Due: botonic-react

chore(botonic-react): add build:watch script
  packages/botonic-react/package.json
Due: botonic-react

chore(plugin-google-analytics): remove unused code, improve interfaces and pass values through options object
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-analytics/src/index.ts
  packages/botonic-plugin-google-analytics/src/types.ts
Due: none

chore(plugin-google-analytics): try to fix linter
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
Due: none

chore(plugin-flow-builder): add session to types for getLocale
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

Plugin Flow Builder - Make handoff simpler (#2313)
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/handoff.ts
Due: none

chore(plugin-flow-builder): add missing types
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/text.tsx
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/hubtype-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): rename hubtype-models to flow-builder-models
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/text.tsx
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-flow-builder): get rid of Ht prefix
  packages/botonic-plugin-flow-builder/src/content-fields/button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/text.tsx
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-flow-builder): refactor types to match the ones in JSON schema
  packages/botonic-plugin-flow-builder/src/content-fields/carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/element.tsx
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
  packages/botonic-plugin-flow-builder/src/functions/conditional-queue-status.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(plugin-flow-builder): renaming and create content-fields as a module folder
  packages/botonic-plugin-flow-builder/src/action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/content-fields-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-image.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/content-fields/types.ts
  packages/botonic-plugin-flow-builder/src/handoff.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(core): bump version to 0.21.2
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/events/message/message-event.ts
Due: botonic-core

feat(core): Add Contact Message Event type (#2312)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/events/message/contact.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/parsing/contact.test.tsx
Due: botonic-core

refactor(botonic-react): rename functions typo error
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

feat(botonic-react): create ConditionalAnimation as a component
  packages/botonic-react/src/webchat/components/conditional-animation.jsx
Due: botonic-react
