Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

refactor: prepare for refactor, fix disabling scroll when no scrollbar is available in safari
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/webchat/components/scrollable-content.jsx
  packages/botonic-react/src/webchat/constants.ts
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/hooks/index.ts
  packages/botonic-react/src/webchat/hooks/use-device-adapter.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
  packages/botonic-react/src/webchat/replies.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

refactor: put relevant refs in webchat context, adapt code and remove old js classes in devices
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/devices/webchat-resizer.js
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/hooks/index.ts
  packages/botonic-react/src/webchat/hooks/use-device-adapter.ts
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-resizer.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/replies.jsx
  packages/botonic-react/src/webchat/webchat-chat-area/index.tsx
  packages/botonic-react/src/webchat/webchat-chat-area/styles.ts
  packages/botonic-react/src/webchat/webchat-input-panel/index.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/textarea.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

wip
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/hooks/index.ts
  packages/botonic-react/src/webchat/hooks/use-device-adapter.ts
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
  packages/botonic-react/src/webchat/hooks/use-virtual-keyboard-detection.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-resizer.ts
  packages/botonic-react/src/webchat/webchat-input-panel/textarea.tsx
Due: botonic-react

refactor: get rid of some of dom utils in favour of use-scroll-to-bottom and remove callbacks in scrollbarcontroller
  packages/botonic-react/src/util/dom.js
  packages/botonic-react/src/webchat/hooks/index.ts
  packages/botonic-react/src/webchat/hooks/use-device-adapter.ts
  packages/botonic-react/src/webchat/hooks/use-scroll-to-bottom.ts
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-resizer.ts
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

fix: fix webchat not resizing properly on keyboard blur
  packages/botonic-react/src/webchat/hooks/use-webchat-resizer.ts
Due: botonic-react

refactor: simplify use-webchat-resizer
  packages/botonic-react/src/webchat/hooks/use-device-adapter.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-resizer.ts
Due: botonic-react

chore: add TODO for further investigation of scrollbar when some messages appear in chat area
  packages/botonic-react/src/webchat/hooks/use-device-adapter.ts
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
Due: botonic-react

refactor: create use-webchat-dimensions
  packages/botonic-react/src/webchat/hooks/index.ts
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-dimensions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-resizer.ts
  packages/botonic-react/src/webchat/webchat-chat-area/index.tsx
Due: botonic-react

fix: put window prefixing visualViewport
  packages/botonic-react/src/webchat/hooks/use-virtual-keyboard-detection.ts
Due: botonic-react

refactor: remove jwt code logic
  packages/botonic-react/src/webchat/actions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/webchat-reducer.ts
Due: botonic-react

chore: update ua-parser-js
  package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

chore: solve path-to-regexp vulnerability
  package-lock.json
Due: none

refactor: remove jwt code logic (#2905)
  packages/botonic-react/src/webchat/actions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/index-types.ts
  packages/botonic-react/src/webchat/webchat-reducer.ts
Due: botonic-react

chore: update ua-parser-js (#2906)
  package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

refactor: simplify webviews frame and remove react-frame-component
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webview.jsx
Due: botonic-react

refactor: simplify webviews frame and remove react-frame-component (#2907)
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/webview.jsx
Due: botonic-react

refactor(botonic-react): type closeWebview as an async function
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webchat/webview.jsx
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

refactor(botonic-react): use forward ref in CustomHeader
  packages/botonic-react/src/webchat/header.jsx
Due: botonic-react

botonic-react: type closeWebview as an async function (#2908)
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/webchat.jsx
  packages/botonic-react/src/webchat/webview.jsx
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

chore(botonic): prepare release v0.30.0
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

botonic: prepare release v0.30.0 (#2910)
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/booking-platform/package.json
  examples/childs/package.json
  examples/custom-webchat/package.json
  examples/dynamic-carousel/package.json
  examples/dynamodb/package.json
  examples/handoff/package.json
  examples/intent/package.json
  examples/telco-offers/package.json
  examples/tutorial/package.json
  package-lock.json
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

refactor(cli): use Promise.all to execute the 3 asynchronous functions at the same time
  packages/botonic-cli/src/util/bot-config-json.ts
Due: botonic-cli

refactor(cli): every package is an object with an attribute version
  packages/botonic-cli/src/util/bot-config-json.ts
Due: botonic-cli

feat(cli): create/update bot.config.json in every deploy
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/util/bot-config-json.ts
Due: botonic-cli

chore(cli): use tsc of monorepo for build:watch script
  packages/botonic-cli/package.json
Due: botonic-cli

refactor(cli): type error as any
  packages/botonic-cli/src/util/bot-config-json.ts
Due: botonic-cli

cli: use async await insted of then in deploy (#2885)
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/bot-config-json.ts
  packages/botonic-cli/src/util/bot-config.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
Due: botonic-cli

refactor(cli): add botonic_cli_version in build_info
  packages/botonic-cli/src/util/bot-config-json.ts
Due: botonic-cli

refactor(cli): rename function
  packages/botonic-cli/src/util/bot-config-json.ts
Due: botonic-cli

refactor(botonic-cli): use regex to get only cli version
  packages/botonic-cli/src/util/bot-config.ts
Due: botonic-cli

refactor(botonic-cli): use === instaed of ==
  packages/botonic-cli/src/commands/deploy.ts
Due: botonic-cli

chore(botonic-cli): publish 0.29.0-apha.0 version
  packages/botonic-cli/README.md
Due: botonic-cli

chore: update CHANGELOG
  CHANGELOG.md
Due: none

cli: send bot config to backend in botonic deploy #BLT-1008 (#2884)
  CHANGELOG.md
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/bot-config.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
Due: botonic-cli

feat(botonic-react): remove getConfig function
  packages/botonic-react/src/node-app.jsx
Due: botonic-react

botonic-react: remove getConfig function #BLT-1036 (#2902)
  CHANGELOG.md
  packages/botonic-react/src/node-app.jsx
Due: botonic-react

refactor(plugin-flow-builder): remove unused params in FlowBotAction
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
Due: none

feat(botonic-core): rerun core-bot if response session._bototnic_action starts with flow_builder_bot_action:
  packages/botonic-core/src/core-bot.ts
Due: botonic-core

feat(plugin-flow-builder): create FlowBotAction
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
Due: none
