Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

feat(plugin-text-classification): ModelInfo implemented
  packages/botonic-plugin-text-classification/src/model/model-info.ts
Due: none

refactor(plugin-ner): node-fetch dependency replaced by cross-fetch
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/model/model-info.ts
  packages/botonic-plugin-ner/src/model/ner.ts
Due: botonic-plugin-ner

refactor: homogenize src and change from text->title
  packages/botonic-react/src/components/audio.jsx
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/document.jsx
  packages/botonic-react/src/components/image.jsx
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/video.jsx
  packages/botonic-react/src/msg-to-botonic.jsx
Due: botonic-react

refactor(plugin-ner): fetch comment moved
  packages/botonic-plugin-ner/src/model/model-info.ts
Due: botonic-plugin-ner

refactor(plugin-ner): Cross-fetch used #BOT-357 (#1496)
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/model/model-info.ts
  packages/botonic-plugin-ner/src/model/ner.ts
Due: botonic-plugin-ner

feat(contentful): improve error reporting (#1470)
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/exceptions.ts
  packages/botonic-plugin-contentful/tests/cms/cms-error.test.ts
  packages/botonic-plugin-contentful/tests/cms/exceptions.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
Due: botonic-plugin-contentful

feat(plugin-text-classification): Plugin Utils implementation #BOT-343 (#1473)
  packages/botonic-plugin-text-classification/src/utils/environment-utils.ts
  packages/botonic-plugin-text-classification/src/utils/locale-utils.ts
  packages/botonic-plugin-text-classification/tests/utils/locale-utils.test.ts
Due: none

feat(plugin-text-classification): Model Selector implementation #BOT-347 (#1474)
  packages/botonic-plugin-text-classification/src/index.ts
  packages/botonic-plugin-text-classification/src/model/model-info.ts
  packages/botonic-plugin-text-classification/src/model/model-selector.ts
Due: none

feat(plugin-text-classification): ModelInfo implemented (#1475)
  packages/botonic-plugin-text-classification/src/model/model-info.ts
Due: none

feat(plugin-text-classification): BotonicPluginTextClassification implementation #BOT-342 (#1472)
  packages/botonic-plugin-text-classification/jest.config.js
  packages/botonic-plugin-text-classification/package-lock.json
  packages/botonic-plugin-text-classification/package.json
  packages/botonic-plugin-text-classification/src/constants.ts
  packages/botonic-plugin-text-classification/src/index.ts
  packages/botonic-plugin-text-classification/src/model/model-selector.ts
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
  packages/botonic-plugin-text-classification/src/types.ts
  packages/botonic-plugin-text-classification/src/utils/locale-utils.ts
  packages/botonic-plugin-text-classification/tsconfig.eslint.json
  packages/botonic-plugin-text-classification/tsconfig.json
Due: none

feat(plugin-text-classification): sequence not needed
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
Due: none

refactor(plugin-text-classification): output is Tensor2D type
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
Due: none

feat(plugin-text-classification): TextClassifier implemented
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

refactor(plugin-text-classification): cross-fetch used
  packages/botonic-plugin-text-classification/package-lock.json
  packages/botonic-plugin-text-classification/package.json
  packages/botonic-plugin-text-classification/src/model/model-info.ts
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
Due: none

chore: remove unused code, fix location msg and media messages supporting buttons
  packages/botonic-react/src/components/audio.jsx
  packages/botonic-react/src/components/document.jsx
  packages/botonic-react/src/components/image.jsx
  packages/botonic-react/src/components/location.jsx
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/components/video.jsx
  packages/botonic-react/src/msg-to-botonic.jsx
Due: botonic-react

feat(plugin-text-classification): TextClassifier implemented #BOT-349 (#1476)
  packages/botonic-plugin-text-classification/package-lock.json
  packages/botonic-plugin-text-classification/package.json
  packages/botonic-plugin-text-classification/src/model/model-info.ts
  packages/botonic-plugin-text-classification/src/model/text-classifier.ts
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

refactor: homogenize carousel messages
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/msg-to-botonic.jsx
Due: botonic-react

chore(contentful): escape-string-regexp 5.0 needs transpilation
  packages/botonic-plugin-contentful/jest.config.js
Due: botonic-plugin-contentful

chore: adapt custom msg in msgToBotonic
  packages/botonic-react/src/msg-to-botonic.jsx
Due: botonic-react

refactor(plugin-text-classification): encoder created in constructor
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

feat(plugin-text-classification): TextProcessor implemented
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

feat(plugin-text-classification): tensor2d function used
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

refactor(plugin-text-classification): encoder updated
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

chore: update codecov's action version
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

feat(plugin-text-classification): TextProcessor implemented #BOT-345 (#1477)
  packages/botonic-plugin-text-classification/src/process/text-processor.ts
Due: none

feat(plugin-text-classification): PredictionProcessor implemented
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
Due: none

feat(plugin-text-classification): PredictionProcessor implemented (#1478)
  packages/botonic-plugin-text-classification/src/process/prediction-processor.ts
Due: none

test(botonic): enable plugin-text-classification tests
  .github/workflows/botonic-plugin-text-classification-tests.yml
  .pre-commit-config.yaml
  codecov.yml
Due: none

chore: update codecov's action version (#1500)
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

refactor(plugin-text-classification): requested changes applied
  .github/workflows/botonic-plugin-text-classification-tests.yml
Due: none

test(botonic): enable plugin-text-classification tests #BOT-363 (#1501)
  .github/workflows/botonic-plugin-text-classification-tests.yml
  .pre-commit-config.yaml
  codecov.yml
Due: none

test(plugin-text-classification): confidence assert added
  packages/botonic-plugin-text-classification/tests/process/prediction-processor.test.ts
Due: none

test(plugin-text-classification): helpers implementation
  packages/botonic-plugin-text-classification/tests/helpers/constants-helper.ts
  packages/botonic-plugin-text-classification/tests/helpers/tools-helper.ts
Due: none

test(plugin-text-classification): processors tests implementation
  packages/botonic-plugin-text-classification/tests/process/prediction-processor.test.ts
  packages/botonic-plugin-text-classification/tests/process/text-processor.test.ts
Due: none

chore(contentful): escape-string-regexp 5.0 needs transpilation (#1497)
  packages/botonic-plugin-contentful/jest.config.js
Due: botonic-plugin-contentful

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
