Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

refactor: attribut type is not optional
  packages/botonic-cli/src/util/bot-config.ts
  packages/botonic-core/src/models/bot-config.ts
Due: botonic-cli, botonic-core

feat: remove default variables
  examples/flow-builder-typescript/src/bot-config.ts
Due: none

feat: allow reasoning effort attribut in AIAgentArgs
  package-lock.json
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/llm-config.ts
Due: botonic-core

test: update test with medium effort by default
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
Due: none

chore: bump botonic to 0.51.1
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
Due: botonic-core

chore: update @botonic/core dependency to version 0.51.1
  packages/botonic-plugin-ai-agents/package.json
Due: none

chore: update @botonic/core dependency to version 0.51.1 in package-lock.json
  package-lock.json
Due: none

refactor: remove comented type
  packages/botonic-core/src/models/ai-agents.ts
Due: botonic-core

feat: allow set reasoningEffort in AIAgentArgs (#3241)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/llm-config.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
Due: botonic-core

chore: bump cli
  package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

chore: update CHANGELOGs
  packages/botonic-cli/CHANGELOG.md
  packages/botonic-core/CHANGELOG.md
Due: botonic-cli, botonic-core

WIP
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/constants.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/llm-config.ts
  packages/botonic-plugin-ai-agents/src/runners/base-runner.ts
  packages/botonic-plugin-ai-agents/src/trace-processor.ts
Due: none

WIP
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/content-fields-base.ts
Due: botonic-core

fix: adjust reasoning effort for chat models in LLMConfig
  packages/botonic-plugin-ai-agents/src/llm-config.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
Due: none

feat: add disableForceRetrieveKnowledge option to AI agents
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/src/agents/specialist-agent.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
Due: botonic-core

chore: update package versions to 0.51.2 for core and AI agents
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
Due: botonic-core

Reasoning effort none as default (#3243)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/ai-agents.ts
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/agents/specialist-agent.ts
  packages/botonic-plugin-ai-agents/src/llm-config.ts
  packages/botonic-plugin-ai-agents/tests/agent-builder.test.ts
  packages/botonic-plugin-ai-agents/tests/llm-config.test.ts
Due: botonic-core

chore: bump versions of @botonic/core and @botonic/plugin-ai-agents to 0.51.3
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-ai-agents/package.json
Due: botonic-core

refactor: remove unecessary code
  packages/botonic-plugin-flow-builder/src/content-fields/content-fields-base.ts
Due: none

refactor: reasoning effort handling in AI agents
  packages/botonic-plugin-ai-agents/src/agents/base-agent.ts
  packages/botonic-plugin-ai-agents/src/agents/specialist-agent.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/llm-config.ts
Due: none

chore: bump @botonic/plugin-ai-agents version to 0.51.4 in package.json and package-lock.json
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
Due: none

update CHANGELOG
  packages/botonic-plugin-ai-agents/CHANGELOG.md
Due: none

docs: update README to reflect new environment variable names for AI agents
  packages/botonic-plugin-ai-agents/README.md
Due: none

Use disable force when create specialist agent (#3244)
  package-lock.json
  packages/botonic-plugin-ai-agents/CHANGELOG.md
  packages/botonic-plugin-ai-agents/README.md
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-ai-agents/src/agents/base-agent.ts
  packages/botonic-plugin-ai-agents/src/agents/specialist-agent.ts
  packages/botonic-plugin-ai-agents/src/index.ts
  packages/botonic-plugin-ai-agents/src/llm-config.ts
Due: none

WIP
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-webview.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/webview.ts
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
  packages/botonic-react/src/util/webviews.ts
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/context/webchat-reducer.ts
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/src/webchat/webview/index.tsx
  packages/botonic-react/tests/util/webviews.test.js
  packages/botonic-react/tests/webchat/get-webview-in-dev-mode.test.js
  packages/botonic-react/tests/webchat/usewebchat.test.jsx
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: botonic-react

chore: publish plugins
  package-lock.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

chore: publish examples
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/flow-builder-typescript/package.json
  examples/flow-builder-typescript/src/server/domain/user-data.ts
  package-lock.json
Due: none

chore: publish cli
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
Due: botonic-cli

feat(botonic-cli): add variables in bot config in each deployment #BLT-2449 (#3239)
  examples/blank-typescript/package.json
  examples/blank/package.json
  examples/flow-builder-typescript/package.json
  examples/flow-builder-typescript/src/bot-config.ts
  examples/flow-builder-typescript/src/server/domain/user-data.ts
  package-lock.json
  package.json
  packages/botonic-cli/CHANGELOG.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-examples.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/util/bot-config.ts
  packages/botonic-cli/tests/commands/deploy.test.ts
  packages/botonic-cli/tests/util/bot-config.test.ts
  packages/botonic-core/CHANGELOG.md
  packages/botonic-core/package.json
  packages/botonic-core/src/models/bot-config.ts
  packages/botonic-core/src/models/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/utils/bot-config.ts
  packages/botonic-core/src/utils/check-providers.ts
  packages/botonic-core/src/utils/functional.ts
  packages/botonic-core/src/utils/index.ts
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/content-fields-base.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/common.ts
Due: botonic-cli, botonic-core

refactor: export FlowWhatsappButtonListSection and FlowWhatsappButtonListRow
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
Due: none

chore: bump version of @botonic/plugin-flow-builder to 0.51.2
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

update CHANGELOG
  packages/botonic-plugin-flow-builder/CHANGELOG.md
Due: none

plugin-flow-builder: Export flow whatsapp section and row (#3246)
  package-lock.json
  packages/botonic-plugin-flow-builder/CHANGELOG.md
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
Due: none

feat(flow-builder): enhance fromHubtypeCMS methods to include botContext and add webview params with replaced variables
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-webview.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/flow-factory.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/webview.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
Due: none

feat: use an empty object if webview_params is null or undefined
  packages/botonic-plugin-flow-builder/src/content-fields/flow-webview.tsx
Due: none

chore: bump botonic versions to 0.52.0-alpha.0
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-react

chore: update @botonic dependencies to version 0.52.0-alpha.0 in package-lock.json
  package-lock.json
Due: none

0.52.0-alpha.0
  package-lock.json
  package.json
Due: none

react & plugin-flow-builder: use webview params from flow builder #BLT-2460 (#3245)
  package-lock.json
  package.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx-bundler-rspack/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-ai-agents/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-carousel.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-element.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-webview.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-whatsapp-cta-url-button.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/webview.ts
  packages/botonic-plugin-flow-builder/src/flow-factory.ts
  packages/botonic-plugin-flow-builder/tests/helpers/flows/webview.ts
  packages/botonic-plugin-flow-builder/tests/messages/flow-text.test.ts
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/whatsapp-cta-url-button.tsx
  packages/botonic-react/src/util/webviews.ts
  packages/botonic-react/src/webchat/context/types.ts
  packages/botonic-react/src/webchat/context/use-webchat.ts
  packages/botonic-react/src/webchat/context/webchat-reducer.ts
  packages/botonic-react/src/webchat/webchat.tsx
  packages/botonic-react/src/webchat/webview/index.tsx
  packages/botonic-react/tests/util/webviews.test.js
  packages/botonic-react/tests/webchat/get-webview-in-dev-mode.test.js
  packages/botonic-react/tests/webchat/usewebchat.test.jsx
  packages/botonic-react/tests/webchat/webchat.component.test.jsx
Due: botonic-cli, botonic-core, botonic-react

feat(hubtype-analytics): add webview params to event WebviewActionTriggered
  packages/botonic-core/src/models/hubtype-analytics.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-webview.tsx
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-webview-action-triggered.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-webview.test.ts
Due: botonic-core
