Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

feat(nlp): Text Classification - Storage (#1435)
  packages/botonic-nlp/src/tasks/text-classification/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/text-classification/storage/types.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/model/config.json
  packages/botonic-nlp/tests/tasks/text-classification/storage/config-storage.test.ts
Due: botonic-nlp

test(nlp): BotonicTextClassifier tested
  packages/botonic-nlp/tests/dataset/loader.test.ts
  packages/botonic-nlp/tests/helpers/general-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
Due: botonic-nlp

feat(nlp): BotonicTextClassifier partially implemented
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/src/tasks/text-classification/models/types.ts
Due: botonic-nlp

refactor(nlp): Text Classification task (#1454)
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
  packages/botonic-nlp/src/tasks/text-classification/models/constants.ts
  packages/botonic-nlp/src/tasks/text-classification/models/simple-nn.ts
  packages/botonic-nlp/src/tasks/text-classification/models/types.ts
  packages/botonic-nlp/src/tasks/text-classification/process/prediction-processor.ts
  packages/botonic-nlp/src/tasks/text-classification/process/processor.ts
  packages/botonic-nlp/src/tasks/text-classification/process/types.ts
  packages/botonic-nlp/src/tasks/text-classification/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/text-classification/storage/types.ts
  packages/botonic-nlp/tests/dataset/loader.test.ts
  packages/botonic-nlp/tests/helpers/general-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/text-classification/model/config.json
  packages/botonic-nlp/tests/helpers/tasks/text-classification/tools-helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/models/simple-nn.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/prediction-processor.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/process/processor.test.ts
  packages/botonic-nlp/tests/tasks/text-classification/storage/config-storage.test.ts
Due: botonic-nlp

refactor(nlp): dataset load method
  packages/botonic-nlp/src/dataset/dataset.ts
  packages/botonic-nlp/src/dataset/loader.ts
  packages/botonic-nlp/src/dataset/types.ts
Due: botonic-nlp

feat(nlp): dataset class implemented
  packages/botonic-nlp/src/dataset/dataset.ts
  packages/botonic-nlp/src/utils/array-utils.ts
  packages/botonic-nlp/tests/dataset/dataset.test.ts
Due: botonic-nlp

refactor(nlp): Dataset integration into BotonicNer
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
Due: botonic-nlp

refactor(nlp): helpers modified
  packages/botonic-nlp/tests/dataset/loader.test.ts
  packages/botonic-nlp/tests/helpers/constants-helper.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/helpers/tools-helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
Due: botonic-nlp

refactor(nlp): Dataset integrated into BotonicTextClassifier
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
Due: botonic-nlp

test(nlp): BotonicTextClassifier test updated
  packages/botonic-nlp/tests/tasks/text-classification/botonic-text-classifier.test.ts
Due: botonic-nlp

refactor(nlp): split error message corrected
  packages/botonic-nlp/src/dataset/dataset.ts
Due: botonic-nlp

test(nlp): Dataset split method error tested
  packages/botonic-nlp/tests/dataset/dataset.test.ts
Due: botonic-nlp

feat(nlp): selection files removed
  packages/botonic-nlp/src/preprocess/selection.ts
  packages/botonic-nlp/tests/preprocess/selection.test.ts
Due: botonic-nlp

refactor(nlp): randomSort renamed to shuffle
  packages/botonic-nlp/src/dataset/dataset.ts
  packages/botonic-nlp/src/utils/array-utils.ts
Due: botonic-nlp

refactor(nlp): DatasetInfo removed
  packages/botonic-nlp/src/dataset/dataset.ts
  packages/botonic-nlp/src/dataset/loader.ts
  packages/botonic-nlp/src/dataset/types.ts
Due: botonic-nlp

feat(nlp): preprocess method implemented
  packages/botonic-nlp/src/preprocess/preprocessor.ts
Due: botonic-nlp

feat(nlp): default normalize applies toLowerCase
  packages/botonic-nlp/src/preprocess/preprocessor.ts
Due: botonic-nlp

fix(nlp): removed PaddingPosition from import
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
Due: botonic-nlp

refactor(nlp): pad method split into pad and truncate
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/preprocess/types.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
Due: botonic-nlp

test(nlp): Preprocessor test updated
  packages/botonic-nlp/tests/preprocess/preprocessor.test.ts
Due: botonic-nlp

refactor(nlp): Engines type moved to preprocessor file
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/preprocess/types.ts
Due: botonic-nlp

refactor(nlp): engines interfaces moved
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stemmer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/tokenizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stemmer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/src/preprocess/engines/types.ts
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/src/tasks/text-classification/botonic-text-classifier.ts
Due: botonic-nlp

feat(contentful): Document components in Contentful plugin
  packages/botonic-plugin-contentful/bin/migrations/content-types/document.ts
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/document.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/document.test.ts
Due: botonic-plugin-contentful

feat(contentful): add builders and tests for Image & Document
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/tests/render/botonic-converter.test.ts
Due: botonic-plugin-contentful

chore(contentful): fixes and additions to content-type migrations
  packages/botonic-plugin-contentful/bin/migrations/content-types/carousel.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/document-image.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/document.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/startup.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/text.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/url-image.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/url-shorttext.ts
  packages/botonic-plugin-contentful/bin/migrations/factories.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/document.test.ts
  packages/botonic-plugin-contentful/tests/tools/validate-all-contents.test.ts
Due: botonic-plugin-contentful

Contentful/document (#1417)
  packages/botonic-plugin-contentful/bin/migrations/content-types/carousel.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/daterange.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/document-image.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/queue.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/startup.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/text.ts
  packages/botonic-plugin-contentful/bin/migrations/content-types/url-image.ts
  packages/botonic-plugin-contentful/bin/migrations/factories.ts
  packages/botonic-plugin-contentful/bin/migrations/migrate_contents.sh
  packages/botonic-plugin-contentful/src/cms/callback.ts
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/document.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/render/botonic-converter.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/document.test.ts
  packages/botonic-plugin-contentful/tests/render/botonic-converter.test.ts
  packages/botonic-plugin-contentful/tests/tools/validate-all-contents.test.ts
Due: botonic-plugin-contentful

style(core): remove RouteRequest type replace it with BotRequest in Routes type
  packages/botonic-core/src/types/index.d.ts
Due: botonic-core

refactor(react): adapt msgToBotonic to new format
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/components/markdown.js
  packages/botonic-react/src/components/message.jsx
  packages/botonic-react/src/msg-to-botonic.jsx
Due: botonic-react

chore(eslint-config): shareable eslint config package
  packages/botonic-core/README.md
  packages/botonic-eslint-config/README.md
  packages/botonic-eslint-config/index-ci.js
  packages/botonic-eslint-config/index.js
  packages/botonic-eslint-config/package.json
Due: botonic-core

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
