Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

refactor(botonic-react): rename constant to triggerButtonNotificationsEnabled
  packages/botonic-react/src/constants.js
Due: botonic-react

Botonic react: property to disable trigger button notifications (#2589)
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/webchat/trigger-button/index.tsx
Due: botonic-react

refactor(flow-builder): replace variables in text when FlowText is create
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

refactor(hubtype-analytics): export from index types and utils
  packages/botonic-plugin-hubtype-analytics/src/index.ts
Due: none

refactor(hubtype-analytics): add queue_id in handoff events
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-fail.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-handoff-success.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: none

chore(hubtype-analytics): bump version
  packages/botonic-plugin-hubtype-analytics/package-lock.json
  packages/botonic-plugin-hubtype-analytics/package.json
Due: none

Flow Builder: Add a variable in a text from Flow Builder (#2559)
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-text.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

feat(flow-builder): replace from the session.user.extra_data variables in the text
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: none

refactor(flow-builder): create a const for VARIABLE_REGEX
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: none

refactor(flow-builder): replaceVariables to be a function of FlowText
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: none

refactor(flow-builder): create all events without hubtype analytics dependency
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/intent.ts
  packages/botonic-plugin-flow-builder/src/action/keyword.ts
  packages/botonic-plugin-flow-builder/src/action/user-input.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: none

refactor(flow-builder): create an enum with event names
  packages/botonic-plugin-flow-builder/src/action/tracking.ts
Due: none

chore(flow-builder): remove hubtype analytics dependency
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

refactor(flow-builder): add queue_id in handoff_success event
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: none

refactor(flow-builder): track event args without event_type
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/intent.ts
  packages/botonic-plugin-flow-builder/src/action/keyword.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: none

feat(flow-builder): export constructor options type from index
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(flow-builder): rename event to eventArgs
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/intent.ts
  packages/botonic-plugin-flow-builder/src/action/keyword.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: none

Flow builder: remove hubtype analytics dependency (#2588)
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/intent.ts
  packages/botonic-plugin-flow-builder/src/action/keyword.ts
  packages/botonic-plugin-flow-builder/src/action/tracking.ts
  packages/botonic-plugin-flow-builder/src/action/user-input.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(botonic-core): bump verison 0.23.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

chore(botonic-react): bump verison 0.23.0
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

feat(flow-builder): export content-fields from index
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(botonic-plugin-flow-builder): bump verison 0.23.0
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

chore(botonic-plugin-google-analytics): bump verison 0.23.0
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
Due: none

chore(botonic-plugin-google-translations): bump verison 0.23.0
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

refactor(plugin-hubtype-babel): rename PluginOptions to PluginHubtypeBabelOptions and export from index
  packages/botonic-plugin-hubtype-babel/src/index.ts
  packages/botonic-plugin-hubtype-babel/src/options.ts
Due: none

chore(plugin-hubtype-babel): bump verison 0.23.0
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
Due: none

chore(plugin-inbenta): bump verison 0.23.0
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
Due: none

chore(plugin-luis): bump verison 0.23.0
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
Due: none

chore(plugin-segment): bump verison 0.23.0
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
Due: none

chore(plugin-watson): bump verison 0.23.0
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
Due: none

[Snyk] Upgrade semver from 7.5.2 to 7.5.3 (#2590)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

[Snyk] Upgrade @aws-sdk/types from 3.347.0 to 3.357.0 (#2591)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

[Snyk] Upgrade @pulumi/pulumi from 3.72.2 to 3.73.0 (#2592)
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
Due: none

[Snyk] Upgrade @docusaurus/core from 2.0.0-alpha.66 to 2.4.1 (#2584)
  docs/website/package.json
Due: none

fix: upgrade @babel/runtime from 7.22.5 to 7.22.6
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
Due: none

fix: upgrade aws-sdk from 2.1404.0 to 2.1415.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade @oclif/command from 1.8.29 to 1.8.32
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix: upgrade @oclif/config from 1.18.10 to 1.18.12
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix: upgrade contentful-import from 8.5.58 to 8.5.62
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

feat(hubtype-analytics): add case id and comment in event agent rating
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-agent-rating.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
Due: none
