Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-plugin-contentful, botonic-plugin-dialogflow, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%
flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true
    
  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true
    
  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true
  
  botonic-plugin-dialogflow:
    paths:
      - packages/botonic-plugin-dialogflow
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true
  
  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

fix(contentful): avoid buggy contentful-management 7.13
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

Chore/upgrade_deps.sh & update dependencies (#1404)
  package-lock.json
  package.json
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  scripts/ci/upgrade-deps.sh
Due: botonic-plugin-contentful

fix(processor): ner processor needs to pad sequence (#1378)
  packages/botonic-nlp/src/tasks/ner/process/processor.ts
  packages/botonic-nlp/tests/helpers/tasks/ner/helper.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/ner/process/processor.test.ts
  packages/botonic-nlp/tests/tasks/ner/storage/config-storage.test.ts
Due: none

refactor(preprocess): engines now use nlpjs (#1377)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/index.ts
  packages/botonic-nlp/src/preprocess/engines/en/normalizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stemmer-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/stopwords-en.ts
  packages/botonic-nlp/src/preprocess/engines/en/tokenizer-en.ts
  packages/botonic-nlp/src/preprocess/engines/es/normalizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stemmer-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/stopwords-es.ts
  packages/botonic-nlp/src/preprocess/engines/es/tokenizer-es.ts
  packages/botonic-nlp/src/preprocess/engines/normalizer.ts
  packages/botonic-nlp/src/preprocess/engines/stemmer.ts
  packages/botonic-nlp/src/preprocess/engines/stopwords.ts
  packages/botonic-nlp/src/preprocess/engines/tokenizer.ts
  packages/botonic-nlp/src/preprocess/index.ts
  packages/botonic-nlp/src/preprocess/preprocessor.ts
  packages/botonic-nlp/src/preprocess/types.ts
  packages/botonic-nlp/tests/preprocess/engines/en/normalizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/stemmer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/en/tokenizer-en.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/normalizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/stemmer-es.test.ts
  packages/botonic-nlp/tests/preprocess/engines/es/tokenizer-es.test.ts
  packages/botonic-nlp/tests/preprocess/vocabulary-generator.test.ts
Due: none

refactor(cli): Tasks class implemented
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

refactor(cli): train command class simplified
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

refactor(cli): isInvalidTask renamed to isValidTask
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

refactor(cli): plugin checker uses cli constants
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

refactor(cli): task class implemented for train command
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

refactor(cli): error logic consistency
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

feat(cli): InvalidTaskError added
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

test(cli): train command test implemented
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/tests/commands/train.test.ts
Due: botonic-cli

feat(cli): choose nlp task on train command
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

refactor(cli): getTasks method removed
  packages/botonic-cli/src/commands/train.ts
Due: botonic-cli

feat(cli): task flag in botonic train command (#1379)
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/tests/commands/train.test.ts
Due: botonic-cli

feat(ner): model storaged by locale
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
Due: none

feat(ner): model storaged by locale (#1392)
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
Due: none

feat(botonic): ner-plugin config added to pre-commit
  .pre-commit-config.yaml
Due: none

feat(utils): environment and locale utils implemented
  packages/botonic-plugin-ner/babel.config.js
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/constants.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/utils/locale-utils.ts
  packages/botonic-plugin-ner/tests/utils/locale-utils.test.ts
  packages/botonic-plugin-ner/tsconfig.eslint.json
  packages/botonic-plugin-ner/tsconfig.json
Due: none

test(plugin): git checks for tests
  .github/workflows/botonic-plugin-ner-tests.yml
  codecov.yml
Due: none

refactor(config): request changes applied to general config
  packages/botonic-plugin-ner/babel.config.js
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-nlu/tsconfig.json
Due: botonic-plugin-nlu

refactor(utils): getModelInfo logic refactored
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: none

feat(utils): Environment and locale utils implemented (#1391)
  .github/workflows/botonic-plugin-ner-tests.yml
  .pre-commit-config.yaml
  codecov.yml
  packages/botonic-plugin-ner/jest.config.js
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-ner/src/constants.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/utils/locale-utils.ts
  packages/botonic-plugin-ner/tests/utils/locale-utils.test.ts
  packages/botonic-plugin-ner/tsconfig.eslint.json
  packages/botonic-plugin-ner/tsconfig.json
Due: none

feat(preprocess): input generator implemented
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/tests/helper/constants-helper.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tests/preprocess/input-generator.test.ts
Due: none

refactor(plugin-ner): InputGenerator methods sorted
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
Due: none

refactor(plugin-ner): entitiesCodifier dependency removed
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tests/preprocess/input-generator.test.ts
Due: none

feat(plugin-watson): types removed from package
  packages/botonic-plugin-watson/package.json
Due: none

doc(plugin-watson): Setup second step corrected
  packages/botonic-plugin-watson/README.md
Due: none

feat(ner-plugin): Preprocess implemented (#1393)
  packages/botonic-plugin-ner/src/preprocess/input-generator.ts
  packages/botonic-plugin-ner/tests/helper/constants-helper.ts
  packages/botonic-plugin-ner/tests/helper/tools-helper.ts
  packages/botonic-plugin-ner/tests/preprocess/input-generator.test.ts
Due: none

feat(postprocess): PredictionProcessor implemented
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/tests/postprocess/prediction-processor.test.ts
Due: none

fix(plugin-ner): tfjs import corrected
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
Due: none

refactor(plugin-ner): lambda function return simplified
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
Due: none

feat(ner-plugin): Postprocess implemented (#1394)
  packages/botonic-plugin-ner/src/postprocess/prediction-processor.ts
  packages/botonic-plugin-ner/tests/postprocess/prediction-processor.test.ts
Due: none

feat(model): ner implemented
  packages/botonic-plugin-ner/src/model/ner.ts
Due: none

refactor(plugin-ner): async constructor removed
  packages/botonic-plugin-ner/src/model/ner.ts
Due: none

fix(plugin-ner): tensorflow import corrected
  packages/botonic-plugin-ner/src/model/ner.ts
Due: none

fix(plugin-ner): entityCodifier not needed
  packages/botonic-plugin-ner/src/model/ner.ts
Due: none

feat(plugin-watson): entities directly returned
  packages/botonic-plugin-watson/src/watson-output-parser.js
Due: none
