Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

chore(dx): detect git changes before version
  packages/botonic-dx/README.md
  packages/botonic-dx/sample-config/package.json
Due: none

chore(dx): "files" in package.json
  packages/botonic-dx/README.md
  packages/botonic-dx/sample-config/package.json
Due: none

chore(dx/eslint): gitignore package-lock.json
  packages/botonic-dx/.gitignore
  packages/botonic-eslint-config/.gitignore
Due: none

chore(eslint-config): allow requires in .js files
  packages/botonic-eslint-config/index.js
  packages/botonic-eslint-config/package.json
Due: none

chore(eslint-config): add @types/node to simplify sample-config
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/baseline/tsconfig.tests.json
  packages/botonic-dx/sample-config/tsconfig.json
Due: none

chore(dx): add babel dependencies
  packages/botonic-dx/baseline/babel.config.js
  packages/botonic-dx/package.json
Due: none

botonic Developer Experience (DX) 2/3 (#1570)
  packages/botonic-dx/.gitignore
  packages/botonic-dx/README.md
  packages/botonic-dx/baseline/babel.config.js
  packages/botonic-dx/baseline/prettier.config.js
  packages/botonic-dx/baseline/tsconfig.json
  packages/botonic-dx/baseline/tsconfig.tests.json
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/.prettierrc.js
  packages/botonic-dx/sample-config/package.json
  packages/botonic-dx/sample-config/tsconfig.json
  packages/botonic-eslint-config/.gitignore
  packages/botonic-eslint-config/index.js
  packages/botonic-eslint-config/package.json
Due: none

chore: upgrade dev deps
  package-lock.json
  package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
Due: none

chore(dx): don't eslint JS files
  packages/botonic-dx/README.md
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/package.json
Due: none

chore: upgrade deprecated babel plugin
  .gitignore
  packages/babel.config.js
Due: none

chore(dx): upgrade eslint_d to 10.1.3
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/tsconfig.tests.json
Due: none

chore(dx): npm7 required to publish hidden files
  packages/botonic-dx/README.md
  packages/botonic-dx/package.json
Due: none

chore(dx): fix parserOptions.project error in eslint
  packages/botonic-dx/sample-config/package.json
  packages/botonic-dx/sample-config/tsconfig.eslint.json
Due: none

botonic Developer Experience (DX) 3/3 (#1602)
  .gitignore
  package-lock.json
  package.json
  packages/babel.config.js
  packages/botonic-dx/README.md
  packages/botonic-dx/package.json
  packages/botonic-dx/sample-config/package.json
  packages/botonic-dx/sample-config/tsconfig.eslint.json
  packages/botonic-dx/sample-config/tsconfig.tests.json
  packages/botonic-eslint-config/package.json
Due: none

chore(contentful): fix eslint slow issues
  packages/botonic-plugin-contentful/src/cms/exceptions.ts
  packages/botonic-plugin-contentful/src/util/backoff.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
Due: botonic-plugin-contentful

chore(ner/intent): added missing tsconfig for tests
  packages/botonic-plugin-intent-classification/tests/tsconfig.json
  packages/botonic-plugin-ner/tests/tsconfig.json
Due: botonic-plugin-ner

style(nlp): fix issues detected by lint slow
  packages/botonic-nlp/src/dataset/entities-parser.ts
  packages/botonic-nlp/src/model/manager.ts
  packages/botonic-nlp/src/tasks/intent-classification/botonic-intent-classifier.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/tests/embeddings/database/storage.test.ts
  packages/botonic-nlp/tests/helpers/tools-helper.ts
  packages/botonic-nlp/tests/model/model-manager.test.ts
  packages/botonic-nlp/tests/tasks/ner/models/bilstm-model.test.ts
  packages/botonic-plugin-intent-classification/src/index.ts
Due: botonic-nlp

chore(cli): update dependencies
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

chore(cli): fix eslint config
  packages/botonic-cli/.eslintrc.js
  packages/botonic-cli/.eslintrc_slow.js
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/src/util/system.ts
Due: botonic-cli

refactor(cli): more fix eslint
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/interfaces.ts
Due: botonic-cli

Lint/fix slow (#1619)
  packages/botonic-cli/.eslintrc.js
  packages/botonic-cli/.eslintrc_slow.js
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-api-service.ts
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/login.ts
  packages/botonic-cli/src/commands/new.ts
  packages/botonic-cli/src/commands/train.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/system.ts
  packages/botonic-nlp/src/dataset/entities-parser.ts
  packages/botonic-nlp/src/model/manager.ts
  packages/botonic-nlp/src/tasks/intent-classification/botonic-intent-classifier.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/tests/embeddings/database/storage.test.ts
  packages/botonic-nlp/tests/helpers/tools-helper.ts
  packages/botonic-nlp/tests/model/model-manager.test.ts
  packages/botonic-nlp/tests/tasks/ner/models/bilstm-model.test.ts
  packages/botonic-plugin-contentful/src/cms/exceptions.ts
  packages/botonic-plugin-contentful/src/util/backoff.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
  packages/botonic-plugin-intent-classification/src/index.ts
  packages/botonic-plugin-intent-classification/tests/tsconfig.json
  packages/botonic-plugin-ner/tests/tsconfig.json
Due: botonic-cli, botonic-nlp, botonic-plugin-contentful, botonic-plugin-ner

chore: upgrade typescript to 4.3
  docs/website/package.json
  package.json
  packages/botonic-dx/package.json
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: botonic-plugin-nlu

feat(nlp): bump alpha version
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
Due: botonic-nlp

refactor(nlp): tfjs-node replaced by tfjs in ModelInfo and ModelSelector
  packages/botonic-nlp/src/model/model-info.ts
  packages/botonic-nlp/src/model/model-selector.ts
Due: botonic-nlp

feat(plugin-intent-classification): bumped alpha version
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
Due: none

feat(nlp, plugin-ner, plugin-intent-classification): alpha versions bumped
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
Due: botonic-nlp, botonic-plugin-ner

feat(plugin-ner): bump alpha version
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
Due: botonic-plugin-ner

feat(plugin-intent-classification): bump alpha version
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
Due: none

feat(nlp): bump alpha version (#1605)
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-nlp/src/model/model-info.ts
  packages/botonic-nlp/src/model/model-selector.ts
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
Due: botonic-nlp, botonic-plugin-ner

style(react): fix type for actions to allow both class and functional components
  packages/botonic-react/src/index.d.ts
Due: botonic-react

doc(contentful): doc to add new model
  packages/botonic-plugin-contentful/README.md
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: botonic-plugin-contentful

fix(contentful): AssetType.audio value was wrong
  packages/botonic-plugin-contentful/src/cms/cms.ts
Due: botonic-plugin-contentful

Core & React: Fix types (#1606)
  packages/botonic-core/package.json
  packages/botonic-core/src/types/index.d.ts
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/index.d.ts
Due: botonic-core, botonic-react

doc(contentful): doc to add new model (#1626)
  packages/botonic-plugin-contentful/README.md
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
Due: botonic-plugin-contentful

feat(plugin-google-translate): first functional version
  packages/botonic-plugin-google-translate/jest.config.js
  packages/botonic-plugin-google-translate/package-lock.json
  packages/botonic-plugin-google-translate/package.json
  packages/botonic-plugin-google-translate/src/access-token.ts
  packages/botonic-plugin-google-translate/src/google-translate-api-service.ts
  packages/botonic-plugin-google-translate/src/index.ts
  packages/botonic-plugin-google-translate/src/language-detector.ts
  packages/botonic-plugin-google-translate/src/options.ts
  packages/botonic-plugin-google-translate/tsconfig.eslint.json
  packages/botonic-plugin-google-translate/tsconfig.json
Due: none

refactor(plugin-google-translate): language set into input (not session)
  packages/botonic-plugin-google-translate/src/index.ts
Due: none

refactor(plugin-google-translate): devDependencies removed
  packages/botonic-plugin-google-translate/package-lock.json
  packages/botonic-plugin-google-translate/package.json
Due: none

docs(plugin-google-translate): readme of the plugin
  packages/botonic-plugin-google-translate/README.md
Due: none

refactor(plugin-google-translate): error log modified
  packages/botonic-plugin-google-translate/src/index.ts
Due: none

refactor(plugin-google-translate): string types added
  packages/botonic-plugin-google-translate/src/access-token.ts
Due: none
