Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

fix(directus): fix update content text
  packages/updated-directus/src/directus/manage/contents.ts
  packages/updated-directus/tests/directus/manage/update.test.ts
Due: none

feat(directus): run lint + add update carousel test
  packages/updated-directus/src/cms/cms.ts
  packages/updated-directus/src/cms/index.ts
  packages/updated-directus/src/directus/contents/button.ts
  packages/updated-directus/src/directus/contents/carousel.ts
  packages/updated-directus/src/directus/contents/image.ts
  packages/updated-directus/src/directus/contents/index.ts
  packages/updated-directus/src/directus/contents/text.ts
  packages/updated-directus/src/directus/contents/url.ts
  packages/updated-directus/src/directus/delivery/delivery-utils.ts
  packages/updated-directus/src/directus/delivery/delivery.ts
  packages/updated-directus/src/directus/delivery/directus-client.ts
  packages/updated-directus/src/directus/delivery/index.ts
  packages/updated-directus/src/directus/directus.ts
  packages/updated-directus/src/directus/index.ts
  packages/updated-directus/src/directus/manage/contents.ts
  packages/updated-directus/src/directus/manage/directus-contents.ts
  packages/updated-directus/src/factories.ts
  packages/updated-directus/src/index.ts
  packages/updated-directus/src/plugin.ts
  packages/updated-directus/tests/directus/contents/button.test.ts
  packages/updated-directus/tests/directus/contents/carousel.test.ts
  packages/updated-directus/tests/directus/contents/image.test.ts
  packages/updated-directus/tests/directus/contents/text.test.ts
  packages/updated-directus/tests/directus/contents/url.test.ts
  packages/updated-directus/tests/directus/helpers/directus.helper.ts
  packages/updated-directus/tests/directus/manage/create.test.ts
  packages/updated-directus/tests/directus/manage/delete.test.ts
  packages/updated-directus/tests/directus/manage/helpers/utils.helper.ts
  packages/updated-directus/tests/directus/manage/read.test.ts
  packages/updated-directus/tests/directus/manage/update.test.ts
  packages/updated-directus/tests/miro/miro.test.ts
Due: none

fix: upgrade axios from 0.21.3 to 0.21.4 (#1949)
  packages/botonic-nlu/package-lock.json
  packages/botonic-nlu/package.json
Due: botonic-nlu

fix: upgrade csv-stringify from 5.6.2 to 5.6.5 (#1953)
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade @babel/runtime from 7.14.8 to 7.15.4 (#1950)
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
Due: botonic-plugin-ner

fix: upgrade contentful-import from 8.1.25 to 8.2.9 (#1951)
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

refactor(core): simplify and rename getComputedRoutes logic
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/tests/routing/router.test.ts
Due: botonic-core

refactor(core): getPathParams to return directly parsed params
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/tests/routing/router.misc.test.ts
Due: botonic-core

chore(core): split and sort routing tests
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/tests/helpers/parsing.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-core/tests/parsing/carousel.test.tsx
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/location.test.tsx
  packages/botonic-core/tests/parsing/media.test.tsx
  packages/botonic-core/tests/parsing/text.test.tsx
  packages/botonic-core/tests/parsing/user-events.test.tsx
  packages/botonic-core/tests/routing/router.get-route-by-path.test.ts
  packages/botonic-core/tests/routing/router.match-route.test.ts
  packages/botonic-core/tests/routing/router.misc.test.ts
  packages/botonic-core/tests/routing/router.test.ts
Due: botonic-core

refactor(core): minor simplifications
  packages/botonic-core/src/routing/router.ts
Due: botonic-core

chore(react): update values consistently when session is refreshed
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: botonic-react

chore(core): move router to routing
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/routing/index.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/tests/routing/router.test.ts
Due: botonic-core

chore(core): export missing not exported types
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

refactor(core): get rid of currentRoutePath and matchedRoutePath
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/src/utils.ts
Due: botonic-core

chore(core): add tests for functional routes
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/tests/routing/router.test.ts
Due: botonic-core

chore(core): improved types and functional router support
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/src/utils.ts
Due: botonic-core

Full stack/refactor router (#1919)
  packages/botonic-core/src/constants.ts
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/index.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/plugins.ts
  packages/botonic-core/src/router.ts
  packages/botonic-core/src/routing/index.ts
  packages/botonic-core/src/routing/router-utils.ts
  packages/botonic-core/src/routing/router.ts
  packages/botonic-core/src/utils.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-core/tests/helpers/parsing.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-core/tests/parsing/carousel.test.tsx
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/location.test.tsx
  packages/botonic-core/tests/parsing/media.test.tsx
  packages/botonic-core/tests/parsing/text.test.tsx
  packages/botonic-core/tests/parsing/user-events.test.tsx
  packages/botonic-core/tests/router.test.ts
  packages/botonic-core/tests/routing/router.get-route-by-path.test.ts
  packages/botonic-core/tests/routing/router.match-route.test.ts
  packages/botonic-core/tests/routing/router.misc.test.ts
  packages/botonic-core/tests/routing/router.test.ts
  packages/botonic-react/src/components/button.jsx
  packages/botonic-react/src/experimental/components/message.jsx
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: botonic-core, botonic-react

feat(directus): add shorttext
  packages/updated-directus/src/directus/contents/image.ts
  packages/updated-directus/src/directus/contents/text.ts
  packages/updated-directus/src/directus/contents/url.ts
Due: none

refactor(directus): delete unused function
  packages/updated-directus/src/cms/cms.ts
Due: none

feat(directus): make convertCarouselFields private
  packages/updated-directus/src/directus/manage/contents.ts
Due: none

fix(react): add mouse wheel event to scrollable content
  packages/botonic-react/src/util/dom.js
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
Due: botonic-react

fix: upgrade @babel/runtime from 7.14.8 to 7.15.4
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade axios from 0.21.3 to 0.21.4
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade aws-sdk from 2.985.0 to 2.997.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix: upgrade contentful-import from 8.2.9 to 8.2.13
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade contentful-management from 7.39.0 to 7.41.0
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

fix: upgrade @babel/runtime from 7.14.8 to 7.15.4 (#1970)
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade axios from 0.21.3 to 0.21.4 (#1971)
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
Due: none

fix: upgrade aws-sdk from 2.985.0 to 2.997.0 (#1972)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

feat(core): pass plugins as a parameter in pre and post calls of a plugin to be able to use the initialized plugins inside a pre/post plugin call
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/src/plugins.ts
Due: botonic-core

feat(react): refactor to allow hostId to be changed at runtime
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/experimental/components/message.jsx
  packages/botonic-react/src/experimental/webchat/webchat.jsx
  packages/botonic-react/src/webchat-app.jsx
Due: botonic-react

test(react): fix webchat-app.test executing webchatApp.render() with await
  packages/botonic-react/tests/webchat/webchat-app.test.jsx
Due: botonic-react

feat(plugin-dialogflow): opens up option object to accept more dialogflow config options
  packages/botonic-plugin-dialogflow/README.md
  packages/botonic-plugin-dialogflow/src/index.ts
  packages/botonic-plugin-dialogflow/src/types.ts
  packages/botonic-plugin-dialogflow/tests/index.test.ts
Due: none

feat(plugin-dialogflow): implements a way to add custom data to the dialogflow query
  packages/botonic-plugin-dialogflow/README.md
  packages/botonic-plugin-dialogflow/src/index.ts
  packages/botonic-plugin-dialogflow/src/types.ts
Due: none

docs(plugin-dialogflow): clarifies usage and meaning
  packages/botonic-plugin-dialogflow/README.md
Due: none

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
