Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

Feature: Add NonSense prediction to hubtype babel plugin#DAT-332 (#2265)
  packages/botonic-core/package.json
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-hubtype-babel/src/index.ts
Due: botonic-core

feat(react): wrap all message buttons within a div (#2285)
  packages/botonic-react/src/components/message.jsx
Due: botonic-react

chore(react): bump to version 0.20.7
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

feat(botonic-react): add className to timestamp component (#2268)
  packages/botonic-react/src/components/timestamps.jsx
Due: botonic-react

Feature: Flag to enable has_sense detection on plugin-hubtype-babel (#2288)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-hubtype-babel/src/hubtype-babel-api-service.ts
  packages/botonic-plugin-hubtype-babel/src/index.ts
  packages/botonic-plugin-hubtype-babel/src/options.ts
Due: botonic-core

feat(react): refactor useStorageState to enable the usage of storages differents than localStorage and sessionStorage
  packages/botonic-react/src/webchat/use-storage-state-hook.js
Due: botonic-react

feat: handling apple forms
  packages/botonic-core/src/models/events/botonic-event.ts
  packages/botonic-core/src/models/events/message/form.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
Due: botonic-core

refactor: renaming 'user_action' to 'chatevent' and declaring it as a legacy type INPUT
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-core, botonic-react

fix(cli): fix node-sass issues with higher versions of Node (darwin)
  packages/botonic-cli/src/commands/deploy.ts
  packages/botonic-cli/src/commands/new.ts
Due: botonic-cli

feat: adding tests
  packages/botonic-core/tests/parsing/form.test.tsx
Due: botonic-core

fix: typo
  packages/botonic-core/src/output-parser/factory.ts
Due: botonic-core

feat(react): add typing on/off events
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

fix(cli): switch command depending on platform and bump cli version
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/new.ts
Due: botonic-cli

fix(cli): add missing package-lock
  packages/botonic-cli/package-lock.json
Due: botonic-cli

fix: Webviews not redirecting correctly on WhatsApp Cloud
  packages/botonic-react/src/webview.jsx
Due: botonic-react

feat(core): Add extra data field in HandoffBuilder (#2307)
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/handoff.test.ts
Due: botonic-core

Botonic React: add user-input css class (#2309)
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

Release/0.21.0 (#2299)
  packages/botonic-cli/README.md
  packages/botonic-cli/package.json
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
  packages/botonic-plugin-dashbot/package-lock.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package-lock.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-google-analytics/package-lock.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package-lock.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-babel/package-lock.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package-lock.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-intent-classification/package-lock.json
  packages/botonic-plugin-intent-classification/package.json
  packages/botonic-plugin-luis/package-lock.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-ner/package-lock.json
  packages/botonic-plugin-ner/package.json
  packages/botonic-plugin-segment/package-lock.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package-lock.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-pulumi/package-lock.json
  packages/botonic-pulumi/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-nlp, botonic-plugin-dynamodb, botonic-react, botonic-plugin-ner

Cherry Pick from master to master-lts of packages/botonic-plugin-contentful (#2301)
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

chore: bump core/react to 0.21.1 and plugin-contentful to 0.21.0 (#2310)
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/models/events/message/contact.ts
  packages/botonic-core/src/models/events/message/message-event.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/parsing/contact.test.tsx
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-plugin-contentful, botonic-react

chore: update changelog for 0.21.0 release (#2316)
  CHANGELOG.md
Due: none

Feat: custom user input buttons (#2314)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index.d.ts
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/components/attachment.jsx
  packages/botonic-react/src/webchat/components/common.jsx
  packages/botonic-react/src/webchat/components/conditional-animation.jsx
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
  packages/botonic-react/src/webchat/components/persistent-menu.jsx
  packages/botonic-react/src/webchat/components/send-button.jsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

chore(plugin-flow-builder): bump alpha version
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

fix: upgrade jsrsasign from 10.5.1 to 10.6.1
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

fix: upgrade @babel/runtime from 7.16.5 to 7.21.0
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

fix: upgrade @botonic/core from 0.19.0 to 0.21.1
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

fix: upgrade axios from 0.24.0 to 0.27.2
  packages/botonic-plugin-dialogflow/package-lock.json
  packages/botonic-plugin-dialogflow/package.json
Due: none

fix: upgrade @oclif/config from 1.18.2 to 1.18.8
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix(plugin-flow-builder): quick fix for button urls
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

chore(plugin-flow-builder): add check for urlButton and bump alpha
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
Due: none

fix(cli): fix condition to allow creating a new bot when org has no bots
  packages/botonic-cli/src/commands/deploy.ts
Due: botonic-cli

chore(cli): bump cli to v0.21.1
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix(plugin-flow-builder): fixing PayloadLocal in button
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
Due: none

feat(plugin-flow-builder): adding payload to buttons
  packages/botonic-plugin-flow-builder/src/content-fields/flow-button.tsx
Due: none

chore(plugin-flow-builder): updating package lock
  packages/botonic-react/package-lock.json
Due: botonic-react

Fix/from scratch deploy (#2324)
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
Due: botonic-cli

chore(botonic-dx): added more paths to testPathIgnorePatterns and transformIgnorePatterns added axios
  packages/botonic-dx/baseline/jest.config.js
Due: none

fix(plugin-flow-builder): fix type for UrlLocale
  packages/botonic-plugin-flow-builder/src/flow-builder-models.ts
Due: none

fix: upgrade emoji-picker-react from 3.4.8 to 3.6.5
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-react
