Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

refactor(botonic-core & plugin-flow-builder): create an enum for BotonicAction and rename to redirect
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-core, botonic-react

refactor(plugin-flow-builder): remove old logic for bot-action and use it as a content
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/bot-action.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

refactor(botonic-core): not allow more than 10 redirects
  packages/botonic-core/src/core-bot.ts
Due: botonic-core

feat(plugin-flow-builder): botonicInit function accepts as a second parameter the contentID to indicate which content has to be rendered
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/payload.ts
Due: none

refactor(botonic-core): resolve a CreateTestCase inside a redirect
  packages/botonic-core/src/core-bot.ts
Due: botonic-core

refactor(botonic-core & botonic-react & plugin-flow-builder): create enum with all BotonicAction and use it in tests
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-react/src/webchat/utils.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-core, botonic-react

test(botonic-core): add a test for _botonic_action redirect
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
Due: botonic-core

test(plugin-flow-builder): fix tests for bot-action nodes
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
Due: none

tests(botonic-core): check that an error is thrown after the maximum number of redirects has been exceeded
  packages/botonic-core/tests/core-bot/core-bot.test.ts
Due: botonic-core

chore: publihs alpha versions
  package-lock.json
Due: none

refactor(plugin-flow-builder): if there is a bot action in the firstInteractionContents do not render the match with keywords, intents etc
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
Due: none

chore: publish 0.30.0-alpha.1 for botonic-core, react and plugin flow builder
  package-lock.json
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

plugin-flow-builder: bot action as follow up, first node in a flow, after conditionals etc (#2898)
  CHANGELOG.md
  package-lock.json
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/src/action/first-interaction.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/action/payload.ts
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/constants.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-bot-action.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/bot-action.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/node-types.ts
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/nodes.ts
  packages/botonic-plugin-flow-builder/src/content-fields/index.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/tests/bot-action.test.ts
  packages/botonic-react/src/webchat/utils.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-core, botonic-react

test(plugin-flow-builder): add a test to check that see displays fallback contents if the payload cannot be resolved
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/tests/payload.test.ts
Due: none

plugin-flow-builder: when user clicks on old button send fallback #BLT-1070 (#2909)
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/tests/payload.test.ts
Due: none

feat(botonic-core): add atributes in input type for push notifications
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

fix: do use context to access messagesListRef
  packages/botonic-react/src/webchat/hooks/use-scroll-to-bottom.ts
Due: botonic-react

refactor(plugin-flow-builder): store in session every new flow_thread_id
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: none

refactor(plugin-flow-builder): resolve locale as language
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: none

feat(plugin-flow-builder): update session in local development with organization_id and bot_id
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
Due: none

refactor(plugin-flow-builder): applay early return
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: none

botonic-core: add attributes in input type for push notifications (#2911)
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

plugin-flow-builder: store in session every new flow_thread_id (#2912)
  packages/botonic-plugin-flow-builder/src/tracking.ts
Due: none

refactor(plugin-flow-builder): DRY
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: none

improve flowbuilder webview contents #BLT-1131 (#2913)
  CHANGELOG.md
  packages/botonic-plugin-flow-builder/src/api.ts
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: none

refactor(botonic-react): create typing indicator with typescript and styled component
  packages/botonic-react/src/webchat/components/typing-indicator.jsx
  packages/botonic-react/src/webchat/components/typing-indicator.scss
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/typing-indicator/index.tsx
  packages/botonic-react/src/webchat/typing-indicator/styles.ts
Due: botonic-react

refactor(botonic-react: add role and className
  packages/botonic-react/src/webchat/typing-indicator/index.tsx
  packages/botonic-react/src/webchat/typing-indicator/styles.ts
Due: botonic-react

botonic-react: new typing indicator component (#2914)
  packages/botonic-react/src/webchat/components/typing-indicator.jsx
  packages/botonic-react/src/webchat/components/typing-indicator.scss
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/typing-indicator/index.tsx
  packages/botonic-react/src/webchat/typing-indicator/styles.ts
Due: botonic-react

refactor: remove scrollbar customization via webchat theme and related code
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/webchat/components/styled-scrollbar.jsx
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/replies.jsx
Due: botonic-react

refactor: define new constant for botonic containers and use them everywhere where used
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/util/dom.js
  packages/botonic-react/src/webchat/constants.ts
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/index.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

refactor: ensure elements within webchat are spaced correctly
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

wip: preserve functionality of resizing webchat on safari iOS, prepare before refactoring into hooks
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/devices/webchat-resizer.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

fix: replies container to scroll on overflow
  packages/botonic-react/src/webchat/replies.jsx
Due: botonic-react

refactor(ongoing): replace simplebar by ScrollableContent and remove dep
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/util/dom.js
  packages/botonic-react/src/webchat/components/scrollable-content.jsx
  packages/botonic-react/src/webchat/components/styled-scrollbar.jsx
  packages/botonic-react/src/webchat/components/styled-scrollbar.scss
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/replies.jsx
Due: botonic-react

refactor: move chat area to main webchat file
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

refactor: improvements after removing simplebar dep (#2903)
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/util/dom.js
  packages/botonic-react/src/webchat/components/scrollable-content.jsx
  packages/botonic-react/src/webchat/constants.ts
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/devices/webchat-resizer.js
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/hooks/index.ts
  packages/botonic-react/src/webchat/hooks/use-device-adapter.ts
  packages/botonic-react/src/webchat/hooks/use-scroll-to-bottom.ts
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
  packages/botonic-react/src/webchat/hooks/use-virtual-keyboard-detection.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-dimensions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-resizer.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
  packages/botonic-react/src/webchat/replies.jsx
  packages/botonic-react/src/webchat/webchat-chat-area/index.tsx
  packages/botonic-react/src/webchat/webchat-chat-area/styles.ts
  packages/botonic-react/src/webchat/webchat-input-panel/index.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/textarea.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

refactor: get rid of Simplebar (vanilla js based scrollbar) (#2900)
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/components/carousel.jsx
  packages/botonic-react/src/constants.js
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/util/dom.js
  packages/botonic-react/src/webchat/components/styled-scrollbar.jsx
  packages/botonic-react/src/webchat/components/styled-scrollbar.scss
  packages/botonic-react/src/webchat/constants.ts
  packages/botonic-react/src/webchat/devices/device-adapter.js
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/devices/webchat-resizer.js
  packages/botonic-react/src/webchat/header.jsx
  packages/botonic-react/src/webchat/hooks/index.ts
  packages/botonic-react/src/webchat/hooks/use-device-adapter.ts
  packages/botonic-react/src/webchat/hooks/use-scroll-to-bottom.ts
  packages/botonic-react/src/webchat/hooks/use-scrollbar-controller.ts
  packages/botonic-react/src/webchat/hooks/use-virtual-keyboard-detection.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-dimensions.ts
  packages/botonic-react/src/webchat/hooks/use-webchat-resizer.ts
  packages/botonic-react/src/webchat/hooks/use-webchat.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/scroll-button.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
  packages/botonic-react/src/webchat/replies.jsx
  packages/botonic-react/src/webchat/webchat-chat-area/index.tsx
  packages/botonic-react/src/webchat/webchat-chat-area/styles.ts
  packages/botonic-react/src/webchat/webchat-input-panel/index.tsx
  packages/botonic-react/src/webchat/webchat-input-panel/textarea.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react
