Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

chore: update blank-typescript example with rspack (#2951)
  examples/blank-typescript/package.json
  examples/blank-typescript/rspack.config.js
  examples/blank-typescript/tsconfig.json
  examples/blank-typescript/webpack-entries/dev-entry.ts
  examples/blank-typescript/webpack-entries/node-entry.ts
  examples/blank-typescript/webpack-entries/webchat-entry.ts
  examples/blank-typescript/webpack-entries/webviews-entry.ts
  examples/blank-typescript/webpack.config.js
Due: none

chore: update github action dependency #PLA-2658 (#2948)
  .github/workflows/botonic-common-workflow.yml
  .github/workflows/botonic-docs-netlify-deploy.yml
  .github/workflows/botonic-docs-tests.yml
  docs/package-lock.json
  docs/package.json
Due: none

feat(react): remove the smooth behavior in scrollIntoView function and add it as a CSS property in the ScrollableMessageList component
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/hooks/use-scroll-to-bottom.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
Due: botonic-react

botonic-core: add whatsapp catalog type
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

botonic-react: add whatsapp catalog component
  packages/botonic-react/src/components/index.ts
  packages/botonic-react/src/components/whatsapp-catalog.tsx
Due: botonic-react

botonic-react: whatsapp catalog footer optional
  packages/botonic-react/src/components/whatsapp-catalog.tsx
Due: botonic-react

chore(botonic-react): publish 0.30.8
  package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

feat(botonic-react): Replace scroll behavior in scrollIntoView for a CSS property (#2953)
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/hooks/use-scroll-to-bottom.ts
  packages/botonic-react/src/webchat/message-list/index.tsx
  packages/botonic-react/src/webchat/message-list/styles.ts
Due: botonic-react

chore(botonic-react): upgrade the react version to 18
  package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat/session-view.jsx
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.jsx
Due: botonic-react

chore(plugin-flow-builder): upgrade the @botonic/react to use react 18
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
Due: none

refacor(botonic-react): apply new react 18 createRoot.render
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webview-app.tsx
Due: botonic-react

test(botonic-react): fix tests
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/tests/webchat/webchat-app.test.jsx
Due: botonic-react

chore(react & plugin-flow-builder): publish 0.31.0-alpha.2
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: botonic-react

chore(botonic-react): add as a dev dependency @types/lodash.merge
  package-lock.json
  packages/botonic-react/package.json
Due: botonic-react

chore(botonic-react): update CHANGELOG
  packages/botonic-react/CHANGELOG.md
Due: botonic-react

botonic-react: upgrade react version to 18 #BLT-1231 #BLT-1232 (#2939)
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/session-view.jsx
  packages/botonic-react/src/webview-app.tsx
  packages/botonic-react/tests/helpers/test-utils.jsx
  packages/botonic-react/tests/webchat/usewebchat.test.jsx
  packages/botonic-react/tests/webchat/webchat-app.test.jsx
Due: botonic-react

refactor(botonic-react): WIP create WebchatAppProps and fis many types used in WebchatApp
  package-lock.json
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/webchat-app.tsx
Due: botonic-core, botonic-react

refacor(botonic-react): apply new react 18 createRoot.render
  packages/botonic-react/src/webchat-app.jsx
Due: botonic-react

test(botonic-react): fix tests
  packages/botonic-react/src/webchat-app.jsx
Due: botonic-react

refactor(botonic-react): only change extension to tsx without any more change
  packages/botonic-react/src/webchat-app.tsx
Due: botonic-react

WIP
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-core, botonic-react

chore: publish alpha versions for core react and plugin-flow-builder
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

refactor(botonic-react): add interface to useScrollToBottom
  packages/botonic-react/src/webchat/hooks/use-scroll-to-bottom.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

test(botonic-core): fix test
  packages/botonic-core/src/hubtype-service.ts
Due: botonic-core

refactor(botonic-core): add type that return postMessage function
  packages/botonic-core/src/hubtype-service.ts
Due: botonic-core

refactor(botonic-core): accept lastMessageId, lastMessageUpdateDate and server as undefined
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-react/src/webchat-app.tsx
Due: botonic-core, botonic-react

refactor(botonic-react): type resolveWebchatVisibility function
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-react/src/webchat-app.tsx
Due: botonic-core, botonic-react

botonic-react: WebchatApp with typescript (#2945)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/hubtype-service.ts
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-react/CHANGELOG.md
  packages/botonic-react/package.json
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/hooks/use-scroll-to-bottom.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-core, botonic-react

chore(botonic-react): upgrade the react version to 18
  package-lock.json
Due: none

refactor(botonic-react): WIP create WebchatAppProps and fis many types used in WebchatApp
  package-lock.json
  packages/botonic-core/src/hubtype-service.ts
Due: botonic-core

WIP
  package-lock.json
  packages/botonic-react/src/webchat-app.tsx
Due: botonic-react

refactor(botonic-react): type resolveWebchatVisibility function
  packages/botonic-react/src/webchat-app.tsx
Due: botonic-react

refactor(botonic-react): group the types in index-types files
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/index.ts
  packages/botonic-react/src/msg-to-botonic.jsx
  packages/botonic-react/src/webchat-app.tsx
  packages/botonic-react/src/webchat/index-types.ts
Due: botonic-react

test(botonic-react): fix test
  packages/botonic-react/tests/webchat/storage.test.jsx
Due: botonic-react

refactor(botonic-react): change extension to tsx
  packages/botonic-react/src/webchat/webchat.tsx
Due: botonic-react

refactor(botonic-react): use typescript in webchat file, remove unused functions and some action in reducer
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/webchat/actions.ts
  packages/botonic-react/src/webchat/global.d.ts
  packages/botonic-react/src/webchat/styles.ts
  packages/botonic-react/src/webchat/webchat-reducer.ts
  packages/botonic-react/src/webchat/webchat.tsx
Due: botonic-react

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
