Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

codecov.yml:

coverage:
  status:
    project:
      default:
        # if the coverage is under this value the Codecov GitHub check will fail
        threshold: 40%

comment: false #https://docs.codecov.io/docs/pull-request-comments

flags:
  botonic-cli:
    paths:
      - packages/botonic-cli
    carryforward: true

  botonic-core:
    paths:
      - packages/botonic-core
    carryforward: true

  botonic-nlu:
    paths:
      - packages/botonic-nlu
    carryforward: true

  botonic-nlp:
    paths:
      - packages/botonic-nlp
    carryforward: true

  botonic-plugin-contentful:
    paths:
      - packages/botonic-plugin-contentful
    carryforward: true

  botonic-plugin-dynamodb:
    paths:
      - packages/botonic-plugin-dynamodb
    carryforward: true

  botonic-plugin-nlu:
    paths:
      - packages/botonic-plugin-nlu
    carryforward: true

  botonic-react:
    paths:
      - packages/botonic-react
    carryforward: true

  botonic-plugin-ner:
    paths:
      - packages/botonic-plugin-ner
    carryforward: true

fix: upgrade @babel/runtime from 7.14.0 to 7.14.6
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: botonic-plugin-nlu

chore(core): add minor improvements to models
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/carousel.ts
  packages/botonic-core/src/models/events/message/element.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/media.ts
Due: botonic-core

feat(core): add botonic output parser with tests and project config for hybrid project
  packages/botonic-core/jest.config.js
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.js
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/index.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/src/output-parser/util.ts
  packages/botonic-core/src/plugins.js
  packages/botonic-core/tests/helpers.ts
  packages/botonic-core/tests/parsing/carousel.test.tsx
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/location.test.tsx
  packages/botonic-core/tests/parsing/media.test.tsx
  packages/botonic-core/tests/parsing/text.test.tsx
  packages/botonic-core/tsconfig.json
Due: botonic-core

chore(core): bump to alpha 1.0.0-alpha.0
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

chore(core): bump core to v1.0.0-alpha.1
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

fix(core): add support for postback inputs
  packages/botonic-core/src/models/events/index.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/models/events/message/postback.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/index.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/helpers.ts
  packages/botonic-core/tests/parsing/carousel.test.tsx
  packages/botonic-core/tests/parsing/custom.test.tsx
  packages/botonic-core/tests/parsing/location.test.tsx
  packages/botonic-core/tests/parsing/media.test.tsx
  packages/botonic-core/tests/parsing/text.test.tsx
  packages/botonic-core/tests/parsing/user-events.test.tsx
Due: botonic-core

Full stack/react experimental components (#1701)
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/experimental/components/audio.jsx
  packages/botonic-react/src/experimental/components/carousel.jsx
  packages/botonic-react/src/experimental/components/custom-message.jsx
  packages/botonic-react/src/experimental/components/document.jsx
  packages/botonic-react/src/experimental/components/image.jsx
  packages/botonic-react/src/experimental/components/index.js
  packages/botonic-react/src/experimental/components/location.jsx
  packages/botonic-react/src/experimental/components/markdown.js
  packages/botonic-react/src/experimental/components/message.jsx
  packages/botonic-react/src/experimental/components/text.jsx
  packages/botonic-react/src/experimental/components/video.jsx
  packages/botonic-react/src/experimental/components/whatsapp-template.jsx
  packages/botonic-react/src/experimental/dev-app.jsx
  packages/botonic-react/src/experimental/index.js
  packages/botonic-react/src/experimental/msg-to-botonic.jsx
  packages/botonic-react/src/experimental/node-app.jsx
  packages/botonic-react/src/experimental/react-bot.jsx
  packages/botonic-react/src/experimental/webchat-app.jsx
  packages/botonic-react/src/experimental/webchat/assets/Inter-VariableFont_slnt,wght.ttf
  packages/botonic-react/src/experimental/webchat/assets/botonic-logo-white.svg
  packages/botonic-react/src/experimental/webchat/assets/messenger.svg
  packages/botonic-react/src/experimental/webchat/assets/open-new-window.svg
  packages/botonic-react/src/experimental/webchat/assets/open.svg
  packages/botonic-react/src/experimental/webchat/assets/telegram.svg
  packages/botonic-react/src/experimental/webchat/assets/webchat.svg
  packages/botonic-react/src/experimental/webchat/assets/whatsapp.svg
  packages/botonic-react/src/experimental/webchat/webchat-dev.jsx
  packages/botonic-react/src/experimental/webchat/webchat.jsx
Due: botonic-react

chore(ner/intent): support for botonic full-stack (#1644)
  packages/botonic-plugin-intent-classification/src/index.ts
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
  packages/botonic-plugin-intent-classification/src/options.ts
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/options.ts
Due: botonic-plugin-ner

refactor(react): update whatsapp playground number and small lint errors
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
  packages/botonic-react/src/experimental/webchat/webchat-dev.jsx
Due: botonic-react

chore(api): bump to 1.0.0-alpha.2
  packages/botonic-api/package.json
Due: none

feat(cli): add new serve command for Botonic 1.0 under flag --preview
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/botonic-playground-service.ts
  packages/botonic-cli/src/commands/serve.ts
  packages/botonic-cli/src/interfaces.ts
  packages/botonic-cli/src/util/file-system.ts
Due: botonic-cli

feat: add new package create-botonic-app
  packages/create-botonic-app/babel.config.json
  packages/create-botonic-app/package.json
  packages/create-botonic-app/src/create-botonic-app.js
  packages/create-botonic-app/template/api/package.json
  packages/create-botonic-app/template/api/src/parser.js
  packages/create-botonic-app/template/api/src/rest/app.ts
  packages/create-botonic-app/template/api/src/rest/index.js
  packages/create-botonic-app/template/api/src/websocket/index.js
  packages/create-botonic-app/template/api/src/websocket/onconnect.js
  packages/create-botonic-app/template/api/src/websocket/ondisconnect.js
  packages/create-botonic-app/template/api/src/websocket/onmessage.js
  packages/create-botonic-app/template/api/tsconfig.json
  packages/create-botonic-app/template/api/webpack.config.js
  packages/create-botonic-app/template/bot/package.json
  packages/create-botonic-app/template/bot/src/actions/Welcome.js
  packages/create-botonic-app/template/bot/src/assets/.gitkeep
  packages/create-botonic-app/template/bot/src/index.js
  packages/create-botonic-app/template/bot/src/locales/index.js
  packages/create-botonic-app/template/bot/src/nlp/data/en/availability.yaml
  packages/create-botonic-app/template/bot/src/nlp/data/en/buy.yaml
  packages/create-botonic-app/template/bot/src/nlp/data/en/return.yaml
  packages/create-botonic-app/template/bot/src/nlp/tasks/intent-classification/models/en/.gitkeep
  packages/create-botonic-app/template/bot/src/nlp/tasks/intent-classification/train.ts
  packages/create-botonic-app/template/bot/src/nlp/tasks/ner/models/en/.gitkeep
  packages/create-botonic-app/template/bot/src/nlp/tasks/ner/train.ts
  packages/create-botonic-app/template/bot/src/plugins.js
  packages/create-botonic-app/template/bot/src/routes.js
  packages/create-botonic-app/template/package.json
  packages/create-botonic-app/template/tsconfig.json
  packages/create-botonic-app/template/webchat/index.html
  packages/create-botonic-app/template/webchat/index.js
  packages/create-botonic-app/template/webchat/package.json
  packages/create-botonic-app/template/webchat/webchat-config.js
  packages/create-botonic-app/template/webchat/webpack.config.js
Due: none

feat(api): remove lodash dependency
  packages/botonic-api/package.json
  packages/botonic-api/src/rest/routes/events.ts
Due: none

fix(api): fix date time validator and set delay and typing as optional fields
  packages/botonic-api/src/rest/routes/validation/events.ts
Due: none

refactor(api): remove unnecessary variable rename and unnecessary nullish coalescing operator
  packages/botonic-api/src/data-provider/local-data-provider.ts
  packages/botonic-api/src/rest/routes/events.ts
Due: none

fix(react): with a whatsapp message with more than 3 buttons, don't add extra message if there's no webview button
  packages/botonic-react/src/components/multichannel/multichannel-text.jsx
  packages/botonic-react/tests/components/multichannel/__snapshots__/multichannel-text.test.jsx.snap
  packages/botonic-react/tests/components/multichannel/multichannel-text.test.jsx
Due: botonic-react

fix: upgrade typescript from 4.3.4 to 4.3.5
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: botonic-plugin-nlu

feat(api): store user and events in bot-input endpoint + separate bot-input to independent file
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/index.ts
Due: none

feat(api): add getUserByField method in DataProvider
  packages/botonic-api/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-api/src/data-provider/index.ts
  packages/botonic-api/src/data-provider/local-data-provider.ts
Due: none

feat: add new package create-botonic-app
  packages/create-botonic-app/babel.config.json
  packages/create-botonic-app/package-lock.json
  packages/create-botonic-app/package.json
  packages/create-botonic-app/src/create-botonic-app.js
  packages/create-botonic-app/template/api/package.json
  packages/create-botonic-app/template/api/src/parser.js
  packages/create-botonic-app/template/api/src/rest/app.ts
  packages/create-botonic-app/template/api/src/rest/index.js
  packages/create-botonic-app/template/api/src/websocket/index.js
  packages/create-botonic-app/template/api/src/websocket/onconnect.js
  packages/create-botonic-app/template/api/src/websocket/ondisconnect.js
  packages/create-botonic-app/template/api/src/websocket/onmessage.js
  packages/create-botonic-app/template/api/tsconfig.json
  packages/create-botonic-app/template/api/webpack.config.js
  packages/create-botonic-app/template/bot/package.json
  packages/create-botonic-app/template/bot/src/actions/Welcome.jsx
  packages/create-botonic-app/template/bot/src/assets/.gitkeep
  packages/create-botonic-app/template/bot/src/index.js
  packages/create-botonic-app/template/bot/src/locales/index.js
  packages/create-botonic-app/template/bot/src/nlp/data/en/.gitkeep
  packages/create-botonic-app/template/bot/src/nlp/tasks/intent-classification/models/en/.gitkeep
  packages/create-botonic-app/template/bot/src/nlp/tasks/intent-classification/train.ts
  packages/create-botonic-app/template/bot/src/nlp/tasks/ner/models/en/.gitkeep
  packages/create-botonic-app/template/bot/src/nlp/tasks/ner/train.ts
  packages/create-botonic-app/template/bot/src/plugins.js
  packages/create-botonic-app/template/bot/src/routes.js
  packages/create-botonic-app/template/package.json
  packages/create-botonic-app/template/tsconfig.json
  packages/create-botonic-app/template/webchat/index.html
  packages/create-botonic-app/template/webchat/index.js
  packages/create-botonic-app/template/webchat/package.json
  packages/create-botonic-app/template/webchat/webchat-config.js
  packages/create-botonic-app/template/webchat/webpack.config.js
Due: none

doc(blog): add Botonic 1.0 Preview post
  docs/blog/2021-07-18-botonic10-preview.md
  docs/blog/assets/botonic-serve.png
  docs/blog/assets/feedback.jpg
  docs/blog/assets/messenger-pizza-bot.jpg
  docs/blog/assets/telegram-pizza-bot.jpg
  docs/blog/assets/try-webchat.png
  docs/blog/assets/try-whatsapp1.jpg
  docs/blog/assets/try-whatsapp2.jpg
  docs/blog/assets/webchat-pizza-bot.png
  docs/blog/assets/whatsapp-pizza-bot.jpg
  docs/docs/plugins/plugin-contentful.md
  docs/docs/plugins/plugin-google-translation.md
  docs/docs/plugins/plugin-intent-classification.md
  docs/docs/plugins/plugin-ner.md
  docs/docs/plugins/plugin-watson.md
  docs/website/i18n/en.json
  docs/website/sidebars.json
  docs/website/src/css/custom.css
Due: none

feat(nlp): classWeight added to IntentClassifier train method
  packages/botonic-nlp/src/model/manager.ts
  packages/botonic-nlp/src/tasks/intent-classification/botonic-intent-classifier.ts
Due: botonic-nlp

refactor(nlp): new nlp alpha version published
  packages/botonic-nlp/package-lock.json
  packages/botonic-nlp/package.json
Due: botonic-nlp

fix: upgrade typescript from 4.3.4 to 4.3.5 (#1729)
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: botonic-plugin-nlu

fix: upgrade @babel/runtime from 7.14.0 to 7.14.6 (#1725)
  packages/botonic-plugin-nlu/package-lock.json
  packages/botonic-plugin-nlu/package.json
Due: botonic-plugin-nlu

chore(core): wrap non bwd compatible functionality with try/catch and make distributed package to point to lib
  packages/botonic-core/package.json
  packages/botonic-core/src/core-bot.js
Due: botonic-core

Full stack: Persist user/events data in bot-input endpoint (#1730)
  packages/botonic-api/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-api/src/data-provider/index.ts
  packages/botonic-api/src/data-provider/local-data-provider.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/index.ts
Due: none

feat(api): Implementation of events endpoints (#1722)
  packages/botonic-api/package-lock.json
  packages/botonic-api/package.json
  packages/botonic-api/src/data-provider/dynamodb-data-provider.ts
  packages/botonic-api/src/data-provider/index.ts
  packages/botonic-api/src/data-provider/local-data-provider.ts
  packages/botonic-api/src/rest/routes/bot-input.ts
  packages/botonic-api/src/rest/routes/events.ts
  packages/botonic-api/src/rest/routes/index.ts
  packages/botonic-api/src/rest/routes/validation/events.ts
Due: none

test(core): refactor conditional expect
  packages/botonic-core/src/router.test.js
Due: botonic-core

style(core): add providerId attribute in User interface
  packages/botonic-core/src/models/user.ts
Due: botonic-core
