Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

refactor(nlp): storage modules removed from nlp tasks
  packages/botonic-nlp/src/tasks/intent-classification/index.ts
  packages/botonic-nlp/src/tasks/intent-classification/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/intent-classification/storage/index.ts
  packages/botonic-nlp/src/tasks/intent-classification/storage/types.ts
  packages/botonic-nlp/src/tasks/ner/index.ts
  packages/botonic-nlp/src/tasks/ner/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/ner/storage/index.ts
  packages/botonic-nlp/src/tasks/ner/storage/types.ts
Due: botonic-nlp

refactor(nlp): ModelManager save method removed
  packages/botonic-nlp/src/model/manager.ts
Due: botonic-nlp

refactor(nlp): BotonicNer adapted
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
Due: botonic-nlp

refactor(nlp): nlp-task-config removed
  packages/botonic-nlp/src/tasks/index.ts
  packages/botonic-nlp/src/tasks/nlp-task-config.ts
Due: botonic-nlp

test(nlp): ModelStorage usage updated
  packages/botonic-nlp/tests/model/model-manager.test.ts
  packages/botonic-nlp/tests/storage/model-storage.test.ts
  packages/botonic-nlp/tests/tasks/ner/process/prediction-processor.test.ts
Due: botonic-nlp

test(nlp): BotonicIntentClassifier and BotonicNer tests updated
  packages/botonic-nlp/tests/tasks/intent-classification/botonic-intent-classifier.test.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
Due: botonic-nlp

refactor(nlp): BotonicIntentClassifier adapted
  packages/botonic-nlp/src/tasks/intent-classification/botonic-intent-classifier.ts
Due: botonic-nlp

refactor(nlp): ConfigStorage and ModelStorage coherent with param order
  packages/botonic-nlp/src/storage/config-storage.ts
Due: botonic-nlp

test(nlp): old config-storage tests removed
  packages/botonic-nlp/tests/tasks/intent-classification/storage/config-storage.test.ts
  packages/botonic-nlp/tests/tasks/ner/storage/config-storage.test.ts
Due: botonic-nlp

refactor(nlp): set generic in ConfigStorage constructor
  packages/botonic-nlp/src/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/intent-classification/botonic-intent-classifier.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/tests/storage/config-storage.test.ts
Due: botonic-nlp

refactor(nlp): specific NLP task ConfigStorage definitions
  packages/botonic-nlp/src/tasks/intent-classification/botonic-intent-classifier.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
Due: botonic-nlp

refactor(nlp): Config Reorganization (#1569)
  packages/botonic-nlp/src/model/manager.ts
  packages/botonic-nlp/src/storage/config-storage.ts
  packages/botonic-nlp/src/storage/constants.ts
  packages/botonic-nlp/src/storage/index.ts
  packages/botonic-nlp/src/storage/model-storage.ts
  packages/botonic-nlp/src/storage/types.ts
  packages/botonic-nlp/src/tasks/index.ts
  packages/botonic-nlp/src/tasks/intent-classification/botonic-intent-classifier.ts
  packages/botonic-nlp/src/tasks/intent-classification/index.ts
  packages/botonic-nlp/src/tasks/intent-classification/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/intent-classification/storage/index.ts
  packages/botonic-nlp/src/tasks/intent-classification/storage/types.ts
  packages/botonic-nlp/src/tasks/ner/botonic-ner.ts
  packages/botonic-nlp/src/tasks/ner/index.ts
  packages/botonic-nlp/src/tasks/ner/storage/config-storage.ts
  packages/botonic-nlp/src/tasks/ner/storage/index.ts
  packages/botonic-nlp/src/tasks/ner/storage/types.ts
  packages/botonic-nlp/src/tasks/nlp-task-config.ts
  packages/botonic-nlp/tests/model/model-manager.test.ts
  packages/botonic-nlp/tests/storage/config-storage.test.ts
  packages/botonic-nlp/tests/storage/model-storage.test.ts
  packages/botonic-nlp/tests/tasks/intent-classification/botonic-intent-classifier.test.ts
  packages/botonic-nlp/tests/tasks/intent-classification/storage/config-storage.test.ts
  packages/botonic-nlp/tests/tasks/ner/botonic-ner.test.ts
  packages/botonic-nlp/tests/tasks/ner/process/prediction-processor.test.ts
  packages/botonic-nlp/tests/tasks/ner/storage/config-storage.test.ts
Due: botonic-nlp

test(plugin-contentful): manage contentful create and delete entries
  packages/botonic-plugin-contentful/src/contentful/manage/manage-entry.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-entry.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.test.ts
Due: botonic-plugin-contentful

Fix(plugin-ner, plugin-intent-classification): fix imports to work with serve mode (#1567)
  packages/botonic-nlp/package.json
  packages/botonic-plugin-intent-classification/src/model/intent-classifier.ts
  packages/botonic-plugin-intent-classification/src/process/prediction-processor.ts
  packages/botonic-plugin-intent-classification/src/process/text-processor.ts
  packages/botonic-plugin-intent-classification/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/process/prediction-processor.ts
  packages/botonic-plugin-ner/src/process/text-processor.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: botonic-nlp, botonic-plugin-ner

feat(plugin-contentful): add createAsset and removeAsset
  packages/botonic-plugin-contentful/src/contentful/manage/manage-asset.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
Due: botonic-plugin-contentful

fix(cli): pass -c flag to build command
  packages/botonic-cli/src/commands/deploy.ts
Due: botonic-cli

chore(cli): update package-lock deps
  packages/botonic-cli/package-lock.json
Due: botonic-cli

chore(cli): bump to 0.18.6-alpha.0 version
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

chore(cli): bump cli to 0.18.6
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
Due: botonic-cli

fix(cli): pass -c flag to build command and bump cli to v0.18.6 (#1586)
  packages/botonic-cli/README.md
  packages/botonic-cli/package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-cli/src/commands/deploy.ts
Due: botonic-cli

fix(plugin-contentful): contentful manager error messages
  packages/botonic-plugin-contentful/src/contentful/manage/manage-entry.ts
Due: botonic-plugin-contentful

test(plugin-contentful): createAsset and removeAsset
  packages/botonic-plugin-contentful/src/contentful/manage/manage-asset.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
Due: botonic-plugin-contentful

test(contentful): improve error msg when test env vars not defined
  packages/botonic-plugin-contentful/tests/contentful/contentful.helper.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful.helper.ts
Due: botonic-plugin-contentful

feat(contentful): new AssetInfo to delivery and creation
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/asset.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-asset.ts
  packages/botonic-plugin-contentful/src/contentful/manage/manage-contentful.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms-error.ts
  packages/botonic-plugin-contentful/src/manage-cms/manage-cms.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/asset.test.ts
  packages/botonic-plugin-contentful/tests/contentful/manage/manage-contentful-asset.test.ts
  packages/botonic-plugin-contentful/tests/tools/l10n/import-updater.test.ts
Due: botonic-plugin-contentful

chore: set codecov github action version to v1
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

chore: set codecov github action version to v1 (#1587)
  .github/workflows/botonic-cli-tests.yml
  .github/workflows/botonic-core-tests.yml
  .github/workflows/botonic-nlu-tests.yml
  .github/workflows/botonic-plugin-contentful-tests.yml
  .github/workflows/botonic-plugin-dialogflow-tests.yml
  .github/workflows/botonic-plugin-dynamo-tests.yml
  .github/workflows/botonic-plugin-intent-classification-tests.yml
  .github/workflows/botonic-plugin-nlu-tests.yml
  .github/workflows/botonic-react-tests.yml
Due: none

refactor(nlp): environment utils removed
  packages/botonic-plugin-intent-classification/src/utils/environment-utils.ts
Due: none

refactor(plugin-ner): fetch comment updated
  packages/botonic-plugin-ner/src/model/model-info.ts
Due: botonic-plugin-ner

refactor(plugin-ner): added modelBaseUrl to ModelSelector
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
Due: botonic-plugin-ner

refactor(plugin-ner): environment-utils removed
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: botonic-plugin-ner

refactor(plugin-ner): types file renamed to options
  packages/botonic-plugin-ner/src/options.ts
  packages/botonic-plugin-ner/src/types.ts
Due: botonic-plugin-ner

refactor(nlp): types file renamed to options and modelsBaseUrl added to parameters
  packages/botonic-plugin-intent-classification/src/options.ts
  packages/botonic-plugin-intent-classification/src/types.ts
Due: none

refactor(plugin-intent-classification): modelsBaseUrl parameter added to ModelSelector
  packages/botonic-plugin-intent-classification/src/index.ts
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
Due: none

refactor(plugin-intent-classification): fetch comment updated
  packages/botonic-plugin-intent-classification/src/model/model-info.ts
Due: none

docs(plugin-intent-classification): comment repositioned
  packages/botonic-plugin-intent-classification/src/model/model-info.ts
Due: none

refactor(plugin-ner, plugin-intent-classification): modelsBaseUrl parameter added #BOT-414 (#1573)
  packages/botonic-plugin-intent-classification/src/index.ts
  packages/botonic-plugin-intent-classification/src/model/model-info.ts
  packages/botonic-plugin-intent-classification/src/model/model-selector.ts
  packages/botonic-plugin-intent-classification/src/options.ts
  packages/botonic-plugin-intent-classification/src/types.ts
  packages/botonic-plugin-intent-classification/src/utils/environment-utils.ts
  packages/botonic-plugin-ner/src/index.ts
  packages/botonic-plugin-ner/src/model/model-info.ts
  packages/botonic-plugin-ner/src/model/model-selector.ts
  packages/botonic-plugin-ner/src/options.ts
  packages/botonic-plugin-ner/src/types.ts
  packages/botonic-plugin-ner/src/utils/environment-utils.ts
Due: botonic-plugin-ner

refactor(nlp): ModelEvaluation moved into model-manager file
  packages/botonic-nlp/src/model/index.ts
  packages/botonic-nlp/src/model/manager.ts
  packages/botonic-nlp/src/model/types.ts
Due: botonic-nlp

feat(nlp): package index created
  packages/botonic-nlp/src/index.ts
Due: botonic-nlp

feat(nlp): database index create and database added to embeddings index
  packages/botonic-nlp/src/embeddings/database/index.ts
  packages/botonic-nlp/src/embeddings/index.ts
Due: botonic-nlp

refactor(nlp): Package Index Created #BOT-404 (#1572)
  packages/botonic-nlp/src/embeddings/database/index.ts
  packages/botonic-nlp/src/embeddings/index.ts
  packages/botonic-nlp/src/index.ts
  packages/botonic-nlp/src/model/index.ts
  packages/botonic-nlp/src/model/manager.ts
  packages/botonic-nlp/src/model/types.ts
Due: botonic-nlp

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
