Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

feat(plugin-contentful): message and failMessage fields as Text
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/cms/factories/content-factories.ts
  packages/botonic-plugin-contentful/src/cms/test-helpers/builders.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/handoff.ts
  packages/botonic-plugin-contentful/src/manage-cms/fields.ts
  packages/botonic-plugin-contentful/src/tools/l10n/csv-export.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): accept string as message and fail message
  packages/botonic-plugin-contentful/src/contentful/contents/handoff.ts
Due: botonic-plugin-contentful

fix(plugin-contentful): fix handoff messages type
  packages/botonic-plugin-contentful/src/cms/contents.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): modify handoff test + fix lint error
  packages/botonic-plugin-contentful/src/util/objects.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/handoff.test.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): add custom fields in button content model
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): when button is a content avoid adding their fields as custom fields
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): change parameter name
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
Due: botonic-plugin-contentful

test(botonic-plugin-contentful): add tests to button custom fields
  packages/botonic-plugin-contentful/tests/contentful/contents/button.test.ts
Due: botonic-plugin-contentful

test(botonic-plugin-contentful): fix button related tests
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/startup.test.ts
Due: botonic-plugin-contentful

refactor(plugin-contentful): sort imports + fix type
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): add followup to carousel
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
Due: botonic-plugin-contentful

test(plugin-contentful): add followup test tp carousel test
  packages/botonic-plugin-contentful/tests/contentful/contents/carousel.test.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): custom fields as references
  packages/botonic-plugin-contentful/src/cms/contents.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/carousel.ts
  packages/botonic-plugin-contentful/src/contentful/contents/custom.ts
  packages/botonic-plugin-contentful/src/contentful/contents/date-range.ts
  packages/botonic-plugin-contentful/src/contentful/contents/document.ts
  packages/botonic-plugin-contentful/src/contentful/contents/follow-up.ts
  packages/botonic-plugin-contentful/src/contentful/contents/handoff.ts
  packages/botonic-plugin-contentful/src/contentful/contents/image.ts
  packages/botonic-plugin-contentful/src/contentful/contents/input.ts
  packages/botonic-plugin-contentful/src/contentful/contents/payload.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/contents/reference.ts
  packages/botonic-plugin-contentful/src/contentful/contents/schedule.ts
  packages/botonic-plugin-contentful/src/contentful/contents/startup.ts
  packages/botonic-plugin-contentful/src/contentful/contents/text.ts
  packages/botonic-plugin-contentful/src/contentful/contents/url.ts
  packages/botonic-plugin-contentful/src/contentful/contents/video.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): init button custom fields
  packages/botonic-plugin-contentful/src/contentful/contents/button.ts
Due: botonic-plugin-contentful

test(plugin-contentful): change test
  packages/botonic-plugin-contentful/tests/contentful/contents/text.test.ts
Due: botonic-plugin-contentful

refactor(plugin-contentful): run lint
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/src/contentful/contents/queue.ts
  packages/botonic-plugin-contentful/src/contentful/contents/reference.ts
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: botonic-plugin-contentful

refactor(plugin-contentful): format delivery utils file
  packages/botonic-plugin-contentful/src/contentful/delivery-utils.ts
Due: botonic-plugin-contentful

chore(contentful): bump version to 0.21.0-alpha.0
  packages/botonic-plugin-contentful/package-lock.json
  packages/botonic-plugin-contentful/package.json
Due: botonic-plugin-contentful

feat(contentful-plugin): include references to content method
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
Due: botonic-plugin-contentful

refactor(contentful-plugin):change test name
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
Due: botonic-plugin-contentful

refactor(plugin-contentful): references to include as method parameter
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms-log.ts
  packages/botonic-plugin-contentful/src/cms/cms-multilocale.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/cms/transform/cms-filter.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
  packages/botonic-plugin-contentful/tests/contentful/contents.test.ts
Due: botonic-plugin-contentful

feat(plugin-contentful): add default value to a constant
  packages/botonic-plugin-contentful/src/cms/cms-dummy.ts
  packages/botonic-plugin-contentful/src/cms/cms-error.ts
  packages/botonic-plugin-contentful/src/cms/cms.ts
  packages/botonic-plugin-contentful/src/contentful/cms-contentful.ts
Due: botonic-plugin-contentful

0.21.0-alpha.1
  package-lock.json
  package.json
Due: none

fix: packages/botonic-core/package.json & packages/botonic-core/package-lock.json to reduce vulnerabilities
  packages/botonic-core/package-lock.json
  packages/botonic-core/package.json
Due: botonic-core

chore(plugin-google-analytics): set main package structure
  packages/botonic-plugin-google-analytics-v4/README.md
  packages/botonic-plugin-google-analytics-v4/package-lock.json
  packages/botonic-plugin-google-analytics-v4/package.json
  packages/botonic-plugin-google-analytics-v4/src/index.ts
  packages/botonic-plugin-google-analytics-v4/src/index_old.ts
  packages/botonic-plugin-google-analytics-v4/test.ts
  packages/botonic-plugin-google-analytics-v4/tsconfig.base.json
  packages/botonic-plugin-google-analytics-v4/tsconfig.esm.json
  packages/botonic-plugin-google-analytics-v4/tsconfig.json
Due: none

chore(plugin-google-analytics): reestructure files
  packages/botonic-plugin-google-analytics-v4/package-lock.json
  packages/botonic-plugin-google-analytics-v4/package.json
  packages/botonic-plugin-google-analytics-v4/src/index.ts
  packages/botonic-plugin-google-analytics-v4/src/index_old.ts
  packages/botonic-plugin-google-analytics-v4/src/types.ts
  packages/botonic-plugin-google-analytics-v4/test.ts
Due: none

feat(core): allow to send extra data case fields in handoff
  packages/botonic-core/src/handoff.ts
Due: botonic-core

test(core): test extra data field in HandoffBuilder
  packages/botonic-core/tests/handoff.test.ts
Due: botonic-core

style(core): fix lint errors
  packages/botonic-core/src/models/events/botonic-event.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
Due: botonic-core

fix: Webviews not redirecting correctly on WhatsApp Cloud
  packages/botonic-react/src/webview.jsx
Due: botonic-react

feat(botonic-react): add user-input css class
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

chore(react): format files for linter error
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
Due: botonic-react

feat(core): Add extra data field in HandoffBuilder (#2307)
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/events/botonic-event.ts
  packages/botonic-core/src/models/events/message/index.ts
  packages/botonic-core/src/output-parser/factory.ts
  packages/botonic-core/src/output-parser/parsers.ts
  packages/botonic-core/tests/handoff.test.ts
Due: botonic-core

Botonic React: add user-input css class (#2309)
  packages/botonic-react/src/webchat/components/emoji-picker.jsx
  packages/botonic-react/src/webchat/devices/scrollbar-controller.js
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
