Repository hubtype/botonic: changes, and which Codecov flags are due for each by the changed paths.
All: botonic-cli, botonic-core, botonic-nlu, botonic-nlp, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-plugin-nlu, botonic-react, botonic-plugin-ner

refactor(plugin-flow-builder): use Record<keyof T, string> to type contents object
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
Due: none

chore(plugin-flow-builder): bump version to 0.27.8-alpha.1
  package-lock.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

chore(plugin-flow-builder): publish 0.27.8-alpha.0
  package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

feat(plugin-flow-builder): map the contents only when the textContents or imageContents are filled
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: none

refactor(plugin-flow-builder): generic T extends Record<string, string> to avoid errors if type is not passed
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: none

refactor(plugin-flow-builder): reanme function to createWebviewContentsContext
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
  packages/botonic-plugin-flow-builder/src/webview/index.ts
Due: none

chore(plugin-flow-builder): publish 0.27.8-alpha.3
  package-lock.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
Due: none

docs(plugin-flow-builder): add docs for webviewContents in README
  packages/botonic-plugin-flow-builder/README.md
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
Due: none

plugin-flow-builder: create contents with map (#2863)
  package-lock.json
  packages/botonic-plugin-flow-builder/README.md
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-flow-builder/src/webview/contents-context.ts
  packages/botonic-plugin-flow-builder/src/webview/index.ts
  packages/botonic-plugin-flow-builder/src/webview/types.ts
  packages/botonic-plugin-flow-builder/src/webview/use-webview-contents.ts
Due: none

feedback knoweldege base with thumbsUp/thumbsDown (#2859)
  packages/botonic-plugin-flow-builder/src/action/knowledge-bases.ts
  packages/botonic-plugin-flow-builder/src/content-fields/flow-knowledge-base.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/hubtype-fields/knowledge-base.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/ht-event-feedback-knowledgebase.ts
  packages/botonic-plugin-hubtype-analytics/src/event-models/index.ts
  packages/botonic-plugin-hubtype-analytics/src/types.ts
  packages/botonic-plugin-hubtype-analytics/src/utils.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback-knowledgebase.test.ts
  packages/botonic-plugin-hubtype-analytics/tests/event-feedback.test.ts
  packages/botonic-react/src/assets/thumbs-down.svg
  packages/botonic-react/src/assets/thumbs-up.svg
  packages/botonic-react/src/components/index-types.ts
  packages/botonic-react/src/components/message/index.jsx
  packages/botonic-react/src/components/message/message-feedback.tsx
  packages/botonic-react/src/components/message/message-footer.tsx
  packages/botonic-react/src/components/message/styles.ts
  packages/botonic-react/src/components/text.tsx
  packages/botonic-react/src/contexts.tsx
  packages/botonic-react/src/dev-app.jsx
  packages/botonic-react/src/index-types.ts
  packages/botonic-react/src/webchat-app.jsx
  packages/botonic-react/src/webchat/tracking.ts
  packages/botonic-react/src/webchat/webchat.jsx
Due: botonic-react

fix(plugin-hubtype-analytics): do not return undefined promise
  packages/botonic-plugin-hubtype-analytics/src/index.ts
Due: none

chore(core): add missing is_test_integration in Session type
  packages/botonic-core/src/models/legacy-types.ts
Due: botonic-core

feat(plugin-hubtype-analytics): disable analytics if is_test_integration
  packages/botonic-plugin-hubtype-analytics/src/index.ts
Due: none

feat(plugin-flow-builder): fetch draft version if is_test_integration
  packages/botonic-plugin-flow-builder/src/index.ts
Due: none

feat(plugin-flow-builder): use_latest to be false when is_integration_test
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
Due: none

refactor: refactored core-bot by adding auxiliary functions
  packages/botonic-core/src/core-bot.ts
Due: botonic-core

fix: remove lines not needed and add one test
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-plugin-flow-builder/src/index.ts
Due: botonic-core

chore: add tests for core-bot before refactor methods
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
Due: botonic-core

fix: update handoff message to be clearer on isTest handoff
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: first working approach of faking handoff for is_test_integration providers
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
Due: botonic-core

test(plugin-flow-builder): add is_test_integration as false
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
Due: none

test(plugin-hubtype-analytics): add is_test_integration as false
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: none

refactor(plugin-hubtype-anañytics): fix linter error
  packages/botonic-plugin-hubtype-analytics/src/index.ts
Due: none

Feat/handle preview for is_test_integration apps (#2855)
  CHANGELOG.md
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/handoff.ts
  packages/botonic-core/src/models/legacy-types.ts
  packages/botonic-core/tests/core-bot/core-bot.test.ts
  packages/botonic-core/tests/handoff.test.ts
  packages/botonic-core/tests/helpers/core-bot.ts
  packages/botonic-core/tests/helpers/routing.ts
  packages/botonic-plugin-flow-builder/src/action/index.tsx
  packages/botonic-plugin-flow-builder/src/content-fields/flow-handoff.tsx
  packages/botonic-plugin-flow-builder/src/index.ts
  packages/botonic-plugin-flow-builder/src/user-input/smart-intent.ts
  packages/botonic-plugin-flow-builder/tests/helpers/utils.ts
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-analytics/tests/helpers/index.ts
Due: botonic-core

plugin-hubtype-analytics: update README (#2866)
  packages/botonic-plugin-hubtype-analytics/README.md
Due: none

chore(botonic): publish 0.28.0
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

Release 0.28.0 (#2867)
  CHANGELOG.md
  package-lock.json
  packages/botonic-cli/package.json
  packages/botonic-core/package.json
  packages/botonic-dx/package.json
  packages/botonic-eslint-config/package.json
  packages/botonic-plugin-contentful/package.json
  packages/botonic-plugin-dashbot/package.json
  packages/botonic-plugin-dialogflow/package.json
  packages/botonic-plugin-dynamodb/package.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-google-analytics/package.json
  packages/botonic-plugin-google-translation/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-inbenta/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-plugin-luis/package.json
  packages/botonic-plugin-segment/package.json
  packages/botonic-plugin-watson/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-cli, botonic-core, botonic-plugin-contentful, botonic-plugin-dynamodb, botonic-react

fix format in CHANGELOG
  CHANGELOG.md
Due: none

fix(botonic-core): no storeCaseRating if is_test_integration
  packages/botonic-core/src/handoff.ts
Due: botonic-core

refactor(botonic-core): create functions to run pre and post plugins inside runFollowUpTestIntegrationInput
  packages/botonic-core/src/core-bot.ts
Due: botonic-core

refactor(botonic-core): sort functions and use runInput inside runFollowUpTestIntegrationInput
  packages/botonic-core/src/core-bot.ts
Due: botonic-core

Fix bot action after handoff in test integration preview (#2868)
  packages/botonic-core/src/core-bot.ts
  packages/botonic-core/src/handoff.ts
Due: botonic-core

chore: publish packages with botonic/core 0.28.1
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

refactor(plugin-hubtype-analytics): return a promise with a text in data explaining that the event is not being sent
  packages/botonic-plugin-hubtype-analytics/src/index.ts
Due: none

Fix events in test integration (#2869)
  package-lock.json
  packages/botonic-core/package.json
  packages/botonic-plugin-flow-builder/package-lock.json
  packages/botonic-plugin-flow-builder/package.json
  packages/botonic-plugin-hubtype-analytics/package.json
  packages/botonic-plugin-hubtype-analytics/src/index.ts
  packages/botonic-plugin-hubtype-babel/package.json
  packages/botonic-plugin-knowledge-bases/package.json
  packages/botonic-react/package-lock.json
  packages/botonic-react/package.json
Due: botonic-core, botonic-react

Path conditions:
  botonic-cli: any of: packages/botonic-cli
  botonic-core: any of: packages/botonic-core
  botonic-nlu: any of: packages/botonic-nlu
  botonic-nlp: any of: packages/botonic-nlp
  botonic-plugin-contentful: any of: packages/botonic-plugin-contentful
  botonic-plugin-dynamodb: any of: packages/botonic-plugin-dynamodb
  botonic-plugin-nlu: any of: packages/botonic-plugin-nlu
  botonic-react: any of: packages/botonic-react
  botonic-plugin-ner: any of: packages/botonic-plugin-ner
